openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Manage Payments API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Manage Payments
  x-displayName: Manage Payments
  description: Manage payments to initiated through Bud's Payments API
paths:
  /v1/payments/single:
    get:
      tags:
      - Manage Payments
      summary: Search for Single Payments
      description: Retrieve and view the status of multiple payments
      operationId: v1_payment_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/PaymentIdHeader'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PaymentSenderProviders'
      - $ref: '#/components/parameters/PaymentStatusCodes'
      - $ref: '#/components/parameters/PaymentDateFrom'
      - $ref: '#/components/parameters/PaymentDateTo'
      - $ref: '#/components/parameters/PaymentAmountFrom'
      - $ref: '#/components/parameters/PaymentAmountTo'
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSinglePaymentResponse'
              examples:
                Payment Status List UK:
                  value:
                    operation_id: v1_payment_get
                    data:
                    - payment_id: 89f80199-1199-400e-9092-17208f6f39f5
                      organisation_id: 22f80199-1199-400e-9092-17208f6f39f0
                      client_id: 22f80199-1199-400e-9092-17208f6f39f0
                      method: FPS
                      reference: Rent
                      recipient:
                        type: SortCodeAccountNumber
                        name: MR TEST RECIPIENT
                        account_number: '01234501234567'
                      amount:
                        value: '10.00'
                        currency: GBP
                      sender:
                        user_id: client-defined-user-id
                        name: MR RANDOM SENDER
                        provider: Natwest
                      known_charges:
                        recipient_charge:
                          charge: '1.50'
                          currency: GBP
                          recipient_receives: '7.00'
                        sender_charge:
                          charge: '1.50'
                          currency: GBP
                          bank_sends: '10.00'
                          total_cost: '11.50'
                      state:
                        status_code: SETTLED
                        status_message: Payment Settlement Complete
                        history:
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: CREATED
                          message: Payment created
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: AWAITING_AUTH
                          message: Awaiting Authentication
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: AUTHENTICATED
                          message: Authenticated; Confirming Funds
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: FUNDS_CONFIRMED
                          message: Funds Confirmed; Awaiting Payment Initiation
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: INITIATING
                          message: Initiating Payment
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: ACCEPTED
                          message: Payment Order Accepted
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: SETTLED
                          message: Payment Settlement Complete
                      supplementary_status:
                        payment_order:
                          status: AcceptedSettlementInProgress
                          history:
                          - datetime: '2020-02-02T12:29:37.628944815Z'
                            status: Pending
                          - datetime: '2020-02-02T12:29:38.628944815Z'
                            status: AcceptedSettlementInProgress
                        consent:
                          status: Authorised
                          history:
                          - datetime: '2020-02-02T12:29:34.828944815Z'
                            status: AwaitingAuthorisation
                          - datetime: '2020-02-02T12:29:35.028944815Z'
                            status: Authorised
                        confirmation_of_funds:
                          status: Available
                          history:
                          - datetime: '2020-02-02T12:29:35.028944815Z'
                            status: Available
                      required_action: null
                      errors:
                      - code: FAILED_FUNDS_CONFIRMATION
                        description: The call to the provider to confirm funds returned an error
                      created_at: '2020-02-02T12:29:33.428944815Z'
                    metadata:
                      total_results: 1000000
                      results: 10
                      page: 1
                      total_pages: 100000
                Payment Status List Europe:
                  value:
                    operation_id: v1_payment_get
                    data:
                    - payment_id: 89f80199-1199-400e-9092-17208f6f39f5
                      organisation_id: 22f80199-1199-400e-9092-17208f6f39f0
                      client_id: 22f80199-1199-400e-9092-17208f6f39f0
                      method: SEPA
                      reference: Rent
                      recipient:
                        type: IBAN
                        name: MR TEST RECIPIENT
                        account_number: DE40100100103307118605
                      amount:
                        value: '10.00'
                        currency: EUR
                      sender:
                        user_id: client-defined-user-id
                        type: IBAN
                        name: MR RANDOM SENDER
                        account_number: DE02100100109307118606
                        provider: commerzbank
                      known_charges:
                        recipient_charge:
                          charge: '1.50'
                          currency: EUR
                          recipient_receives: '7.00'
                        sender_charge:
                          charge: '1.50'
                          currency: EUR
                          bank_sends: '10.00'
                          total_cost: '11.50'
                      state:
                        status_code: SETTLED
                        status_message: Payment Settlement Complete
                        history:
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: CREATED
                          message: Payment created
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: AWAITING_AUTH
                          message: Awaiting Authentication
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: AUTHENTICATED
                          message: Authenticated; Confirming Funds
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: FUNDS_CONFIRMED
                          message: Funds Confirmed; Awaiting Payment Initiation
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: INITIATING
                          message: Initiating Payment
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: ACCEPTED
                          message: Payment Order Accepted
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: SETTLED
                          message: Payment Settlement Complete
                      supplementary_status:
                        payment_order:
                          status: AcceptedSettlementInProgress
                          history:
                          - datetime: '2020-02-02T12:29:37.628944815Z'
                            status: Pending
                          - datetime: '2020-02-02T12:29:38.628944815Z'
                            status: AcceptedSettlementInProgress
                        consent:
                          status: Authorised
                          history:
                          - datetime: '2020-02-02T12:29:34.828944815Z'
                            status: AwaitingAuthorisation
                          - datetime: '2020-02-02T12:29:35.028944815Z'
                            status: Authorised
                        confirmation_of_funds:
                          status: Available
                          history:
                          - datetime: '2020-02-02T12:29:35.028944815Z'
                            status: Available
                      required_action: null
                      errors:
                      - code: FAILED_FUNDS_CONFIRMATION
                        description: The call to the provider to confirm funds returned an error
                      created_at: '2020-02-02T12:29:33.428944815Z'
                    metadata:
                      total_results: 1000000
                      results: 10
                      page: 1
                      total_pages: 100000
        '401':
          description: Unauthorised request
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: v1_payments_payment_id_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  payment_id: Value not found
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
  /v1/payments/single/{payment_id}:
    get:
      tags:
      - Manage Payments
      summary: Retrieve Single Payment Status
      description: Retrieve and view the status of a payment
      operationId: v1_payments_single_payment_id_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/PaymentId'
      - $ref: '#/components/parameters/ClientId'
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusSinglePaymentResponse'
              examples:
                Payment Status UK:
                  value:
                    operation_id: v1_payments_single_payment_id_get
                    data:
                      payment_id: 89f80199-1199-400e-9092-17208f6f39f5
                      organisation_id: 22f80199-1199-400e-9092-17208f6f39f0
                      client_id: 22f80199-1199-400e-9092-17208f6f39f0
                      method: FPS
                      reference: Rent
                      recipient:
                        type: SortCodeAccountNumber
                        name: MR TEST RECIPIENT
                        account_number: '01234501234567'
                      amount:
                        value: '10.00'
                        currency: GBP
                      sender:
                        user_id: client-defined-user-id
                        name: MR TEST SENDER
                        provider: Natwest
                      known_charges:
                        recipient_charge:
                          charge: '1.50'
                          currency: GBP
                          recipient_receives: '7.00'
                        sender_charge:
                          charge: '1.50'
                          currency: GBP
                          bank_sends: '10.00'
                          total_cost: '11.50'
                      state:
                        status_code: SETTLED
                        status_message: Payment Settlement Complete
                        history:
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: CREATED
                          message: Payment created
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: AWAITING_AUTH
                          message: Awaiting Authentication
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: AUTHENTICATED
                          message: Authenticated; Confirming Funds
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: FUNDS_CONFIRMED
                          message: Funds Confirmed; Awaiting Payment Initiation
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: INITIATING
                          message: Initiating Payment
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: ACCEPTED
                          message: Payment Order Accepted
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: SETTLED
                          message: Payment Settlement Complete
                      supplementary_status:
                        payment_order:
                          status: AcceptedSettlementInProgress
                          history:
                          - datetime: '2020-02-02T12:29:37.628944815Z'
                            status: Pending
                          - datetime: '2020-02-02T12:29:38.628944815Z'
                            status: AcceptedSettlementInProgress
                        consent:
                          status: Authorised
                          history:
                          - datetime: '2020-02-02T12:29:34.828944815Z'
                            status: AwaitingAuthorisation
                          - datetime: '2020-02-02T12:29:35.028944815Z'
                            status: Authorised
                        confirmation_of_funds:
                          status: Available
                          history:
                          - datetime: '2020-02-02T12:29:35.028944815Z'
                            status: Available
                      required_action: null
                      errors:
                      - code: FAILED_FUNDS_CONFIRMATION
                        description: The call to the provider to confirm funds returned an error
                      created_at: '2020-02-02T12:29:33.428944815Z'
                    metadata: {}
                Payment Status Europe:
                  value:
                    operation_id: v1_payments_single_payment_id_get
                    data:
                      payment_id: 89f80199-1199-400e-9092-17208f6f39f5
                      organisation_id: 22f80199-1199-400e-9092-17208f6f39f0
                      client_id: 22f80199-1199-400e-9092-17208f6f39f0
                      method: SEPA
                      reference: Rent
                      recipient:
                        type: IBAN
                        name: MR TEST RECIPIENT
                        account_number: DE40100100103307118609
                      amount:
                        value: '10.00'
                        currency: EUR
                      sender:
                        user_id: client-defined-user-id
                        type: IBAN
                        name: MR TEST SENDER
                        account_number: DE02100100109307118606
                        provider: commerzbank
                      known_charges:
                        recipient_charge:
                          charge: '1.50'
                          currency: EUR
                          recipient_receives: '7.00'
                        sender_charge:
                          charge: '1.50'
                          currency: EUR
                          bank_sends: '10.00'
                          total_cost: '11.50'
                      state:
                        status_code: SETTLED
                        status_message: Payment Settlement Complete
                        history:
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: CREATED
                          message: Payment created
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: AWAITING_AUTH
                          message: Awaiting Authentication
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: AUTHENTICATED
                          message: Authenticated; Confirming Funds
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: FUNDS_CONFIRMED
                          message: Funds Confirmed; Awaiting Payment Initiation
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: INITIATING
                          message: Initiating Payment
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: ACCEPTED
                          message: Payment Order Accepted
                        - datetime: '2020-02-02T12:29:33.428944815Z'
                          code: SETTLED
                          message: Payment Settlement Complete
                      supplementary_status:
                        payment_order:
                          status: AcceptedSettlementInProgress
                          history:
                          - datetime: '2020-02-02T12:29:37.628944815Z'
                            status: Pending
                          - datetime: '2020-02-02T12:29:38.628944815Z'
                            status: AcceptedSettlementInProgress
                        consent:
                          status: Authorised
                          history:
                          - datetime: '2020-02-02T12:29:34.828944815Z'
                            status: AwaitingAuthorisation
                          - datetime: '2020-02-02T12:29:35.028944815Z'
                            status: Authorised
                        confirmation_of_funds:
                          status: Available
                          history:
                          - datetime: '2020-02-02T12:29:35.028944815Z'
                            status: Available
                      required_action: null
                      errors:
                      - code: FAILED_FUNDS_CONFIRMATION
                        description: The call to the provider to confirm funds returned an error
                      created_at: '2020-02-02T12:29:33.428944815Z'
                    metadata: {}
        '401':
          description: Unauthorised request
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: v1_payments_single_payment_id_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  payment_id: Value not found
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
  /v1/payments/standing-order:
    get:
      tags:
      - Manage Payments
      summary: Search for Standing Orders
      description: Retrieve and view the status of multiple Standing Orders
      operationId: v1_payments_standing_order_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/PaymentIdHeader'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PaymentSenderProviders'
      - $ref: '#/components/parameters/PaymentStatusCodes'
      - $ref: '#/components/parameters/PaymentDateFrom'
      - $ref: '#/components/parameters/PaymentDateTo'
      - $ref: '#/components/parameters/PaymentAmountFrom'
      - $ref: '#/components/parameters/PaymentAmountTo'
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListStandingOrderResponse'
              example:
                operation_id: v1_payments_standing_order_get
                data:
                - payment_id: 89f80199-1199-400e-9092-17208f6f39f5
                  organisation_id: 22f80199-1199-400e-9092-17208f6f39f0
                  client_id: 22f80199-1199-400e-9092-17208f6f39f0
                  reference: Rent
                  recipient:
                    type: SortCodeAccountNumber
                    name: MR TEST RECIPIENT
                    account_number: '01234501234567'
                  recurring_amount:
                    value: '10.00'
                    currency: GBP
                  sender:
                    user_id: client-defined-user-id
                    name: MR RANDOM SENDER
                    provider: Natwest
                  known_charges:
                    recipient_charge:
                      charge: '1.50'
                      currency: GBP
                      recipient_receives: '7.00'
                    sender_charge:
                      charge: '1.50'
                      currency: GBP
                      bank_sends: '10.00'
                      total_cost: '11.50'
                  state:
                    status_code: COMPLETED
                    status_message: Standing Order Creation Completed
                    history:
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: CREATED
                      message: Standing Order Created
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: AWAITING_AUTH
                      message: Awaiting Customer Authentication
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: AUTH_COMPLETED
                      message: Authentication Completed
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: PENDING
                      message: Payment Order Pending
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: COMPLETED
                      message: Standing Order Creation Completed
                  errors:
                  - code: FAILED
                    description: The call to the provider to confirm funds returned an error
                  created_at: '2020-02-02T12:29:33.428944815Z'
                  first_payment_date: '2020-02-02T12:29:33.428944815Z'
                  last_payment_date: '2021-02-02T12:29:33.428944815Z'
                  frequency: monthly
                  required_action: null
                metadata:
                  total_results: 1000000
                  results: 10
                  page: 1
                  total_pages: 100000
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: v1_payments_standing_order_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  filter: X-Date-From is in the wrong format (expected 2006-01-02T15:04:05Z)
        '401':
          description: Unauthorised request
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
  /v1/payments/standing-order/{payment_id}:
    get:
      tags:
      - Manage Payments
      summary: Retrieve Standing Order Payment Status
      description: Retrieve and view the status of a specific Standing Order payment
      operationId: v1_payments_standing_order_payment_id_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/PaymentId'
      - $ref: '#/components/parameters/ClientId'
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusStandingOrderResponse'
              example:
                operation_id: v1_payments_standing_order_payment_id_get
                data:
                  payment_id: 89f80199-1199-400e-9092-17208f6f39f5
                  organisation_id: 22f80199-1199-400e-9092-17208f6f39f0
                  client_id: 22f80199-1199-400e-9092-17208f6f39f0
                  method: FPS
                  reference: Rent
                  recipient:
                    type: SortCodeAccountNumber
                    name: MR TEST RECIPIENT
                    account_number: '01234501234567'
                  recurring_amount:
                    value: '10.00'
                    currency: GBP
                  sender:
                    user_id: client-defined-user-id
                    name: MR TEST SENDER
                    provider: Natwest
                  known_charges:
                    recipient_charge:
                      charge: '1.50'
                      currency: GBP
                      recipient_receives: '7.00'
                    sender_charge:
                      charge: '1.50'
                      currency: GBP
                      bank_sends: '10.00'
                      total_cost: '11.50'
                  state:
                    status_code: COMPLETED
                    status_message: Standing Order Creation Completed
                    history:
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: CREATED
                      message: Standing Order Created
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: AWAITING_AUTH
                      message: Awaiting Customer Authentication
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: AUTH_COMPLETED
                      message: Authentication Completed
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: PENDING
                      message: Payment Order Pending
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: COMPLETED
                      message: Standing Order Creation Completed
                  errors:
                  - code: FAILED
                    description: The call to the provider to confirm funds returned an error
                  created_at: '2020-02-02T12:29:33.428944815Z'
                  first_payment_date: '2020-02-02T12:29:33.428944815Z'
                  last_payment_date: '2021-02-02T12:29:33.428944815Z'
                  frequency: monthly
                  required_action: null
                metadata: {}
        '401':
          description: Unauthorised request
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: v1_standing_order_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  payment_id: Value not found
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
  /v1/payments/scheduled:
    get:
      tags:
      - Manage Payments
      summary: Search for Scheduled Payments
      description: Retrieve and view the status of multiple Scheduled Payments
      operationId: v1_payments_scheduled_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/PaymentIdHeader'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PaymentSenderProviders'
      - $ref: '#/components/parameters/PaymentStatusCodes'
      - $ref: '#/components/parameters/PaymentDateFrom'
      - $ref: '#/components/parameters/PaymentDateTo'
      - $ref: '#/components/parameters/PaymentAmountFrom'
      - $ref: '#/components/parameters/PaymentAmountTo'
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScheduledPaymentResponse'
              example:
                operation_id: v1_payments_scheduled_get
                data:
                - payment_id: 89f80199-1199-400e-9092-17208f6f39f5
                  organisation_id: 22f80199-1199-400e-9092-17208f6f39f0
                  client_id: 22f80199-1199-400e-9092-17208f6f39f0
                  reference: Rent
                  recipient:
                    type: SortCodeAccountNumber
                    name: MR TEST RECIPIENT
                    account_number: '01234501234567'
                  amount:
                    value: '10.00'
                    currency: GBP
                  sender:
                    user_id: client-defined-user-id
                    name: MR RANDOM SENDER
                    provider: Natwest
                  known_charges:
                    recipient_charge:
                      charge: '1.50'
                      currency: GBP
                      recipient_receives: '7.00'
                    sender_charge:
                      charge: '1.50'
                      currency: GBP
                      bank_sends: '10.00'
                      total_cost: '11.50'
                  state:
                    status_code: COMPLETED
                    status_message: Scheduled Payment Creation Completed
                    history:
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: CREATED
                      message: Scheduled Payment Created
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: AWAITING_AUTH
                      message: Awaiting Customer Authentication
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: AUTH_COMPLETED
                      message: Authentication Completed
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: PENDING
                      message: Payment Order Pending
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: COMPLETED
                      message: Scheduled Payment Creation Completed
                  errors:
                  - code: FAILED
                    description: The call to the provider to confirm funds returned an error
                  created_at: '2020-02-02T12:29:33.428944815Z'
                  requested_execution_date: '2020-02-02T12:29:33.428944815Z'
                metadata:
                  total_results: 1000000
                  results: 10
                  page: 1
                  total_pages: 100000
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: v1_payments_scheduled_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  filter: X-Date-From is in the wrong format (expected 2006-01-02T15:04:05Z)
        '401':
          description: Unauthorised request
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
  /v1/payments/scheduled/{payment_id}:
    get:
      tags:
      - Manage Payments
      summary: Retrieve Scheduled Payment Status
      description: Retrieve and view the status of a specific Scheduled payment
      operationId: v1_payments_scheduled_payment_id_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/PaymentId'
      - $ref: '#/components/parameters/ClientId'
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetScheduledPaymentResponse'
              example:
                operation_id: v1_payments_scheduled_payment_id_get
                data:
                  payment_id: 89f80199-1199-400e-9092-17208f6f39f5
                  organisation_id: 22f80199-1199-400e-9092-17208f6f39f0
                  client_id: 22f80199-1199-400e-9092-17208f6f39f0
                  method: FPS
                  reference: Rent
                  recipient:
                    type: SortCodeAccountNumber
                    name: MR TEST RECIPIENT
                    account_number: '01234501234567'
                  amount:
                    value: '10.00'
                    currency: GBP
                  sender:
                    user_id: client-defined-user-id
                    name: MR TEST SENDER
                    provider: Natwest
                  known_charges:
                    recipient_charge:
                      charge: '1.50'
                      currency: GBP
                      recipient_receives: '7.00'
                    sender_charge:
                      charge: '1.50'
                      currency: GBP
                      bank_sends: '10.00'
                      total_cost: '11.50'
                  state:
                    status_code: COMPLETED
                    status_message: Scheduled Payment Creation Completed
                    history:
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: CREATED
                      message: Scheduled Payment Created
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: AWAITING_AUTH
                      message: Awaiting Customer Authentication
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: AUTH_COMPLETED
                      message: Authentication Completed
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: PENDING
                      message: Payment Order Pending
                    - datetime: '2020-02-02T12:29:33.428944815Z'
                      code: COMPLETED
                      message: Scheduled Payment Creation Completed
                  errors:
                  - code: FAILED
                    description: The call to the provider to confirm funds returned an error
                  created_at: '2020-02-02T12:29:33.428944815Z'
                  requested_execution_date: '2020-02-02T12:29:33.428944815Z'
                  required_action: null
        '401':
          description: Unauthorised request
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: v1_payments_scheduled_payment_id_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  payment_id: Value not found
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
components:
  schemas:
    ListSinglePaymentResponse:
      title: List Payment Status Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          description: Array of Single Payment Status Objects
          type: array
          items:
            $ref: '#/components/schemas/SinglePaymentStatus'
        metadata:
          type: object
          description: Metadata for the response including pagination details
          required:
          - total_results
          - results
          - page
          - total_pages
          properties:
            total_results:
              type: integer
              description: The total number of payment results for the request
            results:
              type: integer
              description: The number of payment results currently displayed on the page
            page:
              type: integer
              description: The current page number
            total_pages:
              type: integer
              description: The total number of pages for the request
    Error:
      title: Error Object
      type:
      - object
      - 'null'
      description: Contains a field specific error message
      additionalProperties:
        type: string
    SinglePaymentStatus:
      title: Single Payment Status
      description: Detailed information for a given payment and it's status
      type: object
      required:
      - payment_id
      - organisation_id
      - client_id
      - method
      - reference
      - recipient
      - amount
      - sender
      - known_charges
      - state
      - supplementary_status
      - errors
      - created_at
      - required_action
      properties:
        payment_id:
          type: string
          description: Payment Identifier
        organisation_id:
          type: string
          description: Bud's Organisation Identifier
        client_id:
          type: string
          description: Bud's Client/App Identifier
        method:
          type: string
          description: The payment method
          enum:
          - BACS
          - FPS
          - SEPA
        reference:
          type: string
          description: Reference to use for this payment
          maxLength: 18
        recipient:
          $ref: '#/components/schemas/PaymentRecipient'
        amount:
          $ref: '#/components/schemas/BudAmount'
        sender:
          $ref: '#/components/schemas/PaymentSender'
        known_charges:
          $ref: '#/components/schemas/KnownCharges'
        state:
          type: object
          description: Details of the payment state and history
          required:
          - status_code
          - status_message
          - history
          properties:
            status_code:
              $ref: '#/components/schemas/StatusCodeEnum'
            status_message:
              $ref: '#/components/schemas/StatusMessageEnum'
            history:
              type: array
              items:
                type: object
                required:
                - datetime
                - code
                - message
                properties:
                  datetime:
                    type: string
                    description: A datetime string ISO 8601 defining the date and time at which the state change occurred
                  code:
                    $ref: '#/components/schemas/StatusCodeEnum'
                  message:
                    $ref: '#/components/schemas/StatusMessageEnum'
        supplementary_status:
          type: object
          description: A list of supplementary states associated with the payment as described by the specific provider
          required:
          - payment_order
          - consent
          - confirmation_of_funds
          properties:
            payment_order:
              $ref: '#/components/schemas/SupplementaryStatusDetail'
            consent:
              $ref: '#/components/schemas/SupplementaryStatusDetail'
            confirmation_of_funds:
              $ref: '#/components/schemas/SupplementaryStatusDetail'
        errors:
          title: Payment Errors
          type: array
          description: A list of any errors that may be associated with the payment
          items:
            title: Payment_Error
            type: object
            description: Details surrounding any error that may be associated with the payment
            required:
            - code
            - description
            properties:
              code:
                type: string
                description: Error Code
              description:
                type: string
                description: Text string used to give a description of the payment error
        created_at:
          title: Created at timestamp
          type: string
          description: The created at timestamp for the payment
        required_action:
          type:
          - string
          - 'null'
          enum:
          - confirm_single_payment
          - null
          description: 'This field will indicate that there is an action required to be taken by the client in order to complete the payment.


            | Value  |  Description |

            |:-------|:-------------|

            | confirm_single_payment | If present, this value indicates that client has yet to confirm the single payment once the customer has successfully authorised the payment with the provider. This confirmation can be accomplished using the Confirm Single Payment API Endpoint. Please note this step will only be relevant for clients using Bud as a Technical Service Provider (TSP) |

            '
    StatusStandingOrderResponse:
      title: Standing Order Status Response
      type: object
      required:
      - operation_id
      - data
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/StandingOrderData'
    PaymentAccountType:
      title: Account Type
      type: string
      description: The account type structure for the payment sender or receiver
      enum:
      - SortCodeAccountNumber
      - IBAN
    StandingOrderStatusCodeEnum:
      title: Standing Order Status Codes
      type: string
      description: The payment status code for a Standing Order
      enum:
      - CREATED
      - AWAITING_AUTH
      - AUTH_REJECTED
      - AUTH_COMPLETED
      - PENDING
      - FAILED
      - COMPLETED
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    GetScheduledPaymentResponse:
      title: Get Scheduled Payment Response
      type: object
      description: Response structure when retrieving a specific Scheduled Payment status
      required:
      - operation_id
      - data
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/ScheduledPaymentData'
        metadata:
          type: object
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    ScheduledPaymentStatusMessageEnum:
      title: Scheduled Payment Status Message
      type: string
      description: The payment status message for a Scheduled Payment
      enum:
      - Scheduled Payment Created
      - Awaiting Customer Authentication
      - Authentication Failed
      - Authentication Completed
      - Payment Order Pending
      - Scheduled Payment Creation Failed
      - Scheduled Payment Creation Completed
    StandingOrderStatusMessageEnum:
      title: Standing Order Status Message
      type: string
      description: The payment status message for a Standing Order
      enum:
      - Standing Order Created
      - Awaiting Customer Authentication
      - Authentication Failed
      - Authentication Completed
      - Payment Order Pending
      - Standing Order Creation Failed
      - Standing Order Creation Completed
    KnownCharges:
      title: Known Charges
      type: object
      description: A list detailing information surrounding any known charges that may be associated with the payment
      required:
      - recipient_charge
      - sender_charge
      properties:
        recipient_charge:
          type: object
          description: The charge details applied to the recipient
          required:
          - charge
          - currency
          - recipient_receives
          properties:
            charge:
              type: string
              description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
            currency:
              type: string
              description: A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds"
            recipient_receives:
              type: string
              description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
        sender_charge:
          type: object
          description: The charge details applied by the sender
          required:
          - charge
          - currency
          - bank_sends
          - total_cost
          properties:
            charge:
              type: string
              description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
            currency:
              type: string
              description: A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds"
            bank_sends:
              type: string
              description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
            total_cost:
              type: string
              description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
    BadRequestResponse:
      title: Bad Request Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - code_id
      - message
      - errors
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          description: A descriptive enough string that is linked to the reason for the error.
        message:
          type: string
        errors:
          anyOf:
          - $ref: '#/components/schemas/Error'
          - $ref: '#/components/schemas/Errors'
    StatusMessageEnum:
      type: string
      description: The payment status message
      enum:
      - Payment created
      - Awaiting Authentication
      - Authenticated; Confirming Funds
      - Funds Confirmed; Awaiting Payment Initiation
      - Insufficient Funds In Account; Payment Aborted
      - Initiating Payment
      - Payment Order Accepted
      - Payment Settlement Complete
      - Payment Settlement Rejected
      - Failed
    StatusSinglePaymentResponse:
      title: Payment Status Response
      type: object
      required:
      - operation_id
      - data
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/SinglePaymentStatus'
    ScheduledPaymentData:
      title: Scheduled Payment Data
      type: object
      description: Data structure for the Scheduled Payment object
      required:
      - payment_id
      - organisation_id
      - client_id
      - reference
      - recipient
      - sender
      - known_charges
      - state
      - errors
      - created_at
      - requested_execution_date
      properties:
        payment_id:
          type: string
          description: Payment Identifier
        organisation_id:
          type: string
          description: Bud's Organisation Identifier
        client_id:
          type: string
          description: Bud's Client/App Identifier
        reference:
          type: string
          description: Reference to use for this payment
        recipient:
          $ref: '#/components/schemas/PaymentRecipient'
        recurring_amount:
          $ref: '#/components/schemas/BudAmount'
        sender:
          $ref: '#/components/schemas/PaymentSender'
        known_charges:
          $ref: '#/components/schemas/KnownCharges'
        state:
          type: object
          required:
          - status_code
          - status_message
          - history
          properties:
            status_code:
              $ref: '#/components/schemas/ScheduledPaymentStatusCodeEnum'
            status_message:
              $ref: '#/components/schemas/ScheduledPaymentStatusMessageEnum'
            history:
              type: array
              items:
                type: object
                required:
                - datetime
                - code
                - message
                properties:
                  datetime:
                    type: string
                  code:
                    $ref: '#/components/schemas/ScheduledPaymentStatusCodeEnum'
                  message:
                    $ref: '#/components/schemas/ScheduledPaymentStatusMessageEnum'
        errors:
          type: array
          description: Details surrounding any errors when attempting to initiate a Scheduled Payment
          items:
            type: object
            required:
            - code
            - description
            properties:
              code:
                type: string
                description: Error Code
              description:
                type: string
                description: Text string used to give a description of the payment error
        created_at:
          type: string
          format: date-time
          description: Date-time (ISO 8601) of when the Scheduled Payment was created
          example: '2020-06-01T15:00:00Z'
        requested_execution_date:
          type: string
          format: date-time
          description: Date-time (ISO 8601) the Scheduled Payment should be made. Must be future date.
          example: '2020-06-01T15:00:00Z'
        required_action:
          type:
          - string
          - 'null'
          description: 'This field will indicate that there is an action required to be taken by the client in order to complete the payment.


            | Value  |  Description |

            |:-------|:-------------|

            | confirm_scheduled_payment | If present, this value indicates that client has yet to confirm the Scheduled Payment once the customer has successfully authorised the payment with the provider. This confirmation can be accomplished using the Confirm Scheduled Payment API Endpoint. Please note this step will only be relevant for clients using Bud as a Technical Service Provider (TSP) |

            '
          enum:
          - confirm_scheduled_payment
          - null
    ScheduledPaymentStatusCodeEnum:
      title: Scheduled Payment Status Codes
      type: string
      description: The payment status code for a Scheduled Payment
      enum:
      - CREATED
      - AWAITING_AUTH
      - AUTH_REJECTED
      - AUTH_COMPLETED
      - PENDING
      - FAILED
      - COMPLETED
    StatusCodeEnum:
      type: string
      description: The payment status code
      enum:
      - CREATED
      - AWAITING_AUTH
      - AUTHENTICATED
      - AUTH_REJECTED
      - AUTH_COMPLETED
      - FUNDS_CONFIRMED
      - INSUFFICIENT_FUNDS
      - INITIATING
      - ACCEPTED
      - SETTLED
      - PAYMENT_REJECTED
      - FAILED
    PaymentRecipient:
      title: Payment Recipient
      type: object
      description: Details of the recipient of the payment
      required:
      - type
      - name
      - account_number
      properties:
        type:
          $ref: '#/components/schemas/PaymentAccountType'
        name:
          type: string
          description: Account holder name of the recipient
          minLength: 1
          maxLength: 70
        account_number:
          type: string
          description: Account identifier of the recipient
          minLength: 14
          maxLength: 32
    ListScheduledPaymentResponse:
      title: List Scheduled Payment Response
      type: object
      description: Response structure when retrieving a filtered list of Scheduled Payment status'
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          description: Array of Scheduled Payment Status Objects
          type: array
          items:
            $ref: '#/components/schemas/ScheduledPaymentData'
        metadata:
          description: Metadata associated with response
          type: object
          required:
          - total_results
          - results
          - page
          - total_pages
          properties:
            total_results:
              type: integer
              description: The total number of payment results for the request
            results:
              type: integer
              description: The number of payment results currently displayed on the page
            page:
              type: integer
              description: The current page number
            total_pages:
              type: integer
              description: The total number of pages for the request
    Errors:
      title: Array of Error Object
      description: Contains a list of error messages
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    SupplementaryStatusDetail:
      type: object
      description: The payment supplementary as described by the provider
      required:
      - status
      - history
      properties:
        status:
          type: string
          description: The status description as returned by the provide
        history:
          type: array
          description: A list of any historical changes in the state
          items:
            type: object
            required:
            - datetime
            - status
            properties:
              datetime:
                type: string
                description: A datetime string (ISO 8601) defining the date and time at which the state change occurred
              status:
                type: string
                description: The status message
    ListStandingOrderResponse:
      title: List Standing Order Response
      type: object
      description: Response structure when retrieving a filtered list of Standing Order status'
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          description: Array of Standing Order Payment Status Objects
          type: array
          items:
            $ref: '#/components/schemas/StandingOrderData'
        metadata:
          description: Metadata associated with response
          type: object
          required:
          - total_results
          - results
          - page
          - total_pages
          properties:
            total_results:
              type: integer
              description: The total number of payment results for the request
            results:
              type: integer
              description: The number of payment results currently displayed on the page
            page:
              type: integer
              description: The current page number
            total_pages:
              type: integer
              description: The total number of pages for the request
    PaymentSender:
      title: Payment Sender
      type: object
      description: Details of the payment sender
      required:
      - user_id
      - name
      properties:
        user_id:
          type: string
          description: A string that can be used to uniquely identify a user within the Client's application
          minLength: 1
          maxLength: 120
        type:
          $ref: '#/components/schemas/PaymentAccountType'
        name:
          type: string
          description: Account holder name of the sender
          minLength: 1
          maxLength: 70
        account_number:
          type: string
          description: Account identifier of the sender
          minLength: 14
          maxLength: 32
        provider:
          type: string
          description: The name (identifier) of the payment provider
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    StandingOrderFrequencyEnum:
      title: Standing Order Frequency
      type: string
      description: The payment frequency for a Standing Order
      enum:
      - daily
      - weekly
      - fortnightly
      - monthly
      - quarterly
      - semiannually
      - yearly
    OperationId:
      title: Operation Id Field
      type: string
      description: A unique identifier/reference associated with a given endpoint/operation
    StandingOrderData:
      title: Standing Order Data
      type: object
      description: Data structure for the Standing Order object
      required:
      - payment_id
      - organisation_id
      - client_id
      - reference
      - recipient
      - recurring_amount
      - sender
      - known_charges
      - state
      - errors
      - created_at
      - frequency
      - first_payment_date
      - required_action
      properties:
        payment_id:
          type: string
          description: Payment Identifier
        organisation_id:
          type: string
          description: Bud's Organisation Identifier
        client_id:
          type: string
          description: Bud's Client/App Identifier
        reference:
          type: string
          description: Reference to use for this payment
        recipient:
          $ref: '#/components/schemas/PaymentRecipient'
        recurring_amount:
          $ref: '#/components/schemas/BudAmount'
        sender:
          $ref: '#/components/schemas/PaymentSender'
        known_charges:
          $ref: '#/components/schemas/KnownCharges'
        state:
          type: object
          required:
          - status_code
          - status_message
          - history
          properties:
            status_code:
              $ref: '#/components/schemas/StandingOrderStatusCodeEnum'
            status_message:
              $ref: '#/components/schemas/StandingOrderStatusMessageEnum'
            history:
              type: array
              items:
                type: object
                required:
                - datetime
                - code
                - message
                properties:
                  datetime:
                    type: string
                  code:
                    $ref: '#/components/schemas/StandingOrderStatusCodeEnum'
                  message:
                    $ref: '#/components/schemas/StandingOrderStatusMessageEnum'
        errors:
          type: array
          description: Details surrounding any errors when attempting to initiate a Standing Order
          items:
            type: object
            required:
            - code
            - description
            properties:
              code:
                type: string
                description: Error Code
              description:
                type: string
                description: Text string used to give a description of the payment error
        created_at:
          type: string
          format: date-time
          description: Date-time (ISO 8601) of when the Standing Order was created
          example: '2020-06-01T15:00:00Z'
        first_payment_date:
          type: string
          format: date-time
          description: Date-time (ISO 8601) the first payment should be made. Must be future date.
          example: '2020-06-01T15:00:00Z'
        last_payment_date:
          type: string
          format: date-time
          description: Date-time (ISO 8601) after which payments should stop. Must be after `first_payment_date`.
          example: '2020-06-01T15:00:00Z'
        frequency:
          $ref: '#/components/schemas/StandingOrderFrequencyEnum'
        required_action:
          type:
          - string
          - 'null'
          description: 'This field will indicate that there is an action required to be taken by the client in order to complete the payment.


            | Value  |  Description |

            |:-------|:-------------|

            | confirm_standing_order | If present, this value indicates that client has yet to confirm the standing order once the customer has successfully authorised the payment with the provider. This confirmation can be accomplished using the Confirm Standing Order API Endpoint. Please note this step will only be relevant for clients using Bud as a Technical Service Provider (TSP) |

            '
          enum:
          - confirm_standing_order
          - null
  parameters:
    PaymentStatusCodes:
      in: header
      name: X-Status-Codes
      required: false
      description: comma separated list of status codes filter
      example:
      - CREATED
      - SETTLED
      schema:
        type: array
        items:
          type: string
          enum:
          - CREATED
          - AWAITING_AUTH
          - AUTHENTICATED
          - ACCEPTED
          - FUNDS_CONFIRMED
          - INITIATING
          - SETTLED
          - FAILED
    PaymentDateTo:
      in: header
      name: X-Date-To
      description: Date to filter
      example: '2020-06-01T15:00:00Z'
      schema:
        type: string
    PaymentAmountFrom:
      in: header
      name: X-Amount-From
      required: false
      description: Amount from filter
      example: '10.00'
      schema:
        type: string
    PaymentIdHeader:
      in: header
      name: X-Payment-Id
      required: false
      description: Payment ID filter
      example: 84470aa9-71a2-4da2-8fa4-660adbf2c9b2
      schema:
        type: string
    PaymentSenderProviders:
      in: header
      name: X-Sender-Providers
      required: false
      description: comma separated list of providers name filter
      example: Lloyds,Nationwide
      schema:
        type: string
    PaymentAmountTo:
      in: header
      name: X-Amount-To
      required: false
      description: Amount to filter
      example: '10000.00'
      schema:
        type: string
    PaymentDateFrom:
      in: header
      name: X-Date-From
      description: Date from filter
      example: '2020-06-01T15:00:00Z'
      schema:
        type: string
    PaymentId:
      in: path
      name: payment_id
      required: true
      schema:
        type: string
      description: Bud Payment Identifier
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    PageNumber:
      in: header
      name: X-Page-Number
      required: false
      description: Page number filter
      example: '1'
      schema:
        type: string
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
