openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Subscription Finder API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Subscription Finder
  x-displayName: Subscription Finder
  description: Find information regarding your customer's subscriptions.
paths:
  /v1/subscriptions:
    get:
      tags:
      - Subscription Finder
      summary: Retrieve Subscriptions
      description: 'This endpoint is used to retrieve information about a user''s subscriptions


        When `X-From` is omitted from the request, a default value of 30 days from before today''s date will be used.

        When `X-To` is omitted from the request, a default value of today''s date will be used.'
      operationId: v1_subscriptions_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/SmartFinderFrom'
      - $ref: '#/components/parameters/SmartFinderTo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscriptionsResponseV1'
              example:
                operation_id: v1_subscriptions_get
                data:
                - subscription_type: media_streaming
                  period: monthly
                  categories:
                    l1: media_and_telecoms
                    l2: tv_streaming_services
                  merchant:
                    id: netflix
                    name: Netflix
                    logo: https://assets.thisisbud.com/netflix_logo_placeholder.jpeg
                  transactions:
                  - transaction_id: fdcc55c6-f347-4abc-8c66-61ff290d8bd4
                    account_id: an_account_id
                    transaction_description: Netflix
                    provider: Barclays
                    date: 2022-03-21T01:00:00+0100
                    amount:
                      value: '9.99'
                      currency: GBP
                    credit_debit_indicator: Debit
                  - transaction_id: hdcc55c6-f347-4abc-8c66-61ff290d8bd4
                    account_id: an_account_id
                    transaction_description: Netflix
                    provider: Barclays
                    date: 2022-04-21T01:00:00+0100
                    amount:
                      value: '9.99'
                      currency: GBP
                    credit_debit_indicator: Debit
                - subscription_type: unknown
                  period: unknown
                  categories:
                    l1: general
                    l2: other_general
                  transactions:
                  - transaction_id: idcc55c6-f347-4abc-8c66-61ff290d8bd4
                    account_id: an_account_id
                    transaction_description: A Random Subscription Payment
                    provider: Barclays
                    date: 2022-05-11T01:00:00+0100
                    amount:
                      value: '59.99'
                      currency: GBP
                    credit_debit_indicator: Debit
                metadata:
                  results: 2
                  from: '2022-03-19'
                  to: '2022-05-19'
        '204':
          description: No subscriptions found
        '400':
          description: The request contains an invalid payload.
        '401':
          description: Unauthorised request
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
components:
  schemas:
    Subscription:
      type: object
      required:
      - subscription_type
      - transactions
      - categories
      - period
      properties:
        subscription_type:
          type: string
          description: 'Type of subscription identified. Potential values are subject to change and may be converted to enums at a future unspecified date.


            | Subscription type           | Description |

            | --------------------------- | ----------- |

            | `unknown`                   | Unknown subscription type |

            | `media_streaming`           | Digital media streaming subscriptions |

            | `newspapers_and_magazines`  | Print media subscriptions |

            | `food_and_drink`            | Grocery and specialty food/drink subscriptions |

            | `technology`                | Technology subscriptions, including software and hardware |

            | `fitness_and_gym`           | Health and fitness subscriptions |

            | `charitable_donations`      | Recurring donations to charity |

            '
        period:
          type: string
          description: To describe the period between each transaction within a subscription. Potential values could be (but are not limited to) `monthly`, `quarterly` and `unknown`, and may be converted to enums at a future unspecified date.
        categories:
          type: object
          description: Categories of the subscription
          required:
          - l1
          - l2
          properties:
            l1:
              type: string
              description: Details on the Level One category associated with the subscription
            l2:
              type: string
              description: Details on the Level Two category associated with the subscription
        merchant:
          type: object
          description: Details surrounding the identified merchant of the transaction (this field will be omitted if a merchant is not detected)
          required:
          - id
          - name
          - logo
          properties:
            id:
              type: string
              description: A unique ID for the identified merchant.
            name:
              type: string
              description: The clean name of the identified merchant.
            logo:
              type: string
              description: The merchant's logo image URL location.
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/BasicTransactionV2'
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    TransactionsResultsMetadata:
      title: Metadata
      description: Metadata associated with the response schema
      allOf:
      - $ref: '#/components/schemas/LegacyBudDateRangeMetadata'
      - type: object
        required:
        - results
        properties:
          results:
            type: number
            description: Number of results returned
    BasicTransactionV2:
      title: Basic Transaction Schema
      type: object
      description: Basic transaction schema
      required:
      - transaction_id
      - account_id
      - transaction_description
      - provider
      - date
      - amount
      - credit_debit_indicator
      properties:
        transaction_id:
          type: string
          description: A unique identifier for the transaction
        account_id:
          type: string
          description: A unique identifier for the Customer bank account
        transaction_description:
          type: string
          description: A description of the transaction, similar to the transaction information in Open Banking. e.g. a bank transfer reference"
        provider:
          type: string
          description: The name of the relevant provider relevant to the source of the original transaction data
        date:
          type: string
          description: "The date of the transaction in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-03-17T17:29:51Z`\n  - `2023-03-17T17:29:51-08:00`\n"
        amount:
          $ref: '#/components/schemas/BudAmount'
        credit_debit_indicator:
          type: string
          description: Indication as to whether the transaction was a credit or debit
          enum:
          - Credit
          - Debit
    GetSubscriptionsResponseV1:
      title: Subscription Products Response
      description: Subscription products and associated transactions for a customer
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - v1_subscriptions_get
        data:
          type: array
          title: Subscriptions Finder Response Data
          items:
            $ref: '#/components/schemas/Subscription'
        metadata:
          $ref: '#/components/schemas/TransactionsResultsMetadata'
    LegacyBudDateRangeMetadata:
      title: Metadata
      type: object
      required:
      - from
      - to
      properties:
        from:
          type: string
          description: 'The date from when results were retrieved in the format [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html).

            This is either populated with the default value used when retrieving the results, or the user specified parameter.


            Example: `2023-01-17`

            '
        to:
          type: string
          description: 'The date up to when results were retrieved in the format [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html).

            This is either populated with the default value used when retrieving the results, or the user specified parameter.


            Example: `2023-03-17`

            '
  parameters:
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
    SmartFinderFrom:
      in: header
      name: X-From
      required: false
      schema:
        type: string
      examples:
        date_only:
          value: '2022-02-28'
        RFC3339:
          value: '2019-02-28T07:20:50.52Z'
      description: Transaction from date, this works in pair with the 'X-To' parameter
    CustomerSecret:
      in: header
      name: X-Customer-Secret
      schema:
        type: string
      required: false
      description: The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud.
    SmartFinderTo:
      in: header
      name: X-To
      required: false
      schema:
        type: string
      examples:
        date_only:
          value: '2022-03-30'
        RFC3339:
          value: '2019-03-30T07:20:50.52Z'
      description: Transaction to date, this works in pair with the 'X-From' parameter
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
