openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Manage a Connection API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Manage a Connection
  x-displayName: Manage a Connection
  description: 'Different endpoints that allow to to manage an existing customer connection. This includes the ability to:

    (i) Refresh the data associated with a given connection, pulling in the latest account

    information into the Bud platform;

    (ii) Renew an existing consent by-passing the need to go through Strong Customer

    Authentication (SCA) with their bank;

    (iii) Revoke a consent, removing the ability for Bud to fetch any further data associated

    with that consent.'
paths:
  /v1/open-banking/refresh:
    post:
      deprecated: true
      tags:
      - Manage a Connection
      summary: Initiate Refresh
      description: 'Instruct Bud to retrieve the latest account information for a customer. Refresh the accounts from a single provider with an existing connection.


        By default this task will retrieve transactions since the last pull of transactions less seven days. This can be overridden using the `from` body parameter to a maximum of 90 days previously.


        After initiating this long running process, make sure to check the status of the it till completion before trying to access the Customer''s data or initiating another refresh.


        If the customer''s provider was fetched (connect or refresh) within the last hour, the endpoint will return the task_id of the previous task instead of refreshing the data again.


        If the customer''s consent has been revoked or expired for this provider, Bud will be unable to refresh the account.

        This will be confirmed in the response of the refresh status endpoint associated with the `task_id` provided in the response to this endpoint, where the `reconnect_required` field will set to `true` and status set to `Completed`.'
      operationId: open_banking_refresh_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - in: header
        name: X-Customer-Ip-Address
        schema:
          type: string
        required: false
        description: 'The IP address of the personal device the customer is initiating the refresh from.

          This header should _only_ be supplied if the customer has initiated the refresh from a personal device, and never if the refresh has been initated from an automated process such as a script.

          The IP address is forwarded to the provider and can help avoid hitting limits on how frequently a refresh can be initiated.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenBankingRefreshRequest'
            example:
              provider: Barclays
              from: '2019-03-01T00:00:00+00:00'
              to: '2019-06-01T00:00:00+00:00'
      responses:
        '202':
          description: A new Task has been generated to request the Customer's bank account refresh. The generated `task_id` can be used to check the Task's status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCreatedResponseOB'
              example:
                operation_id: open_banking_refresh_post
                data:
                  provider: Barclays
                  task_id: 360e5821-4f18-4077-83f4-c9a7c1768bea
                metadata:
                  next_url: /v1/open-banking/refresh/360e5821-4f18-4077-83f4-c9a7c1768bea
                  next_url_delay: 50
                  status: Pending
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Parameter missing:
                  value:
                    operation_id: open_banking_refresh_post
                    code_id: failed_validation
                    message: Failed validation
                    errors:
                      customer_id: This value should not be blank
                      customer_secret: This value should not be blank
                Provider in Maintenance:
                  value:
                    operation_id: open_banking_refresh_post
                    code_id: provider_maintenance
                    message: The provider is in maintenance.
                    errors:
                      provider: The provider is currently disabled due to planned maintenance or known issues.
        '405':
          description: The request uses an unexpected HTTP method
        5XX:
          description: An unexpected error occurred on the server side
      callbacks:
        EventSubscriptionCallBack:
          '{$request.body#/redirect_url}':
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Aggregation Sync Notification Callback
              deprecated: true
              requestBody:
                required: true
                description: 'This callback is sent to your configured Open Banking Sync Complete webhook URL on the completion of a relevant OB synchronisation task.


                  __Note__ Deprecated, please use the dedicated `Refresh Completed Notification Callback`

                  '
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OBSyncWebhookBody'
                    example:
                      data:
                        task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                        status: Completed
                        task_type: refresh
                        customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                        consent_id: f43c4fc9-26f6-4107-a631-4f323f06e5c9
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
        RefreshCompletedCallBack:
          '{$request.body#/redirect_url}':
            description: 'This callback is sent to your configured ''Open banking refresh completed'' webhook URL on the completion of a connect task.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Refresh Completed Notification Callback
              requestBody:
                required: true
                description: This callback is sent to your configured 'Open banking refresh completed' webhook URL on the completion of a refresh task.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OBRefreshWebhookBody'
                    examples:
                      Success:
                        description: Successful refresh
                        value:
                          data:
                            task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                            status: Completed
                            result: success
                            task_type: refresh
                            customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                            reconnect_required: 'false'
                            has_new_transactions: 'true'
                            consent_id: f43c4fc9-26f6-4107-a631-4f323f06e5c9
                      Failure:
                        description: Failed refresh due to a consent being revoked
                        value:
                          data:
                            task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                            status: Failed
                            result: connection_revoked
                            task_type: refresh
                            customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                            reconnect_required: 'true'
                            has_new_transactions: 'false'
                            consent_id: f43c4fc9-26f6-4107-a631-4f323f06e5c9
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
  /v1/open-banking/refresh/{task_id}:
    get:
      deprecated: true
      tags:
      - Manage a Connection
      summary: Retrieve Refresh Status
      description: 'Check the status of an account information refresh task. If the task is not yet completed, the status will be shown as pending.

        If the status is completed, then the data is ready to be collected via the Retrieve Financial Data endpoints.

        Successful requests will include `step` (1-4) and associated `text` values to indicate the current progress of the refresh task.


        Make sure to check the status of the task till completion before trying to access the Customer''s data or initiating another process.


        When the task is successful, we include in the response body a `metadata.has_new_transactions` boolean attribute that tells you if the refresh resulted in storing new data. This attribute must be used to

        decide if it''s necessary to pull the Customer''s data or not.


        When the refresh fails, we include the reason of the failure as part of the `data.result` attribute. We also include the `data.reconnect_required` boolean attribute that indicates if the consent used to

        fetch the data for this customer and provider is no longer valid. If reconnect_required is true, the customer will need to go through the bank account connection flow again.'
      operationId: open_banking_refresh_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenBankingRefreshResponse'
              examples:
                completed:
                  summary: Completed
                  value:
                    operation_id: open_banking_refresh_get
                    data:
                      provider: Barclays
                      status: Completed
                      result: success
                      reconnect_required: false
                      step: 4
                      task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                      text: Completed
                    metadata:
                      has_new_transactions: true
                      status: Completed
                pending:
                  summary: Pending
                  value:
                    operation_id: open_banking_refresh_get
                    data:
                      provider: Barclays
                      status: Pending
                      reconnect_required: false
                      step: 1
                      task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                      text: Fetching access token
                    metadata:
                      status: Pending
                      next_url: /v1/open-banking/refresh/360e5821-4f18-4077-83f4-c9a7c1768bea
                      next_url_delay: 50
                failed_provider_failure:
                  summary: Provider Failure
                  value:
                    operation_id: open_banking_refresh_get
                    data:
                      task_id: 1ceb1d81-a80e-4825-a7c0-4d69424c9874
                      provider: Barclays
                      status: Failed
                      result: provider_failure
                      reconnect_required: false
                      step: 2
                      text: Fetching accounts
                    metadata:
                      status: Failed
                failed_connection_not_found:
                  summary: Connection not found
                  value:
                    operation_id: open_banking_refresh_get
                    data:
                      task_id: 1ceb1d81-a80e-4825-a7c0-4d69424c9874
                      provider: Barclays
                      status: Failed
                      result: connection_not_found
                      reconnect_required: false
                      step: 4
                      text: Completed
                    metadata:
                      status: Failed
                failed_reconnect_required:
                  summary: Reconnection Required
                  value:
                    operation_id: open_banking_refresh_get
                    data:
                      provider: Barclays
                      status: Failed
                      result: connection_revoked
                      reconnect_required: true
                      step: 4
                      task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                      text: Completed
                    metadata:
                      status: Failed
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: open_banking_refresh_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  customer_id: This value should not be blank
        '405':
          description: The request uses an unexpected HTTP method
        5XX:
          description: An unexpected error occurred on the server side
  /open-banking/v2/refresh:
    post:
      tags:
      - Manage a Connection
      summary: Initiate Refresh V2
      description: 'Instruct Bud to retrieve the latest account information for a customer. Refresh the accounts from all providers with an existing connection.


        By default this task will retrieve transactions since the last pull of transactions less seven days. This can be overridden using the `from` body parameter to a maximum of 90 days previously.

        On completion of this task Bud will send a webhook to your configured endpoint including details of the refresh completed and the status of the refresh for each provider. Alternatively the status of the task can be checked using the Retrieve Refresh Status V2 endpoint. Please check that the task has completed successfully before trying to access the Customer''s data or initiating another refresh.


        If a similar refresh (same providers) for this customer has been initiated within the last hour, the endpoint will return the task_id of the previous task instead of refreshing the data again.


        If the customer''s consent has been revoked or expired for a provider, Bud will be unable to refresh the customers account at that provider.

        This will be confirmed in the response of the refresh status endpoint associated with the `task_id` provided in the response to this endpoint, where the `reconnect_required` field will set to `true` and status set to `Completed`. If the consent within the Bud system was marked as `Authorised` at this point the consent will be updated to `Revoked`


        To simplify your integration Bud is able to take control of your background refreshes and manage these regularly for you. Full details can be found on the following guide'
      operationId: v2_open_banking_refresh_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - in: header
        name: X-Customer-Ip-Address
        schema:
          type: string
        required: false
        description: 'The IP address of the personal device the customer is initiating the refresh from.

          This header should _only_ be supplied if the customer has initiated the refresh from a personal device, and never if the refresh has been initated from an automated process such as a script.

          The IP address is forwarded to the provider and can help avoid hitting limits on how frequently a refresh can be initiated.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenBankingRefreshRequestV2'
            example:
              from: '2019-03-01T00:00:00+00:00'
              to: '2019-06-01T00:00:00+00:00'
      responses:
        '202':
          description: A new Task has been generated to request the Customer's bank account refresh. The generated `task_id` can be used to check the Task's status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCreatedV2ResponseOB'
              example:
                operation_id: v2_open_banking_refresh_post
                data:
                  task_id: 360e5821-4f18-4077-83f4-c9a7c1768bea
                  sub_tasks:
                  - provider: Natwest_Sandbox
                    task_id: 030d244b-c2d8-4698-b919-69a6c6974c75
                  - provider: Bank_Of_Bud
                    task_id: 030d7563-eb58-4319-9a62-f008ce48bd6c
                metadata:
                  next_url: /v2/open-banking/refresh/360e5821-4f18-4077-83f4-c9a7c1768bea
                  next_url_delay: 500
                  status: Pending
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Parameter missing:
                  value:
                    operation_id: v2_open_banking_refresh_post
                    code_id: failed_validation
                    message: Failed validation
                    errors:
                      customer_id: This value should not be blank
        '405':
          description: The request uses an unexpected HTTP method
        5XX:
          description: An unexpected error occurred on the server side
      callbacks:
        RefreshV2CompletedCallBack:
          '{$request.body#/redirect_url}':
            description: 'This callback is sent to your configured ''Open banking refresh v2 completed'' webhook URL on the completion of a refresh v2 task. This includes details of refreshes completed for all providers

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Refresh Completed Notification Callback
              requestBody:
                required: true
                description: This callback is sent to your configured 'Open banking refresh completed V2' webhook URL on the completion of a refresh task. This includes details of refreshes completed for all providers.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OBV2WebhookBody'
                    examples:
                      Success:
                        description: Successful refresh
                        value:
                          customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                          event: open_banking.v2.refresh.completed
                          has_new_transactions: true
                          task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                          result: success
                          status: Completed
                          sub_tasks:
                          - task_id: 03af1639-78a6-402d-809b-902a0b00a789
                            has_new_transactions: true
                            provider: Bank_Of_Bud
                            reconnect_required: false
                            result: success
                            status: Completed
                            consent_ids:
                            - 2c7b5faf-2d11-47b1-b9e6-ce95f195259b
                            account_ids:
                            - d8b1390e-0106-4b65-8298-d6a4f13e662c
                      Failure:
                        description: Failed refresh due to a consent being revoked
                        value:
                          customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                          event: open_banking.v2.refresh.completed
                          has_new_transactions: false
                          task_id: 03af1639-78a6-402d-809b-902a0b001234
                          status: Failed
                          result: connection_revoked
                          sub_tasks:
                          - task_id: 03af1639-78a6-402d-809b-902a0b00b283
                            has_new_transactions: false
                            provider: Bank_Of_Bud
                            reconnect_required: true
                            result: connection_revoked
                            status: Failed
                            consent_ids:
                            - 2c7b5faf-2d11-47b1-b9e6-ce95f195259b
                            account_ids:
                            - d8b1390e-0106-4b65-8298-d6a4f13e662c
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
        ProviderRefreshCompletedCallBack:
          '{$request.body#/redirect_url}':
            description: 'This callback is sent to your configured ''Open banking refresh v2 provider completed'' webhook URL on the completion of a refresh task. This webhook includes details of the refresh completed for a specific provider.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Provider Refresh Completed Notification Callback
              requestBody:
                required: true
                description: This callback is sent to your configured 'Open banking refresh v2 provider completed' webhook URL when the refresh completes for each provider in a refresh v2 task.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ProviderOBV2WebhookBody'
                    examples:
                      Success:
                        description: Successful refresh
                        value:
                          event: open_banking.v2.refresh.provider.completed
                          task_id: 03af1639-78a6-402d-809b-902a0b00a789
                          has_new_transactions: true
                          provider: Bank_Of_Bud
                          reconnect_required: false
                          result: success
                          status: Completed
                          consent_ids:
                          - 2c7b5faf-2d11-47b1-b9e6-ce95f195259b
                          account_ids:
                          - d8b1390e-0106-4b65-8298-d6a4f13e662c
                          customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                      Failure:
                        description: Failed refresh due to a consent being revoked
                        value:
                          event: open_banking.v2.refresh.provider.completed
                          task_id: 03af1639-78a6-402d-809b-902a0b00a789
                          has_new_transactions: false
                          provider: Bank_Of_Bud
                          reconnect_required: true
                          result: connection_revoked
                          status: Failed
                          consent_ids:
                          - 2c7b5faf-2d11-47b1-b9e6-ce95f195259b
                          account_ids:
                          - d8b1390e-0106-4b65-8298-d6a4f13e662c
                          customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
  /open-banking/v2/refresh/{task_id}:
    get:
      tags:
      - Manage a Connection
      summary: Retrieve Refresh Status V2
      description: 'Check the status of an account information refresh task. If the task is not yet completed, the status will be shown as pending.

        If the status is completed, then the data is ready to be collected via the Retrieve Financial Data endpoints.


        To monitor the status of a refresh task we provide two methods. The preferred approach is to utilise the webhook functionality within the Bud platform where Bud will send a webhook to your configured endpoint when the task completes. Alternatively you can poll this endpoint to retrieve the status of the task.

        Please ensure that you either receive a webhook with a status of `Completed` and result of `success` or this endpoint returns a status of `Completed` and result of `success` before trying to access the Customer''s data or initiating another process.


        When the task is successful, we include in the response body a `metadata.has_new_transactions` boolean attribute that tells you if the refresh resulted in storing new data. This attribute must be used to

        decide if it''s necessary to pull the Customer''s data or not.


        When the refresh fails, we include the reason of the failure as part of the `data.result` attribute. We also include the `data.sub_tasks[i].reconnect_required` boolean attribute that indicates if the consent used to

        fetch the data for this customer and provider is no longer valid. If reconnect_required is true, the customer will need to go through the bank account connection flow and the consent will be marked as revoked.


        When only a subset of sub tasks fails the main task will be marked as `Failed` but for each provider where the refresh was successful (result is equal to `success`) customers data will be updated and available from the Retrieve Financial Data endpoints.

        In the case of a partial success you are able to specify the `providers` body parameter to the Initiate Refresh V2 endpoint to initiate a refresh for the failing provider(s).'
      operationId: v2_open_banking_refresh_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenBankingRefreshV2Response'
              examples:
                completed:
                  summary: Completed
                  value:
                    operation_id: v2_open_banking_refresh_get
                    data:
                      task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                      status: Completed
                      result: success
                      has_new_transactions: true
                      sub_tasks:
                      - task_id: 030d244b-c2d8-4698-b919-69a6c6974c75
                        provider: Natwest_Sandbox
                        status: Completed
                        result: success
                        reconnect_required: false
                        has_new_transactions: true
                      - task_id: 030d7563-eb58-4319-9a62-f008ce48bd6c
                        provider: Bank_Of_Bud
                        status: Completed
                        result: success
                        reconnect_required: false
                        has_new_transactions: false
                    metadata:
                      status: Completed
                pending:
                  summary: Pending
                  value:
                    operation_id: v2_open_banking_refresh_get
                    data:
                      task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                      status: Pending
                      sub_tasks:
                      - task_id: 030d244b-c2d8-4698-b919-69a6c6974c75
                        provider: Natwest_Sandbox
                        status: Pending
                      - task_id: 030d7563-eb58-4319-9a62-f008ce48bd6c
                        provider: Bank_Of_Bud
                        status: Pending
                    metadata:
                      status: Pending
                      next_url: /v2/open-banking/refresh/03af1639-78a6-402d-809b-902a0b00a77d
                      next_url_delay: 500
                partially_complete:
                  summary: Partially Complete
                  value:
                    operation_id: v2_open_banking_refresh_get
                    data:
                      task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                      status: Pending
                      sub_tasks:
                      - task_id: 030d244b-c2d8-4698-b919-69a6c6974c75
                        provider: Natwest_Sandbox
                        status: Pending
                      - task_id: 030d7563-eb58-4319-9a62-f008ce48bd6c
                        provider: Bank_Of_Bud
                        status: Completed
                        result: success
                        reconnect_required: false
                        has_new_transactions: false
                    metadata:
                      status: Pending
                      next_url: /v2/open-banking/refresh/03af1639-78a6-402d-809b-902a0b00a77d
                      next_url_delay: 500
                failed_provider_failure:
                  summary: Provider Failure
                  value:
                    operation_id: v2_open_banking_refresh_get
                    data:
                      task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                      status: Failed
                      sub_tasks:
                      - task_id: 030d244b-c2d8-4698-b919-69a6c6974c75
                        provider: Natwest_Sandbox
                        status: Failed
                        result: provider_failure
                        reconnect_required: false
                      - task_id: 030d7563-eb58-4319-9a62-f008ce48bd6c
                        provider: Bank_Of_Bud
                        status: Completed
                        result: success
                        reconnect_required: false
                        has_new_transactions: false
                    metadata:
                      status: Failed
                failed_connection_not_found:
                  summary: Connection not found
                  value:
                    operation_id: v2_open_banking_refresh_get
                    data:
                      task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                      status: Failed
                      sub_tasks:
                      - task_id: 030d244b-c2d8-4698-b919-69a6c6974c75
                        provider: Natwest_Sandbox
                        status: Failed
                        result: connection_not_found
                        reconnect_required: true
                      - task_id: 030d7563-eb58-4319-9a62-f008ce48bd6c
                        provider: Bank_Of_Bud
                        status: Failed
                        result: connection_not_found
                        reconnect_required: true
                    metadata:
                      status: Failed
                failed_provider_in_maintenance:
                  summary: Provider In Maintenance
                  value:
                    operation_id: v2_open_banking_refresh_get
                    data:
                      task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                      status: Failed
                      sub_tasks:
                      - task_id: 030d244b-c2d8-4698-b919-69a6c6974c75
                        provider: Natwest_Sandbox
                        status: Failed
                        result: provider_maintenance
                        reconnect_required: false
                      - task_id: 030d7563-eb58-4319-9a62-f008ce48bd6c
                        provider: Bank_Of_Bud
                        status: Failed
                        result: provider_maintenance
                        reconnect_required: false
                    metadata:
                      status: Failed
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: v2_open_banking_refresh_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  customer_id: This value should not be blank
        '405':
          description: The request uses an unexpected HTTP method
        5XX:
          description: An unexpected error occurred on the server side
  /v1/open-banking/account-access-consents:
    get:
      tags:
      - Manage a Connection
      summary: Retrieve Customer Consents
      description: 'Retrieve the list of all available Open Banking consents granted by the customer.


        > 📘 Note:

        >

        > For more information about Consents, please refer to our guide.'
      operationId: open_banking_connections_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/ConsentStatus'
      responses:
        '200':
          description: The list of consents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOBConsentsResponse'
              examples:
                withSecret:
                  summary: Request With Secret
                  description: A retrive consents request including the customer secret
                  value:
                    operation_id: open_banking_connections_get
                    data:
                    - id: 1ceb1d81-a80e-4825-a7c0-4d69424c9874
                      customer_id: 8e826e72-5cab-4426-897f-5317992a95f0
                      provider: Natwest_Sandbox
                      transaction_from_date: '2020-03-23T14:46:32Z'
                      expiration_date: '2021-06-21T14:46:33Z'
                      created_at: '2021-03-23T14:46:33Z'
                      last_consented_on: '2021-03-23T14:47:01Z'
                      status: authorised
                      resources:
                      - accounts
                      - balances
                      - transactions
                      permissions:
                      - ReadAccounts
                      - ReadBalances
                      - ReadTransactions
                      raw_version: v1.1
                      raw_format: obie
                      raw:
                        ConsentId: 87ccf4c3-62b1-49c1-9a49-26919f954deb
                        TransactionFromDateTime: null
                        StatusUpdateDateTime: null
                        Status: AwaitingAuthorisation
                        Permissions:
                        - ReadAccountsDetail
                        - ReadBalances
                        - ReadTransactionsDetail
                        - ReadTransactionsDebits
                        - ReadTransactionsCredits
                      account_ids:
                      - aa86f72c-476a-3355-b54c-614a815fae40
                      last_synced_at: '2021-06-15T11:01:30.07Z'
                    - id: a080272e-c449-4a75-861a-9feb53075946
                      customer_id: 8e826e72-5cab-4426-897f-5317992a95f0
                      provider: Amex
                      transaction_from_date: '2020-04-24T15:46:32Z'
                      transaction_to_date: '0001-01-01T00:00:00Z'
                      expiration_date: '2021-07-21T14:46:33Z'
                      created_at: '2021-04-24T15:42:13Z'
                      last_consented_on: '2021-04-24T15:42:13Z'
                      status: authorised
                      resources:
                      - accounts
                      - balances
                      - transactions
                      permissions:
                      - ReadAccounts
                      - ReadBalances
                      - ReadTransactions
                      raw_version: v1.1
                      raw_format: amex
                      raw: null
                      account_ids:
                      - bb98k51y-564t-8560-c99d-232b977gef68
                      last_synced_at: '2021-06-16T09:13:41.32Z'
                    metadata:
                      results: 2
                withoutSecret:
                  summary: Request Without Secret
                  description: A retrieve consents request without the customer secret
                  value:
                    operation_id: open_banking_connections_get
                    data:
                    - id: 1ceb1d81-a80e-4825-a7c0-4d69424c9874
                      customer_id: 8e826e72-5cab-4426-897f-5317992a95f0
                      provider: Natwest_Sandbox
                      transaction_from_date: '2020-03-23T14:46:32Z'
                      expiration_date: '2021-06-21T14:46:33Z'
                      created_at: '2021-03-23T14:46:33Z'
                      last_consented_on: '2021-03-23T14:47:01Z'
                      status: authorised
                      resources:
                      - accounts
                      - balances
                      - transactions
                      permissions:
                      - ReadAccounts
                      - ReadBalances
                      - ReadTransactions
                      raw_version: v1.1
                      raw_format: obie
                      raw:
                        ConsentId: 87ccf4c3-62b1-49c1-9a49-26919f954deb
                        TransactionFromDateTime: null
                        StatusUpdateDateTime: null
                        Status: AwaitingAuthorisation
                        Permissions:
                        - ReadAccountsDetail
                        - ReadBalances
                        - ReadTransactionsDetail
                        - ReadTransactionsDebits
                        - ReadTransactionsCredits
                      last_synced_at: '2021-06-15T11:01:30.07Z'
                    - id: a080272e-c449-4a75-861a-9feb53075946
                      customer_id: 8e826e72-5cab-4426-897f-5317992a95f0
                      provider: Amex
                      transaction_from_date: '2020-04-24T15:46:32Z'
                      transaction_to_date: '0001-01-01T00:00:00Z'
                      expiration_date: '2021-07-21T14:46:33Z'
                      created_at: '2021-04-24T15:42:13Z'
                      last_consented_on: '2021-04-24T15:42:13Z'
                      status: authorised
                      resources:
                      - accounts
                      - balances
                      - transactions
                      permissions:
                      - ReadAccounts
                      - ReadBalances
                      - ReadTransactions
                      raw_version: v1.1
                      raw_format: amex
                      raw: null
                      last_synced_at: '2021-06-16T09:13:41.32Z'
                    metadata:
                      results: 2
        '400':
          description: Bad Request that fails validations on headers
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        5XX:
          description: An unexpected error occurred on the server side
  /v1/open-banking/account-access-consent/revoke:
    post:
      tags:
      - Manage a Connection
      summary: Initiate Revoke Consent
      description: 'Start a task to remove consent and remove Bud’s ability to download further information for a specified customer account.


        This will revoke `all` the consents for the specified provider associated to the customer.


        To check the status of this task, use the `Retrieve Revoke Consent Status` using the returned `task_id`.


        Alternatively, there is a `Open Banking Consent Revoked` webhook that will trigger per consent successfully revoked. As such this task could generate multiple of these.'
      operationId: open_banking_account_access_consent_revoke_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeAccountAccessIntentRequest'
            example:
              provider: Barclays
      responses:
        '202':
          description: The request has been accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeTaskCreatedResponse'
              example:
                operation_id: open_banking_revoke_post
                data:
                  provider: Monzo
                  task_id: 1ceb1d81-a80e-4825-a7c0-4d69424c9874
                metadata:
                  status: Pending
                  next_url: /v1/open-banking/account-access-consent/revoke/1ceb1d81-a80e-4825-a7c0-4d69424c9874
                  next_url_delay: 50
        '400':
          description: Bad Request that fails validations on headers & payload
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        5XX:
          description: An unexpected error occurred on the server side
      callbacks:
        ConsentRevokedCallBack:
          '{$request.body#/redirect_url}':
            description: 'This callback is sent to your configured Open Banking Consent Revoked webhook URL when a consent is moved to a revoked status

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Consent Revoked Notification Callback
              requestBody:
                required: true
                description: This callback is sent to your configured `Open Banking Consent Revoked` webhook URL when a consent has moved to a revoked status
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OBConsentWebhookBody'
                    example:
                      data:
                        event: open_banking.consent.revoked
                        consent_id: 03af1639-78a6-402d-809b-902a0b00a77d
                        customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                        provider: Monzo
                        updated_at: '2023-10-02T14:05:55Z'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
  /v1/open-banking/account-access-consent/revoke/{task_id}:
    get:
      tags:
      - Manage a Connection
      summary: Retrieve Revoke Consent Status
      description: 'Check the status and result of a Revoke Consent task.


        Use the `task_id` taken from a successful `Initiate Revoke Consent` request.'
      operationId: open_banking_account_access_consent_revoke_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeAccountAccessIntentTastStatusResponse'
              examples:
                completed:
                  summary: Completed
                  value:
                    operation_id: open_banking_revoke_task_get
                    data:
                      task_id: 1ceb1d81-a80e-4825-a7c0-4d69424c9874
                      provider: Natwest
                      status: Completed
                      result: success
                    metadata:
                      status: Completed
                pending:
                  summary: Pending
                  value:
                    operation_id: open_banking_revoke_task_get
                    data:
                      task_id: 1ceb1d81-a80e-4825-a7c0-4d69424c9874
                      provider: Natwest
                      status: Pending
                    metadata:
                      status: Pending
                      next_url: /v1/open-banking/account-access-consent/revoke/1ceb1d81-a80e-4825-a7c0-4d69424c9874
                      next_url_delay: 50
                failed:
                  summary: Failed
                  value:
                    operation_id: open_banking_revoke_task_get
                    data:
                      task_id: 1ceb1d81-a80e-4825-a7c0-4d69424c9874
                      provider: Natwest
                      status: Failed
                    metadata:
                      status: Failed
        '400':
          description: Bad Request that fails validations on headers & payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeAccountAccessIntentTaskStatusValidationError'
              examples:
                missing_customer_header:
                  summary: Missing X-Customer-Id header
                  value:
                    operation_id: open_banking_revoke_task_get
                    code_id: failed_validation
                    message: invalid request
                    errors:
                      customer-id: This value should not be blank
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        5XX:
          description: An unexpected error occurred on the server side
  /v1/open-banking/account-access-consents/{consent_id}/reconfirm:
    post:
      tags:
      - Manage a Connection
      summary: Reconfirm Consent
      description: 'Reconfirm a customer''s consent to extend the expiration date by 90 days. If the provider requires SCA authentication or the consent status is not showing "Authorised" or the consent is expired, the `reconnect_required` flag will show as true.

        If true, you should make a call to the Retrieve Authoirsation Gateway URL endpoint with the `reconfirm_consent` flag set to true to direct your customer to the reconfirm consent journey.

        If false, the consent has been extended.


        > 📘 Note:

        >

        > This endpoint should only be used by TSP clients (Technical Service Provider).

        >

        > Requests to this endpoint from TPP clients (Third Party Provider) will fail, i.e. you are not yourself regulated as an PISP (Payment Initiation Service Provider).

        >

        >

        > For more information about Consents, please refer to our guide.'
      operationId: open_banking_consents_reconfirm_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/CustomerIPAddress'
      - $ref: '#/components/parameters/ConsentId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReconfirmConsentResponse'
              examples:
                no_reconnect:
                  summary: Reconnect not required
                  value:
                    operation_id: open_banking_consents_reconfirm_post
                    data:
                      provider_id: Barclays
                      reconnect_required: false
                reconnect:
                  summary: Reconnect required
                  value:
                    operation_id: open_banking_consents_reconfirm_post
                    data:
                      provider_id: Barclays
                      reconnect_required: true
        '400':
          description: Bad Request that fails validations on headers & payload
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        '404':
          description: Consent not found
        5XX:
          description: An unexpected error occurred on the server side
      callbacks:
        ConsentReconfirmedCallBack:
          '{$request.body#/redirect_url}':
            description: 'This callback is sent to your configured Open Banking Consent Reconfirmed webhook URL when a consent is successfully reconfirmed

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Consent Reconfirmed Notification Callback
              requestBody:
                required: true
                description: This callback is sent to your configured `Open Banking Consent Reconfirmed` webhook URL when a consent has been successfully reconfirmed
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OBConsentWebhookBody'
                    example:
                      data:
                        event: open_banking.consent.reconfirmed
                        consent_id: 03af1639-78a6-402d-809b-902a0b00a77d
                        customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                        provider: Monzo
                        updated_at: '2023-10-02T14:05:55Z'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
components:
  schemas:
    TaskStatusCaps:
      title: The Task Status
      type: string
      description: The general status of a task
      enum:
      - Pending
      - Completed
      - Failed
    TaskView:
      title: Task View
      description: A task view.
      type: object
      properties:
        task_id:
          $ref: '#/components/schemas/TaskId'
        provider:
          type: string
          description: The provider (ASPSP) associated with this task
        result:
          $ref: '#/components/schemas/ConnectResultCodes'
        status:
          $ref: '#/components/schemas/TaskStatusCaps'
        reconnect_required:
          $ref: '#/components/schemas/ReconnectRequired'
        step:
          type: number
          description: The step that this task is currently where 4 = Completed.
          enum:
          - 1
          - 2
          - 3
          - 4
        text:
          type: string
          description: A description of the step this task is currently at. In order from step 1 to step 4.
          enum:
          - Fetching access token
          - Fetching accounts
          - Fetching balances and transactions
          - Completed
    RevokeAccountAccessIntentRequest:
      title: Revoke Account Access Intent Payload
      type: object
      required:
      - provider
      properties:
        provider:
          type: string
          description: The name of the provider (ASPSP) the Customer is requesting to have their consent revoked for
    ReconnectRequired:
      type: boolean
      description: Indicator as to whether the account needs to be connected again, through SCA authentication.
    BadRequestResponse:
      title: Bad Request Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - code_id
      - message
      - errors
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          description: A descriptive enough string that is linked to the reason for the error.
        message:
          type: string
        errors:
          anyOf:
          - $ref: '#/components/schemas/Error'
          - $ref: '#/components/schemas/Errors'
    TaskCreatedView:
      title: Task Created View
      description: Standard successful task created response.
      type: object
      required:
      - task_id
      - provider
      properties:
        task_id:
          $ref: '#/components/schemas/TaskId'
        provider:
          type: string
          description: The provider (ASPSP) associated with this task
    ResultsMetadata:
      title: Results Metadata Object
      type: object
      description: Metadata associated with the response schema
      properties:
        results:
          type: number
          description: The number of results returned
    OpenBankingRefreshRequest:
      title: Open Banking Refresh Payload
      type: object
      description: Expected request payload structure
      required:
      - provider
      properties:
        provider:
          type: string
          description: The name of the provider the task is trying to connect to
        from:
          type: string
          description: 'The datetime (ISO 8601) that defines the time since when the Customer''s data needs to be collected.

            Defaults to the datetime of the last pull of transactions less seven days to account for any potential changes to the most recent set of transactions.

            Refreshes can only go back to a maximum of 90 days from the current date.

            '
        to:
          type: string
          description: 'The datetime (ISO 8601) that defines the time up to which the Customer''s data needs to be collected. Defaults to the current datetime.

            Refreshes can only go back to a maximum of 90 days from the current date.

            '
    Error:
      title: Error Object
      type:
      - object
      - 'null'
      description: Contains a field specific error message
      additionalProperties:
        type: string
    ConsentReconfirmation:
      title: Consent Reconfirmation Outcome
      type: object
      description: Result of performing a reconfirmation of consent task
      required:
      - provider_id
      - reconnect_required
      properties:
        provider_id:
          type: string
          description: The provider that the reconfirmation of consent was performed against
        reconnect_required:
          $ref: '#/components/schemas/ReconnectRequired'
    RevokeAccountAccessIntentTaskStatusValidationError:
      title: Revoke Account Access Intent Status Validation Error
      type: object
      required:
      - operation_id
      - code_id
      - message
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          enum:
          - failed_validation
        message:
          type: string
          enum:
          - invalid request
        errors:
          type: object
          description: Extra information on the validation errors
    TaskV2View:
      title: Task V2 View
      description: A task view.
      type: object
      properties:
        task_id:
          $ref: '#/components/schemas/TaskId'
        result:
          $ref: '#/components/schemas/ConnectResultCodes'
        status:
          $ref: '#/components/schemas/TaskStatusCaps'
        has_new_transactions:
          $ref: '#/components/schemas/HasNewTransactions'
        sub_tasks:
          type: array
          items:
            $ref: '#/components/schemas/SubTaskV2View'
    Errors:
      title: Array of Error Object
      description: Contains a list of error messages
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    OBConsentWebhookBody:
      title: OB Consent Webhook Payload
      type: object
      description: 'The payload sent to the client defined webhook (via the console) when an event occurs to a Open Banking Consent.

        '
      required:
      - data
      properties:
        data:
          description: Consent Event Data
          required:
          - event
          - consent_id
          - customer_id
          - provider
          - updated_at
          properties:
            event:
              description: The event this webhook relates too
              type: string
              enum:
              - open_banking.consent.reconfirmed
              - open_banking.consent.reauthorised
              - open_banking.consent.revoked
              example: open_banking.consent.reconfirmed
            consent_id:
              type: string
              description: The consent this event relates too
              example: ab32780a-3d60-4d4d-984f-11ea3ef329cd
            customer_id:
              description: The customer the consent is associated with
              type: string
              example: 19677d9f-90e7-44a6-a32e-566990623da4
            provider:
              description: The provider the consent is associated with
              type: string
              example: Monzo
            updated_at:
              description: The date time that the event occurred
              type: string
              format: date-time
              example: '2023-10-02T14:05:55Z'
            reason:
              type: string
              description: 'For the open_banking.consent.revoked event. The reason that the consent was marked as revoked.

                '
              enum:
              - provider_revoked
              - bud_revoked
              - single_use
              - duplicate_accounts
              - access_token_error
              - consent_invalid
    OpenBankingRefreshResponse:
      title: Refresh Task Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/TaskView'
        metadata:
          type: object
          description: Refresh Response Metadata
          properties:
            has_new_transactions:
              $ref: '#/components/schemas/HasNewTransactions'
            status:
              $ref: '#/components/schemas/TaskStatusCaps'
            next_url:
              description: The URL to call to obtain the results of the task
              type: string
            next_url_delay:
              description: Recommended delay in milliseconds before next call
              type: integer
    TaskCreatedResponseOB:
      title: Task Created Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/TaskCreatedView'
        metadata:
          $ref: '#/components/schemas/AsyncTaskMetadata'
    TaskType:
      type: string
      enum:
      - connect
      - refresh
      - revoke
      - consent-refresh
      description: The type of task that completed
    RevokeAccountAccessIntentTastStatusResponse:
      title: Revoke Account Access Intent Response
      type: object
      description: Expected response from a get status request for a revoke account access intent call
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: object
          title: Revoke Task Data
          required:
          - task_id
          - provider
          - status
          properties:
            task_id:
              $ref: '#/components/schemas/TaskId'
            provider:
              type: string
              description: The provider (ASPSP) associated with this task
            status:
              type: string
              description: The status of the job associated with the specified task id
              enum:
              - Completed
              - Pending
              - Failed
            result:
              type: string
              description: The result of the operation.
        metadata:
          type: object
          title: Revoke Task Metadata
          required:
          - status
          properties:
            status:
              type: string
              description: The status of the job associated with the specified task id
              enum:
              - Completed
              - Pending
              - Failed
            next_url:
              type: string
              description: The url to try next if the `status` property returned is `Pending`
            next_url_delay:
              type: number
              description: The time in milliseconds that the client should wait before polling again, if the `status` property returned is `Pending`
    OBRefreshWebhookBody:
      title: OB Webhook Payload
      type: object
      description: 'The payload sent to the client defined webhook (via the console) when an Open Banking (connect or refresh) task completes.

        '
      required:
      - data
      properties:
        data:
          description: Open Banking Task Event Data
          required:
          - task_type
          - customer_id
          - task_id
          - status
          - result
          properties:
            task_id:
              description: The task identifier that the event relates to
              type: string
              example: e145c656-4a90-45db-a025-af7765482c8c
            status:
              type: string
              description: The general status of a task
              enum:
              - Completed
              - Failed
            task_type:
              type: string
              enum:
              - connect
              - refresh
              description: The type of task that completed
            customer_id:
              description: The customer the event relates to
              type: string
              example: 19677d9f-90e7-44a6-a32e-566990623da4
            result:
              $ref: '#/components/schemas/ConnectResultCodes'
            has_new_transactions:
              type: string
              enum:
              - 'true'
              - 'false'
              description: 'To describe whether new transactions have been pulled from the relevant ASPSP during the refresh. Note that if this field is set to `false` then there is no need to make a request to any other downstream endpoints to collect the data related to that customer.

                '
            reconnect_required:
              type: string
              enum:
              - 'true'
              - 'false'
              description: If true, the customer must re-connect to the specified provider
            provider:
              type: string
              description: Name of the provider (banking institution) the task interacted with
            consent_id:
              type: string
              description: The consent identifier that the event relates to
    SubTaskV2View:
      title: SubTask V2 View
      description: A task view.
      type: object
      properties:
        task_id:
          $ref: '#/components/schemas/TaskId'
        provider:
          type: string
          description: The provider (ASPSP) associated with this task
        result:
          $ref: '#/components/schemas/ConnectResultCodes'
        status:
          $ref: '#/components/schemas/TaskStatusCaps'
        reconnect_required:
          $ref: '#/components/schemas/ReconnectRequired'
        has_new_transactions:
          $ref: '#/components/schemas/HasNewTransactions'
    ConnectResultCodes:
      type: string
      description: The result of the operation. Either success or various error codes.
      enum:
      - success
      - auth_denied
      - auth_expired
      - auth_used
      - awaiting_authorisation
      - connection_expired
      - connection_not_found
      - connection_permission
      - connection_reauthenticate
      - connection_revoked
      - connection_status
      - consent_not_found
      - extension_not_permitted
      - failed_body_decode
      - failed_validation
      - internal_auth_error
      - internal_error
      - internal_timeout
      - internal_transient_error
      - provider_unauthorised
      - provider_unavailable
      - provider_endpoint_deprecated
      - provider_endpoint_unimplemented
      - provider_endpoint_unsupported
      - provider_failure
      - provider_maintenance
      - provider_marked_account_invalid
      - provider_not_found
      - provider_request_limit
      - provider_timeout
      - resource_not_found
      - task_not_found
    TaskV2CreatedView:
      title: Refresh V2 Task Created View
      description: Standard successful task created response.
      type: object
      required:
      - task_id
      - sub_tasks
      properties:
        task_id:
          $ref: '#/components/schemas/TaskId'
        sub_tasks:
          type: array
          items:
            $ref: '#/components/schemas/TaskCreatedView'
    TaskId:
      title: Task Id
      type: string
      description: Bud Task identifier returned from an async task for the requested action
    OperationId:
      title: Operation Id Field
      type: string
      description: A unique identifier/reference associated with a given endpoint/operation
    OBV2WebhookBody:
      title: OB V2 Webhook Payload
      type: object
      description: 'The payload sent to the client defined webhook (via the console) when an Open Banking refresh V2 task completes.

        '
      required:
      - customer_id
      - event
      - has_new_transactions
      - task_id
      - result
      - status
      properties:
        customer_id:
          description: The customer the event relates to
          type: string
          example: 19677d9f-90e7-44a6-a32e-566990623da4
        event:
          type: string
          description: The task type for the event.
        has_new_transactions:
          $ref: '#/components/schemas/HasNewTransactions'
        task_id:
          description: The task identifier that the event relates to
          type: string
          example: e145c656-4a90-45db-a025-af7765482c8c
        result:
          $ref: '#/components/schemas/ConnectResultCodes'
        status:
          type: string
          description: The general status of a task
          enum:
          - Completed
          - Failed
        start_time:
          type: string
          description: Start timestamp for the task this event relates to
        refresh_window:
          type: object
          description: The boundaries of the refresh task as requested from the provider. If transactions were returned from the provider
          properties:
            from:
              type: string
              description: The from timestamp requested with the provider
            to:
              type: string
              description: The to timestamp requested with the provider
        sub_tasks:
          description: An array of details about each individual refresh subtask
          type: array
          items:
            $ref: '#/components/schemas/RefreshSubtaskWebhookTask'
    ReconfirmConsentResponse:
      title: Reconfirm Consent Response
      type: object
      description: Expected response payload structure
      required:
      - operation_id
      - data
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/ConsentReconfirmation'
    TaskCreatedMetadata:
      type: object
      description: Created task metadata response
      required:
      - status
      - next_url
      - next_url_delay
      properties:
        status:
          type: string
          description: The status of the job associated with the specified task id
          enum:
          - Pending
        next_url:
          type: string
          description: The url to get the status of the task
        next_url_delay:
          type: number
          description: The time in milliseconds that the client should wait before polling the relevant GET status endpoint
    ProviderOBV2WebhookBody:
      title: OB V2 Webhook Payload
      type: object
      description: 'The payload sent to the client defined webhook (via the console) when an Open Banking refresh V2 task completes.

        '
      required:
      - event
      - task_id
      - status
      - result
      - reconnect_required
      - provider
      - has_new_transactions
      - customer_id
      properties:
        account_ids:
          description: An array listing all account ids that were updated as part of this task
          type: array
          items:
            type: string
        consent_ids:
          description: An array listing all consents that were updated as part of this task
          type: array
          items:
            type: string
        customer_id:
          description: The customer the event relates to
          type: string
          example: 19677d9f-90e7-44a6-a32e-566990623da4
        has_new_transactions:
          $ref: '#/components/schemas/HasNewTransactions'
        provider:
          type: string
          description: Name of the provider (banking institution)
        reconnect_required:
          $ref: '#/components/schemas/ReconnectRequired'
        result:
          $ref: '#/components/schemas/ConnectResultCodes'
        status:
          type: string
          description: The general status of a task
          enum:
          - Completed
          - Failed
        task_id:
          description: The task identifier that the event relates to
          type: string
          example: e145c656-4a90-45db-a025-af7765482c8c
        event:
          type: string
          description: The task type for the event.
        start_time:
          type: string
          description: Start timestamp for the task this event relates to
        refresh_window:
          type: object
          description: The boundaries of the refresh task as requested from the provider. If transactions were returned from the provider
          properties:
            from:
              type: string
              description: The from timestamp requested with the provider
            to:
              type: string
              description: The to timestamp requested with the provider
        consent_details:
          type: object
          description: Details of the consent used as part of this refresh task
          properties:
            id:
              type: string
              description: The id of the consent that was updated as part of this task
            expiration_date:
              type: string
              description: The expiration date of the consent
    RevokeTaskCreatedResponse:
      title: Revoke Task Created Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/TaskCreatedView'
        metadata:
          $ref: '#/components/schemas/TaskCreatedMetadata'
    OBResources:
      type: string
      enum:
      - accounts
      - balances
      - transactions
      - parties
      - direct-debits
    TaskCreatedV2ResponseOB:
      title: Refresh V2 Task Created Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/TaskV2CreatedView'
        metadata:
          $ref: '#/components/schemas/AsyncTaskMetadata'
    RefreshSubtaskWebhookTask:
      title: Details of an individual refresh Task
      type: object
      description: The payload detailing an individual refresh for a single provider
      required:
      - has_new_transactions
      - provider
      - reconnect_required
      - result
      - status
      - task_id
      properties:
        account_ids:
          description: An array listing all account ids that were updated as part of this task
          type: array
          items:
            type: string
        consent_ids:
          description: An array listing all consents that were updated as part of this task
          type: array
          items:
            type: string
        has_new_transactions:
          $ref: '#/components/schemas/HasNewTransactions'
        provider:
          type: string
          description: Name of the provider (banking institution)
        reconnect_required:
          $ref: '#/components/schemas/ReconnectRequired'
        result:
          $ref: '#/components/schemas/ConnectResultCodes'
        status:
          type: string
          description: The general status of a task
          enum:
          - Completed
          - Failed
        task_id:
          description: The task identifier that the event relates to
          type: string
          example: e145c656-4a90-45db-a025-af7765482c8c
        start_time:
          type: string
          description: Start timestamp for the task this event relates to
        refresh_window:
          type: object
          description: The boundaries of the refresh task as requested from the provider.  If transactions were returned from the provider
          properties:
            from:
              type: string
              description: The from timestamp requested with the provider
            to:
              type: string
              description: The to timestamp requested with the provider
        consent_details:
          type: object
          description: Details of the consent used as part of this refresh task
          properties:
            id:
              type: string
              description: The id of the consent that was updated as part of this task
            expiration_date:
              type: string
              description: The expiration date of the consent
    AsyncTaskMetadata:
      title: Async Task Metadata
      type: object
      description: Metadata associated with an asynchronous task
      properties:
        status:
          type: string
          description: The status of the job associated with the specified task id
          enum:
          - Completed
          - Pending
          - Failed
        next_url:
          type: string
          description: The URL to call to obtain the results of the task
        next_url_delay:
          type: number
          description: The time in milliseconds that the client should wait before polling the relevant GET endpoint with the above task id
    HasNewTransactions:
      type: boolean
      description: 'To describe whether new transactions have been pulled from the relevant

        ASPSP during the refresh. Note that if this field is set to `false` then

        there is no need to make a request to any other downstream endpoints to

        collect the data related to that customer.

        '
    OpenBankingRefreshV2Response:
      title: Refresh V2 Task Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/TaskV2View'
        metadata:
          type: object
          description: Refresh Response Metadata
          properties:
            status:
              $ref: '#/components/schemas/TaskStatusCaps'
            next_url:
              description: The URL to call to obtain the results of the task
              type: string
            next_url_delay:
              description: Recommended delay in milliseconds before next call
              type: integer
    GetOBConsentsResponseDataItem:
      title: Open Banking Consent
      type: object
      description: Schema to define a given Open Banking consent
      required:
      - id
      - customer_id
      - provider
      - transaction_from_date
      - expiration_date
      - created_at
      - last_consented_on
      - status
      - resources
      - permissions
      - raw_version
      - raw_format
      properties:
        id:
          type: string
          description: Open Banking consent unique identifier
        customer_id:
          type: string
          description: Bud customer unique identifier, owner of the consent
        provider:
          type: string
          description: Open Banking provider who the consent refers to
        transaction_from_date:
          type: string
          description: Date and time from when the transactions can be retrieved. ISODateTime.
        expiration_date:
          type: string
          description: Date and time when the consent will expired. ISODateTime.
        created_at:
          type: string
          description: Date and time when the consent was created. ISODateTime.
        last_consented_on:
          type: string
          description: Date and time when the consent was last consented on. ISODateTime.
        revoked_at:
          type: string
          description: 'Date and time when the consent was revoked. ISODateTime. This attribute in included in the response only if the status of the consent is `revoked`.

            When the consent is invalidated as part of a Bud refresh task, this date time represents the time when the consent was set to `revoked` by Bud during the refresh.

            '
        revoke_reason:
          type: string
          description: 'The reason that the consent was marked as revoked. This attribute in included in the response only if the status of the consent is `revoked`.

            '
          enum:
          - provider_revoked
          - bud_revoked
          - single_use
          - duplicate_accounts
          - access_token_error
          - consent_invalid
        status:
          type: string
          description: To describe the status of the consent. Note that the query parameter `status=all` must be provided to be shown consents that have a status of anything but `authorised`
          enum:
          - awaiting_authorisation
          - authorised
          - rejected
          - revoked
        resources:
          type: array
          description: List of resources this consent has access too
          items:
            $ref: '#/components/schemas/OBResources'
        permissions:
          type: array
          description: Specifies the Open Banking account access data types. This is a list of the data clusters being consented by the PSU, and requested for authorisation with the ASPSP.
          items:
            type: string
            enum:
            - ReadAccounts
            - ReadBalances
            - ReadDirectDebits
            - ReadParties
            - ReadTransactions
        raw_version:
          type: string
          description: Version of the raw format of the consent
        raw_format:
          type: string
          description: The format of the consent returned in the raw attribute
          enum:
          - obie
          - amex
          - starling
        raw:
          $ref: '#/components/schemas/RawOBConsents'
        account_ids:
          type: array
          description: A list of the different account identifiers that are associated with this particular consent object.
          items:
            type: string
        last_synced_at:
          type: string
          description: The date at which the last data refresh (sync) occured for this consent object. For revoked consents this will be the time that the conesnt was revoked.
    OBSyncWebhookBody:
      title: OB Synchronisation Webhook Payload
      type: object
      description: 'The payload sent to the client defined webhook (via the console) when an Open Banking Synchronisation (connect or refresh) task completes.

        '
      required:
      - data
      properties:
        operation_id:
          deprecated: true
          type: string
          enum:
          - connect
          - refresh
          description: Use data.task_type instead
        data:
          description: Data Segments being loaded
          required:
          - task_type
          - customer_id
          - task_id
          - status
          properties:
            task_id:
              description: The task identifier that the event relates to
              type: string
              example: e145c656-4a90-45db-a025-af7765482c8c
            status:
              description: The completion status of the task
              type: string
              enum:
              - Completed
              - Failed
            task_type:
              $ref: '#/components/schemas/TaskType'
            customer_id:
              description: The customer the event relates to
              type: string
              example: 19677d9f-90e7-44a6-a32e-566990623da4
            has_new_transactions:
              type: string
              enum:
              - 'true'
              - 'false'
              description: 'To describe whether new transactions have been pulled from the relevant ASPSP during the refresh. Note that if this field is set to `false` then there is no need to make a request to any other downstream endpoints to collect the data related to that customer.

                '
            reconnect_required:
              type: string
              enum:
              - 'true'
              - 'false'
              description: If true, the customer must re-connect to the specified provider
            provider:
              type: string
              description: Name of the provider (banking institution) the task interacted with
            consent_id:
              type: string
              description: The consent identifier that the event relates to
    RawOBConsents:
      title: Raw OB Consent
      type:
      - object
      - 'null'
      description: The raw consent as returned by the provider
      properties:
        ConsentId:
          type: string
          description: Open Banking consent unique identifier
        CreationDateTime:
          type: string
          format: ISO8601
          description: Date and time at which the resource was created.
        Permissions:
          type: array
          description: Specifies the Open Banking account access data types that tied to the consent
          items:
            type: string
            enum:
            - ReadAccountsBasic
            - ReadAccountsDetail
            - ReadBalances
            - ReadDirectDebits
            - ReadParty
            - ReadPartyPSU
            - ReadTransactionsBasic
            - ReadTransactionsCredits
            - ReadTransactionsDebits
            - ReadTransactionsDetail
        Status:
          type: string
          description: Specifies the status of consent resource.
          enum:
          - Authorised
          - AwaitingAuthorisation
          - Rejected
          - Revoked
        StatusUpdateDateTime:
          type:
          - string
          - 'null'
          format: ISO8601
          description: Date and time at which the resource status was updated.
        TransactionFromDateTime:
          type:
          - string
          - 'null'
          format: ISO8601
          description: Specified start date and time for the transaction query period.
    GetOBConsentsResponse:
      title: Available Open Banking Consents
      type: object
      required:
      - operation_id
      - data
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: array
          description: List of available consents
          items:
            $ref: '#/components/schemas/GetOBConsentsResponseDataItem'
        metadata:
          $ref: '#/components/schemas/ResultsMetadata'
    OpenBankingRefreshRequestV2:
      title: Open Banking Refresh V2 Payload
      type: object
      description: Expected request payload structure
      properties:
        providers:
          type: array
          description: Optional parameter defining the name of the providers that a refresh should be completed for. If this is not specified a refresh is completed for all providers that a customer has an authorised consent with.
          items:
            type: string
        from:
          type: string
          description: "The datetime (ISO 8601) that defines the time since when the Customer's data needs to be collected. \nDefaults to the datetime of the last pull of transactions less seven days to account for any potential changes to the most recent set of transactions. \nRefreshes can only go back to a maximum of 90 days from the current date.\n"
        to:
          type: string
          description: "The datetime (ISO 8601) that defines the time up to which the Customer's data needs to be collected. Defaults to the current datetime. \n"
        resources:
          type: array
          description: Optional list of resources that should be refreshed. Default behaviour is to refresh all resources defined on the customers consent
          items:
            $ref: '#/components/schemas/OBResources'
  parameters:
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    SigningIdHeaderParameter:
      in: header
      name: X-Signing-ID
      description: The public key ID which should be used to verify the X-Signature header. Bud's list of public keys can be found at https://assets.thisisbud.com/bud-callback.jwks
      required: true
      schema:
        type: string
    TaskId:
      in: path
      name: task_id
      schema:
        type: string
        format: uuid
      required: true
      description: Bud Task identifier returned from an async task for the requested action
    ConsentStatus:
      in: query
      name: status
      schema:
        type: string
        enum:
        - all
        - active
        - reconfirm_due
      required: false
      description: By default this endpoint only returns `active` Authorised connections. To retrieve `all` consents, add this query param with the value of `all`. To retrieve consents where reconfirmation is required add this query param with the value of `reconfirm_due`.
    ConsentId:
      in: path
      name: consent_id
      schema:
        type: string
      required: true
      description: Bud Consent identifier
    CustomerSecret:
      in: header
      name: X-Customer-Secret
      schema:
        type: string
      required: false
      description: The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud.
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
    SignatureHeaderParameter:
      in: header
      name: X-Signature
      description: The signed request body JWT
      required: true
      schema:
        type: string
    CustomerIPAddress:
      in: header
      name: X-Customer-Ip-Address
      schema:
        type: string
      required: false
      description: The Bud Customer IP Address is used for logging customer presence. This is optional and is only required for Agent of Bud clients.
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
