openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Enrichment Totals API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Enrichment Totals
  x-displayName: Enrichment Totals
  description: Breakdown your customer's income and expenditure based on Bud's enrichments to help orientate their financial world.
paths:
  /aggregations/v2/totals/categories:
    get:
      tags:
      - Enrichment Totals
      summary: Retrieve Category Totals V2
      description: 'Provides a customer’s total income and expenditure for each l1 and l2 category, over a given time period.

        L1 and l2 categories can be filtered using the category query parameter.

        Example:

        - ''shopping''

        - ''shopping.groceries''


        Each income and expenditure total is separated by currency, as we cannot sum totals in different currencies.'
      operationId: v2_category_totals_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/CategoryTotalsQueryFromTimestamp'
      - $ref: '#/components/parameters/CategoryTotalsQueryToTimestamp'
      - $ref: '#/components/parameters/QueryBudCategory'
      - $ref: '#/components/parameters/QueryExcludeBudCategory'
      - $ref: '#/components/parameters/QueryCurrency'
      - $ref: '#/components/parameters/QueryAccountID'
      - in: query
        name: include_l2
        schema:
          type: boolean
        example: true
        description: Whether to include the L2 categories in result. Defaults to false.
      - $ref: '#/components/parameters/CategoryTotalsQueryCategoryFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesTotalV2Response'
              example:
                operation_id: v2_category_totals_get
                data:
                - name: shopping
                  credit_total:
                  - amount:
                      value: '357.90'
                      currency: GBP
                    transaction_count: 1
                  debit_total:
                  - amount:
                      value: '397.80'
                      currency: GBP
                    transaction_count: 2
                  l2_totals:
                  - name: clothing
                    credit_total:
                    - amount:
                        value: '357.90'
                        currency: GBP
                      transaction_count: 1
                    debit_total:
                    - amount:
                        value: '397.80'
                        currency: GBP
                      transaction_count: 2
                metadata:
                  from: '2023-05-21T07:20:50.52Z'
                  to: '2023-06-21T07:20:50.52Z'
                  credit_total:
                  - amount:
                      value: '357.90'
                      currency: GBP
                    transaction_count: 1
                  debit_total:
                  - amount:
                      value: '397.80'
                      currency: GBP
                    transaction_count: 2
        '400':
          description: The request contains an invalid payload.
        '401':
          description: An unauthenticated request was received
        5XX:
          description: An unexpected error occurred on the server side
  /aggregations/v2/totals/categories/trends:
    get:
      tags:
      - Enrichment Totals
      summary: Retrieve Category Totals Trends
      description: 'Provides category totals for desired categories over a given time period of time with a given granularity.


        L1 and l2 categories can be filtered using the category query parameter.

        Example:

        - ''shopping''

        - ''shopping.groceries''

        Each income and expenditure total is separated by currency, as we cannot sum totals in different currencies.


        Can be used for producing graphs of category totals over time.'
      operationId: v2_category_totals_trends_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/CategoryTotalsQueryFromTimestamp'
      - $ref: '#/components/parameters/CategoryTotalsQueryToTimestamp'
      - $ref: '#/components/parameters/QueryAccountID'
      - $ref: '#/components/parameters/QueryCurrency'
      - $ref: '#/components/parameters/QueryBudCategory'
      - $ref: '#/components/parameters/QueryExcludeBudCategory'
      - in: query
        name: include_l2
        schema:
          type: boolean
        example: true
        description: Whether to include the L2 categories in result. Defaults to false.
      - in: query
        name: granularity
        schema:
          type: string
        example: monthly
        description: "Specifies in what interval the balance over time should be retrieved.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `daily`\n  - `weekly`\n  - `biweekly`\n  - `monthly`\n  - `quarterly`\n  - `six_monthly`\n  - `annually`\n\n  Defaults to `monthly`.\n"
      - $ref: '#/components/parameters/CategoryTotalsQueryCategoryFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesTotalTrendsV2Response'
              example:
                operation_id: v2_category_totals_get
                data:
                - from: '2023-05-21T07:20:50.52Z'
                  to: '2023-05-21T07:20:50.52Z'
                  data:
                  - name: shopping
                    credit_total:
                    - amount:
                        value: '357.90'
                        currency: GBP
                      transaction_count: 1
                    debit_total:
                    - amount:
                        value: '397.80'
                        currency: GBP
                      transaction_count: 2
                    l2_totals:
                    - name: clothing
                      credit_total:
                      - amount:
                          value: '357.90'
                          currency: GBP
                        transaction_count: 1
                      debit_total:
                      - amount:
                          value: '397.80'
                          currency: GBP
                        transaction_count: 2
        '400':
          description: The request contains an invalid payload.
        '401':
          description: An unauthenticated request was received
        5XX:
          description: An unexpected error occurred on the server side
  /aggregations/v2/totals/essential-statistics:
    get:
      tags:
      - Enrichment Totals
      summary: Retrieve Statistics For Essential Total Spend
      description: 'Provides a few useful statistics which allow you to quickly see a customers total essential and non essential spend.


        Will also allow you to see this spend as a percentage of overall spend.'
      operationId: aggregations_v2_totals_essential_statistics_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/CategoryTotalsQueryFromTimestamp'
      - $ref: '#/components/parameters/CategoryTotalsQueryToTimestamp'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EssentialSpendStatisticsResponse'
              example:
                operation_id: aggregations_v2_totals_essential_statistics_get
                data:
                  essential_spend:
                  - transaction_count: 4
                    amount:
                      currency: GBP
                      value: '538.69'
                  nonessential_spend:
                  - transaction_count: 2
                    amount:
                      currency: GBP
                      value: '143.00'
                  essential_percentage_overall_spend:
                  - percentage: 79.02272293857912
                    currency: GBP
                  nonessential_percentage_overall_spend:
                  - percentage: 20.977277061420878
                    currency: GBP
                metadata:
                  from: '2020-01-01T00:00:00Z'
                  to: '2025-01-01T00:00:00Z'
        '400':
          description: The request contains an invalid payload.
        '401':
          description: An unauthenticated request was received
        5XX:
          description: An unexpected error occurred on the server side
  /v2/merchants/totals:
    get:
      tags:
      - Enrichment Totals
      summary: Retrieve Merchant Totals V2
      description: Provides a customer’s total debit and credit amounts for each merchant.
      operationId: v2_merchants_totals_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - in: header
        name: X-From
        required: false
        schema:
          type: string
        example: '2022-02-28'
        description: 'The date from when results are to be retrieved in the format [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html).


          When ommited from the request, a default value of 30 days from before today''s date will be used.


          Example: `2022-02-28`

          '
      - in: header
        name: X-To
        required: false
        schema:
          type: string
        example: '2022-01-28'
        description: 'The date up to when results are to be retrieved in the format [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html).


          When ommited from the request, a default value of today''s date will be used.


          Example: `2022-01-28`

          '
      - $ref: '#/components/parameters/MerchantsTotalsIncludeCategories'
      - $ref: '#/components/parameters/MerchantsTotalsExcludeCategories'
      responses:
        '200':
          description: The request was successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTotalsResponseV2'
              example:
                operation_id: v2_merchants_totals_get
                data:
                - merchant:
                    id: tesco
                    logo: https://thisisbud.com/merchants/tesco.png
                    name: Tesco
                  total_debit:
                    value: '130.23'
                    currency: GBP
                  total_credit:
                    value: '12.21'
                    currency: GBP
                  transaction_count: 8
                  credit_transaction_count: 1
                  debit_transaction_count: 7
                - merchant:
                    id: waitrose
                    logo: https://thisisbud.com/merchants/waitrose.png
                    name: Waitrose
                  total_debit:
                    value: '240.23'
                    currency: GBP
                  total_credit:
                    value: '6.56'
                    currency: GBP
                  transaction_count: 10
                  credit_transaction_count: 1
                  debit_transaction_count: 9
                metadata:
                  from: '2018-01-01'
                  to: '2018-01-17'
                  credit_total:
                  - transaction_count: 2
                    amount:
                      currency: GBP
                      value: '18.77'
                  debit_total:
                  - transaction_count: 16
                    amount:
                      currency: GBP
                      value: '370.46'
                  results: 2
        '204':
          description: No transactions found
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: v2_merchants_totals_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  client_id: This value should not be blank
        '401':
          description: Unauthorised request
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
components:
  parameters:
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
    CustomerSecret:
      in: header
      name: X-Customer-Secret
      schema:
        type: string
      required: false
      description: The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud.
    MerchantsTotalsIncludeCategories:
      in: header
      name: X-Include-Categories
      schema:
        type: string
      example: shopping,entertainment
      description: Comma-separated list of transaction categories to include in the total
    QueryCurrency:
      in: query
      name: currency
      schema:
        type: string
      example: GBP
      description: Use this parameter to filter the results returned on the `currency` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `currency` will be returned.
    QueryAccountID:
      in: query
      name: account_id
      schema:
        type: string
      required: false
      description: The account ID to retrieve data for.
    QueryExcludeBudCategory:
      in: query
      name: exclude_category
      schema:
        type: string
      example: shopping
      description: "Use this parameter to filter the results on l1 categories to exclude.\nAccepts multiple values, or values separated by comma.\n\nTo specify l2 categories to exclude, use the following format: `l1.l2`.\n\nExamples:\n  - `shopping` - Filters the result set to exclude data where the l1 category is `shopping`.\n  - `shopping.groceries` - Filters the result set to only exclude data where the l1 category is `shopping` and the l2 category is `groceries`.\n"
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    CategoryTotalsQueryToTimestamp:
      in: query
      name: to
      schema:
        type: string
      example: '2023-06-21T07:20:50.52Z'
      description: "The date up to when results are to be retrieved in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nDefaults to today.\n\nExamples:\n  - `2023-03-17T17:29:51Z`\n  - `2023-03-17T17:29:51-08:00`\n"
    QueryBudCategory:
      in: query
      name: category
      schema:
        type: string
      example: shopping
      description: "Use this parameter to filter the results on l1 categories to include.\nAccepts multiple values, or values separated by comma.\n\nTo specify l2 categories to include, use the following format: `l1.l2`.\n\nExamples:\n  - `shopping` - Filters the result set to only include data where the l1 category is `shopping`.\n  - `shopping.groceries` - Filters the result set to only include data where the l1 category is `shopping` and the l2 category is `groceries`.\n"
    CategoryTotalsQueryCategoryFilter:
      in: query
      name: category_label
      schema:
        type: string
      example: essential
      description: 'Filters the categories included in the category totals to just those with the label(s) specified by this parameter.

        For the SOT on which categories have which filters see the Retrieve Categories endpoint.

        '
    CategoryTotalsQueryFromTimestamp:
      in: query
      name: from
      schema:
        type: string
      example: '2023-05-21T07:20:50.52Z'
      description: "The date from when results are to be retrieved in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nDefaults to 6 months ago.\n\nExamples:\n  - `2023-01-17T17:29:51Z`\n  - `2023-01-17T17:29:51-08:00`\n"
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    MerchantsTotalsExcludeCategories:
      in: header
      name: X-Exclude-Categories
      schema:
        type: string
      example: bills,finances
      description: Comma-separated list of transaction categories to exclude from the total
  schemas:
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    MerchantTotalsResponseV2:
      title: Merchant Totals
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: array
          items:
            $ref: '#/components/schemas/MerchantTotalV2'
        metadata:
          $ref: '#/components/schemas/MerchantTotalsMetadataV2'
    OperationId:
      title: Operation Id Field
      type: string
      description: A unique identifier/reference associated with a given endpoint/operation
    BadRequestResponse:
      title: Bad Request Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - code_id
      - message
      - errors
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          description: A descriptive enough string that is linked to the reason for the error.
        message:
          type: string
        errors:
          anyOf:
          - $ref: '#/components/schemas/Error'
          - $ref: '#/components/schemas/Errors'
    MerchantTotalsMetadataV2:
      allOf:
      - $ref: '#/components/schemas/TransactionsResultsMetadata'
      - type: object
        title: Metadata
        properties:
          categories_included:
            description: Categories included in total (from `X-Include-Categories`)
            type: array
            items:
              type: string
          categories_excluded:
            description: Categories excluded from total (from `X-Exclude-Categories`)
            type: array
            items:
              type: string
          credit_total:
            type: array
            description: The total credit amount over this period by currency
            items:
              $ref: '#/components/schemas/TotalAmountWithTrxCount'
          debit_total:
            type: array
            description: The total debit amount over this period by currency
            items:
              $ref: '#/components/schemas/TotalAmountWithTrxCount'
    Errors:
      title: Array of Error Object
      description: Contains a list of error messages
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    schemas-Merchant:
      title: Bud Merchant Object
      type: object
      description: Details regarding a merchant associated with a transaction
      required:
      - id
      - name
      - logo
      properties:
        id:
          type: string
          description: Identifier for the detected merchant
        name:
          type: string
          description: Display name for the detected merchant
        logo:
          type: string
          description: URL for logo of the detected merchant
    CategoriesTotalV2:
      type: object
      required:
      - name
      properties:
        credit_total:
          type: array
          items:
            $ref: '#/components/schemas/TotalAmountWithTrxCount'
        debit_total:
          type: array
          items:
            $ref: '#/components/schemas/TotalAmountWithTrxCount'
        name:
          type: string
          description: Category id as slug.
        l2_totals:
          type: array
          description: L2 category totals.
          items:
            $ref: '#/components/schemas/CategoriesTotalV2L2'
    CategoriesTotalV2Response:
      title: Categories Totals Response
      type: object
      description: ''
      required:
      - operation_id
      - data
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CategoriesTotalV2'
        metadata:
          type: object
          required:
          - from
          - to
          properties:
            from:
              type: string
              example: '2023-05-21T07:20:50.52Z'
              description: 'RFC3339 compliant date stamp indicating the beginning of the transaction window used in this calculation

                '
            to:
              type: string
              example: '2023-05-21T07:20:50.52Z'
              description: 'RFC3339 compliant date stamp indicating the end of the transaction window used in this calculation

                '
            credit_total:
              type: array
              items:
                $ref: '#/components/schemas/TotalAmountWithTrxCount'
              description: 'The total across credit transactions from all included categories

                '
            debit_total:
              type: array
              items:
                $ref: '#/components/schemas/TotalAmountWithTrxCount'
              description: 'The total across debit transactions from all included categories

                '
    MerchantTotalV2:
      type: object
      title: Merchant Total
      required:
      - merchant
      - total_debit
      - total_credit
      - transaction_count
      - credit_transaction_count
      - debit_transaction_count
      properties:
        merchant:
          $ref: '#/components/schemas/schemas-Merchant'
        total_debit:
          allOf:
          - title: Total Debit
            description: Total debit amount of all transactions identified with the named merchant
          - $ref: '#/components/schemas/BudAmount'
        total_credit:
          allOf:
          - title: Total Credit
            description: Total credit amount of all transactions identified with the named merchant
          - $ref: '#/components/schemas/BudAmount'
        transaction_count:
          type: number
          title: Transaction Count
          description: Total number of transactions identified with the named merchant
        credit_transaction_count:
          type: number
          title: Credit Transaction Count
          description: Total number of credit transactions identified with the named merchant
        debit_transaction_count:
          type: number
          title: Debit Transaction Count
          description: Total number of debit transactions identified with the named merchant
    Error:
      title: Error Object
      type:
      - object
      - 'null'
      description: Contains a field specific error message
      additionalProperties:
        type: string
    PercentageCurrency:
      type: object
      title: Percentage with relevant currency
      description: A percentage for the associated currency
      required:
      - percentage
      - currency
      properties:
        percentage:
          type: number
        currency:
          type: string
    CategoriesTotalTrendsV2Response:
      type: object
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: array
          items:
            type: object
            required:
            - data
            - to
            - from
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/CategoriesTotalV2'
              to:
                type: string
                example: '2023-05-21T07:20:50.52Z'
                description: RFC 3339 Compliant date stamp indicating the beginning of the transaction window used in this calculation
              from:
                type: string
                example: '2023-05-21T07:20:50.52Z'
                description: RFC 3339 Compliant date stamp indicating the end of the transaction window used in this calculation
    LegacyBudDateRangeMetadata:
      title: Metadata
      type: object
      required:
      - from
      - to
      properties:
        from:
          type: string
          description: 'The date from when results were retrieved in the format [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html).

            This is either populated with the default value used when retrieving the results, or the user specified parameter.


            Example: `2023-01-17`

            '
        to:
          type: string
          description: 'The date up to when results were retrieved in the format [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html).

            This is either populated with the default value used when retrieving the results, or the user specified parameter.


            Example: `2023-03-17`

            '
    EssentialSpendStatisticsResponse:
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          enum:
          - aggregations_v2_totals_essential_statistics_get
        data:
          type: object
          required:
          - essential_spend
          - nonessential_spend
          - essential_percentage_overall_spend
          - nonessential_percentage_overall_spend
          properties:
            essential_spend:
              type: array
              description: Sum of all debit transactions categorized with an essential labeled category by currency
              items:
                $ref: '#/components/schemas/TotalAmountWithTrxCount'
            nonessential_spend:
              description: Sum of all debit transactions categorized with an nonessential labeled category by currency
              type: array
              items:
                $ref: '#/components/schemas/TotalAmountWithTrxCount'
            essential_percentage_overall_spend:
              type: array
              description: essential percentage of essential + nonessential debit transactions by currency
              items:
                $ref: '#/components/schemas/PercentageCurrency'
            nonessential_percentage_overall_spend:
              type: array
              description: nonessential percentage of essential + nonessential debit transactions by currency
              items:
                $ref: '#/components/schemas/PercentageCurrency'
        metadata:
          type: object
          required:
          - from
          - to
          properties:
            from:
              type: string
              example: '2023-05-21T07:20:50.52Z'
              description: 'RFC3339 compliant date stamp indicating the beginning of the transaction window used in this calculation

                '
            to:
              type: string
              example: '2023-05-21T07:20:50.52Z'
              description: 'RFC3339 compliant date stamp indicating the end of the transaction window used in this calculation

                '
    TransactionsResultsMetadata:
      title: Metadata
      description: Metadata associated with the response schema
      allOf:
      - $ref: '#/components/schemas/LegacyBudDateRangeMetadata'
      - type: object
        required:
        - results
        properties:
          results:
            type: number
            description: Number of results returned
    TotalAmountWithTrxCount:
      type: object
      title: Amount with transaction count
      description: Amount of money in the cash transaction entry, including the number of transactions used in the calculation.
      required:
      - transaction_count
      - amount
      properties:
        amount:
          $ref: '#/components/schemas/BudAmount'
        transaction_count:
          type: integer
    CategoriesTotalV2L2:
      title: Categories Totals Response
      type: object
      required:
      - name
      properties:
        credit_total:
          type: array
          items:
            $ref: '#/components/schemas/TotalAmountWithTrxCount'
        debit_total:
          type: array
          items:
            $ref: '#/components/schemas/TotalAmountWithTrxCount'
        name:
          type: string
          description: Category id as slug.
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
