openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Spending Budgets API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Spending Budgets
  x-displayName: Spending Budgets
  description: Spending budgets management API.
paths:
  /goals/v1/spending-budgets:
    post:
      tags:
      - Spending Budgets
      summary: Create Spending Budget
      description: Create a spending budget.
      operationId: goals_v1_spending_budgets_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpendingBudgetRequest'
            example:
              name: Travel Budget
              amount:
                value: '300.00'
                currency: GBP
              recurrency:
                period: monthly
                starting_day: 1
              include:
                categories:
                - l1: travel
                merchants:
                  slugs:
                  - uber
      responses:
        '201':
          description: Created - The budget was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSpendingBudgetResponse'
              example:
                operation_id: goals_v1_spending_budgets_post
                data:
                  id: f46d76c4-56d3-11ee-ac69-d6df71eb5902
                  name: Travel Budget
                  amount:
                    value: '300.00'
                    currency: GBP
                  recurrency:
                    period: monthly
                    starting_day: 1
                  include:
                    categories:
                    - l1: travel
                    merchants:
                      slugs:
                      - uber
                  spent:
                    from: '2023-10-19'
                    to: '2023-10-31'
                    amount:
                      value: '160.59'
                      currency: GBP
                    ratio: '0.54'
                  created_at: '2023-10-03T09:20:30Z'
                  _links:
                    transactions: /goals/v1/spending-budgets/f46d76c4-56d3-11ee-ac69-d6df71eb5902/transactions
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized - The request was not authorised.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
        '500':
          description: Internal Server Error - An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
    get:
      tags:
      - Spending Budgets
      summary: Retrieve Spending Budgets
      description: 'Retrieve all spending budgets.


        Accounts IDs can be supplied as part of the URL query to return budgets with values filtered to the accounts IDs supplied. These budgets''

        spent amounts will only consider transactions associated with the specified accounts.

        If no account IDs are specified, the returned budgets will have a value combined from transactions across all of the customer''s accounts.'
      operationId: goals_v1_spending_budgets_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/QueryBudAccountID'
      - $ref: '#/components/parameters/QueryDay'
      responses:
        '200':
          description: OK - The spending budgets were retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveSpendingBudgetsResponse'
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized - The request was not authorised.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
        '500':
          description: Internal Server Error - An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
    delete:
      tags:
      - Spending Budgets
      summary: Delete all Spending Budgets
      description: Delete all of a customers' spending budgets.
      operationId: goals_v1_spending_budgets_delete_all
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      responses:
        '204':
          description: No Content - The budgets were removed successfully.
        '401':
          description: Unauthorized - The request was not authorised.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
        '404':
          description: Not Found - The customer has no budgets to be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
        '500':
          description: Internal Server Error - An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
  /goals/v1/spending-budgets/{budget_id}:
    patch:
      tags:
      - Spending Budgets
      summary: Patch a Spending Budget
      description: Update a Spending Budget with a given `budget_id`.
      operationId: goals_v1_spending_budgets_patch
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/PathSpendingBudgetID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchSpendingBudget'
      responses:
        '200':
          description: OK - The budget was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSpendingBudgetResponse'
              example:
                operation_id: goals_v1_spending_budgets_patch
                data:
                  id: f46d76c4-56d3-11ee-ac69-d6df71eb5902
                  name: Travel Budget
                  amount:
                    value: '300.00'
                    currency: GBP
                  recurrency:
                    period: monthly
                    starting_day: 1
                  include:
                    categories:
                    - l1: travel
                    merchants:
                      slugs:
                      - uber
                  spent:
                    from: '2023-10-19'
                    to: '2023-10-31'
                    amount:
                      value: '160.59'
                      currency: GBP
                    ratio: '0.54'
                  created_at: '2023-10-03T09:20:30Z'
                  _links:
                    transactions: /goals/v1/spending-budgets/f46d76c4-56d3-11ee-ac69-d6df71eb5902/transactions
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized - The request was not authorised.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
        '404':
          description: Not Found - The goal ID could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
        '500':
          description: Internal Server Error - An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
    delete:
      tags:
      - Spending Budgets
      summary: Delete a Spending Budget
      description: Delete a specific spending budget with the given `budget_id`
      operationId: goals_v1_spending_budgets_delete
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/PathSpendingBudgetID'
      responses:
        '204':
          description: No Content - The budget was removed successfully.
        '401':
          description: Unauthorized - The request was not authorised.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
        '404':
          description: Not Found - The budget could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
        '500':
          description: Internal Server Error - An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
  /goals/v1/spending-budgets/{budget_id}/transactions:
    get:
      tags:
      - Spending Budgets
      summary: Retrieve Spending Budget Transactions
      description: 'Retrieve all of the transactions associated with a spending budget. The results of this endpoint are paginated with a default page size of `100` and a maximum of `200`.

        The page size is configurable by the `page_size` query parameter.

        The next page of results can be retrieved using the `page_token` query parameter.


        Account IDs can be supplied as part of the URL query to filter transactions to those only associated with the specified accounts.

        If no account IDs are specified, we will return transactions associated with all of the customer''s accounts, relevant to the spending budget.'
      operationId: goals_v1_spending_budget_transactions_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/PathSpendingBudgetID'
      - $ref: '#/components/parameters/QueryDay'
      - $ref: '#/components/parameters/parameters-QueryBudPageToken'
      - $ref: '#/components/parameters/parameters-QueryBudPageSize'
      - $ref: '#/components/parameters/QueryBudAccountID'
      responses:
        '200':
          description: OK - The spending budget transactions were retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveSpendingBudgetTransactionsResponse'
              example:
                operation_id: goals_v1_spending_budget_transactions_get
                data:
                - transaction_id: fbdc28e82f0f137586a526a88ec4a6be
                  account_id: RxsYshVGded4JeilkXgWKdXA
                  provider: BankOfBud
                  description: uber taxi
                  credit_debit_indicator: debit
                  status: booked
                  amount:
                    value: '16.39'
                    currency: GBP
                  date_time: '2023-10-03T10:00:00Z'
                  enrichments:
                    categories:
                      l1:
                        slug: transport
                        confidence: '0.99'
                      l2:
                        slug: taxi
                        confidence: '0.99'
                    merchant:
                      id: 9f345fcb-d1ee-4e79-a23e-510fb8dbd61f
                      slug: uber
                      display_name: Uber
                      logo: https://url/uber_logo.jpeg
                  suggested_description: Uber
                metadata:
                  results: 1
                  page_token: b21055a9a9f46fc794a2e6855c65abd7e317181039fc6930daabac5822911d14a84895ecd947e2b5abdcb22e4fcc2c594e1f661dc63e34b9ba88760724047990896f7581a0786c2605dce19c6a9d80d1044f963b74fea0a929c0a4465a6e67378a74dce38ec5e26ae4cc804b62fd666d5df4cf2e7f524bd99e5523bc5d471768065c036dc0c73122705b280817fbbd7d9aa31f271d72cd3877d999dcb9a5b1c0be0c05
                  page_size: 100
                  budget_id: 19d1def3-5860-11ee-9342-3e1d60bc76f9
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized - The request was not authorised.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
        '500':
          description: Internal Server Error - An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
components:
  schemas:
    BadRequestResponse:
      title: Bad Request Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - code_id
      - message
      - errors
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          description: A descriptive enough string that is linked to the reason for the error.
        message:
          type: string
        errors:
          anyOf:
          - $ref: '#/components/schemas/Error'
          - $ref: '#/components/schemas/Errors'
    CreateSpendingBudgetResponse:
      title: Create Spending Budget Response
      type: object
      required:
      - operation_id
      - data
      properties:
        operation_id:
          title: Operation ID
          type: string
          enum:
          - goals_v1_spending_budgets_post
        data:
          $ref: '#/components/schemas/SpendingBudget'
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    BudNextPageTokenMetadata:
      title: Next Page Token
      type: object
      properties:
        next_page_token:
          type: string
          description: 'The token to use to fetch the next page of results. This is only set if there are more results to fetch.

            '
      example:
        next_page_token: b21055a9a9f46fc794a2e6855c65abd7e317181039fc6930daabac5822911d14a84895ecd947e2b5abdcb22e4fcc2c594e1f661dc63e34b9ba88760724047990896f7581a0786c2605dce19c6a9d80d1044f963b74fea0a929c0a4465a6e67378a74dce38ec5e26ae4cc804b62fd666d5df4cf2e7f524bd99e5523bc5d471768065c036dc0c73122705b280817fbbd7d9aa31f271d72cd3877d999dcb9a5b1c0be0c05
    BudResultsMetadata:
      title: Metadata
      type: object
      required:
      - results
      properties:
        results:
          type: integer
          description: 'The number of results returned in the response.


            Example: 1

            '
          example: 1
    Error:
      title: Error Object
      type:
      - object
      - 'null'
      description: Contains a field specific error message
      additionalProperties:
        type: string
    UpdateSpendingBudgetResponse:
      title: Update Spending Budget Response
      type: object
      required:
      - operation_id
      - data
      properties:
        operation_id:
          title: Operation ID
          type: string
          enum:
          - goals_v1_spending_budgets_patch
        data:
          $ref: '#/components/schemas/SpendingBudget'
    schemas-Transaction:
      title: Transaction
      type: object
      description: A financial transaction
      required:
      - transaction_id
      - account_id
      - description
      - amount
      - credit_debit_indicator
      - suggested_description
      - status
      - date_time
      properties:
        transaction_id:
          type: string
          description: Unique identifier for the transaction. May be mutable depending on original ingestion source.
        account_id:
          type: string
          description: Identifier for the account associated with the transaction.
        provider:
          type: string
          description: Name of the transaction source provider. Optional as it may not have been supplied when using first party data.
        description:
          type: string
          description: Description of the transaction.
        credit_debit_indicator:
          type: string
          description: Credit/Debit Indicator
          enum:
          - credit
          - debit
        status:
          type: string
          description: Status of the transaction. Defaults to booked.
          enum:
          - booked
          - pending
        amount:
          $ref: '#/components/schemas/BudAmount'
        date_time:
          type: string
          description: Date of the transaction compliant with RFC3339.
        enrichments:
          $ref: '#/components/schemas/schemas-Enrichments'
        suggested_description:
          description: The description Bud suggests client apps show for a given transaction.
          type: string
        suggested_logo:
          description: The logo Bud suggests client apps show for a given transaction.
          type: string
          format: uri
    SpendingBudget:
      allOf:
      - $ref: '#/components/schemas/BaseSpendingBudget'
      - type: object
        required:
        - id
        - name
        - amount
        - recurrency
        - spent
        - created_at
        properties:
          id:
            title: ID
            type: string
            description: 'The ID of the spending budget.


              Example: "81a68821-dca6-4771-80d4-002c7fce412e"

              '
          spent:
            title: Spent
            type: object
            description: 'The amount of money spent from the budget for the given time period.

              '
            required:
            - from
            - to
            - amount
            - ratio
            properties:
              from:
                title: From
                type: string
                description: 'The date from which the budgeting period began in the format [RFC-3339](https://www.ietf.org/rfc/rfc3339.txt).


                  Example: `2023-10-01T00:00:00Z`

                  '
              to:
                title: From
                type: string
                description: 'The date to which the budgeting period ends in the format [RFC-3339](https://www.ietf.org/rfc/rfc3339.txt).


                  Example: `2023-10-31T00:00:00Z`

                  '
              amount:
                title: Amount
                type: object
                description: 'The amount of money spent from the budget.

                  '
                required:
                - value
                - currency
                properties:
                  value:
                    $ref: '#/components/schemas/BudMonetaryValue'
                  currency:
                    $ref: '#/components/schemas/BudCurrency'
              ratio:
                title: Ratio
                type: string
                description: 'The ratio of spent money to the total budget amount.

                  '
          created_at:
            title: Created At
            type: string
            description: 'The date and time the budget was created in the format [RFC-3339](https://www.ietf.org/rfc/rfc3339.txt).


              Example: `2023-10-17T00:00:00Z`

              '
          _links:
            title: _links
            type: object
            description: 'Useful follow up links

              '
            properties:
              transactions:
                title: Transactions Link
                type: string
                description: 'Link to follow to get transactions included in the budget.

                  '
    PatchSpendingBudget:
      title: Patch Spending Budget
      type: object
      properties:
        name:
          title: Name
          type: string
          description: 'The name of the spending budget.


            Example: `Travel`

            '
          example: Travel
        amount:
          title: Amount
          type: object
          description: "The amount of money to be budgeted for. Must be greater than 0. \n\nNote: The Currency of a spending budget cannot be updated.\n"
          required:
          - value
          properties:
            value:
              $ref: '#/components/schemas/BudMonetaryValue'
        recurrency:
          title: Recurrency
          type: object
          description: 'Whether and/or how often the budget recurs.


            The `starting_day` is only required for budgets with a recurring period e.g. `monthly`


            New periods may be added without a breaking change notice.

            '
          required:
          - period
          properties:
            period:
              title: Period
              type: string
              description: 'The period at which a budget recurs (if at all).


                Currently supported options are:

                - `one-off`

                - `monthly`


                New periods may be added without a breaking change notice.

                '
            starting_day:
              title: Starting Day
              type: integer
              description: 'The day of which the budget period starts. Not required if a budget is `one-off`.


                Must be between 1 and 28 for `monthly` budgets.

                '
        include:
          title: Include
          type: object
          description: 'The inclusion criteria for transactions to be included in the budget.

            '
          properties:
            categories:
              title: Categories
              description: "The categories of transactions to be included in the budget. \n\nIf L2 categories are specified, they must be grouped underneath their corresponding L1 category.\n\nAll categories specified must be compatible with the category taxonomy used for that customer.\n"
              type: array
              items:
                required:
                - l1
                properties:
                  l1:
                    title: L1
                    type: string
                    description: 'L1 category to include in the filter. Must be specified if using category filtering.

                      '
                  l2:
                    title: L2
                    type: array
                    description: 'L2 categories to include in the filter. Must all correspond to the parent L1 category specified.

                      '
                    items:
                      type: string
            merchants:
              title: Merchants
              type: object
              description: 'The merchants of transactions to be included in the budget.

                '
              properties:
                slugs:
                  title: Slugs
                  type: array
                  description: 'The slugs of merchants to be included. E.g. `netflix` or `uber`

                    '
                  items:
                    type: string
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    Errors:
      title: Array of Error Object
      description: Contains a list of error messages
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    RetrieveSpendingBudgetsResponse:
      title: Retrieve Spending Budgets Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          title: Operation ID
          type: string
          enum:
          - goals_v1_spending_budgets_get
        data:
          type: array
          items:
            $ref: '#/components/schemas/SpendingBudget'
        metadata:
          allOf:
          - $ref: '#/components/schemas/BudResultsMetadata'
          - type: object
            properties:
              account_ids:
                title: Account IDs
                type: array
                description: 'An array of account IDs used for filtering in the request.

                  '
                items:
                  type: string
                  description: 'An account ID used for filtering in the request.


                    Example: `RxsYshVGded4JeilkXgWKdXA`

                    '
    Category:
      title: Category
      type: object
      description: Category associated with a Transaction
      required:
      - slug
      - confidence
      properties:
        slug:
          type: string
          description: Unique human readable identifier of the category. Not subject to version control.
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
    CreateSpendingBudgetRequest:
      title: Create Spending Budget Request
      allOf:
      - $ref: '#/components/schemas/BaseSpendingBudget'
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    schemas-Categories:
      title: Categories
      type: object
      description: "Categories enrichment associated with a Transaction, as generated by Bud's artificial intelligence models. \nCurrently two levels of category are supported, with `l1` being a coarse-grained category level and `l2` being\nmore refined.\n"
      required:
      - l1
      - l2
      properties:
        l1:
          $ref: '#/components/schemas/Category'
          description: Level 1 Category
        l2:
          $ref: '#/components/schemas/Category'
          description: Level 2 Category
    BaseSpendingBudget:
      title: Spending Budget
      type: object
      required:
      - name
      - amount
      - recurrency
      properties:
        name:
          title: Name
          type: string
          description: 'The name of the spending budget.


            Example: `Travel`

            '
          example: Travel
        amount:
          title: Amount
          type: object
          description: 'The amount of money to be budgeted for. Must be greater than 0.

            '
          required:
          - value
          - currency
          properties:
            value:
              $ref: '#/components/schemas/BudMonetaryValue'
            currency:
              $ref: '#/components/schemas/BudCurrency'
        recurrency:
          title: Recurrency
          type: object
          description: 'Whether and/or how often the budget recurs.


            The `starting_day` is only required for budgets with a recurring period e.g. `monthly`


            New periods may be added without a breaking change notice.

            '
          required:
          - period
          properties:
            period:
              title: Period
              type: string
              description: 'The period at which a budget recurs (if at all).


                Currently supported options are:

                - `one-off`

                - `monthly`


                New periods may be added without a breaking change notice.

                '
            starting_day:
              title: Starting Day
              type: integer
              description: 'The day of which the budget period starts. Not required if a budget is `one-off`.


                Must be between 1 and 28 for `monthly` budgets.

                '
        include:
          title: Include
          type: object
          description: 'The inclusion criteria for transactions to be included in the budget.

            '
          properties:
            categories:
              title: Categories
              description: "The categories of transactions to be included in the budget. \n\nIf L2 categories are specified, they must be grouped underneath their corresponding L1 category.\n\nAll categories specified must be compatible with the category taxonomy used for that customer.\n"
              type: array
              items:
                required:
                - l1
                properties:
                  l1:
                    title: L1
                    type: string
                    description: 'L1 category to include in the filter. Must be specified if using category filtering.

                      '
                  l2:
                    title: L2
                    type: array
                    description: 'L2 categories to include in the filter. Must all correspond to the parent L1 category specified.

                      '
                    items:
                      type: string
            merchants:
              title: Merchants
              type: object
              description: 'The merchants of transactions to be included in the budget.

                '
              properties:
                slugs:
                  title: Slugs
                  type: array
                  description: 'The slugs of merchants to be included. E.g. `netflix` or `uber`

                    '
                  items:
                    type: string
    BudPageSizeMetadata:
      title: Page Size
      type: integer
      description: 'The size of the page requested.


        Example: `100`

        '
      example: 100
    ServerErrorResponse:
      title: Server Error Response
      type: object
      required:
      - operation_id
      - code_id
      - message
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          description: A descriptive enough string that is linked to the reason for the error.
        message:
          type: string
          description: An actual user friendly error message.
        errors:
          anyOf:
          - $ref: '#/components/schemas/Error'
          - $ref: '#/components/schemas/Errors'
    RetrieveSpendingBudgetTransactionsResponse:
      title: Retrieve Spending Budget Transactions Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          title: Operation ID
          type: string
          enum:
          - goals_v1_spending_budget_transactions_get
        data:
          type: array
          items:
            $ref: '#/components/schemas/schemas-Transaction'
        metadata:
          allOf:
          - $ref: '#/components/schemas/BudResultsMetadata'
          - type: object
            properties:
              budget_id:
                title: Budget ID
                type: string
                description: 'The ID of the spending budget the transactions were retrieved for.


                  Example: "81a68821-dca6-4771-80d4-002c7fce412e"

                  '
                example: 81a68821-dca6-4771-80d4-002c7fce412e
              page_size:
                $ref: '#/components/schemas/BudPageSizeMetadata'
          - $ref: '#/components/schemas/BudNextPageTokenMetadata'
    schemas-Enrichments:
      title: Enrichments
      type: object
      description: Contextual enrichments associated with a Transaction
      properties:
        categories:
          $ref: '#/components/schemas/schemas-Categories'
        merchant:
          $ref: '#/components/schemas/goals-components_schemas-Merchant'
    OperationId:
      title: Operation Id Field
      type: string
      description: A unique identifier/reference associated with a given endpoint/operation
    goals-components_schemas-Merchant:
      title: Merchant
      type: object
      description: 'Merchant enrichment associated with a Transaction, as generated using a combination of Bud''s artificial

        intelligence models and database of known merchants.

        '
      required:
      - id
      - slug
      - display_name
      properties:
        id:
          type: string
          description: UUID corresponding to the merchant, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the merchant. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the merchant.
        logo:
          type: string
          description: URL supplying merchant logo, if available.
  parameters:
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    QueryBudAccountID:
      in: query
      name: account_id
      schema:
        type: string
      example: RxsYshVGded4JeilkXgWKdXA
      description: 'Use this parameter to filter the results on data associated with the given account id.


        Example: `RxsYshVGded4JeilkXgWKdXA`

        '
    parameters-QueryBudPageToken:
      in: query
      name: page_token
      schema:
        type: string
      example: b21055a9a9f46fc794a2e6855c65abd7e317181039fc6930daabac5822911d14a84895ecd947e2b5abdcb22e4fcc2c594e1f661dc63e34b9ba88760724047990896f7581a0786c2605dce19c6a9d80d1044f963b74fea0a929c0a4465a6e67378a74dce38ec5e26ae4cc804b62fd666d5df4cf2e7f524bd99e5523bc5d471768065c036dc0c73122705b280817fbbd7d9aa31f271d72cd3877d999dcb9a5b1c0be0c05
      description: Use this paramater to fetch a specific page of results. Provided by the next_page_token field in the previous request.
    QueryDay:
      in: query
      name: day
      schema:
        type: string
      example: '2019-02-29T12:23:00Z'
      description: "The day for which results are to be retrieved in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-01-17T17:29:51Z`\n  - `2023-01-17T17:29:51-08:00`\n"
    parameters-QueryBudPageSize:
      in: query
      name: page_size
      schema:
        type: integer
      example: 200
      description: Use this parameter to set the maximum number of results to be returned. This defaults to 100, and has a maximum of 200.
    PathSpendingBudgetID:
      name: budget_id
      in: path
      schema:
        type: string
      required: true
      description: 'The ID of the spending budget.


        Example: `81a68821-dca6-4771-80d4-002c7fce412e`

        '
      example: 81a68821-dca6-4771-80d4-002c7fce412e
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
