openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Correct Financial Data API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Correct Financial Data
  x-displayName: Correct Financial Data
  description: Manipulate Transactions held on the Bud platform by finding similar transactions and submitting corrections.
paths:
  /corrections/v2/categories:
    post:
      tags:
      - Correct Financial Data
      summary: Correct Transaction Categories V2
      description: 'Allow a customer to change a transaction’s (and similar transactions'') category and/or subcategory.

        If `include_similar` is set to `true`, then all previous and future transactions (i.e. those that are yet to happen yet) that are similar in nature to the specified transaction id will be corrected with the provided category and/or subcategory.

        Similar transactions are determined based on transactions with similar descriptions & amounts.'
      operationId: corrections_v2_categories_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCategoryCorrectionRequest'
            example:
            - transaction_id: 7affc586-5600-4434-ac5f-1a845260d7d9
              category_l1: food_and_drink
              category_l2: coffee
              include_similar: false
      responses:
        '200':
          description: The request was successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCategoryCorrectionResponse'
              example:
                operation_id: corrections_v2_categories_post
                data:
                - transaction_id: 7affc586-5600-4434-ac5f-1a845260d7d9
                  category_l1: food_and_drink
                  category_l2: coffee
                  include_similar: false
                metadata:
                  results: 1
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: corrections_v2_categories_post
                code_id: validation_error
                message: Bad request payload
                errors:
                  X-Client-ID: This value should not be blank
        '401':
          description: Unauthorised request
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
  /corrections/v2/merchants:
    post:
      tags:
      - Correct Financial Data
      summary: Correct Transaction Merchant
      description: 'Allow a customer to change a transaction’s (and similar transactions'') merchant.

        If `include_similar` is set to `true`, then all previous and future transactions (i.e. those that are yet to happen yet) that are similar in nature to the specified transaction id will be corrected with the provided merchant.

        Similar transactions are determined based on transactions with similar descriptions & amounts.'
      operationId: corrections_v2_merchants_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerMerchantCorrectionRequest'
            examples:
              Single Transaction Correction:
                value:
                - transactions:
                  - 7affc586-5600-4434-ac5f-1a845260d7d9
                  merchant_id: f2b21ff7-836d-468c-8928-e81060d49988
                  include_similar: false
              Similar Transactions Correction:
                value:
                - transactions:
                  - 7affc586-5600-4434-ac5f-1a845260d7d9
                  merchant_id: f2b21ff7-836d-468c-8928-e81060d49988
                  include_similar: true
              Remove Merchant From Single Transaction:
                value:
                - transactions:
                  - 7affc586-5600-4434-ac5f-1a845260d7d9
                  merchant_id: ''
                  include_similar: false
      responses:
        '200':
          description: The request was successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerMerchantCorrectionResponse'
              examples:
                Single Transaction Correction:
                  value:
                    operation_id: corrections_v2_merchants_post
                    data:
                    - transaction_id: 7affc586-5600-4434-ac5f-1a845260d7d9
                      account_id: 5bd9ecaf31fc2d5172fd89cb61b89fc6
                      provider: BankOfBud
                      description: paypal* specialty coffee
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Pact Coffee
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg
                      amount:
                        value: '10.99'
                        currency: GBP
                      date_time: '2022-05-28T10:00:00Z'
                      value_date_time: '2022-05-29T00:00:00Z'
                      merchant_category_code: '5814'
                      enrichments:
                        categories:
                          l1:
                            slug: eating_out
                            confidence: '0.99'
                          l2:
                            slug: cafes_and_eating_out
                            confidence: '0.98'
                        merchant:
                          id: 9f967c91-7cf5-46a4-bc0b-92541a4ea7da
                          slug: pactcoffee
                          display_name: Pact Coffee
                          logo: https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg
                          website: https://www.pactcoffee.com
                        location:
                          address:
                            address_lines:
                            - '180'
                            - Shepherds Bush Rd
                            - London
                            - W6 7NL
                            - United Kingdom
                            street_address: Shepherds Bush Rd
                            city: London
                            postal_code: W6 7NL
                            country: United Kingdom
                          geolocation:
                            longitude: 51.497678
                            latitude: -0.223766
                        processor:
                          id: 18f63293-0217-4520-bbf0-071dca7a9d04
                          slug: paypal
                          display_name: PayPal
                          logo: http://url/paypal_logo.jpeg
                          tokens:
                          - value: paypal
                            confidence: '0.92'
                          website: https://www.paypal.com
                        regularity:
                          frequency: monthly
                          predicted_date_times:
                          - '2022-06-28T15:00:00Z'
                          - '2022-07-28T15:00:00Z'
                          - '2022-08-28T15:00:00Z'
                          group_label: a_group_id
                        transaction_types:
                        - card
                        - debit
                        names:
                        - jane doe
                      tags:
                      - regular-transaction
                    metadata:
                      effected_transactions_count: 1
                      include_similar: false
                      merchant_id: 9f967c91-7cf5-46a4-bc0b-92541a4ea7da
                      transactions:
                      - 7affc586-5600-4434-ac5f-1a845260d7d9
                Single Transaction Correction Include Similar:
                  value:
                    operation_id: corrections_v2_merchants_post
                    data:
                    - transaction_id: 7affc586-5600-4434-ac5f-1a845260d7d9
                      account_id: 5bd9ecaf31fc2d5172fd89cb61b89fc6
                      provider: BankOfBud
                      description: paypal* specialty coffee
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Pact Coffee
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg
                      amount:
                        value: '10.99'
                        currency: GBP
                      date_time: '2022-05-28T10:00:00Z'
                      value_date_time: '2022-05-29T00:00:00Z'
                      merchant_category_code: '5814'
                      enrichments:
                        categories:
                          l1:
                            slug: eating_out
                            confidence: '0.99'
                          l2:
                            slug: cafes_and_eating_out
                            confidence: '0.98'
                        merchant:
                          id: 9f967c91-7cf5-46a4-bc0b-92541a4ea7da
                          slug: pactcoffee
                          display_name: Pact Coffee
                          logo: https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg
                          website: https://www.pactcoffee.com
                        location:
                          address:
                            address_lines:
                            - '180'
                            - Shepherds Bush Rd
                            - London
                            - W6 7NL
                            - United Kingdom
                            street_address: Shepherds Bush Rd
                            city: London
                            postal_code: W6 7NL
                            country: United Kingdom
                          geolocation:
                            longitude: 51.497678
                            latitude: -0.223766
                        processor:
                          id: 18f63293-0217-4520-bbf0-071dca7a9d04
                          slug: paypal
                          display_name: PayPal
                          logo: http://url/paypal_logo.jpeg
                          tokens:
                          - value: paypal
                            confidence: '0.92'
                          website: https://www.paypal.com
                        regularity:
                          frequency: monthly
                          predicted_date_times:
                          - '2022-06-28T15:00:00Z'
                          - '2022-07-28T15:00:00Z'
                          - '2022-08-28T15:00:00Z'
                          group_label: a_group_id
                        transaction_types:
                        - card
                        - debit
                        names:
                        - jane doe
                      tags:
                      - regular-transaction
                    - transaction_id: similar_transaction_id
                      account_id: 37c633a71237b9a8282e09587109668e
                      provider: BankOfBud
                      description: specialty coffee
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: specialty coffee
                      amount:
                        value: '50.23'
                        currency: GBP
                      date_time: '2022-05-26T10:00:00Z'
                      value_date_time: '2022-05-27T00:00:00Z'
                      merchant_category_code: '5411'
                      enrichments:
                        categories:
                          l1:
                            slug: eating_out
                            confidence: '0.99'
                          l2:
                            slug: cafes_and_eating_out
                            confidence: '0.98'
                        merchant:
                          id: 9f967c91-7cf5-46a4-bc0b-92541a4ea7da
                          slug: pactcoffee
                          display_name: Pact Coffee
                          logo: https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg
                          website: https://www.pactcoffee.com
                        location:
                          address:
                            address_lines:
                            - '180'
                            - Shepherds Bush Rd
                            - London
                            - W6 7NL
                            - United Kingdom
                            street_address: Shepherds Bush Rd
                            city: London
                            postal_code: W6 7NL
                            country: United Kingdom
                          geolocation:
                            longitude: 51.497678
                            latitude: -0.223766
                        transaction_types:
                        - card
                        - debit
                    metadata:
                      effected_transactions_count: 2
                      include_similar: true
                      merchant_id: 9f967c91-7cf5-46a4-bc0b-92541a4ea7da
                      transactions:
                      - 7affc586-5600-4434-ac5f-1a845260d7d9
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Invalid Merchant:
                  summary: merchant_id doesn't match a known merchant
                  value:
                    operation_id: corrections_v2_merchants_post
                    code_id: failed_validation
                    message: invalid merchant in request
                    errors:
                      body.merchant_id: invalid merchant id
                Invalid Transaction:
                  summary: 1 or more transaction ids are invalid
                  value:
                    operation_id: corrections_v2_merchants_post
                    code_id: failed_validation
                    message: invalid transaction in request
                    errors: null
        '401':
          description: Unauthorised request
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
  /corrections/v2/merchants/search/{merchant_query}:
    get:
      tags:
      - Correct Financial Data
      summary: Correction Merchant Search
      description: Allows a customer to find a merchant to be used for a correction.
      operationId: corrections_v2_merchant_search_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/MerchantCorrectionSearchQuery'
      responses:
        '200':
          description: The request was successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerMerchantCorrectionSearchResponse'
              example:
                operation_id: corrections_v2_merchant_search_get
                data:
                - id: f2b21ff7-836d-468c-8928-e81060d49988
                  display_name: Apple
                  slug: apple
                  logo: https://assets.thisisbud.com/datasci-images/merchant_logos/f2b21ff7-836d-468c-8928-e81060d49988/v1/apple.jpeg
                  website: https://www.apple.com
                - id: a3240c82-728d-4d63-b1b8-9569cae844e8
                  display_name: Tappily
                  slug: tappily
                  logo: https://assets.thisisbud.com/datasci-images/merchant_logos/a3240c82-728d-4d63-b1b8-9569cae844e8/v1/tappily.jpeg
                  website: https://www.tappily.co.uk
                - id: bbf422fd-0db3-4988-a037-36476f6bd774
                  display_name: Zapp
                  slug: zapp
                  logo: https://assets.thisisbud.com/datasci-images/merchant_logos/bbf422fd-0db3-4988-a037-36476f6bd774/v1/zapp.jpeg
                  website: https://tryzapp.com
                - id: b97244e4-c1bf-4c70-a529-e250fc5baf39
                  display_name: WAPPA LTD
                  slug: wappaltd
                  logo: https://assets.thisisbud.com/bud-datasci-images/merchant_logo_placeholder.png
                - id: 2270343a-110d-4554-8871-33f2e18f8311
                  display_name: Apple Pay
                  slug: applepay
                  logo: https://assets.thisisbud.com/datasci-images/merchant_logos/2270343a-110d-4554-8871-33f2e18f8311/v2/applepay.jpeg
                  website: https://www.apple.com
                metadata:
                  query: appl
                  results: 5
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Invalid Query Size:
                  summary: query size to small
                  value:
                    operation_id: corrections_v2_merchant_search_get
                    code_id: failed_validation
                    message: invalid search query size
                    errors: null
        '401':
          description: Unauthorised request
        '405':
          description: An unexpected HTTP method was used
        '429':
          description: An unexpected HTTP method was used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Too Many Requests:
                  summary: making too many requests to endpoint
                  value:
                    operation_id: unknown
                    code_id: unknown
                    message: Too many requests
                    errors: null
        5XX:
          description: An unexpected error occurred on the server side
  /corrections/v2/custom-merchants:
    post:
      tags:
      - Correct Financial Data
      summary: Create a new custom merchant
      description: Creates a new custom merchant for use in the merchant corrections flow.
      operationId: corrections_v2_custom_merchants_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomMerchantRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required:
                - operation_id
                - data
                properties:
                  operation_id:
                    type: string
                    enum:
                    - corrections_v2_custom_merchants_post
                  data:
                    type: object
                    required:
                    - custom_merchant_id
                    properties:
                      custom_merchant_id:
                        type: string
                        format: uuid
                example:
                  operation_id: corrections_v2_custom_merchants_post
                  data:
                    custom_merchant_id: 43730d83-479b-4125-8853-0276fa8c45a1
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: corrections_v2_custom_merchants_post
                code_id: failed_validation
                message: validation failed
                errors:
                  validation_errors:
                  - name cannot be empty
        5XX:
          description: An unexpected error occurred on the server side
    get:
      tags:
      - Correct Financial Data
      summary: Fetch custom merchants for customer
      description: Retrieves custom merchants for a given customer
      operationId: corrections_v2_custom_merchants_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - operation_id
                - data
                properties:
                  operation_id:
                    type: string
                    enum:
                    - corrections_v2_custom_merchants_get
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomMerchant'
              example:
                operation_id: corrections_v2_custom_merchants_get
                data:
                - custom_merchant_id: 43297d36-2d86-460f-832c-c384f319af64
                  name: Krystian Wines
                  suggested_url: https://www.example.com/
                  online_or_billing_only: false
                  created_at: '2024-11-14T12:15:52Z'
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: corrections_v2_custom_merchants_get
                code_id: failed_validation
                message: validation failed
                errors:
                  validation_errors:
                  - X-Customer-ID header must be valid UUID
        5XX:
          description: An unexpected error occurred on the server side
  /corrections/v2/categories/similar/{transaction_id}:
    get:
      tags:
      - Correct Financial Data
      summary: Similar Transactions
      description: 'This endpoint is used to find similar transactions to the *source* transaction. Similar transactions are determined based on transactions with similar descriptions & amounts to the source transaction.


        There will **not** be any duplicate transactions in the response.


        Use the `exclude_source` query parameter to toggle whether the endpoint returns the source transaction in the response. By **default** it will.


        For example if there are **no** similar transactions to transaction A:


        > `exclude_source = true`

        >> The response will contain **0** transactions


        > `exclude_source = false` or not present (**default**)

        >> The response will contain **1** transaction, that being the source transaction A'
      operationId: corrections_v2_similar_categories_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/QueryExcludeSource'
      - $ref: '#/components/parameters/PathTransactionID'
      responses:
        '200':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarTransactionsResponse'
              examples:
                Single Similar Transaction:
                  value:
                    operation_id: corrections_v2_similar_categories_get
                    data:
                    - transaction_id: source_transaction_id
                      account_id: 5bd9ecaf31fc2d5172fd89cb61b89fc6
                      provider: BankOfBud
                      description: paypal* specialty coffee
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Pact Coffee
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg
                      amount:
                        value: '10.99'
                        currency: GBP
                      date_time: '2022-05-28T10:00:00Z'
                      value_date_time: '2022-05-29T00:00:00Z'
                      merchant_category_code: '5814'
                      enrichments:
                        categories:
                          l1:
                            slug: eating_out
                            confidence: '0.99'
                          l2:
                            slug: cafes_and_eating_out
                            confidence: '0.98'
                        merchant:
                          id: 01cc2d49-6144-46f1-9414-67c99b139a95
                          slug: specialty_coffee
                          display_name: Specialty Coffee Supplier Ltd.
                          logo: http://url/specialty_coffee_supplier_logo.jpeg
                          tokens:
                          - value: speciality coffee
                            confidence: '0.98'
                          website: http://www.url.com
                        location:
                          address:
                            address_lines:
                            - '180'
                            - Shepherds Bush Rd
                            - London
                            - W6 7NL
                            - United Kingdom
                            street_address: Shepherds Bush Rd
                            city: London
                            postal_code: W6 7NL
                            country: United Kingdom
                          geolocation:
                            longitude: 51.497678
                            latitude: -0.223766
                        processor:
                          id: 18f63293-0217-4520-bbf0-071dca7a9d04
                          slug: paypal
                          display_name: PayPal
                          logo: http://url/paypal_logo.jpeg
                          tokens:
                          - value: paypal
                            confidence: '0.92'
                          website: https://www.paypal.com
                        regularity:
                          frequency: monthly
                          predicted_date_times:
                          - '2022-06-28T15:00:00Z'
                          - '2022-07-28T15:00:00Z'
                          - '2022-08-28T15:00:00Z'
                          group_label: a_group_id
                        transaction_types:
                        - card
                        - debit
                        names:
                        - jane doe
                      tags:
                      - regular-transaction
                    - transaction_id: similar_transaction_id
                      account_id: 37c633a71237b9a8282e09587109668e
                      provider: BankOfBud
                      description: Tesco 2956 London GBR
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Tesco
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v2/tesco.jpeg
                      amount:
                        value: '50.23'
                        currency: GBP
                      date_time: '2022-05-26T10:00:00Z'
                      value_date_time: '2022-05-27T00:00:00Z'
                      merchant_category_code: '5411'
                      enrichments:
                        categories:
                          l1:
                            slug: eating_out
                            confidence: '0.99'
                          l2:
                            slug: cafes_and_eating_out
                            confidence: '0.98'
                        merchant:
                          id: 0980cf54-6052-4527-84ff-e6f9b169884f
                          slug: tesco_stores
                          display_name: Tesco
                          logo: http://url/tesco_stores_logo.jpeg
                          tokens:
                          - value: tesco
                            confidence: '0.96'
                        location:
                          address:
                            address_lines:
                            - '180'
                            - Shepherds Bush Rd
                            - London
                            - W6 7NL
                            - United Kingdom
                            street_address: Shepherds Bush Rd
                            city: London
                            postal_code: W6 7NL
                            country: United Kingdom
                          geolocation:
                            longitude: 51.497678
                            latitude: -0.223766
                        transaction_types:
                        - card
                        - debit
                    metadata:
                      results: 2
                      exclude_source: false
                Single Similar Transaction Excluding Source:
                  value:
                    operation_id: corrections_v2_similar_categories_get
                    data:
                    - transaction_id: similar_transaction_id
                      account_id: 37c633a71237b9a8282e09587109668e
                      provider: BankOfBud
                      description: Tesco 2956 London GBR
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Tesco
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v2/tesco.jpeg
                      amount:
                        value: '50.23'
                        currency: GBP
                      date_time: '2022-05-26T10:00:00Z'
                      value_date_time: '2022-05-27T00:00:00Z'
                      merchant_category_code: '5411'
                      enrichments:
                        categories:
                          l1:
                            slug: eating_out
                            confidence: '0.99'
                          l2:
                            slug: cafes_and_eating_out
                            confidence: '0.98'
                        merchant:
                          id: 0980cf54-6052-4527-84ff-e6f9b169884f
                          slug: tesco_stores
                          display_name: Tesco
                          logo: http://url/tesco_stores_logo.jpeg
                          tokens:
                          - value: tesco
                            confidence: '0.96'
                        location:
                          address:
                            address_lines:
                            - '180'
                            - Shepherds Bush Rd
                            - London
                            - W6 7NL
                            - United Kingdom
                            street_address: Shepherds Bush Rd
                            city: London
                            postal_code: W6 7NL
                            country: United Kingdom
                          geolocation:
                            longitude: 51.497678
                            latitude: -0.223766
                        transaction_types:
                        - card
                        - debit
                    metadata:
                      results: 1
                      exclude_source: true
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Missing Customer Id:
                  value:
                    operation_id: corrections_v2_similar_categories_get
                    code_id: failed_validation
                    message: failed to parse request
                    errors:
                      X-Customer-Id: This value should not be blank
        '404':
          description: Unknown transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestNotFoundResponse'
              examples:
                Transaction Not Found:
                  value:
                    operation_id: corrections_v2_similar_categories_get
                    code_id: not_found
                    message: transaction not found
        5XX:
          description: An unexpected error occurred on the server side.
  /corrections/v2/merchants/similar/{transaction_id}:
    get:
      tags:
      - Correct Financial Data
      summary: Similar Transactions Including Merchants
      description: 'This endpoint is used to find similar transactions to the *source* transaction. Similar transactions are determined based on transactions with similar descriptions & amounts to the source transaction. In addition, transactions that also have the same merchant are returned.


        There will **not** be any duplicate transactions in the response.


        Use the `exclude_source` query parameter to toggle whether the endpoint returns the source transaction in the response. By **default** it will.


        For example if there are **no** similar transactions to transaction A:


        > `exclude_source = true`

        >> The response will contain **0** transactions


        > `exclude_source = false` or not present (**default**)

        >> The response will contain **1** transaction, that being the source transaction A'
      operationId: corrections_v2_similar_merchants_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/QueryExcludeSource'
      - $ref: '#/components/parameters/PathTransactionID'
      responses:
        '200':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarTransactionsIncludingMerchantsResponse'
              examples:
                Single Similar Transaction:
                  value:
                    operation_id: corrections_v2_similar_merchants_get
                    data:
                    - transaction_id: source_transaction_id
                      account_id: 5bd9ecaf31fc2d5172fd89cb61b89fc6
                      provider: BankOfBud
                      description: paypal* specialty coffee
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Pact Coffee
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/9f967c91-7cf5-46a4-bc0b-92541a4ea7da/v1/pactcoffee.jpeg
                      amount:
                        value: '10.99'
                        currency: GBP
                      date_time: '2022-05-28T10:00:00Z'
                      value_date_time: '2022-05-29T00:00:00Z'
                      merchant_category_code: '5814'
                      enrichments:
                        categories:
                          l1:
                            slug: eating_out
                            confidence: '0.99'
                          l2:
                            slug: cafes_and_eating_out
                            confidence: '0.98'
                        merchant:
                          id: 01cc2d49-6144-46f1-9414-67c99b139a95
                          slug: specialty_coffee
                          display_name: Specialty Coffee Supplier Ltd.
                          logo: http://url/specialty_coffee_supplier_logo.jpeg
                          tokens:
                          - value: speciality coffee
                            confidence: '0.98'
                          website: http://www.url.com
                        location:
                          address:
                            address_lines:
                            - '180'
                            - Shepherds Bush Rd
                            - London
                            - W6 7NL
                            - United Kingdom
                            street_address: Shepherds Bush Rd
                            city: London
                            postal_code: W6 7NL
                            country: United Kingdom
                          geolocation:
                            longitude: 51.497678
                            latitude: -0.223766
                        processor:
                          id: 18f63293-0217-4520-bbf0-071dca7a9d04
                          slug: paypal
                          display_name: PayPal
                          logo: http://url/paypal_logo.jpeg
                          tokens:
                          - value: paypal
                            confidence: '0.92'
                          website: https://www.paypal.com
                        regularity:
                          frequency: monthly
                          predicted_date_times:
                          - '2022-06-28T15:00:00Z'
                          - '2022-07-28T15:00:00Z'
                          - '2022-08-28T15:00:00Z'
                          group_label: a_group_id
                        transaction_types:
                        - card
                        - debit
                        names:
                        - jane doe
                      tags:
                      - regular-transaction
                    - transaction_id: similar_transaction_id
                      account_id: 37c633a71237b9a8282e09587109668e
                      provider: BankOfBud
                      description: Tesco 2956 London GBR
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Tesco
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v2/tesco.jpeg
                      amount:
                        value: '50.23'
                        currency: GBP
                      date_time: '2022-05-26T10:00:00Z'
                      value_date_time: '2022-05-27T00:00:00Z'
                      merchant_category_code: '5411'
                      enrichments:
                        categories:
                          l1:
                            slug: eating_out
                            confidence: '0.99'
                          l2:
                            slug: cafes_and_eating_out
                            confidence: '0.98'
                        merchant:
                          id: 0980cf54-6052-4527-84ff-e6f9b169884f
                          slug: tesco_stores
                          display_name: Tesco
                          logo: http://url/tesco_stores_logo.jpeg
                          tokens:
                          - value: tesco
                            confidence: '0.96'
                        location:
                          address:
                            address_lines:
                            - '180'
                            - Shepherds Bush Rd
                            - London
                            - W6 7NL
                            - United Kingdom
                            street_address: Shepherds Bush Rd
                            city: London
                            postal_code: W6 7NL
                            country: United Kingdom
                          geolocation:
                            longitude: 51.497678
                            latitude: -0.223766
                        transaction_types:
                        - card
                        - debit
                    metadata:
                      results: 2
                      exclude_source: false
                Single Similar Transaction Excluding Source:
                  value:
                    operation_id: corrections_v2_similar_merchants_get
                    data:
                    - transaction_id: similar_transaction_id
                      account_id: 37c633a71237b9a8282e09587109668e
                      provider: BankOfBud
                      description: Tesco 2956 London GBR
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Tesco
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v2/tesco.jpeg
                      amount:
                        value: '50.23'
                        currency: GBP
                      date_time: '2022-05-26T10:00:00Z'
                      value_date_time: '2022-05-27T00:00:00Z'
                      merchant_category_code: '5411'
                      enrichments:
                        categories:
                          l1:
                            slug: eating_out
                            confidence: '0.99'
                          l2:
                            slug: cafes_and_eating_out
                            confidence: '0.98'
                        merchant:
                          id: 0980cf54-6052-4527-84ff-e6f9b169884f
                          slug: tesco_stores
                          display_name: Tesco
                          logo: http://url/tesco_stores_logo.jpeg
                          tokens:
                          - value: tesco
                            confidence: '0.96'
                        location:
                          address:
                            address_lines:
                            - '180'
                            - Shepherds Bush Rd
                            - London
                            - W6 7NL
                            - United Kingdom
                            street_address: Shepherds Bush Rd
                            city: London
                            postal_code: W6 7NL
                            country: United Kingdom
                          geolocation:
                            longitude: 51.497678
                            latitude: -0.223766
                        transaction_types:
                        - card
                        - debit
                    metadata:
                      results: 1
                      exclude_source: true
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Missing Customer Id:
                  value:
                    operation_id: corrections_v2_similar_merchants_get
                    code_id: failed_validation
                    message: failed to parse request
                    errors:
                      X-Customer-Id: This value should not be blank
        '404':
          description: Unknown transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestNotFoundResponse'
              examples:
                Transaction Not Found:
                  value:
                    operation_id: corrections_v2_similar_merchants_get
                    code_id: not_found
                    message: transaction not found
        5XX:
          description: An unexpected error occurred on the server side.
  /corrections/v2/merchant-feedback/merchant/{merchant_id}:
    post:
      tags:
      - Correct Financial Data
      summary: Suggests changes to a merchant
      description: Records feedback we can use to improve our merchant database.
      operationId: corrections_v2_merchant_feedback_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - name: merchant_id
        in: path
        required: true
        description: The ID of the merchant to submit feedback for.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantFeedbackRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                required:
                - operation_id
                - data
                properties:
                  operation_id:
                    type: string
                    enum:
                    - corrections_v2_merchant_feedback_post
                  data:
                    $ref: '#/components/schemas/MerchantFeedbackResponse'
                example:
                  operation_id: corrections_v2_merchant_feedback_post
                  data:
                    merchant_id: a8f0ec99-ed01-4ba2-a4ad-8d0275f15158
                    logo_feedback: missing_logo
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: corrections_v2_merchant_feedback_post
                code_id: failed_validation
                message: validation failed
                errors:
                  validation_errors:
                  - $.logo_feedback must be valid enum
        '404':
          description: The merchant was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestNotFoundResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: Route or resource not found
                errors: {}
        5XX:
          description: An unexpected error occurred on the server side
components:
  parameters:
    QueryExcludeSource:
      in: query
      name: exclude_source
      schema:
        type: boolean
      required: false
      description: Toggle whether the endpoint returns the transaction used as part of the request
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    CustomerSecret:
      in: header
      name: X-Customer-Secret
      schema:
        type: string
      required: false
      description: The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud.
    PathTransactionID:
      in: path
      name: transaction_id
      schema:
        type: string
        format: uuid
      required: true
      description: A transaction identifier
    MerchantCorrectionSearchQuery:
      in: path
      name: merchant_query
      schema:
        type: string
        minLength: 3
      required: true
      description: Merchant Name Query
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
  schemas:
    CustomerMerchantCorrectionRequest:
      title: Customer Merchant Corrections Request Payload
      type: array
      description: Expected request structure for the merchant corrections endpoint
      items:
        $ref: '#/components/schemas/CustomerMerchantCorrectionPayload'
    Regularity:
      title: Regularity
      type: object
      description: 'Regularity enrichment associated with a Transaction, as generated by Bud''s artificial intelligence models.  Transactions that are similar and have a known frequency will all have the same regularity enrichment.

        '
      properties:
        frequency:
          type: string
          description: Detected frequency of the Transaction.
          enum:
          - unknown
          - daily
          - weekly
          - biweekly
          - monthly
          - quarterly
        predicted_date_times:
          type: array
          description: Expected date times for the Transaction to repeat.
          items:
            type: string
        group_label:
          type: string
          description: Unique label applied to multiple transactions in the same group.
    Errors:
      title: Array of Error Object
      description: Contains a list of error messages
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    CategoryCorrectionResponseMetadata:
      title: Results Metadata Object
      type: object
      description: Metadata associated with the response schema
      properties:
        results:
          type: number
          description: The number of category correction rules created
    BadRequestResponse:
      title: Bad Request Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - code_id
      - message
      - errors
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          description: A descriptive enough string that is linked to the reason for the error.
        message:
          type: string
        errors:
          anyOf:
          - $ref: '#/components/schemas/Error'
          - $ref: '#/components/schemas/Errors'
    BudTransactionType:
      title: transaction_type
      type: object
      description: 'The code and a description of the transaction type. Providing these fields may help improve enrichment accuracy.

        '
      properties:
        bud_code:
          type: string
          description: 'The code representing the type of the given transaction. This typically comes in the form of a proprietary code respective to the __provider__.


            Current list of valid accepted codes:


            | Code  | Meaning

            |:------|:-------------------------------------------------------------------|

            | DEB   | [Debit / Credit] Card                                              |

            | CSQ   | Cash / Cheque(s)                                                   |

            | CHG   | Charge                                                             |

            | COR   | Correction                                                         |

            | CPT   | Cashpoint / ATM                                                    |

            | INT   | Interest                                                           |

            | OTH   | Other                                                              |

            | BAT   | Bank Transfer (e.g. FP/MP/IB/BACS/CHAPS/SWIFT)                     |

            | DD    | Direct Debit                                                       |

            | SO    | Standing Order                                                     |

            '
        description:
          type: string
          description: 'A human-readable description of the given __bud_code__.

            example: `Contactless POS`

            '
    CustomerMerchantCorrectionSearchResult:
      type: object
      required:
      - id
      - display_name
      - slug
      - logo
      properties:
        id:
          type: string
          format: uuid
          description: UUID corresponding to the merchant, if available. Subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the merchant.
        slug:
          type: string
          description: Unique human readable identifier of the merchant. Not subject to version control.
        logo:
          type: string
          description: A url to the merchant logo. If not available a placeholder is used
        website:
          type: string
          description: URL supplying merchant website, if available.
    CustomerMerchantCorrectionSearchResponsePayload:
      title: Customer Merchant Corrections Request Payload
      type: array
      description: List of merchant that matched the query. Best match first
      items:
        $ref: '#/components/schemas/CustomerMerchantCorrectionSearchResult'
    MerchantFeedbackResponse:
      title: Merchant Feedback Response
      type: object
      required:
      - merchant_id
      - logo_feedback
      properties:
        merchant_id:
          type: string
          description: The merchant the feedback has been created for.
        logo_feedback:
          type: string
          description: The type of feedback for the merchant.
          enum:
          - missing_logo
          - wrong_logo
          - low_quality_logo
          - out_of_date_logo
        suggested_logo:
          type: string
        suggested_url:
          type: string
    CustomerMerchantCorrectionSearchResponseMetadata:
      title: Customer Merchant Corrections Search Response Metadata
      type: object
      required:
      - query
      - results
      properties:
        query:
          type: string
          description: Query used in the request
        results:
          type: number
          description: Number of results returned
    Categories:
      title: Categories
      type: object
      description: 'Categories enrichment associated with a Transaction, as generated by Bud''s artificial intelligence models.  Currently two levels of category are supported, with `l1` being a coarse-grained category level and `l2` being more refined.

        '
      properties:
        l1:
          $ref: '#/components/schemas/Category'
          description: Level 1 Category
        l2:
          $ref: '#/components/schemas/Category'
          description: Level 2 Category
    CustomerMerchantCorrectionPayload:
      title: Customer Merchant Correction
      type: object
      description: Expected request structure for the merchant corrections endpoint
      required:
      - transactions
      properties:
        transactions:
          type: array
          minItems: 1
          items:
            type: string
          description: A list of transaction identifiers to be corrected
        merchant_id:
          type: string
          description: 'The identifier of the merchant that the transactions should be assigned


            To remove a merchant instead of replacing it, leave this value blank

            '
        include_similar:
          type: boolean
          description: Correct the merchant of other similar transactions to the specified transactions
          default: false
    OperationId:
      title: Operation Id Field
      type: string
      description: A unique identifier/reference associated with a given endpoint/operation
    Token:
      title: Token
      type: object
      description: The token item.
      required:
      - value
      - confidence
      properties:
        value:
          type: string
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
    CustomMerchantRequest:
      title: Custom Merchant Request
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: The display name of the custom merchant to be created
          example: Krystian Wines
        suggested_url:
          type: string
          description: A suggested URL for the merchant, to help bud identify it and expand our merchant database.
          example: https://www.example.com
        online_or_billing_only:
          type: boolean
          description: This is used to indicate if the custom merchant being created is an exclusively online or billing merchant.
          example: false
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    BadRequestNotFoundResponse:
      title: Bad Request Not Found Response
      type: object
      required:
      - operation_id
      - code_id
      - message
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          description: A descriptive enough string that is linked to the reason for the error.
        message:
          type: string
          description: An actual user friendly error message.
    ClientAttributes:
      title: Client Attributes
      type: object
      description: 'An optional map of key-value string pairs that allows clients to attach arbitrary metadata to the transaction.

        This field can be used to store any relevant information specific to the client''s needs, such as:

        These attributes can be added using the [Ingest Transactions](#operation/v2_ingest_transactions_post) endpoint.

        '
      properties:
        key:
          type: string
          description: An arbitrary key-value pair for the client attribute.
    CustomerMerchantCorrectionSearchResponse:
      title: Customer Merchant Correction Search Response
      type: object
      description: Expected response structure for the merchant corrections search endpoint
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/CustomerMerchantCorrectionSearchResponsePayload'
        metadata:
          $ref: '#/components/schemas/CustomerMerchantCorrectionSearchResponseMetadata'
    CustomerCategoryCorrectionRequest:
      title: Customer Category Corrections Request Payload
      type: array
      description: Expected request structure for the category corrections endpoint
      items:
        $ref: '#/components/schemas/CustomerCategoryCorrectionPayload'
    CustomerMerchantCorrectionResponse:
      title: Customer Merchant Corrections Response
      type: object
      description: Expected response structure for the merchant corrections endpoint
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - corrections_v2_merchants_post
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        metadata:
          type: object
          description: Metadata associated with the merchant correction response schema
          required:
          - effected_transactions_count
          - include_similar
          - merchant_id
          - transactions
          properties:
            effected_transactions_count:
              type: number
              description: The number of transaction corrected
            include_similar:
              type: boolean
              description: Value of include_similar in the request
            merchant_id:
              type: string
              description: Value of merchant_id in the request
            transactions:
              type: array
              description: Value of transactions id list in the request
              items:
                type: string
    Enrichments:
      title: Enrichments
      type: object
      description: Contextual enrichments associated with a Transaction
      properties:
        categories:
          $ref: '#/components/schemas/Categories'
        merchant:
          $ref: '#/components/schemas/Merchant'
        processor:
          $ref: '#/components/schemas/Processor'
        regularity:
          $ref: '#/components/schemas/Regularity'
        location:
          $ref: '#/components/schemas/Location'
        transaction_types:
          type: array
          description: Transaction types associated with the transaction
          items:
            type: string
        names:
          type: array
          description: Names that were detected in the transaction description
          items:
            type: string
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    CustomerCategoryCorrectionPayload:
      title: Customer Category Correction
      type: object
      description: Expected request structure for the category corrections endpoint
      required:
      - transaction_id
      properties:
        transaction_id:
          type: string
          description: The unique identifier for the transaction
        category_l1:
          type: string
          description: The name of the category that the transaction should be assigned
        category_l2:
          type: string
          description: The name of the subcategory that the transaction should be assigned
        include_similar:
          type: boolean
          description: Correct the category of other similar transactions to the specified transaction
          default: false
    Transaction:
      title: Transaction
      type: object
      description: A financial transaction
      required:
      - transaction_id
      - account_id
      - description
      - amount
      - credit_debit_indicator
      - status
      - date_time
      - suggested_description
      properties:
        transaction_id:
          type: string
          description: Unique identifier for the transaction. May be mutable depending on original ingestion source.
        account_id:
          type: string
          description: Identifier for the account associated with the transaction.
        provider:
          type: string
          description: Name of the transaction source provider. Optional as it may not have been supplied when using first party data.
        description:
          type: string
          description: Description of the transaction.
        credit_debit_indicator:
          type: string
          description: Credit/Debit Indicator
          enum:
          - credit
          - debit
        status:
          type: string
          description: 'Status of the transaction. Defaults to booked.


            Note: declined transactions are only available for transactions ingested by First Party Ingestion endpoints.

            '
          enum:
          - booked
          - pending
          - declined
        suggested_description:
          type: string
          description: The description Bud suggests client apps show for a given transaction.
        suggested_logo:
          type: string
          description: The logo Bud suggests client apps show for a given transaction.
        transaction_type:
          $ref: '#/components/schemas/BudTransactionType'
        amount:
          $ref: '#/components/schemas/BudAmount'
        date_time:
          type: string
          description: Date that the transaction occured compliant with RFC3339.
        posted_date_time:
          deprecated: true
          type: string
          description: Date the assets involved in the transaction transferred compliant with RFC3339. For credits this is the date that the asset becomes available, for debits this is the date that the asset ceased to be available
        value_date_time:
          type: string
          description: Date the assets involved in the transaction transferred compliant with RFC3339. For credits this is the date that the asset becomes available, for debits this is the date that the asset ceased to be available
        enrichments:
          $ref: '#/components/schemas/Enrichments'
        merchant_category_code:
          type: string
          description: Merchant category code conforming to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
        running_balance:
          description: The running balance for the account that the transaction takes place against
          title: Standard Bud Amount
          type: object
          required:
          - value
          - currency
          properties:
            value:
              $ref: '#/components/schemas/BudMonetaryValue'
            currency:
              $ref: '#/components/schemas/BudCurrency'
        counterparty:
          type: object
          description: An object containing details of the counterparty in this transaction
          properties:
            name:
              type: string
              description: The name of the counterparty involved in this transaction.
            identifier:
              type: string
              description: An identifier for the account of the other party
        tags:
          type: array
          description: 'A list of potential tags associated with the transaction after contextual enrichment, which can be used for filtering.


            Region and client specific.


            | Value                   | Description                                               |

            |:------------------------|:----------------------------------------------------------|

            | `benefit`               | A government/non-profit benefit transaction               |

            | `debt-collection`       | A transaction associated with a known debt-collector      |

            | `loan`                  | A transaction associated with a loan                      |

            | `hcst`                  | A transaction associated with a high cost short term loan |

            | `income`                | A transaction associated with income                      |

            | `pending`               | A transaction which has not been booked                   |

            | `regular-transaction`   | A transaction predicted to occur with a regular frequency |

            | `subscription`          | A transaction associated with a subscription service      |

            | `online`                | A transaction associated with an online merchant          |

            | `bill`                  | A transaction associated with an bill payment             |

            | `internal-transfer`     | A transaction between a customers accounts                |

            '
          items:
            type: string
        client_attributes:
          $ref: '#/components/schemas/ClientAttributes'
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    Location:
      title: Location
      type: object
      description: Location enrichment associated with a Transaction
      properties:
        address:
          type: object
          description: The address where the transaction occurred. The level of detail depends on the resolution with which we are able to detect the transaction location.
          properties:
            address_lines:
              type: array
              description: A list of all the address lines detected for the transaction. This could be anything from a full street address down to just the region.
              items:
                type: string
            street_address:
              type: string
              description: The street address where the transaction occurred. Typically this will consist of the street number and street name with an optional suite.
            city:
              type: string
              description: The city or town where the transaction occurred.
            region:
              type: string
              description: The county or region where the transaction occurred.
            postal_code:
              type: string
              description: The postcode where the transaction occurred.
            country:
              type: string
              description: 'The ISO 3166-1 alpha-2 country code representing the country where the transaction occurred.


                If a location could not be determined, but a `country_code` was supplied in the ingestion request; that value will be reflected here.

                '
        geolocation:
          type: object
          description: The geolocation where the transaction occurred. This is only available if we are able to narrow down the transaction location to an exact match.
          properties:
            latitude:
              type: number
              format: double
              description: The latitudinal position where the transaction occurred.
            longitude:
              type: number
              format: double
              description: The longitudinal position where the transaction occurred.
        tokens:
          type: array
          description: A list of substrings from the description identified as being relevant to the transaction location.
          items:
            type: string
    SimilarTransactionsIncludingMerchantsResponse:
      title: Retrieve Similar Transactions including Merchants Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - corrections_v2_similar_merchants_get
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        metadata:
          type: object
          required:
          - results
          properties:
            results:
              type: integer
              description: The number of results returned.
            exclude_source:
              type: boolean
              description: Is the request transaction being excluded from the response
    SimilarTransactionsResponse:
      title: Retrieve Similar Transactions Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - corrections_v2_similar_categories_get
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        metadata:
          type: object
          required:
          - results
          properties:
            results:
              type: integer
              description: The number of results returned.
            exclude_source:
              type: boolean
              description: Is the request transaction being excluded from the response
    Merchant:
      title: Merchant
      type: object
      description: 'Merchant enrichment associated with a Transaction, as generated using a combination of Bud''s artificial  intelligence models and database of known merchants.

        '
      properties:
        id:
          type: string
          description: UUID corresponding to the merchant, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the merchant. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the merchant.
        logo:
          type: string
          description: URL supplying merchant logo, if available.
        tokens:
          type: array
          description: 'A list of tokens calculated from the transaction model, used to identify the Merchant.  This list is often present even if the merchant details (id, slug, disply_name, logo) are not returned.

            '
          items:
            $ref: '#/components/schemas/Token'
        website:
          type: string
          description: URL supplying merchant website, if available.
        tags:
          type: array
          items:
            type: string
          description: A list of tags describing the merchant
    Error:
      title: Error Object
      type:
      - object
      - 'null'
      description: Contains a field specific error message
      additionalProperties:
        type: string
    MerchantFeedbackRequest:
      title: Merchant Feedback Request
      type: object
      required:
      - logo_feedback
      properties:
        logo_feedback:
          type: string
          description: The type of feedback for the merchant.
          enum:
          - missing_logo
          - wrong_logo
          - low_quality_logo
          - out_of_date_logo
        suggested_logo:
          type: string
        suggested_url:
          type: string
    CustomMerchant:
      title: Custom Merchant
      description: Custom Merchant Object
      type: object
      required:
      - custom_merchant_id
      - name
      - suggested_url
      - online_or_billing_only
      - created_at
      properties:
        custom_merchant_id:
          format: uuid
          type: string
          description: UUID representing the custom merchant.
        name:
          type: string
          description: Provided name for the custom merchant.
        suggested_url:
          type: string
          description: Provided URL for the custom merchant
        online_or_billing_only:
          type: boolean
          description: Provided online or billing only identifier for the custom merchant.
        created_at:
          type: string
          description: Date that the custom merchant was created, compliant with RFC3339.
    CustomerCategoryCorrectionResponse:
      title: Customer Category Corrections Response
      type: object
      description: Expected response structure for the category corrections endpoint
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomerCategoryCorrectionPayload'
        metadata:
          $ref: '#/components/schemas/CategoryCorrectionResponseMetadata'
    Processor:
      title: Processor
      type: object
      description: 'Processor enrichment associated with a Transaction, as generated using a combination of Bud''s artificial  intelligence models and database of known payment processors.

        '
      properties:
        id:
          type: string
          description: UUID corresponding to the processor, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the processor. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the processor.
        logo:
          type: string
          description: URL supplying processor logo, if available.
        tokens:
          type: array
          description: 'A list of tokens calculated from the transaction model, used to identify the Merchant.  This list is often present even if the merchant details (id, slug, disply_name, logo) are not returned.

            '
          items:
            $ref: '#/components/schemas/Token'
        website:
          type: string
          description: URL supplying merchant website, if available.
    Category:
      title: Category
      type: object
      description: Category associated with a Transaction
      required:
      - slug
      - confidence
      properties:
        slug:
          type: string
          description: Unique human readable identifier of the category. Not subject to version control.
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
