openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Retrieve Financial Data API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Retrieve Financial Data
  x-displayName: Retrieve Financial Data
  description: Retrieve a customer's financial data from a range of sources.
paths:
  /financial/v3/accounts:
    get:
      tags:
      - Retrieve Financial Data
      summary: Retrieve Accounts V3
      description: 'Retrieves a list of a customer''s connected accounts. The result can be filtered using the parameters outlined below.

        > 📘 Note: > > For more information on the Account object, please refer to our handy guide.'
      operationId: financial_v3_accounts_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/QueryCurrency'
      - $ref: '#/components/parameters/QueryProvider'
      - in: query
        name: account_type
        schema:
          type: string
        example: current_account
        description: "Use this parameter to filter the results returned on the `account_type` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `account_type` will be returned.\nCurrently supported values include (but are not necessarily limited to):\n  - `auto_loan`\n  - `boat_loan`\n  - `brokerage`\n  - `business_loan`\n  - `certificate_of_deposit`\n  - `charge_card`\n  - `checking_account`\n  - `credit_card`\n  - `current_account`\n  - `disability_insurance`\n  - `e_money`\n  - `health_insurance`\n  - `home_equity_loan`\n  - `investment`\n  - `ira`\n  - `liability_insurance`\n  - `life_insurance`\n  - `line_of_credit`\n  - `loan`\n  - `money_market`\n  - `mortgage`\n  - `other`\n  - `personal_loan`\n  - `pre_paid_card`\n  - `property_insurance`\n  - `roth`\n  - `rv_loan`\n  - `savings`\n  - `student_loan`\n  - `travel_insurance`\n  - `vehicle_insurance`\n"
      - in: query
        name: usage_type
        schema:
          type: string
        example: personal
        description: "Use this parameter to filter the results returned on the `usage_type` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `usage_type` will be returned.\nCurrently supported values include (but are not necessarily limited to):\n  - `personal`\n  - `business`\n"
      - in: query
        name: holder_relationship_type
        schema:
          type: string
        example: joint
        description: "Use this parameter to filter the results returned on the `holder_relationship_type` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `holder_relationship_type` will be returned.\nCurrently supported values include (but are not necessarily limited to):\n  - `sole`\n  - `joint`\n  - `delegate`\n  - `unknown`\n"
      - in: query
        name: include_all_balances
        schema:
          type: boolean
        example: true
        description: 'Use this parameter to include all balances associated with each account.  If this parameter is not provided then only the pending and booked balance will be returned where available.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsV3Response'
              examples:
                Account:
                  value:
                    operation_id: financial_v3_accounts_get
                    data:
                    - account_id: RxsYshVGded4JeilkXgWKdXA
                      currency: GBP
                      holders:
                      - name: David Smith
                        relationship: unknown
                      account_name: My Current Account
                      suggested_name: My Current Account
                      account_type: current_account
                      usage_type: personal
                      account_category: depository
                      provider: BankOfBud
                      provider_display_name: Bank Of Bud
                      provider_logo: https://assets.thisisbud.com/merchants/BankOfBud.png
                      opening_date_time: '2019-10-01T00:00:00Z'
                      identifiers:
                        uk_sort_code: '126432'
                        uk_account_number: '31510604'
                      balances:
                        booked:
                          date: '2023-01-12T00:00:00Z'
                          amount:
                            value: '3552.61'
                            currency: GBP
                          credit_debit_indicator: credit
                        pending:
                          date: '2023-01-12T00:00:00Z'
                          amount:
                            value: '3552.61'
                            currency: GBP
                          credit_debit_indicator: credit
                      credit_lines:
                        limit:
                          date: '2023-01-12T00:00:00Z'
                          amount:
                            value: '1000.00'
                            currency: GBP
                    - account_id: 97282bfc-84a5-44f6-9a3e-399903f92f7a
                      currency: GBP
                      holders:
                      - name: Sarah Jones
                        relationship: unknown
                      suggested_name: Current Account 0603
                      account_type: current_account
                      usage_type: personal
                      account_category: depository
                      status: closed
                      closed_at: '2023-01-11T00:00:00Z'
                      provider: BankOfBud
                      provider_display_name: Bank Of Bud
                      provider_logo: https://assets.thisisbud.com/merchants/BankOfBud.png
                      identifiers:
                        uk_sort_code: '126433'
                        uk_account_number: '21510603'
                      balances:
                        booked:
                          date: '2023-01-11T00:00:00Z'
                          amount:
                            value: '2552.61'
                            currency: GBP
                          credit_debit_indicator: credit
                        pending:
                          date: '2023-01-11T00:00:00Z'
                          amount:
                            value: '2552.61'
                            currency: GBP
                          credit_debit_indicator: credit
                      credit_lines:
                        limit:
                          date: '2023-01-11T00:00:00Z'
                          amount:
                            value: '1000.00'
                            currency: GBP
                    metadata:
                      parameters:
                        currencies:
                        - GBP
                      results: 2
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                CustomerID Not Sent:
                  value:
                    operation_id: financial_v3_accounts_get
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id: not present
                CustomerID and CustomerSecret Not Sent:
                  value:
                    operation_id: financial_v3_accounts_get
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id:
                      - not present
                      X-Customer-Secret:
                      - not present
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: Unauthorised request
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: 'An error occurred while processing your request. Get in touch with us and provide us your request id: 7ef63242-ba6d-4661-8014-f9eaa9cb2ad8'
  /financial/v3/accounts/{account_id}:
    get:
      tags:
      - Retrieve Financial Data
      summary: Retrieve Account By ID V3
      description: 'Retrieves a customer''s connected account by its ID.

        > 📘 Note: > > For more information on the Account object, please refer to our handy guide.'
      operationId: financial_v3_accounts_account_id_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/PathAccountID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAccountByIDV3Response'
              examples:
                Account:
                  value:
                    operation_id: financial_v3_accounts_account_id_get
                    data:
                      account_id: RxsYshVGded4JeilkXgWKdXA
                      currency: GBP
                      holders:
                      - name: David Smith
                        relationship: unknown
                      suggested_name: Current Account 0604
                      account_type: current_account
                      provider: BankOfBud
                      identifiers:
                        uk_sort_code: '126432'
                        uk_account_number: '31510604'
                      balance:
                        booked:
                          date: '2023-01-12T00:00:00Z'
                          amount:
                            value: '3552.61'
                            currency: GBP
                          credit_debit_indicator: debit
                      credit_lines:
                        limit:
                          date: '2023-01-12T00:00:00Z'
                          amount:
                            value: '1000.00'
                            currency: GBP
                    metadata:
                      parameters:
                        account_id: RxsYshVGded4JeilkXgWKdXA
                      results: 1
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                CustomerID Not Sent:
                  value:
                    operation_id: financial_v3_accounts_account_id_get
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id: not present
                CustomerID and CustomerSecret Not Sent:
                  value:
                    operation_id: financial_v3_accounts_account_id_get
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id:
                      - not present
                      X-Customer-Secret:
                      - not present
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: Unauthorised request
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: 'An error occurred while processing your request. Get in touch with us and provide us your request id: 7ef63242-ba6d-4661-8014-f9eaa9cb2ad8'
  /financial/v3/accounts/transaction-dates:
    get:
      tags:
      - Retrieve Financial Data
      summary: Retrieve Account Transaction Dates
      description: Retrieves a summary listing the first and last transaction per customer's accounts.
      operationId: financial_v3_accounts_transaction_dates_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountTransactionDatesV3Response'
              examples:
                Account:
                  value:
                    operation_id: financial_v3_accounts_transaction_dates_get
                    data:
                    - account_id: 1da3ba98-07f7-469e-b7e7-3a7cfcf19b82
                      first_transaction_date: '2024-12-08T02:59:00Z'
                      last_transaction_date: '2025-12-02T02:00:00Z'
                    - account_id: 6aa9a396-75ca-48da-9dba-5f4094cb3a83
                      first_transaction_date: '2024-12-01T02:00:00Z'
                      last_transaction_date: '2025-12-01T02:00:00Z'
                    metadata:
                      results: 2
                      first_transaction_date: '2024-12-01T02:00:00Z'
                      last_transaction_date: '2025-12-02T02:00:00Z'
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                CustomerID Not Sent:
                  value:
                    operation_id: financial_v3_accounts_get
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id: not present
                CustomerID and CustomerSecret Not Sent:
                  value:
                    operation_id: financial_v3_accounts_get
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id:
                      - not present
                      X-Customer-Secret:
                      - not present
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: Unauthorised request
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: 'An error occurred while processing your request. Get in touch with us and provide us your request id: 7ef63242-ba6d-4661-8014-f9eaa9cb2ad8'
  /financial/v3/balances:
    get:
      tags:
      - Retrieve Financial Data
      summary: Retrieve Balances Over Time V3
      description: 'List the balances of each bank account for a customer across all ingestion sources. Ordered by balance date.

        It calculates the balance for each date, by iterating from the date the account was last refreshed to the `to` and `from` dates provided. It then checks all the transactions within this range, calculating the balance at the end of each day.

        This endpoint limits the date from which it gets balances by the oldest `transaction_window` on the account. If `transaction_windows` are not present, it is not possible to calculate balances and the endpoint returns an empty list.

        You can only request balances within transaction windows, therefore if you ingest transactions without a transaction window, you won''t be able to request balance for that time range. However those transactions will be used to calculate the balance as well.

        For users ingesting data via the `Ingest Accounts` endpoint, you can increase the range and accuracy of the data supplied from this service by including the transaction_window field upon account ingestion.

        The balances selected to use as latest pending & latest booked in the calculation are selected according to a provider specific balance type priority list.

        Results are limited to up to 5000 balance items across all accounts.'
      operationId: financial_v3_balances_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/QueryFromBudDate'
      - $ref: '#/components/parameters/QueryToBudDate'
      - in: query
        name: granularity
        schema:
          type: string
        example: daily
        description: "Specifies in what interval the balance over time should be retrieved.\nCurrently supported values include (but are not necessarily limited to):\n  - `daily`\n  - `weekly`\n  - `biweekly`\n  - `monthly`\n  - `quarterly`\n  - `six_monthly`\n  - `annually`\n\nDefaults to `weekly`.\n"
      - $ref: '#/components/parameters/QueryDateField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBalancesV3Response'
              example:
                operation_id: financial_v3_balances_get
                data:
                - account_id: 705e95fea8312d9a9b227b682033d55f
                  balances:
                  - date: '2022-11-15T23:59:59Z'
                    booked:
                      amount:
                        value: '900.00'
                        currency: GBP
                      credit_debit_indicator: credit
                    pending:
                      amount:
                        value: '850.00'
                        currency: GBP
                      credit_debit_indicator: credit
                  - date: '2022-11-14T23:59:59Z'
                    booked:
                      amount:
                        value: '950.00'
                        currency: GBP
                      credit_debit_indicator: credit
                    pending:
                      amount:
                        value: '900.00'
                        currency: GBP
                      credit_debit_indicator: credit
                - account_id: 9df0b46c8ab58277abc432fee26067ad
                  balances:
                  - date: '2022-11-15T23:59:59Z'
                    booked:
                      amount:
                        value: '500'
                        currency: JPY
                      credit_debit_indicator: credit
                    pending:
                      amount:
                        value: '500'
                        currency: JPY
                      credit_debit_indicator: credit
                metadata:
                  accounts:
                    5b271e24-9ea5-4d7e-b5da-64f01d32db22:
                      balance_count: 2
                      from: '2022-11-14T23:59:59Z'
                      to: '2022-11-15T23:59:59Z'
                      max_balance:
                        value: '500.00'
                        currency: JPY
                      min_balance:
                        value: '200.00'
                        currency: GBP
                    b6e9ea3c-71f9-4572-983a-3e5e85470dad:
                      balance_count: 1
                      from: '2022-11-15T23:59:59Z'
                      to: '2022-11-15T23:59:59Z'
                      max_balance:
                        value: '500.12'
                        currency: GBP
                      min_balance:
                        value: '0.00'
                        currency: GBP
                  parameters:
                    from: '2020-12-22T00:00:00Z'
                    to: '2022-11-15T00:00:00Z'
                    granularity: daily
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: An unauthenticated request was received.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: financial_v3_balances_get
                code_id: internal_error
                message: Internal server error has occurred.
  /financial/v3/accounts/{account_id}/balances:
    get:
      tags:
      - Retrieve Financial Data
      summary: Retrieve Balances Over Time By Account V3
      description: 'List the balances of a specific bank account for a customer across all ingestion sources. Ordered by balance date.

        It calculates the balance for each date, by iterating from the date the account was last refreshed to the `to` and `from` dates provided. It then checks all the transactions within this range, calculating the balance at the end of each day.

        This endpoint limits the date from which it gets balances by the oldest `transaction_window` on the account. If `transaction_windows` are not present, it is not possible to calculate balances and the endpoint returns an empty list.

        You can only request balances within transaction windows, therefore if you ingest transactions without a transaction window, you won''t be able to request balance for that time range. However those transactions will be used to calculate the balance as well.

        For users ingesting data via the `Ingest Accounts` endpoint, you can increase the range and accuracy of the data supplied from this service by including the transaction_window field upon account ingestion.

        The balances selected to use as latest pending & latest booked in the calculation are selected according to a provider specific balance type priority list.

        Results are limited to up to 5000 balance items.'
      operationId: financial_v3_accounts_balances_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/QueryFromBudDate'
      - $ref: '#/components/parameters/QueryToBudDate'
      - $ref: '#/components/parameters/PathAccountID'
      - in: query
        name: granularity
        schema:
          type: string
        example: daily
        description: "Specifies in what interval the balance over time should be retrieved.\nCurrently supported values include (but are not necessarily limited to):\n  - `daily`\n  - `weekly`\n  - `biweekly`\n  - `monthly`\n  - `quarterly`\n  - `six_monthly`\n  - `annually`\n\nDefaults to `weekly`.\n"
      - $ref: '#/components/parameters/QueryDateField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBalancesForAccountIDV3Response'
              example:
                operation_id: financial_v3_accounts_balances_get
                data:
                - date: '2022-11-15T23:59:59Z'
                  booked:
                    amount:
                      value: '900.00'
                      currency: GBP
                    credit_debit_indicator: credit
                  pending:
                    amount:
                      value: '850.00'
                      currency: GBP
                    credit_debit_indicator: credit
                - date: '2022-11-14T23:59:59Z'
                  booked:
                    amount:
                      value: '950.00'
                      currency: GBP
                    credit_debit_indicator: credit
                  pending:
                    amount:
                      value: '900.00'
                      currency: GBP
                    credit_debit_indicator: credit
                metadata:
                  accounts:
                    balance_count: 2
                    from: '2022-11-14T23:59:59Z'
                    to: '2022-11-15T23:59:59Z'
                    max_balance:
                      value: '500.12'
                      currency: GBP
                    min_balance:
                      value: '0.00'
                      currency: GBP
                  parameters:
                    from: '2020-12-22T00:00:00Z'
                    to: '2022-11-15T00:00:00Z'
                    granularity: daily
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: An unauthenticated request was received.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestNotFoundResponse'
              example:
                operation_id: financial_v3_accounts_balances_get
                code_id: account_not_found
                message: The specified account could not be found. Please check the account identifier is correct. The account might be closed or suspended.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: financial_v3_accounts_balances_get
                code_id: internal_error
                message: Internal server error has occurred.
  /financial/v2/transactions:
    get:
      tags:
      - Retrieve Financial Data
      summary: Retrieve Transactions V2
      description: 'List the Transactions for a customer across all ingestion sources and accounts. Ordered by `date_time` and then `transaction_id` descending.


        They are also provided with Enrichments - contextual information generated by Bud''s artificial intelligence models. Enrichments are optional because not all Enrichments are relevant to all Transactions, or because they did not have enough information to generate enrichments (e.g. pending Transactions).

        The Enrichment process also generates tags, which can be used for filtering using the `include_tags` and `exclude_tags` query parameters.'
      operationId: v2_transactions_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - in: query
        name: date_from
        schema:
          type: string
        example: '2022-05-28T00:00:00Z'
        description: 'Date (RFC3339) from which the transactions should be returned from. To maintain backwards compatibility,  dates in the format (YYYY-MM-DD) can also be used and will be assumed to be UTC.

          '
      - in: query
        name: date_to
        schema:
          type: string
        example: '2022-05-29T00:00:00Z'
        description: 'Date (RFC3339) from which the transactions should be returned to. To maintain backwards compatibility,  dates in the format (YYYY-MM-DD) can also be used and will be assumed to be UTC. Uses the current date by default.

          '
      - in: query
        name: page_size
        schema:
          type: integer
        example: 100
        description: "Maximum number of results to be returned. Defaults to 100, maximum is 200. \nNote: When using the `exclude_tags` filter, the response may contain more transactions than the specified  `page_size` to ensure complete filtering. Always use the presence of `next_page_token` to determine if  additional pages are available.\n"
      - in: query
        name: page_token
        schema:
          type: string
        example: eyJvZmZzZXQiOjEwMH0
        description: The token required to fetch a specific page of results. Provided by the `next_page_token` field in the previous request.
      - in: query
        name: account_id
        schema:
          type: string
        example: 5bd9ecaf31fc2d5172fd89cb61b89fc6
        description: Identifier of the accounts from which transactions should be returned.
      - in: query
        name: merchant
        schema:
          type: string
        description: Human readable identifier of the merchants for which associated transactions should be returned.
        example: netflix
      - in: query
        name: category_l1
        schema:
          type: string
        example: bills
        description: Identifier of the Category Level 1 for which associated transactions should be returned.
      - in: query
        name: category_l2
        schema:
          type: string
        example: tv_and_broadband
        description: Identifier of the Category Level 2 for which associated transactions should be returned.
      - in: query
        name: include_tags
        schema:
          type: array
          items:
            type: string
        example:
        - regular-transaction
        description: Tags for which associated transactions should be returned. See response body example for an exhaustive list of possible tags.
      - in: query
        name: exclude_tags
        schema:
          type: array
          items:
            type: string
        example:
        - benefit
        description: 'Tags for which associated transactions should not be returned. See response body example for an exhaustive  list of possible tags.

          When this filter is applied, the response may include more transactions than the `page_size` to ensure  accurate filtering. Always use the presence of `next_page_token` to determine if  additional pages are available.

          '
      - in: query
        name: credit_debit_indicator
        schema:
          type: string
          enum:
          - credit
          - debit
        example: credit
        description: Credit debit indicator for which associated transactions should be returned.
      - in: query
        name: updated_after
        schema:
          type: string
        example: '2024-06-01T11:00:00Z'
        description: "The `updated_after` parameter lets you retrieve transactions that have been modified since  a specific date and time. This format should follow the RFC3339 standard (e.g., \"2024-06-01T11:00:00Z\").\nThis parameter is particularly useful for keeping local copies of transactions up-to-date. By storing the  timestamp of your last successful fetch, you can request only transactions updated after that point during  subsequent retrievals. \nThis approach ensures you only fetch the latest changes, making the process more streamlined.\n"
      - in: query
        name: status
        schema:
          type: string
          enum:
          - booked
          - pending
          - declined
        example: booked
        description: 'Statuses of transactions to be returned. This parameter can be supplied multiple times to fetch transactions with a combination of statuses.


          By default, declined transactions are excluded from the results.

          Note: Transactions ingested via Open Banking will only come as `booked` or `pending`.

          The `declined` status is only applicable to transactions ingested through our `Ingest First Party Data` endpoint.

          '
      responses:
        '200':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionsResponse'
              examples:
                Multiple Transactions:
                  value:
                    operation_id: v2_transactions_get
                    data:
                    - transaction_id: fbdc28e82f0f137586a526a88ec4a6be
                      account_id: 5bd9ecaf31fc2d5172fd89cb61b89fc6
                      provider: BankOfBud
                      description: tesco store 2613 on 28 may visa
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Tesco
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v2/tesco.jpeg
                      transaction_type:
                        bud_code: DEB
                        description: Debit card transaction
                      amount:
                        value: '20.25'
                        currency: GBP
                      date_time: '2022-05-28T15:00:00Z'
                      value_date_time: '2022-05-29T00:00:00Z'
                      merchant_category_code: '5411'
                      enrichments:
                        categories:
                          l1:
                            slug: food_and_drink
                            confidence: '0.99'
                          l2:
                            slug: groceries
                            confidence: '0.99'
                        merchant:
                          id: 17ac2742-8c93-4c11-a01f-17ad65b950ce
                          slug: tesco
                          display_name: Tesco
                          logo: https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v1/tesco.jpeg
                          website: www.tesco.com
                          tokens:
                          - value: tesco store
                            confidence: '1.00'
                        processor:
                          id: bd7125f7-1a1e-4aeb-a774-80f86ec989cc
                          slug: visa
                          display_name: Visa
                          logo: https://assets.thisisbud.com/datasci-images/merchant_logos/bd7125f7-1a1e-4aeb-a774-80f86ec989cc/v1/visa.jpeg
                          website: https://www.paypal.com
                          tokens:
                          - value: visa
                            confidence: '1.00'
                        location:
                          address:
                            address_lines:
                            - 180 Shepherd's Bush Road
                            - London
                            - Greater London
                            - W6 7NL
                            street_address: 180 Shepherd's Bush Road
                            city: London
                            region: Greater London
                            postal_code: W6 7NL
                            country: GB
                          geolocation:
                            longitude: 51.497369
                            latitude: -0.224128
                        transaction_types:
                        - card
                        - debit
                    - transaction_id: a2294cebb45d2a6e0cfc70d270988d8c
                      account_id: 37c633a71237b9a8282e09587109668e
                      provider: BankOfBud
                      description: caffe nero 495 ladbroke london gbr
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Caffè Nero
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf/v2/caffnero.jpeg
                      transaction_type:
                        bud_code: DEB
                        description: Debit card transaction
                      amount:
                        value: '3.29'
                        currency: GBP
                      date_time: '2022-05-26T10:00:00Z'
                      value_date_time: '2022-05-27T00:00:00Z'
                      merchant_category_code: '5814'
                      enrichments:
                        categories:
                          l1:
                            slug: food_and_drink
                            confidence: '0.99'
                          l2:
                            slug: coffee
                            confidence: '0.99'
                        merchant:
                          id: 4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf
                          slug: caffnero
                          display_name: Caffè Nero
                          logo: https://assets.thisisbud.com/datasci-images/merchant_logos/4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf/v1/caffnero.jpeg
                          website: www.caffenero.com/uk
                          tokens:
                          - value: caffe nero
                            confidence: '1.00'
                        location:
                          address:
                            address_lines:
                            - 120-122 Ladbroke Grove
                            - London
                            - Greater London
                            - W10 5NE
                            street_address: 120-122 Ladbroke Grove
                            city: London
                            region: Greater London
                            postal_code: W10 5NE
                            country: GB
                          geolocation:
                            longitude: 51.517301
                            latitude: -0.209689
                          tokens:
                          - gbr
                          - ladbroke
                          - london
                    - transaction_id: cfb6dd1f4c73e1fc36aac756e12644d7
                      account_id: 37c633a71237b9a8282e09587109668e
                      provider: BankOfBud
                      description: JOHN SMITH RENT SHARE
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: JOHN SMITH RENT SHARE
                      transaction_type:
                        bud_code: BAT
                        description: Bank Transfer
                      amount:
                        value: '375.00'
                        currency: GBP
                      date_time: '2022-05-30T00:00:00Z'
                      value_date_time: '2022-05-30T00:00:00Z'
                      enrichments:
                        categories:
                          l1:
                            slug: mortgage_and_rent
                            confidence: '0.98'
                          l2:
                            slug: rent
                            confidence: '0.98'
                        regularity:
                          frequency: monthly
                          predicted_date_times:
                          - '2022-06-30T00:00:00Z'
                          - '2022-08-01T00:00:00Z'
                          - '2022-08-30T00:00:00Z'
                          group_label: 982cb10a156f53a082840ba72c3ee3291b95379a5c39a9d5972fd50731b169e3
                        names:
                        - john smith
                      tags:
                      - regular-transaction
                    metadata:
                      results: 2
                      next_page_token: eyJvZmZzZXQiOjEwMH0
                Updated After Response:
                  value:
                    operation_id: v2_transactions_get
                    data:
                    - transaction_id: fbdc28e82f0f137586a526a88ec4a6be
                      account_id: 5bd9ecaf31fc2d5172fd89cb61b89fc6
                      provider: BankOfBud
                      description: tesco store 2613 on 28 may visa
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Tesco
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v2/tesco.jpeg
                      transaction_type:
                        bud_code: DEB
                        description: Debit card transaction
                      amount:
                        value: '20.25'
                        currency: GBP
                      date_time: '2022-05-28T15:00:00Z'
                      value_date_time: '2022-05-29T00:00:00Z'
                      merchant_category_code: '5411'
                      enrichments:
                        categories:
                          l1:
                            slug: food_and_drink
                            confidence: '0.99'
                          l2:
                            slug: groceries
                            confidence: '0.99'
                        merchant:
                          id: 17ac2742-8c93-4c11-a01f-17ad65b950ce
                          slug: tesco
                          display_name: Tesco
                          logo: https://assets.thisisbud.com/datasci-images/merchant_logos/17ac2742-8c93-4c11-a01f-17ad65b950ce/v1/tesco.jpeg
                          website: www.tesco.com
                          tokens:
                          - value: tesco store
                            confidence: '1.00'
                        processor:
                          id: bd7125f7-1a1e-4aeb-a774-80f86ec989cc
                          slug: visa
                          display_name: Visa
                          logo: https://assets.thisisbud.com/datasci-images/merchant_logos/bd7125f7-1a1e-4aeb-a774-80f86ec989cc/v1/visa.jpeg
                          website: https://www.paypal.com
                          tokens:
                          - value: visa
                            confidence: '1.00'
                        location:
                          address:
                            address_lines:
                            - 180 Shepherd's Bush Road
                            - London
                            - Greater London
                            - W6 7NL
                            street_address: 180 Shepherd's Bush Road
                            city: London
                            region: Greater London
                            postal_code: W6 7NL
                            country: GB
                          geolocation:
                            longitude: 51.497369
                            latitude: -0.224128
                        transaction_types:
                        - card
                        - debit
                    - transaction_id: a2294cebb45d2a6e0cfc70d270988d8c
                      account_id: 37c633a71237b9a8282e09587109668e
                      provider: BankOfBud
                      description: caffe nero 495 ladbroke london gbr
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: Caffè Nero
                      suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf/v2/caffnero.jpeg
                      transaction_type:
                        bud_code: DEB
                        description: Debit card transaction
                      amount:
                        value: '3.29'
                        currency: GBP
                      date_time: '2022-05-26T10:00:00Z'
                      value_date_time: '2022-05-27T00:00:00Z'
                      merchant_category_code: '5814'
                      enrichments:
                        categories:
                          l1:
                            slug: food_and_drink
                            confidence: '0.99'
                          l2:
                            slug: coffee
                            confidence: '0.99'
                        merchant:
                          id: 4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf
                          slug: caffnero
                          display_name: Caffè Nero
                          logo: https://assets.thisisbud.com/datasci-images/merchant_logos/4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf/v1/caffnero.jpeg
                          website: www.caffenero.com/uk
                          tokens:
                          - value: caffe nero
                            confidence: '1.00'
                        location:
                          address:
                            address_lines:
                            - 120-122 Ladbroke Grove
                            - London
                            - Greater London
                            - W10 5NE
                            street_address: 120-122 Ladbroke Grove
                            city: London
                            region: Greater London
                            postal_code: W10 5NE
                            country: GB
                          geolocation:
                            longitude: 51.517301
                            latitude: -0.209689
                          tokens:
                          - gbr
                          - ladbroke
                          - london
                    - transaction_id: cfb6dd1f4c73e1fc36aac756e12644d7
                      account_id: 37c633a71237b9a8282e09587109668e
                      provider: BankOfBud
                      description: JOHN SMITH RENT SHARE
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: JOHN SMITH RENT SHARE
                      transaction_type:
                        bud_code: BAT
                        description: Bank Transfer
                      amount:
                        value: '375.00'
                        currency: GBP
                      date_time: '2022-05-30T00:00:00Z'
                      value_date_time: '2022-05-30T00:00:00Z'
                      enrichments:
                        categories:
                          l1:
                            slug: mortgage_and_rent
                            confidence: '0.98'
                          l2:
                            slug: rent
                            confidence: '0.98'
                        regularity:
                          frequency: monthly
                          predicted_date_times:
                          - '2022-06-30T00:00:00Z'
                          - '2022-08-01T00:00:00Z'
                          - '2022-08-30T00:00:00Z'
                          group_label: 982cb10a156f53a082840ba72c3ee3291b95379a5c39a9d5972fd50731b169e3
                        names:
                        - john smith
                      tags:
                      - regular-transaction
                    metadata:
                      results: 2
                      updated_after: '2022-05-29T00:00:00Z'
                      deleted:
                      - transaction_id: a8f6d57f-a95e-4925-9775-4c4d85911f4c
                        at: '2022-06-01T12:59:00Z'
                      - transaction_id: 4354e288-2f67-43d6-a1de-d6750e0d5f73
                        at: '2022-06-02T13:12:00Z'
                      next_page_token: eyJvZmZzZXQiOjEwMH0
                Single Transaction Without Enrichments:
                  value:
                    operation_id: v2_transactions_get
                    data:
                    - transaction_id: da4ad499c86956e65e811fc88f6b54af
                      account_id: 72fa858459bd32ce0b5fd9daf813fd07
                      provider: BankOfBud
                      description: a
                      credit_debit_indicator: credit
                      status: pending
                      suggested_description: a
                      amount:
                        value: '10.99'
                        currency: GBP
                      date_time: '2022-01-02T15:00:00Z'
                      value_date_time: '2022-01-02T15:00:00Z'
                    metadata:
                      results: 1
                      next_page_token: eyJvZmZzZXQiOjEwMH0
                No Transactions:
                  value:
                    operation_id: v2_transactions_get
                    data: []
                    metadata:
                      results: 0
        '401':
          description: An unauthenticated request was received.
        '405':
          description: The request uses an unexpected HTTP method.
        5XX:
          description: An unexpected error occurred on the server side.
  /financial/v2/authorised-payments:
    get:
      tags:
      - Retrieve Financial Data
      summary: Retrieve Authorised Payments V2
      description: 'Retrieves a list of a customer''s authorised payments. Currently supported authorised payment types include (but are not necessarily limited to): - direct debits - standing orders - scheduled payments

        > 📘 Note: > > Not all providers support authorised payments'
      operationId: financial_v2_authorised_payments_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - in: query
        name: account_id
        schema:
          type: string
        description: 'Identifier of the accounts from which transactions should be returned.

          Example: "5bd9ecaf31fc2d5172fd89cb61b89fc6"

          '
      - in: query
        name: page_size
        schema:
          type: integer
        example: 100
        description: 'Maximum number of results to be returned. Defaults to 100, maximum is 200.

          Example: 100

          '
      - in: query
        name: page_token
        schema:
          type: string
        example: eyJvZmZzZXQiOjEwMH0
        description: 'The token required to fetch a specific page of results. Provided by the `next_page_token` field in the previous request. Example: `eyJvZmZzZXQiOjEwMH0`

          '
      - in: query
        name: status
        schema:
          type: string
        example: active
        description: "Use this parameter to filter the results returned on the `status` associated with each result. If this parameter is not provided then results of any `status` will be returned.\n\n Currently supported values include (but are not necessarily limited to):\n  - `active``\n  - `inactive`\n  - `cancelled`\n  - `expired`\n  - `suspended`\n  - `unknown`\n"
      - in: query
        name: type
        schema:
          type: string
        example: direct_debit
        description: "Use this parameter to filter the results returned on the `type` associated with each result. If this parameter is not provided then results of any `type` will be returned.\nCurrently supported values include (but are not necessarily limited to):\n  - `direct_debit`\n  - `standing_order`\n  - `scheduled_payment`\n"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthorisedPaymentsV2Response'
              examples:
                Direct debit example:
                  value:
                    operation_id: financial_v2_authorised_payments_get
                    data:
                    - account_id: RxsYshVGded4JeilkXgWKdXA
                      id: DD03
                      type: direct_debit
                      reference: TV streaming subscription
                      status: active
                      name: Television streaming subscription
                      frequency: monthly
                      details:
                      - credit_debit_indicator: debit
                        amount:
                          value: '7.89'
                          currency: GBP
                        date: '2017-04-05T10:43:07+00:00'
                        type: previous_payment
                    metadata:
                      results: 1
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                CustomerID Not Sent:
                  value:
                    operation_id: financial_v2_authorised_payments_get
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id: not present
                CustomerID and CustomerSecret Not Sent:
                  value:
                    operation_id: financial_v2_authorised_payments_get
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id:
                      - not present
                      X-Customer-Secret:
                      - not present
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: Unauthorised request.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: 'An error occurred while processing your request. Get in touch with us and provide us your request id: 7ef63242-ba6d-4661-8014-f9eaa9cb2ad8.'
  /financial/v2/accounts:
    get:
      deprecated: true
      tags:
      - Retrieve Financial Data
      summary: Retrieve Accounts V2
      description: 'Retrieves a list of a customer''s connected accounts. The result can be filtered using the parameters outlined below.


        > ❗️ Deprecation:

        >

        > Support will cease for this endpoint on the 1st of April 2025 - please complete your migration to the Retrieve Accounts V3 endpoint by that point in time. For further details, contact your Bud account manager or email help@thisisbud.com.'
      operationId: financial_v2_accounts
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/QueryCurrency'
      - $ref: '#/components/parameters/QueryProvider'
      - in: query
        name: account_type
        schema:
          type: string
        example: current_account
        description: "Use this parameter to filter the results returned on the `account_type` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `account_type` will be returned.\nCurrently supported values include (but are not necessarily limited to):\n  - `charge_card`\n  - `credit_card`\n  - `current_account`\n  - `e_money`\n  - `investment`\n  - `loan`\n  - `mortgage`\n  - `other`\n  - `pre_paid_card`\n  - `savings`\n"
      - in: query
        name: usage_type
        schema:
          type: string
        example: personal
        description: "Use this parameter to filter the results returned on the `usage_type` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `usage_type` will be returned.\nCurrently supported values include (but are not necessarily limited to):\n  - `personal`\n  - `business`\n"
      - in: query
        name: holder_relationship_type
        schema:
          type: string
        example: joint
        description: "Use this parameter to filter the results returned on the `holder_relationship_type` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `holder_relationship_type` will be returned.\nCurrently supported values include (but are not necessarily limited to):\n  - `sole`\n  - `joint`\n  - `delegate`\n  - `unknown`\n"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsV2Response'
              examples:
                Account Without Parties Data:
                  value:
                    operation_id: financial_v2_accounts
                    data:
                    - account_id: RxsYshVGded4JeilkXgWKdXA
                      currency: GBP
                      holder:
                        name: David Smith
                        relationship: unknown
                      account_name: My Current Account
                      account_type: current_account
                      usage_type: personal
                      provider: BankOfBud
                      identifiers:
                        uk_sort_code: '126432'
                        uk_account_number: '31510604'
                      balances:
                      - date: '2023-01-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: interim_booked
                        credit_debit_indicator: credit
                      - date: '2023-01-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: expected
                        credit_debit_indicator: credit
                      credit_lines:
                      - date: '2023-01-12T00:00:00Z'
                        type: credit
                        amount:
                          value: '1000.00'
                          currency: GBP
                    metadata:
                      parameters:
                        currencies:
                        - GBP
                      result_count: 1
                Account With Parties Data:
                  value:
                    operation_id: financial_v2_accounts
                    data:
                    - account_id: RxsYshVGded4JeilkXgWKdXA
                      currency: GBP
                      holders:
                      - name: David Smith
                        relationship: joint
                      - name: Jane Smith
                        relationship: joint
                      account_name: Household Account
                      account_type: current_account
                      usage_type: personal
                      provider: BankOfBud
                      identifiers:
                        uk_sort_code: '124332'
                        uk_account_number: '12642318'
                      balances:
                      - date: '2023-01-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: interim_booked
                        credit_debit_indicator: credit
                      - date: '2023-01-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: expected
                        credit_debit_indicator: credit
                      credit_lines:
                      - date: '2023-01-12T00:00:00Z'
                        type: credit
                        amount:
                          value: '1000.00'
                          currency: GBP
                    metadata:
                      parameters:
                        currencies:
                        - GBP
                      result_count: 1
                Closed Account:
                  value:
                    operation_id: financial_v2_accounts
                    data:
                    - account_id: RxsYshVGded4JeilkXgWKdXA
                      currency: GBP
                      holders:
                      - name: David Smith
                        relationship: joint
                      - name: Jane Smith
                        relationship: joint
                      account_name: Household Account
                      account_type: current_account
                      usage_type: personal
                      status: closed
                      closed_at: '2023-01-13T00:00:00Z'
                      provider: BankOfBud
                      identifiers:
                        uk_sort_code: '124332'
                        uk_account_number: '12642318'
                      balances:
                      - date: '2023-01-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: interim_booked
                        credit_debit_indicator: credit
                      - date: '2023-01-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: expected
                        credit_debit_indicator: credit
                      credit_lines:
                      - date: '2023-01-12T00:00:00Z'
                        type: credit
                        amount:
                          value: '1000.00'
                          currency: GBP
                    metadata:
                      parameters:
                        currencies:
                        - GBP
                      result_count: 1
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                CustomerID Not Sent:
                  value:
                    operation_id: financial_v2_accounts
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id: not present
                CustomerID and CustomerSecret Not Sent:
                  value:
                    operation_id: financial_v2_accounts
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id:
                      - not present
                      X-Customer-Secret:
                      - not present
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: Unauthorised request
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: 'An error occurred while processing your request. Get in touch with us and provide us your request id: 7ef63242-ba6d-4661-8014-f9eaa9cb2ad8'
  /financial/v2/accounts/{account_id}:
    get:
      deprecated: true
      tags:
      - Retrieve Financial Data
      summary: Retrieve Account By ID V2
      description: 'Retrieves a customer''s connected account by its ID.


        > ❗️ Deprecation:

        >

        > Support will cease for this endpoint on the 1st of April 2025 - please complete your migration to the Retrieve Accounts V3 endpoint by that point in time. For further details, contact your Bud account manager or email help@thisisbud.com.'
      operationId: financial_v2_accounts_account_id
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/PathAccountID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAccountByIDV2Response'
              examples:
                Single Holder Personal Account:
                  value:
                    operation_id: financial_v2_accounts_account_id
                    data:
                      account_id: RxsYshVGded4JeilkXgWKdXA
                      currency: GBP
                      holder:
                        name: David Smith
                        relationship: unknown
                      account_name: My Current Account
                      account_type: current_account
                      provider: BankOfBud
                      identifiers:
                        uk_sort_code: '126432'
                        uk_account_number: '31510604'
                      balance:
                        date: '2023-01-12T00:00:00Z'
                        booked:
                          amount:
                            value: '3552.61'
                            currency: GBP
                          credit_debit_indicator: debit
                        credit_limit:
                          value: '1000.00'
                          currency: GBP
                    metadata:
                      parameters:
                        currencies:
                        - GBP
                      result_count: 1
                Multiple Holder Joint Account:
                  value:
                    operation_id: financial_v2_accounts_account_id
                    data:
                      account_id: RxsYshVGded4JeilkXgWKdXA
                      currency: GBP
                      holders:
                      - name: David Smith
                        relationship: joint
                      - name: Jane Smith
                        relationship: joint
                      account_name: Household Account
                      account_type: current_account
                      provider: BankOfBud
                      identifiers:
                        uk_sort_code: '124332'
                        uk_account_number: '12642318'
                      balances:
                      - date: '2023-01-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: interim_booked
                        credit_debit_indicator: credit
                      - date: '2023-01-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: expected
                        credit_debit_indicator: credit
                      credit_lines:
                      - date: '2023-01-12T00:00:00Z'
                        type: credit
                        amount:
                          value: '1000.00'
                          currency: GBP
                    metadata:
                      parameters:
                        currencies:
                        - GBP
                      result_count: 1
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                CustomerID Not Sent:
                  value:
                    operation_id: financial_v2_accounts_account_id
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id: not present
                CustomerID and CustomerSecret Not Sent:
                  value:
                    operation_id: financial_v2_accounts_account_id
                    code_id: failed_validation
                    message: Invalid request payload.
                    errors:
                      X-Customer-Id:
                      - not present
                      X-Customer-Secret:
                      - not present
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: Unauthorised request
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: unknown
                code_id: unknown
                message: 'An error occurred while processing your request. Get in touch with us and provide us your request id: 7ef63242-ba6d-4661-8014-f9eaa9cb2ad8'
  /financial/v2/balances:
    get:
      tags:
      - Retrieve Financial Data
      summary: Retrieve Balances Over Time
      description: '> ❗️ Deprecation:

        >

        > Support will cease for this endpoint on the 1st of April 2025 - please complete your migration to the Retrieve Balances Over Time V3 endpoint by that point in time. For further details, contact your Bud account manager or email help@thisisbud.com.


        List the balances of each bank account for a customer across all ingestion sources. Ordered by balance date.


        It calculates the balance for each date, by iterating from the date the account was last refreshed to the `to`

        and `from` dates provided. It then checks all the transactions within this range, calculating the balance at

        the end of each day.


        This endpoint limits the date from which it gets balances by the oldest `transaction_window` on the

        account. If `transaction_windows` are not present, it is not possible to calculate balances and the endpoint

        returns an empty list.


        You can only request balances within transaction windows, therefore if you ingest transactions without a

        transaction window, you won''t be able to request balance for that time range. However those transactions will be

        used to calculate the balance as well.


        For users ingesting data via the `Ingest Accounts` endpoint, you can increase the range and accuracy of the

        data supplied from this service by including the transaction_window field upon account ingestion.


        Results are limited to up to 5000 balance items across all accounts.'
      operationId: financial_v2_balances_get
      deprecated: true
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/QueryFromBudDate'
      - $ref: '#/components/parameters/QueryToBudDate'
      - in: query
        name: granularity
        schema:
          type: string
        example: daily
        description: "Specifies in what interval the balance over time should be retrieved.\nCurrently supported values include (but are not necessarily limited to):\n  - `daily`\n  - `weekly`\n  - `biweekly`\n  - `monthly`\n  - `quarterly`\n  - `six_monthly`\n  - `annually`\n\nDefaults to `weekly`.\n"
      - $ref: '#/components/parameters/QueryDateField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBalancesResponse'
              example:
                operation_id: financial_v2_balances_get
                data:
                - account_id: 705e95fea8312d9a9b227b682033d55f
                  balances:
                  - date: '2022-11-15T23:59:59Z'
                    booked:
                      amount:
                        value: '900.00'
                        currency: GBP
                      type: interim_booked
                      credit_debit_indicator: credit
                    pending:
                      amount:
                        value: '850.00'
                        currency: GBP
                      type: expected
                      credit_debit_indicator: credit
                  - date: '2022-11-14T23:59:59Z'
                    booked:
                      amount:
                        value: '950.00'
                        currency: GBP
                      type: interim_booked
                      credit_debit_indicator: credit
                    pending:
                      amount:
                        value: '900.00'
                        currency: GBP
                      type: expected
                      credit_debit_indicator: credit
                - account_id: 9df0b46c8ab58277abc432fee26067ad
                  balances:
                  - date: '2022-11-15T23:59:59Z'
                    booked:
                      amount:
                        value: '500'
                        currency: JPY
                      type: interim_booked
                      credit_debit_indicator: credit
                metadata:
                  accounts:
                    5b271e24-9ea5-4d7e-b5da-64f01d32db22:
                      balance_count: 2
                      from: '2022-11-14T23:59:59Z'
                      to: '2022-11-15T23:59:59Z'
                      max_balance:
                        value: '500.00'
                        currency: JPY
                      min_balance:
                        value: '200.00'
                        currency: GBP
                    b6e9ea3c-71f9-4572-983a-3e5e85470dad:
                      balance_count: 1
                      from: '2022-11-15T23:59:59Z'
                      to: '2022-11-15T23:59:59Z'
                      max_balance:
                        value: '500.12'
                        currency: GBP
                      min_balance:
                        value: '0.00'
                        currency: GBP
                  parameters:
                    from: '2020-12-22T00:00:00Z'
                    to: '2022-11-15T00:00:00Z'
                    granularity: daily
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: An unauthenticated request was received.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: financial_v2_balances_get
                code_id: internal_error
                message: Internal server error has occurred.
  /financial/v2/accounts/{account_id}/balances:
    get:
      tags:
      - Retrieve Financial Data
      summary: Retrieve Balances Over Time By Account
      description: '> ❗️ Deprecation:

        >

        > Support will cease for this endpoint on the 1st of April 2025 - please complete your migration to the Retrieve Balances Over Time By Account V3 endpoint by that point in time. For further details, contact your Bud account manager or email help@thisisbud.com.


        List the balances of a specific bank account for a customer across all ingestion sources. Ordered by balance

        date.


        It calculates the balance for each date, by iterating from the date the account was last refreshed to the `to`

        and `from` dates provided. It then checks all the transactions within this range, calculating the balance at

        the end of each day.


        This endpoint limits the date from which it gets balances by the oldest `transaction_window` on the

        account. If `transaction_windows` are not present, it is not possible to calculate balances and the endpoint

        returns an empty list.


        You can only request balances within transaction windows, therefore if you ingest transactions without a

        transaction window, you won''t be able to request balance for that time range. However those transactions will be

        used to calculate the balance as well.


        For users ingesting data via the `Ingest Accounts` endpoint, you can increase the range and accuracy of the

        data supplied from this service by including the transaction_window field upon account ingestion.


        Results are limited to up to 5000 balance items.'
      operationId: financial_v2_accounts_balances_get
      deprecated: true
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/QueryFromBudDate'
      - $ref: '#/components/parameters/QueryToBudDate'
      - $ref: '#/components/parameters/PathAccountID'
      - in: query
        name: granularity
        schema:
          type: string
        example: daily
        description: "Specifies in what interval the balance over time should be retrieved.\nCurrently supported values include (but are not necessarily limited to):\n  - `daily`\n  - `weekly`\n  - `biweekly`\n  - `monthly`\n  - `quarterly`\n  - `six_monthly`\n  - `annually`\n\nDefaults to `weekly`.\n"
      - $ref: '#/components/parameters/QueryDateField'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBalancesForAccountIDResponse'
              example:
                operation_id: financial_v2_accounts_balances_get
                data:
                - date: '2022-11-15T23:59:59Z'
                  booked:
                    amount:
                      value: '900.00'
                      currency: GBP
                    type: interim_booked
                    credit_debit_indicator: credit
                  pending:
                    amount:
                      value: '850.00'
                      currency: GBP
                    type: expected
                    credit_debit_indicator: credit
                - date: '2022-11-14T23:59:59Z'
                  booked:
                    amount:
                      value: '950.00'
                      currency: GBP
                    type: interim_booked
                    credit_debit_indicator: credit
                  pending:
                    amount:
                      value: '900.00'
                      currency: GBP
                    type: expected
                    credit_debit_indicator: credit
                metadata:
                  accounts:
                    balance_count: 2
                    from: '2022-11-14T23:59:59Z'
                    to: '2022-11-15T23:59:59Z'
                    max_balance:
                      value: '500.12'
                      currency: GBP
                    min_balance:
                      value: '0.00'
                      currency: GBP
                  parameters:
                    from: '2020-12-22T00:00:00Z'
                    to: '2022-11-15T00:00:00Z'
                    granularity: daily
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: An unauthenticated request was received.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestNotFoundResponse'
              example:
                operation_id: financial_v2_accounts_balances_get
                code_id: account_not_found
                message: The specified account could not be found. Please check the account identifier is correct. The account might be closed or suspended.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponse'
              example:
                operation_id: financial_v2_accounts_balances_get
                code_id: internal_error
                message: Internal server error has occurred.
components:
  schemas:
    AccountV3CreditLine_WithType:
      type: object
      title: Credit_Line
      required:
      - date
      - type
      - amount
      properties:
        date:
          type: string
          description: "The date when the credit line was last updated in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-01-17T17:29:51Z`\n  - `2023-01-17T17:29:51-08:00`\n"
        type:
          type: string
          description: "The type of the given credit line.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `available`\n  - `credit`\n  - `emergency`\n  - `pre_agreed`\n  - `temporary`\n"
        amount:
          $ref: '#/components/schemas/BudAmount'
    AuthorisedPaymentItem:
      title: Authorised Payment
      description: An authorised payment item.
      type: object
      required:
      - credit_debit_indicator
      - amount
      - date
      - type
      properties:
        type:
          type: string
          description: "The type of the transaction.\n\nExamples:\n - `previous_payment`\n - `first_payment`\n - `next_payment`\n - `final_payment`\n - `schedule_payment`\n"
        credit_debit_indicator:
          type: string
          description: To describe whether the transaction is debit or credit.
          enum:
          - debit
        amount:
          $ref: '#/components/schemas/BudAmount'
        date:
          type: string
          example: '2023-05-21T07:20:50.52Z'
          description: "The date of the payment in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-01-17T17:29:51Z`\n  - `2023-01-17T17:29:51-08:00`\n"
    BudTransactionType:
      title: transaction_type
      type: object
      description: 'The code and a description of the transaction type. Providing these fields may help improve enrichment accuracy.

        '
      properties:
        bud_code:
          type: string
          description: 'The code representing the type of the given transaction. This typically comes in the form of a proprietary code respective to the __provider__.


            Current list of valid accepted codes:


            | Code  | Meaning

            |:------|:-------------------------------------------------------------------|

            | DEB   | [Debit / Credit] Card                                              |

            | CSQ   | Cash / Cheque(s)                                                   |

            | CHG   | Charge                                                             |

            | COR   | Correction                                                         |

            | CPT   | Cashpoint / ATM                                                    |

            | INT   | Interest                                                           |

            | OTH   | Other                                                              |

            | BAT   | Bank Transfer (e.g. FP/MP/IB/BACS/CHAPS/SWIFT)                     |

            | DD    | Direct Debit                                                       |

            | SO    | Standing Order                                                     |

            '
        description:
          type: string
          description: 'A human-readable description of the given __bud_code__.

            example: `Contactless POS`

            '
    GetBalancesResponse:
      title: Get Balances Response
      type: object
      required:
      - operation_id
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: array
          items:
            type: object
            required:
            - balances
            properties:
              account_id:
                type: string
                description: Identifier of the accounts from which the balances have been calculated
              balances:
                type: array
                items:
                  $ref: '#/components/schemas/BalanceOverTimeDataPoint'
        metadata:
          type: object
          properties:
            accounts:
              description: This is a hashmap representing account_ids and metadata about the results returned from the balances endpoint
              additionalProperties:
                description: Hashmap of an account_id returned from the balances endpoint
                allOf:
                - $ref: '#/components/schemas/BudDateRangeMetadata'
                - type: object
                  properties:
                    balance_count:
                      type: number
                      description: The number of balances returned for the account
                - type: object
                  properties:
                    min_balance:
                      description: The minimum balance in the returned period
                      $ref: '#/components/schemas/BudAmount'
                - type: object
                  properties:
                    max_balance:
                      description: The maximum balance in the returned period
                      $ref: '#/components/schemas/BudAmount'
            parameters:
              title: The parameters used to calculated balances
              allOf:
              - $ref: '#/components/schemas/BudDateRangeMetadata'
              - type: object
                properties:
                  granularity:
                    type: string
                    description: "The granularity that the balances have been retrieved for.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `daily`\n  - `weekly`\n  - `biweekly`\n  - `monthly`\n  - `quarterly`\n  - `six_monthly`\n  - `annually`\n"
    Error:
      title: Error Object
      type:
      - object
      - 'null'
      description: Contains a field specific error message
      additionalProperties:
        type: string
    ListTransactionsResponse:
      title: Retrieve Transactions Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - v2_transactions_get
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        metadata:
          type: object
          required:
          - results
          properties:
            results:
              type: integer
              description: The number of results returned.
            updated_after:
              type: string
              description: The timestamp used to filter results in the query parameter `updated_after`. Only transactions updated after this time are returned.
            deleted:
              type: array
              description: 'The `deleted` field is only present when `updated_after` is supplied. It shows the transaction IDs that have been deleted from Bud''s platform since the `updated_after` timestamp.

                '
              items:
                type: object
                required:
                - transaction_id
                - at
                properties:
                  transaction_id:
                    type: string
                    description: The ID of a transaction that has been deleted.
                  at:
                    type: string
                    description: The timestamp when the transaction was deleted.
            next_page_token:
              type: string
              description: The token required to retrieve the next page of results. Will be omitted if no next page exists.
    Categories:
      title: Categories
      type: object
      description: 'Categories enrichment associated with a Transaction, as generated by Bud''s artificial intelligence models.  Currently two levels of category are supported, with `l1` being a coarse-grained category level and `l2` being more refined.

        '
      properties:
        l1:
          $ref: '#/components/schemas/Category'
          description: Level 1 Category
        l2:
          $ref: '#/components/schemas/Category'
          description: Level 2 Category
    AccountV3Balance_WithType:
      type: object
      title: Balance
      required:
      - date
      - amount
      - credit_debit_indicator
      properties:
        date:
          type: string
          description: "The date when the balance was last updated in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-01-17T17:29:51Z`\n  - `2023-01-17T17:29:51-08:00`\n"
        amount:
          $ref: '#/components/schemas/BudAmount'
        credit_debit_indicator:
          type: string
          description: The credit or debit state of the given balance
          enum:
          - credit
          - debit
        type:
          type: string
          description: "The type for the given balance\n\nCurrently supported values include (but are not necessarily limited to):\n  - `closing_available`\n  - `closing_booked`\n  - `closing_cleared`\n  - `expected`\n  - `forward_available`\n  - `information`\n  - `interim_available`\n  - `interim_booked`\n  - `interim_cleared`\n  - `opening_available`\n  - `opening_booked`\n  - `opening_cleared`\n  - `previously_closed_booked`\n"
          enum:
          - closing_available
          - closing_booked
          - closing_cleared
          - expected
          - forward_available
          - information
          - interim_available
          - interim_booked
          - interim_cleared
          - opening_available
          - opening_booked
          - opening_cleared
          - previously_closed_booked
    RetrieveAccountByIDV2Response:
      title: Retrieve Account By ID Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - financial_v2_accounts_account_id
        data:
          $ref: '#/components/schemas/AccountV2'
        metadata:
          type: object
    ClientAttributes:
      title: Client Attributes
      type: object
      description: 'An optional map of key-value string pairs that allows clients to attach arbitrary metadata to the transaction.

        This field can be used to store any relevant information specific to the client''s needs, such as:

        These attributes can be added using the [Ingest Transactions](#operation/v2_ingest_transactions_post) endpoint.

        '
      properties:
        key:
          type: string
          description: An arbitrary key-value pair for the client attribute.
    Token:
      title: Token
      type: object
      description: The token item.
      required:
      - value
      - confidence
      properties:
        value:
          type: string
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
    Location:
      title: Location
      type: object
      description: Location enrichment associated with a Transaction
      properties:
        address:
          type: object
          description: The address where the transaction occurred. The level of detail depends on the resolution with which we are able to detect the transaction location.
          properties:
            address_lines:
              type: array
              description: A list of all the address lines detected for the transaction. This could be anything from a full street address down to just the region.
              items:
                type: string
            street_address:
              type: string
              description: The street address where the transaction occurred. Typically this will consist of the street number and street name with an optional suite.
            city:
              type: string
              description: The city or town where the transaction occurred.
            region:
              type: string
              description: The county or region where the transaction occurred.
            postal_code:
              type: string
              description: The postcode where the transaction occurred.
            country:
              type: string
              description: 'The ISO 3166-1 alpha-2 country code representing the country where the transaction occurred.


                If a location could not be determined, but a `country_code` was supplied in the ingestion request; that value will be reflected here.

                '
        geolocation:
          type: object
          description: The geolocation where the transaction occurred. This is only available if we are able to narrow down the transaction location to an exact match.
          properties:
            latitude:
              type: number
              format: double
              description: The latitudinal position where the transaction occurred.
            longitude:
              type: number
              format: double
              description: The longitudinal position where the transaction occurred.
        tokens:
          type: array
          description: A list of substrings from the description identified as being relevant to the transaction location.
          items:
            type: string
    RetrieveAccountByIDV3Response:
      title: Retrieve Accounts by ID Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - financial_v3_accounts_account_id_get
        data:
          $ref: '#/components/schemas/AccountV3'
        metadata:
          type: object
          required:
          - parameters
          - results
          properties:
            parameters:
              type: object
              properties:
                currencies:
                  description: The Currency values supplied in the request to generate the given result set.
                  type: array
                  items:
                    $ref: '#/components/schemas/BudCurrency'
                account_types:
                  description: "The Account Type values supplied in the request to generate the given result set.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `charge_card`\n  - `credit_card`\n  - `current_account`\n  - `e_money`\n  - `investment`\n  - `loan`\n  - `mortgage`\n  - `other`\n  - `pre_paid_card`\n  - `savings`\n"
                  type: array
                  items:
                    type: string
[...]
