openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Aggregation Buckets API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Aggregation Buckets
  x-displayName: Aggregation Buckets
  description: 'Manage virtual "buckets" for grouping and aggregating transactions by their

    underlying categories.


    Use this for retrieving financial data for customers of the Assess Dashboard

    (where the `bucket_id` is `assess-dashboard`) as it appears in said dashboard.'
paths:
  /aggregations/v2/buckets:
    post:
      operationId: aggregations_v2_buckets_post
      summary: Create Buckets
      description: Create a new bucket, which can be used to group transactions for totals.
      tags:
      - Aggregation Buckets
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBucketRequest'
            example:
              name: example-bucket
              categorisation_model: uk-v2
              buckets:
              - bucket_l1: housing_fuel_and_power
                criteria:
                - bucket_l2: mortgage_repayment
                  category_l1: mortgage_and_rent
                  category_l2: mortgage
                - bucket_l2: rent_payment
                  category_l1: mortgage_and_rent
                  category_l2: rent
                - bucket_l2: electricity_and_gas
                  category_l1: utilities
                  category_l2: utilities_energy
                - bucket_l2: other_fuels
                  category_l1: utilities
                  category_l2: other_utilities
              - bucket_l1: recreation_and_culture
                criteria:
                - bucket_l2: holiday
                  category_l1: travel
                  category_l2: holiday_and_travel_expenses
                - bucket_l2: pet_care
                  category_l1: home
                  category_l2: pets
                - bucket_l2: leisure_and_culture
                  category_l1: entertainment
                  category_l2: leisure_and_amusement_activities
                - bucket_l2: reading
                  category_l1: entertainment
                  category_l2: books_and_reading
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBucketResponse'
              example:
                operation_id: aggregations_v2_buckets_post
                data:
                  bucket_id: a95e911c-900a-437c-a91e-d31c09ffd3ce
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
    get:
      summary: Retrieve All Buckets
      description: 'Retrieve the top-level definitions of buckets you have created.


        Use this to retrieve the IDs of buckets to then retrieve their individual

        definitions and totals for customer transactions.'
      operationId: aggregations_v2_buckets_get
      tags:
      - Aggregation Buckets
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBucketsResponse'
              example:
                operation_id: aggregations_v2_buckets_get
                data:
                - bucket_id: a95e911c-900a-437c-a91e-d31c09ffd3ce
                  name: example-bucket
                  created_at: '2023-05-05T00:00:00Z'
                  updated_at: '2023-06-07T12:30:00Z'
                  categorisation_model: uk-v2
                  buckets:
                  - housing_fuel_and_power
                  - recreation_and_culture
                - bucket_id: 3163323b-1894-4e85-8fca-010686ef132f
                  name: example-bucket-2
                  created_at: '2023-06-05T00:00:00Z'
                  updated_at: '2023-06-01T12:30:00Z'
                  categorisation_model: uk-v2
                  buckets:
                  - income
                  - fixed_expenditure
                  - flexible_expenditure
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /aggregations/v2/buckets/{bucket_id}:
    get:
      summary: Retrieve Bucket
      description: 'Retrieve the definition of a bucket, and retrieve helper metadata which can be used

        for presenting options to customers.


        For example, the `metadata.category_lookup` property can be used to show a dialog box

        to customers for the customers to be able to correct their transactions (using the

        Correct Transaction Categories V2),

        and using the correct `category_l1/category_l2` pair.'
      operationId: aggregations_v2_bucket_get
      tags:
      - Aggregation Buckets
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/BucketID'
      - $ref: '#/components/parameters/CategoryLookup'
      - $ref: '#/components/parameters/BucketLookup'
      - $ref: '#/components/parameters/UnbucketedCategories'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBucketResponse'
              example:
                operation_id: aggregations_v2_bucket_get
                data:
                  bucket_id: a95e911c-900a-437c-a91e-d31c09ffd3ce
                  name: example-bucket
                  created_at: '2023-05-05T00:00:00Z'
                  updated_at: '2023-06-07T12:30:00Z'
                  categorisation_model: uk-v2
                  buckets:
                  - bucket_l1: housing_fuel_and_power
                    criteria:
                    - bucket_l2: mortgage_repayment
                      category_l1: mortgage_and_rent
                      category_l2: mortgage
                    - bucket_l2: rent_payment
                      category_l1: mortgage_and_rent
                      category_l2: rent
                    - bucket_l2: electricity_and_gas
                      category_l1: utilities
                      category_l2: utilities_energy
                    - bucket_l2: other_fuels
                      category_l1: utilities
                      category_l2: other_utilities
                  - bucket_l1: recreation_and_culture
                    criteria:
                    - bucket_l2: holiday
                      category_l1: travel
                      category_l2: holiday_and_travel_expenses
                    - bucket_l2: pet_care
                      category_l1: home
                      category_l2: pets
                    - bucket_l2: leisure_and_culture
                      category_l1: entertainment
                      category_l2: leisure_and_amusement_activities
                    - bucket_l2: reading
                      category_l1: entertainment
                      category_l2: books_and_reading
                metadata:
                  category_lookup:
                    housing_fuel_and_power:
                      mortgage_repayment:
                        category_l1: mortgage_and_rent
                        category_l2: mortgage
                      rent_payment:
                        category_l1: mortgage_and_rent
                        category_l2: rent
                      electricity_and_gas:
                        category_l1: utilities
                        category_l2: utilities_energy
                      other_fuels:
                        category_l1: utilities
                        category_l2: other_utilities
                    recreation_and_culture:
                      holiday:
                        category_l1: travel
                        category_l2: holiday_and_travel_expenses
                      pet_care:
                        category_l1: home
                        category_l2: pets
                      leisure_and_culture:
                        category_l1: entertainment
                        category_l2: leisure_and_amusement_activities
                      reading:
                        category_l1: entertainment
                        category_l2: books_and_reading
                  bucket_lookup:
                    entertainment:
                      leisure_and_amusement_activities:
                        bucket_l1: recreation_and_culture
                        bucket_l2: leisure_and_culture
                      books_and_reading:
                        bucket_l1: recreation_and_culture
                        bucket_l2: reading
                    home:
                      pets:
                        bucket_l1: recreation_and_culture
                        bucket_l2: pet_care
                    travel:
                      holiday_and_travel_expenses:
                        bucket_l1: recreation_and_culture
                        bucket_l2: holiday
                    utilities:
                      utilities_energy:
                        bucket_l1: housing_fuel_and_power
                        bucket_l2: electricity_and_gas
                      other_utilities:
                        bucket_l1: housing_fuel_and_power
                        bucket_l2: other_fuels
                    mortgage_and_rent:
                      mortgage:
                        bucket_l1: housing_fuel_and_power
                        bucket_l2: mortgage_repayment
                      rent:
                        bucket_l1: housing_fuel_and_power
                        bucket_l2: rent_payment
                  unbucketed_categories:
                  - category_l1: education
                    category_l2: driving_lessons
                  - category_l1: utilities
                    category_l2: waste_and_recycling
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestNotFoundResponse'
              example:
                operation_id: aggregations_v2_bucket_get
                code_id: not_found
                message: bucket not found
    put:
      operationId: aggregations_v2_bucket_put
      summary: Update Bucket
      description: Update an existing bucket (overwrites all content).
      tags:
      - Aggregation Buckets
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/BucketID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBucketRequest'
            example:
              name: example-bucket-updated
              categorisation_model: uk-v2
              buckets:
              - bucket_l1: housing_fuel_and_power
                additional_data:
                  display_name: Housing, fuel & power
                criteria:
                - bucket_l2: mortgage_repayment
                  category_l1: mortgage_and_rent
                  category_l2: mortgage
                  additional_data:
                    display_name: Mortgage repayment
                - bucket_l2: rent_payment
                  category_l1: mortgage_and_rent
                  additional_data:
                    display_name: Rent repayment
                  category_l2: rent
                - bucket_l2: electricity_and_gas
                  category_l1: utilities
                  category_l2: utilities_energy
                  additional_data:
                    display_name: Electricity & gas
                - bucket_l2: other_fuels
                  category_l1: utilities
                  category_l2: other_utilities
                  additional_data:
                    display_name: Other fuels
              - bucket_l1: recreation_and_culture
                additional_data:
                  display_name: Recreation & Culture
                criteria:
                - bucket_l2: holiday
                  category_l1: travel
                  category_l2: holiday_and_travel_expenses
                  additional_data:
                    display_name: Holiday
                - bucket_l2: pet_care
                  category_l1: home
                  category_l2: pets
                  additional_data:
                    display_name: Pet care
                - bucket_l2: leisure_and_culture
                  category_l1: entertainment
                  category_l2: leisure_and_amusement_activities
                  additional_data:
                    display_name: Leisure & culture
                - bucket_l2: reading
                  category_l1: entertainment
                  category_l2: books_and_reading
                  additional_data:
                    display_name: Reading
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
    delete:
      summary: Delete Buckets
      operationId: aggregations_v2_bucket_delete
      tags:
      - Aggregation Buckets
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/BucketID'
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Bucket not found
  /aggregations/v2/buckets/{bucket_id}/totals:
    get:
      summary: Retrieve Bucket Totals
      description: 'Retrieve the totals of a defined bucket for a particular customer.


        Use the `group_by` property to configure how the totals are grouped together

        (e.g. by `bucket_l1`, by `month`, etc...)'
      operationId: aggregations_v2_bucket_totals_get
      tags:
      - Aggregation Buckets
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/BucketID'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/DateFrom'
      - $ref: '#/components/parameters/DateTo'
      - $ref: '#/components/parameters/QueryCurrency'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/GroupBy'
      - $ref: '#/components/parameters/DeprecatedURLMonthFrom'
      - $ref: '#/components/parameters/DeprecatedURLMonthTo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBucketTotalsResponse'
              examples:
                Group By bucket_l1:
                  value:
                    operation_id: aggregations_v2_bucket_totals_get
                    data:
                    - group_name: housing_fuel_and_power
                      group_type: bucket_l1
                      incoming:
                        total:
                          value: '0.00'
                          currency: GBP
                        monthly_average:
                          value: '0.00'
                          currency: GBP
                        transaction_count: 0
                        _links:
                          transactions: /path/to/housing_fuel_and_power/transactions/incoming
                      outgoing:
                        total:
                          value: '6000.00'
                          currency: GBP
                        monthly_average:
                          value: '2000.00'
                          currency: GBP
                        transaction_count: 3
                        _links:
                          transactions: /path/to/housing_fuel_and_power/transactions/outgoing
                      transaction_count: 3
                      _links:
                        transactions: /path/to/housing_fuel_and_power/transactions
                    - group_name: recreation_and_culture
                      group_type: bucket_l1
                      incoming:
                        total:
                          value: '0.00'
                          currency: GBP
                        monthly_average:
                          value: '0.00'
                          currency: GBP
                        transaction_count: 0
                        _links:
                          transactions: /path/to/recreation_and_culture/transactions/incoming
                      outgoing:
                        total:
                          value: '9000.00'
                          currency: GBP
                        monthly_average:
                          value: '3000.00'
                          currency: GBP
                        transaction_count: 3
                        _links:
                          transactions: /path/to/recreation_and_culture/transactions/outgoing
                      transaction_count: 3
                      _links:
                        transactions: /path/to/recreation_and_culture/transactions
                    metadata:
                      date_from: '2023-01-01T00:00:00Z'
                      date_to: '2023-03-31T23:59:59Z'
                      group_by:
                      - bucket_l1
                      currency: GBP
                Group By bucket_l1 then bucket_l2:
                  value:
                    operation_id: aggregations_v2_bucket_totals_get
                    data:
                    - group_name: housing_fuel_and_power
                      group_type: bucket_l1
                      incoming:
                        total:
                          value: '0.00'
                          currency: GBP
                        monthly_average:
                          value: '0.00'
                          currency: GBP
                        transaction_count: 0
                        _links:
                          transactions: /path/to/housing_fuel_and_power/transactions/incoming
                      outgoing:
                        total:
                          value: '6000.00'
                          currency: GBP
                        monthly_average:
                          value: '2000.00'
                          currency: GBP
                        transaction_count: 3
                        _links:
                          transactions: /path/to/housing_fuel_and_power/transactions/outgoing
                      transaction_count: 3
                      _links:
                        transactions: /path/to/housing_fuel_and_power/transactions
                      subtotals:
                      - group_name: mortgage_repayment
                        group_type: bucket_l2
                        incoming:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/housing_fuel_and_power_mortgage_repayment/transactions/incoming
                        outgoing:
                          total:
                            value: '6000.00'
                            currency: GBP
                          monthly_average:
                            value: '2000.00'
                            currency: GBP
                          transaction_count: 3
                          _links:
                            transactions: /path/to/housing_fuel_and_power_mortgage_repayment/transactions/outgoing
                        transaction_count: 3
                        _links:
                          transactions: /path/to/housing_fuel_and_power_mortgage_repayment/transactions
                      - group_name: rent_payment
                        group_type: bucket_l2
                        incoming:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/housing_fuel_and_power_rent_payment/transactions/incoming
                        outgoing:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/housing_fuel_and_power_rent_payment/transactions/outgoing
                        transaction_count: 0
                        _links:
                          transactions: /path/to/housing_fuel_and_power_rent_payment/transactions
                      - group_name: electricity_and_gas
                        group_type: bucket_l2
                        incoming:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/housing_fuel_and_power_electricity_and_gas/transactions/incoming
                        outgoing:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/housing_fuel_and_power_electricity_and_gas/transactions/outgoing
                        transaction_count: 0
                        _links:
                          transactions: /path/to/housing_fuel_and_power_electricity_and_gas/transactions
                      - group_name: other_fuels
                        group_type: bucket_l2
                        incoming:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/housing_fuel_and_power_other_fuels/transactions/incoming
                        outgoing:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/housing_fuel_and_power_other_fuels/transactions/outgoing
                        transaction_count: 0
                        _links:
                          transactions: /path/to/housing_fuel_and_power_other_fuels/transactions
                    - group_name: recreation_and_culture
                      group_type: bucket_l1
                      incoming:
                        total:
                          value: '0.00'
                          currency: GBP
                        monthly_average:
                          value: '0.00'
                          currency: GBP
                        transaction_count: 0
                        _links:
                          transactions: /path/to/recreation_and_culture/transactions/incoming
                      outgoing:
                        total:
                          value: '9000.00'
                          currency: GBP
                        monthly_average:
                          value: '3000.00'
                          currency: GBP
                        transaction_count: 3
                        _links:
                          transactions: /path/to/recreation_and_culture/transactions/outgoing
                      transaction_count: 3
                      _links:
                        transactions: /path/to/recreation_and_culture/transactions
                      subtotals:
                      - group_name: holiday
                        group_type: bucket_l2
                        incoming:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/recreation_and_culture_holiday/transactions/incoming
                        outgoing:
                          total:
                            value: '9000.00'
                            currency: GBP
                          monthly_average:
                            value: '3000.00'
                            currency: GBP
                          transaction_count: 3
                          _links:
                            transactions: /path/to/recreation_and_culture_holiday/transactions/outgoing
                        transaction_count: 3
                        _links:
                          transactions: /path/to/recreation_and_culture_holiday/transactions
                      - group_name: holiday
                        group_type: bucket_l2
                        incoming:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/recreation_and_culture_pet_care/transactions/incoming
                        outgoing:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/recreation_and_culture_pet_care/transactions/outgoing
                        transaction_count: 0
                        _links:
                          transactions: /path/to/recreation_and_culture_pet_care/transactions
                      - group_name: leisure_and_culture
                        group_type: bucket_l2
                        incoming:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/recreation_and_culture_leisure_and_culture/transactions/incoming
                        outgoing:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/recreation_and_culture_leisure_and_culture/transactions/outgoing
                        transaction_count: 0
                        _links:
                          transactions: /path/to/recreation_and_culture_leisure_and_culture/transactions
                      - group_name: reading
                        group_type: bucket_l2
                        incoming:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/recreation_and_culture_reading/transactions/incoming
                        outgoing:
                          total:
                            value: '0.00'
                            currency: GBP
                          monthly_average:
                            value: '0.00'
                            currency: GBP
                          transaction_count: 0
                          _links:
                            transactions: /path/to/recreation_and_culture_reading/transactions/outgoing
                        transaction_count: 0
                        _links:
                          transactions: /path/to/recreation_and_culture_reading/transactions
                    metadata:
                      date_from: '2023-01-01T00:00:00Z'
                      date_to: '2023-03-31T23:59:59Z'
                      group_by:
                      - bucket_l1
                      - bucket_l2
                      currency: GBP
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Bucket not found
components:
  parameters:
    CategoryLookup:
      in: query
      name: category_lookup
      description: 'Include to ensure that `category_lookup` is present in the `metadata` of the response.

        '
      allowEmptyValue: true
      schema:
        type: boolean
    DateTo:
      in: query
      name: date_to
      schema:
        $ref: '#/components/schemas/schemas-DateTimeISO8601'
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    BucketID:
      in: path
      name: bucket_id
      required: true
      description: 'ID of the bucket (whose criteria can be used to calculate totals).

        '
      schema:
        anyOf:
        - title: Fixed ID
          type: string
          description: 'Fixed IDs for buckets that are usable in any environment for particular

            use-cases (e.g. `assess-dashboard` for the Assess Dashboard).

            '
          enum:
          - assess-dashboard
        - title: UUID
          type: string
          format: uuid
          description: 'UUID of buckets that you have generated.

            '
    CustomerSecret:
      in: header
      name: X-Customer-Secret
      schema:
        type: string
      required: false
      description: The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud.
    UnbucketedCategories:
      in: query
      name: unbucketed_categories
      description: 'Include to ensure that `unbucketed_categories` is present in the `metadata` of the response.

        '
      allowEmptyValue: true
      schema:
        type: boolean
    GroupBy:
      in: query
      name: group_by
      required: true
      style: form
      explode: false
      description: 'Defines hierarchy of groupings for the resulting totals. For example:


        ```

        group_by=bucket_l1,bucket_l2

        ```


        Will result in getting groups by L1 buckets, then within those, their respective L2 buckets.

        '
      schema:
        type: array
        minItems: 1
        items:
          $ref: '#/components/schemas/GroupType'
        uniqueItems: true
    DeprecatedURLMonthFrom:
      in: query
      name: month_from
      required: false
      deprecated: true
      description: 'Use `date_from` instead.

        '
      schema:
        $ref: '#/components/schemas/schema'
    DeprecatedURLMonthTo:
      in: query
      name: month_to
      required: false
      deprecated: true
      description: 'Use `date_to` instead.

        '
      schema:
        $ref: '#/components/schemas/URLMonthTo-schema'
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    BucketLookup:
      in: query
      name: bucket_lookup
      description: 'Include to ensure that `bucket_lookup` is present in the `metadata` of the response.

        '
      allowEmptyValue: true
      schema:
        type: boolean
    DateFrom:
      in: query
      name: date_from
      schema:
        $ref: '#/components/schemas/schemas-DateTimeISO8601'
    QueryCurrency:
      in: query
      name: currency
      schema:
        type: string
      example: GBP
      description: Use this parameter to filter the results returned on the `currency` associated with each result. Multiple values are accepted. If this parameter is not provided then results of any `currency` will be returned.
    Timezone:
      in: query
      name: timezone
      schema:
        $ref: '#/components/schemas/TimezoneIdentifier'
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
  schemas:
    TimezoneIdentifier:
      type: string
      description: 'Timezone identifier (e.g. `Europe/London`) to make dates relativised to the target location.


        In the case of daylight savings in a location, this ensures that the overall start/end date accounts for those shifts.


        See [here](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) for list of valid timezone identifiers under `TZ identifier`.'
      default: Etc/UTC
    CreateBucketResponse:
      title: Create Bucket Response
      required:
      - operation_id
      - data
      properties:
        operation_id:
          type: string
          enum:
          - aggregations_v2_buckets_post
        data:
          required:
          - bucket_id
          properties:
            bucket_id:
              type: string
              format: uuid
              description: 'UUID of newly created bucket.

                '
    schemas-DateTimeISO8601:
      title: Date/Time (ISO 8601)
      type: string
      description: ISO Date Format
      example: '2022-03-05T13:34:33Z'
    GroupTransactionLinks:
      title: Transaction Links
      required:
      - transactions
      properties:
        transactions:
          type: string
          description: 'An absolute path to the subset of transactions that derived this particular total.


            Prepend with the API host to get a fully resolved URL.


            The same headers as [Retrieve Transactions V2](https://docs.thisisbud.com/reference/v2_transactions_get) apply.

            The response structure matches the [Retrieve Transactions V2](https://docs.thisisbud.com/reference/v2_transactions_get) endpoint.

            '
    BucketDefinition:
      title: Bucket Definition
      required:
      - bucket_id
      - name
      - categorisation_model
      - buckets
      properties:
        bucket_id:
          type: string
          description: 'Permanent ID for the bucket.

            '
        name:
          $ref: '#/components/schemas/Slug'
        categorisation_model:
          type: string
          description: 'Categorisation model that the categories in this bucket relate to.


            See [V2 Categories](https://docs.thisisbud.com/reference/resources_v2_categories_get) for details.

            '
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/Bucket'
    schema:
      type: string
      example: 2019-02
      description: Month (`YYYY-MM`) from which the transactions should be returned from, this works in pair with the `month_to` parameter.
    Criteria:
      title: Bucket Criteria
      required:
      - bucket_l2
      - category_l1
      - category_l2
      properties:
        bucket_l2:
          $ref: '#/components/schemas/Slug'
        category_l1:
          $ref: '#/components/schemas/Slug'
        category_l2:
          $ref: '#/components/schemas/Slug'
        additional_data:
          $ref: '#/components/schemas/AdditionalData'
    GetBucketResponse:
      title: Retrieve Bucket Response
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - aggregations_v2_bucket_get
        data:
          $ref: '#/components/schemas/BucketDefinition'
        metadata:
          properties:
            category_lookup:
              description: "A nested object mapping used to quickly find the category_l1/l2 pairings of a bucket.\n\nE.g. if you know you have a bucket pairing `BL1`/`BL2`, you can find the `category_l1`/`l2`` it\nbelongs to by looking it up with `$.metadata.category_lookup[BL1][BL2]`, and it will return\nthe pairing\n\n```json\n{\n  \"category_l1\": \"...\",\n  \"category_l2\": \"...\"\n}\n```\n\nUse this if you are planning to use category corrections, and want to ensure that your\ntotals correspond to the correct categories after the correction.\n"
              additionalProperties:
                additionalProperties:
                  $ref: '#/components/schemas/CategoryPair'
            bucket_lookup:
              description: "A nested object mapping used to quickly find the bucket to which a particular category_l1/l2 pairing\nbelongs.\n\nE.g. if you know you have a category pair `C1`/`C2`, you can find the `bucket_l1`/`l2`` it\nbelongs to by looking it up with `$.metadata.bucket_lookup[C1][C2]`, and it will return\nthe pairing\n\n```json\n{\n  \"bucket_l1\": \"...\",\n  \"bucket_l2\": \"...\"\n}\n```\n"
              additionalProperties:
                additionalProperties:
                  $ref: '#/components/schemas/BucketPair'
            unbucketed_categories:
              description: 'List of categories from the model which do not fit within a category bucket.


                Use this to see if your category bucket is possibly missing out on important

                categories for your analysis.

                '
              type: array
              items:
                $ref: '#/components/schemas/CategoryPair'
    OperationId:
      title: Operation Id Field
      type: string
      description: A unique identifier/reference associated with a given endpoint/operation
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    BadRequestNotFoundResponse:
      title: Bad Request Not Found Response
      type: object
      required:
      - operation_id
      - code_id
      - message
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          description: A descriptive enough string that is linked to the reason for the error.
        message:
          type: string
          description: An actual user friendly error message.
    GetBucketsResponse:
      title: Retrieve Buckets Response
      required:
      - operation_id
      - data
      properties:
        operation_id:
          type: string
          enum:
          - aggregations_v2_buckets_get
        data:
          type: array
          items:
            required:
            - bucket_id
            - name
            - categorisation_model
            - created_at
            - updated_at
            - buckets
            properties:
              bucket_id:
                type: string
                format: uuid
              name:
                type: string
              categorisation_model:
                $ref: '#/components/schemas/CategorisationModel'
              created_at:
                $ref: '#/components/schemas/DateTimeISO8601'
              updated_at:
                $ref: '#/components/schemas/DateTimeISO8601'
              buckets:
                type: array
                items:
                  type: string
    BucketPair:
      title: Bucket L1/L2 Pair
      required:
      - bucket_l1
      - bucket_l2
      properties:
        bucket_l1:
          $ref: '#/components/schemas/Slug'
        bucket_l2:
          $ref: '#/components/schemas/Slug'
    CategoryPair:
      title: Category L1/L2 Pair
      required:
      - category_l1
      - category_l2
      properties:
        category_l1:
          $ref: '#/components/schemas/Slug'
        category_l2:
          $ref: '#/components/schemas/Slug'
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    GroupStatistic:
      title: Group Statistic
      required:
      - total
      - transaction_count
      - _links
      properties:
        total:
          $ref: '#/components/schemas/BudAmount'
        monthly_average:
          $ref: '#/components/schemas/BudAmount'
        transaction_count:
          type: integer
        _links:
          $ref: '#/components/schemas/GroupTransactionLinks'
    GetBucketTotalsResponse:
      title: Retrieve Bucket Totals Response
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - aggregations_v2_bucket_totals_get
        data:
          type: array
          items:
            $ref: '#/components/schemas/TotalGroup'
        metadata:
          required:
          - date_from
          - date_to
          - group_by
          - currency
          properties:
            date_from:
              $ref: '#/components/schemas/DateTimeISO8601'
            date_to:
              $ref: '#/components/schemas/DateTimeISO8601'
            group_by:
              type: array
              items:
                $ref: '#/components/schemas/GroupType'
            currency:
              $ref: '#/components/schemas/BudCurrency'
    Slug:
      type: string
      pattern: ^[a-zA-Z-_0-9]*$
    Bucket:
      title: Bucket
      required:
      - bucket_l1
      - criteria
      properties:
        bucket_l1:
          $ref: '#/components/schemas/Slug'
        criteria:
          type: array
          items:
            $ref: '#/components/schemas/Criteria'
        additional_data:
          $ref: '#/components/schemas/AdditionalData'
    CategorisationModel:
      title: Categorisation Model
      type: string
      description: 'Categorisation model that the categories in this bucket relate to.


        See [V2 Categories](https://docs.thisisbud.com/reference/resources_v2_categories_get) for details.

        '
    DateTimeISO8601:
      title: Date/Time (ISO 8601) - YYYY-MM-DDTHH:MM:SSTZ
      type: string
      description: 'A date (and time) in ISO 8601 format.

        '
      example: '2022-05-11T15:30:39Z'
    URLMonthTo-schema:
      type: string
      example: 2019-03
      description: Month (`YYYY-MM`) from which the transactions should be returned to, this works in pair with the `month_from` parameter.
    CreateBucketRequest:
      title: Create Bucket Request
      required:
      - name
      - categorisation_model
      - buckets
      properties:
        name:
          $ref: '#/components/schemas/Slug'
        categorisation_model:
          $ref: '#/components/schemas/CategorisationModel'
        buckets:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Bucket'
      additionalProperties: false
    TotalGroup:
      title: Total Group
      required:
      - group_name
      - group_type
      - incoming
      - outgoing
      - transaction_count
      - _links
      properties:
        group_name:
          type: string
          description: "Name for the particular grouping, corresponding to the `group_type`.\n\nIf `group_type` is:\n\n- `bucket_l1`: the name will be the corresponding `bucket_l1`.\n- `bucket_l2`: the name will be the corresponding `bucket_l2`.\n- `month`: then the name will be the date range for that full month.\n  - If the date range in this group is a full month (e.g. 1st to the last day of the month)\n    then it will be shortened to `YYYY-MM` (e.g. `2024-03`)\n  - Otherwise it is a conjunction of full ISO timestamps (e.g. `2024-01-05T00:00:00Z|2024-02-04T23:59:59Z`)\n"
        group_type:
          $ref: '#/components/schemas/GroupType'
        incoming:
          $ref: '#/components/schemas/GroupStatistic'
        outgoing:
          $ref: '#/components/schemas/GroupStatistic'
        subtotals:
          type: array
          items:
            type: object
            description: 'Nested subgroups if the query has multiple `group_by` options.


              E.g. if `group_by=bucket_l1,bucket_l2`, then `subtotals` will contain the array of `bucket_l2` subtotals

              within this `bucket_l1` grouping.


              Schema for this object recursive (and so has properties `group_name`, `group_type`, `subtotals`, etc...)

              '
            required:
            - group_name
            - group_type
            - incoming
            - outgoing
            - transaction_count
            - _links
            properties:
              group_name:
                type: string
              group_type:
                $ref: '#/components/schemas/GroupType'
              incoming:
                $ref: '#/components/schemas/GroupStatistic'
              outgoing:
                $ref: '#/components/schemas/GroupStatistic'
              subtotals:
                type: array
                items:
                  type: object
              transaction_count:
                type: integer
              _links:
                $ref: '#/components/schemas/GroupTransactionLinks'
        transaction_count:
          type: integer
          description: 'Total number of transactions within the group.

            '
        _links:
          $ref: '#/components/schemas/GroupTransactionLinks'
    GroupType:
      title: Group
      type: string
      enum:
      - bucket_l1
      - bucket_l2
      - month
    AdditionalData:
      title: Additional Data
      description: "Set your own additional properties for a bucket for your own use-cases, e.g.\n\n```json\n{\n  \"additional_data\": {\n    \"display_name\": \"Bucket name\",\n    \"some_custom_field\": \"value_1\"\n  }\n}\n```\n"
      additionalProperties: true
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
