openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Ingest First Party Data API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Ingest First Party Data
  x-displayName: Ingest First Party Data
  description: Initiate the asynchronous process of pushing a customer's account information (i.e. first party data) onto the Bud platform. These asynchronous requests create a task to store the given accounts or transactions against the specified customers. The Task ID returned by this request can be used to verify the current status of the process.
paths:
  /v2/ingest/accounts:
    post:
      tags:
      - Ingest First Party Data
      summary: Ingest Accounts
      description: 'This endpoint is for pushing customer(s) account(s) and balance(s) through the Bud architecture.

        It can ingest data for multiple customers per request.

        By default, this is synchronous and will report any issue with the data in the response.

        If a ''X-Disable-Synchronous'' header is present and set to true, the process will create a task in the background and be entirely ''non-blocking''.

        In this scenario, the response metadata will contain a Task ID and the next URL which would then be used for finding out the operation''s result.'
      operationId: v2_ingest_accounts_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/IngestAccountsContentType'
      - name: X-Disable-Synchronous
        in: header
        description: 'If present and set to true, a task is created and a response is returned immediately.


          Note: This flag cannot be set to `true` if a `customer_idempotent_identifier` is supplied instead of a `customer_id`.

          '
        schema:
          type: boolean
          default: false
      requestBody:
        required: true
        content:
          application/bud-accounts+json:
            schema:
              $ref: '#/components/schemas/IngestAccountsRequest'
            examples:
              ingest_request_with_customer_id:
                summary: Ingest Accounts Request (With Customer ID)
                value:
                - customer_id: c3339af9-2426-44d4-9c4d-ddb8fd281e23
                  accounts:
                  - provider: Barclays
                    account_id: 99473c28-21cf-4a9a-b79e-fd643dd7a4bc
                    currency: GBP
                    account_type: Personal
                    account_sub_type: CurrentAccount
                    account_identifiers:
                    - type: uk_account_number
                      value: '32165444'
                    - type: uk_sort_code
                      value: '987654'
                    balances:
                    - amount:
                        value: '7.00'
                        currency: GBP
                      credit_debit_indicator: outgoing_debit
                      credit_line:
                      - included: true
                        amount:
                          value: '200.00'
                          currency: GBP
                        type: Credit
                      date_time: '2020-12-01T00:00:00Z'
                      type: InterimBooked
                - customer_id: 85db4cdf-5f79-4f4e-8388-f9a52da598a2
                  accounts:
                  - provider: Lloyds
                    account_id: bfd4ea71-58d7-4b24-8820-95029875cc9a
                    currency: GBP
                    account_type: Personal
                    account_sub_type: CurrentAccount
                    account_identifiers:
                    - type: uk_account_number
                      value: '12312300'
                    - type: uk_sort_code
                      value: '123123'
                    balances:
                    - amount:
                        value: '70005.00'
                        currency: GBP
                      credit_debit_indicator: incoming_credit
                      credit_line:
                      - included: true
                        amount:
                          value: '100.00'
                          currency: GBP
                        type: Credit
                      date_time: '2020-12-01T00:00:00Z'
                      type: InterimBooked
              ingest_request_with_customer_idempotent_identifier:
                summary: Ingest Accounts Request (With Customer Idempotent Identifier)
                value:
                - customer_idempotent_identifier: your_internal_id
                  accounts:
                  - provider: Barclays
                    account_id: 99473c28-21cf-4a9a-b79e-fd643dd7a4bc
                    currency: GBP
                    account_type: Personal
                    account_sub_type: CurrentAccount
                    account_identifiers:
                    - type: uk_account_number
                      value: '32165444'
                    - type: uk_sort_code
                      value: '987654'
                    balances:
                    - amount:
                        value: '7.00'
                        currency: GBP
                      credit_debit_indicator: outgoing_debit
                      credit_line:
                      - included: true
                        amount:
                          value: '200.00'
                          currency: GBP
                        type: Credit
                      date_time: '2020-12-01T00:00:00Z'
                      type: InterimBooked
                - customer_idempotent_identifier: your_internal_id
                  accounts:
                  - provider: Lloyds
                    account_id: bfd4ea71-58d7-4b24-8820-95029875cc9a
                    currency: GBP
                    account_type: Personal
                    account_sub_type: CurrentAccount
                    account_identifiers:
                    - type: uk_account_number
                      value: '12312300'
                    - type: uk_sort_code
                      value: '123123'
                    balances:
                    - amount:
                        value: '70005.00'
                        currency: GBP
                      credit_debit_indicator: incoming_credit
                      credit_line:
                      - included: true
                        amount:
                          value: '100.00'
                          currency: GBP
                        type: Credit
                      date_time: '2020-12-01T00:00:00Z'
                      type: InterimBooked
      responses:
        '202':
          description: A new Task has been created to ingest the given accounts. The generated `task_id` can be used to check the Task's status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestV2AsyncResponse'
              example:
                operation_id: v2_ingest_accounts_post
                metadata:
                  task_id: 4cef424c-1d7f-4cab-8be2-aee7e1774a00
                  next_url: /v2/ingest/status/4cef424c-1d7f-4cab-8be2-aee7e1774a00
                  next_url_delay: 500
        '204':
          description: The data has been ingested successfully. Response has no body
        '400':
          description: Bad Request that fails validations on headers and/or payload
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/BodyDecodeError'
                - $ref: '#/components/schemas/FirstPartyIngestionGenericError'
                - $ref: '#/components/schemas/AccountsDataValidationError'
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        5XX:
          description: An unexpected error occurred on the server side
      callbacks:
        FPIIngestSucceededCallback:
          '{$request.body#/redirect_url}':
            description: 'Should the ingestion task succeed, this callback is sent to your configured ''First Party Data Ingestion Events'' webhook URL on the completion of a Ingest Accounts task.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: First Party Ingestion Succeeded Callback
              requestBody:
                required: true
                description: Should the ingestion task succeed, this callback is sent to your configured 'First Party Data Ingestion Events' webhook URL on the completion of a Ingest Accounts task.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/FPIIngestSucceededWebhookBody'
                    examples:
                      Success:
                        description: Successful ingestion
                        value:
                          data:
                            event: first_party_ingester.ingest.succeeded
                            operation_id: v2_ingest_accounts_post
                            task_id: 6d37e192-1fdb-407d-82c6-58ee38cb60db
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
        FPIIngestFailedCallback:
          '{$request.body#/redirect_url}':
            description: 'Should the ingestion task fail, this callback is sent to your configured ''First Party Data Ingestion Events'' webhook URL on the completion of a Ingest Accounts task.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: First Party Ingestion Failed Callback
              requestBody:
                required: true
                description: Should the ingestion task fail, this callback is sent to your configured 'First Party Data Ingestion Events' webhook URL on the completion of a Ingest Accounts task.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/FPIIngestFailedWebhookBody'
                    examples:
                      Success:
                        description: First Party Ingestion Failed
                        value:
                          data:
                            event: first_party_ingester.ingest.failed
                            operation_id: v2_ingest_transactions_post
                            task_id: 6d37e192-1fdb-407d-82c6-58ee38cb60db
                            result: data_mapping_error
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
  /ingestion/v3/accounts/close:
    post:
      tags:
      - Ingest First Party Data
      summary: Close Accounts
      description: 'Close one or more accounts for a given customer. This will set the account status to closed and set the `closed_at` field on the __Retrieve Accounts V3__ response.


        If an account is already closed, then the request will be ignored, and the `closed_at` field will remain unchanged.


        If a 400 response is returned, any accountIDs or customerIDs __not__ defailted in the error response will have been closed succesfully.'
      operationId: v3_ingest_accounts_close_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseAccountsRequest'
            examples:
              With Customer Idempotent Identifier:
                value:
                - customer_idempotent_identifier: your_internal_id
                  account_ids:
                  - 275fbbfe-209c-4329-a38b-b324aa386c56
                  metadata:
                    as_of: '2025-09-22T14:55:09.254Z'
              With Customer ID:
                value:
                - customer_id: c3339af9-2426-44d4-9c4d-ddb8fd281e23
                  account_ids:
                  - 275fbbfe-209c-4329-a38b-b324aa386c56
                  metadata:
                    as_of: '2025-09-22T14:55:09.254Z'
      responses:
        '204':
          description: All accounts have been closed successfully. Response has no body.
        '400':
          description: Bad Request that fails validations on headers and/or payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorWihoutErrRequired'
              examples:
                account_not_found_customer_idempotent_identifier:
                  summary: Account(s) not found (with customer Idempotent Identifier)
                  value:
                    operation_id: v3_ingest_accounts_close_post
                    code_id: failed_validation
                    message: Accounts not found for one or more customers.
                    errors:
                      customer_idempotent_identifier:
                        your_internal_id:
                        - 275fbbfe-209c-4329-a38b-b324aa386c56
                account_not_found_customer_id:
                  summary: Account(s) not found (with customer ID)
                  value:
                    operation_id: v3_ingest_accounts_close_post
                    code_id: failed_validation
                    message: Accounts not found for one or more customers.
                    errors:
                      customer_ids:
                        c3339af9-2426-44d4-9c4d-ddb8fd281e23:
                        - 275fbbfe-209c-4329-a38b-b324aa386c56
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        5XX:
          description: An unexpected error occurred on the server side
  /ingestion/v3/accounts/reopen:
    post:
      tags:
      - Ingest First Party Data
      summary: Reopen Accounts
      description: 'Reopen one or more accounts for a given customer. This will remove the account status and `closed_at` fields on the __Retrieve Accounts V3__ response.


        If an account is already open, then the request will be ignored and the account is unchanged.


        If a 400 response is returned, any accountIDs or customerIDs __not__ defailted in the error response will have been reopened succesfully.'
      operationId: v3_ingest_accounts_reopen_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReopenAccountsRequest'
            examples:
              With Customer Idempotent Identifier:
                value:
                - customer_idempotent_identifier: your_internal_id
                  account_ids:
                  - 275fbbfe-209c-4329-a38b-b324aa386c56
              With Customer ID:
                value:
                - customer_id: c3339af9-2426-44d4-9c4d-ddb8fd281e23
                  account_ids:
                  - 275fbbfe-209c-4329-a38b-b324aa386c56
      responses:
        '204':
          description: All accounts have been closed successfully. Response has no body.
        '400':
          description: Bad Request that fails validations on headers and/or payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorWihoutErrRequired'
              examples:
                account_not_found_customer_idempotent_identifier:
                  summary: Account(s) not found (with customer Idempotent Identifier)
                  value:
                    operation_id: v3_ingest_accounts_reopen_post
                    code_id: failed_validation
                    message: Accounts not found for one or more customers.
                    errors:
                      customer_idempotent_identifier:
                        your_internal_id:
                        - 275fbbfe-209c-4329-a38b-b324aa386c56
                account_not_found_customer_id:
                  summary: Account(s) not found (with customer ID)
                  value:
                    operation_id: v3_ingest_accounts_reopen_post
                    code_id: failed_validation
                    message: Accounts not found for one or more customers.
                    errors:
                      customer_ids:
                        c3339af9-2426-44d4-9c4d-ddb8fd281e23:
                        - 275fbbfe-209c-4329-a38b-b324aa386c56
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        5XX:
          description: An unexpected error occurred on the server side
  /v2/ingest/transactions:
    post:
      tags:
      - Ingest First Party Data
      summary: Ingest Transactions
      description: 'This endpoint should be used to ingest customer transactions into the Bud Platform.


        By default, this endpoint is synchronous but can be easily switched to asynchronous using the ''X-Disable-Synchronous'' header.

        Please refer to the following guide to ensure you set up First Party Ingestion

        correctly for your organisation based on your use case.


        We accept a maximum of 1.000 transactions. If this threshold is not respected, a 400 error is returned.


        We support the ingestion of transactions for multiple customers as part of the same request.


        The detailed location enrichment response is an additional addon, otherwise only tokens are returned

        (read more about this in the location guide).


        An ingestion request with an empty transaction list and provided transaction windows will be treated as a request to clear persisted transactions in the specified windows.


        > 📘 Note:

        >

        > The enrichment values returned in the synchronous response of this endpoint may differ from those returned when fetching the ingested data from __Retrieve Transactions V2__.

        >

        > The synchronous response provides an initial enrichment based solely on the submitted transaction data. During asynchronous ingestion, the data is re-enriched using the customer''s existing transaction history and additional enrichment services, producing a more accurate and comprehensive result.'
      operationId: v2_ingest_transactions_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/IngestTransactionsV2ContentType'
      - $ref: '#/components/parameters/DisableSynchronous'
      - $ref: '#/components/parameters/GenerateTransactionIDs'
      - $ref: '#/components/parameters/BudCategorisationModel'
      - $ref: '#/components/parameters/NoCustomerHeader'
      requestBody:
        required: true
        content:
          application/bud-transaction-v3+json:
            schema:
              $ref: '#/components/schemas/IngestTransactionsV3Request'
            examples:
              bud-transaction-v3 Request (with Customer ID):
                summary: Ingest Transactions Request (with Customer ID)
                value:
                - customer_id: c3339af9-2426-44d4-9c4d-ddb8fd281e23
                  transactions:
                  - account_id: 275fbbfe-209c-4329-a38b-b324aa386c56
                    transaction_id: cb49a806-c8f1-47e6-9c1d-5172defe97eb
                    description: The RSPCA, Southwater
                    amount: '-10.98'
                    date_time: '2022-10-10T23:00:00Z'
                    currency: GBP
                    status: pending
                    provider: Monzo
                    transaction_type:
                      bud_code: DEB
                      description: Debit card transaction
                    suggested_description: The RSPCA, Southwater
                    counterparty:
                      name: The RSPCA
                      identifier: '12345612345678'
                  - account_id: 275fbbfe-209c-4329-a38b-b324aa386c56
                    transaction_id: e0f1c489-a4f0-4820-84d1-a86ecb4199b7
                    description: The RSPCA, Southwater
                    amount: '-10.98'
                    date_time: '2022-11-10T23:00:00Z'
                    currency: GBP
                    provider: Monzo
                    transaction_type:
                      bud_code: DEB
                      description: Debit card transaction
                  - account_id: 275fbbfe-209c-4329-a38b-b324aa386c56
                    transaction_id: d2ea249c-0d1b-4346-b88e-53ec8bc32083
                    description: Trader Joe's
                    amount: '-9.98'
                    date_time: '2022-11-10T23:00:00Z'
                    currency: USD
                    provider: Monzo
                    country_code: US
                  transaction_windows:
                  - account_id: 275fbbfe-209c-4329-a38b-b324aa386c56
                    start: '2022-10-10T23:00:00Z'
                    end: '2022-11-10T23:00:00Z'
              bud-transaction-v3 Request (with Customer Idempotent Identifier):
                summary: Ingest Transactions Request (with Customer Idempotent Identifier)
                value:
                - customer_idempotent_identifier: your_internal_id
                  transactions:
                  - account_id: 275fbbfe-209c-4329-a38b-b324aa386c56
                    transaction_id: cb49a806-c8f1-47e6-9c1d-5172defe97eb
                    description: The RSPCA, Southwater
                    amount: '-10.98'
                    date_time: '2022-10-10T23:00:00Z'
                    currency: GBP
                    status: pending
                    provider: Monzo
                    transaction_type:
                      bud_code: DEB
                      description: Debit card transaction
                  - account_id: 275fbbfe-209c-4329-a38b-b324aa386c56
                    transaction_id: e0f1c489-a4f0-4820-84d1-a86ecb4199b7
                    description: The RSPCA, Southwater
                    amount: '-10.98'
                    date_time: '2022-11-10T23:00:00Z'
                    currency: GBP
                    provider: Monzo
                    transaction_type:
                      bud_code: DEB
                      description: Debit card transaction
                  - account_id: 275fbbfe-209c-4329-a38b-b324aa386c56
                    transaction_id: d2ea249c-0d1b-4346-b88e-53ec8bc32083
                    description: Trader Joe's
                    amount: '-9.98'
                    date_time: '2022-11-10T23:00:00Z'
                    currency: USD
                    provider: Monzo
                    country_code: US
                  transaction_windows:
                  - account_id: 275fbbfe-209c-4329-a38b-b324aa386c56
                    start: '2022-10-10T23:00:00Z'
                    end: '2022-11-10T23:00:00Z'
      responses:
        '200':
          description: "The synchronous enrichment request has succeeded and enriched transaction returned.\n\nA new Task has been created to ingest and fully enrich the given transactions.\n\nThe generated `task_id` can be used to check the Task's status.\n\nNote: If the endpoint is used synchronously and it's been agreed with Bud to \nnot store data, the `metadata.task_id` attribute in the response body will be present but empty.\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestV2SyncResponse'
              examples:
                sync enrichment response (with Customer ID):
                  summary: Synchronous enrichment response (with Customer ID)
                  value:
                    operation_id: v2_ingest_transactions_post
                    data:
                    - customer_id: 4cef424c-1d7f-4cab-8be2-aee7e1774a00
                      enriched_transactions:
                      - transaction_id: another_transaction_id
                        account_id: another_account_id
                        description: paypal* specialty coffee london GBR
                        credit_debit_indicator: debit
                        status: pending
                        suggested_description: Specialty Coffee Supplier Ltd.
                        suggested_logo: http://url/specialty_coffee_supplier_logo.jpeg
                        transaction_type:
                          bud_code: DEB
                          description: PayPal
                        amount:
                          value: '10.99'
                          currency: GBP
                        date_time: '2022-05-28T10:00:00Z'
                        tags:
                        - online
                        enrichments:
                          categories:
                            l1:
                              slug: eating_out
                              confidence: '0.99'
                            l2:
                              slug: cafes_and_eating_out
                              confidence: '0.98'
                          merchant:
                            id: 01cc2d49-6144-46f1-9414-67c99b139a95
                            slug: specialty_coffee
                            display_name: Specialty Coffee Supplier Ltd.
                            logo: http://url/specialty_coffee_supplier_logo.jpeg
                            tokens:
                            - value: speciality coffee
                              confidence: '0.98'
                          processor:
                            id: 18f63293-0217-4520-bbf0-071dca7a9d04
                            slug: paypal
                            display_name: PayPal
                            logo: http://url/paypal_logo.jpeg
                            tokens:
                            - value: paypal
                              confidence: '0.92'
                          transaction_types:
                          - card
                          - debit
                      - transaction_id: a2294cebb45d2a6e0cfc70d270988d8c
                        account_id: 37c633a71237b9a8282e09587109668e
                        description: caffe nero 495 ladbroke london gbr
                        credit_debit_indicator: debit
                        status: booked
                        suggested_description: Caffè Nero
                        suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf/v2/caffnero.jpeg
                        transaction_type:
                          bud_code: DEB
                          description: Debit card transaction
                        amount:
                          value: '3.29'
                          currency: GBP
                        date_time: '2022-05-26T10:00:00Z'
                        merchant_category_code: '5814'
                        enrichments:
                          categories:
                            l1:
                              slug: food_and_drink
                              confidence: '0.99'
                            l2:
                              slug: coffee
                              confidence: '0.99'
                          merchant:
                            id: 4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf
                            slug: caffnero
                            display_name: Caffè Nero
                            logo: https://assets.thisisbud.com/datasci-images/merchant_logos/4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf/v1/caffnero.jpeg
                            tokens:
                            - value: caffe nero
                              confidence: '1.00'
                          location:
                            address:
                              address_lines:
                              - 120-122 Ladbroke Grove
                              - London
                              - Greater London
                              - W10 5NE
                              street_address: 120-122 Ladbroke Grove
                              city: London
                              region: Greater London
                              postal_code: W10 5NE
                              country: GB
                            geolocation:
                              longitude: 51.517301
                              latitude: -0.209689
                            tokens:
                            - gbr
                            - ladbroke
                            - london
                      - transaction_id: cfb6dd1f4c73e1fc36aac756e12644d7
                        account_id: 37c633a71237b9a8282e09587109668e
                        description: JOHN SMITH RENT SHARE
                        credit_debit_indicator: debit
                        amount:
                          value: '375.00'
                          currency: GBP
                        date_time: '2022-05-30T00:00:00Z'
                        status: booked
                        suggested_description: JOHN SMITH RENT SHARE
                        transaction_type:
                          bud_code: BAT
                          description: Bank Transfer
                        enrichments:
                          categories:
                            l1:
                              slug: mortgage_and_rent
                              confidence: '0.98'
                            l2:
                              slug: rent
                              confidence: '0.98'
                          names:
                          - john smith
                    metadata:
                      task_id: 4cef424c-1d7f-4cab-8be2-aee7e1774a00
                      next_url: /v2/ingest/status/4cef424c-1d7f-4cab-8be2-aee7e1774a00
                      next_url_delay: 500
                sync enrichment response (with Customer Idempotent Identifier):
                  summary: Synchronous enrichment response (with Customer Idempotent Identifier)
                  value:
                    operation_id: v2_ingest_transactions_post
                    data:
                    - customer_idempotent_identifier: your_internal_id
                      enriched_transactions:
                      - transaction_id: another_transaction_id
                        account_id: another_account_id
                        description: paypal* specialty coffee london GBR
                        credit_debit_indicator: debit
                        status: pending
                        suggested_description: Specialty Coffee Supplier Ltd.
                        suggested_logo: http://url/specialty_coffee_supplier_logo.jpeg
                        transaction_type:
                          bud_code: DEB
                          description: PayPal
                        amount:
                          value: '10.99'
                          currency: GBP
                        date_time: '2022-05-28T10:00:00Z'
                        tags:
                        - online
                        enrichments:
                          categories:
                            l1:
                              slug: eating_out
                              confidence: '0.99'
                            l2:
                              slug: cafes_and_eating_out
                              confidence: '0.98'
                          merchant:
                            id: 01cc2d49-6144-46f1-9414-67c99b139a95
                            slug: specialty_coffee
                            display_name: Specialty Coffee Supplier Ltd.
                            logo: http://url/specialty_coffee_supplier_logo.jpeg
                            tokens:
                            - value: speciality coffee
                              confidence: '0.98'
                          processor:
                            id: 18f63293-0217-4520-bbf0-071dca7a9d04
                            slug: paypal
                            display_name: PayPal
                            logo: http://url/paypal_logo.jpeg
                            tokens:
                            - value: paypal
                              confidence: '0.92'
                          transaction_types:
                          - card
                          - debit
                      - transaction_id: a2294cebb45d2a6e0cfc70d270988d8c
                        account_id: 37c633a71237b9a8282e09587109668e
                        description: caffe nero 495 ladbroke london gbr
                        credit_debit_indicator: debit
                        status: booked
                        suggested_description: Caffè Nero
                        suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf/v2/caffnero.jpeg
                        transaction_type:
                          bud_code: DEB
                          description: Debit card transaction
                        amount:
                          value: '3.29'
                          currency: GBP
                        date_time: '2022-05-26T10:00:00Z'
                        merchant_category_code: '5814'
                        enrichments:
                          categories:
                            l1:
                              slug: food_and_drink
                              confidence: '0.99'
                            l2:
                              slug: coffee
                              confidence: '0.99'
                          merchant:
                            id: 4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf
                            slug: caffnero
                            display_name: Caffè Nero
                            logo: https://assets.thisisbud.com/datasci-images/merchant_logos/4d7a77bd-29a1-4b6a-b0b4-04389b5b36bf/v1/caffnero.jpeg
                            tokens:
                            - value: caffe nero
                              confidence: '1.00'
                          location:
                            address:
                              address_lines:
                              - 120-122 Ladbroke Grove
                              - London
                              - Greater London
                              - W10 5NE
                              street_address: 120-122 Ladbroke Grove
                              city: London
                              region: Greater London
                              postal_code: W10 5NE
                              country: GB
                            geolocation:
                              longitude: 51.517301
                              latitude: -0.209689
                            tokens:
                            - gbr
                            - ladbroke
                            - london
                      - transaction_id: cfb6dd1f4c73e1fc36aac756e12644d7
                        account_id: 37c633a71237b9a8282e09587109668e
                        description: JOHN SMITH RENT SHARE
                        credit_debit_indicator: debit
                        amount:
                          value: '375.00'
                          currency: GBP
                        date_time: '2022-05-30T00:00:00Z'
                        status: booked
                        suggested_description: JOHN SMITH RENT SHARE
                        transaction_type:
                          bud_code: BAT
                          description: Bank Transfer
                        enrichments:
                          categories:
                            l1:
                              slug: mortgage_and_rent
                              confidence: '0.98'
                            l2:
                              slug: rent
                              confidence: '0.98'
                          names:
                          - john smith
                    metadata:
                      task_id: 4cef424c-1d7f-4cab-8be2-aee7e1774a00
                      next_url: /v2/ingest/status/4cef424c-1d7f-4cab-8be2-aee7e1774a00
                      next_url_delay: 500
        '202':
          description: A new Task has been created to ingest the given transactions. The generated `task_id` can be used to check the Task's status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestV2AsyncResponse'
              example:
                operation_id: v2_ingest_transactions_post
                metadata:
                  task_id: 4cef424c-1d7f-4cab-8be2-aee7e1774a00
                  next_url: /v2/ingest/status/4cef424c-1d7f-4cab-8be2-aee7e1774a00
                  next_url_delay: 500
        '400':
          description: The server will not process the request due to a client error.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/BodyDecodeError'
                - $ref: '#/components/schemas/ValidationError'
              examples:
                DecodingError:
                  summary: Malformed JSON In Payload
                  value:
                    operation_id: v2_ingest_transactions_post
                    code_id: failed_body_decode
                    message: invalid request body
                    errors:
                      decode_error: invalid character 'b' looking for beginning of value
                RequestValidationError:
                  summary: Request Validation Error
                  value:
                    operation_id: v2_ingest_transactions_post
                    code_id: failed_validation
                    message: validation failure(s) in request payload
                    errors:
                      missing_fields:
                        customers[0].customer_id:
                        - The customer ID is mandatory
                        transactions:
                        - The transactions list is mandatory
                PayloadValidationError:
                  summary: Transaction Validation Error
                  value:
                    operation_id: v2_ingest_transactions_post
                    code_id: failed_validation
                    message: validation failure(s) in request payload
                    errors:
                      missing_fields:
                        transactions[0]:
                        - description
                        - account_id
                      invalid_fields:
                        transactions[0]:
                        - amount
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        '503':
          description: An unexpected error occurred on the enrichment server. Sync Only
        '504':
          description: An unexpected timeout occurred on the enrichment server. Sync Only
        5XX:
          description: An unexpected error occurred on the server side
      callbacks:
        FPIIngestSucceededCallback:
          '{$request.body#/redirect_url}':
            description: 'Should the ingestion task succeed, this callback is sent to your configured ''First Party Data Ingestion Events'' webhook URL on the completion of a Ingest Transactions task.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: First Party Ingestion Succeeded Callback
              requestBody:
                required: true
                description: Should the ingestion task succeed, this callback is sent to your configured 'First Party Data Ingestion Events' webhook URL on the completion of a Ingest Transactions task.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/FPIIngestSucceededWebhookBody'
                    examples:
                      Success:
                        description: Successful ingestion
                        value:
                          data:
                            event: first_party_ingester.ingest.succeeded
                            operation_id: v2_ingest_accounts_post
                            task_id: 6d37e192-1fdb-407d-82c6-58ee38cb60db
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
        FPIIngestFailedCallback:
          '{$request.body#/redirect_url}':
            description: 'Should the ingestion task fail, this callback is sent to your configured ''First Party Data Ingestion Events'' webhook URL on the completion of a Ingest Accounts task.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: First Party Ingestion Failed Callback
              requestBody:
                required: true
                description: Should the ingestion task fail, this callback is sent to your configured 'First Party Data Ingestion Events' webhook URL on the completion of a Ingest Accounts task.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/FPIIngestFailedWebhookBody'
                    examples:
                      Success:
                        description: First Party Ingestion Failed
                        value:
                          data:
                            event: first_party_ingester.ingest.failed
                            operation_id: v2_ingest_transactions_post
                            task_id: 6d37e192-1fdb-407d-82c6-58ee38cb60db
                            result: data_mapping_error
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
  /ingestion/v3/transactions/book:
    post:
      tags:
      - Ingest First Party Data
      summary: Book Transactions
      description: 'The Book Transactions endpoint, allows transactions ingested with a `status` of `pending` to set their status to `booked`.


        The date_time field indicates the timestamp when the transaction booked. This is reflected in the `date_time` of __Retrieve Transactions V2__.'
      operationId: v3_ingest_transactions_book_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionSettlementV3Request'
            examples:
              request_with_customer_id:
                summary: Book transactions request (with Customer ID)
                value:
                - customer_id: c3339af9-2426-44d4-9c4d-ddb8fd281e23
                  transactions:
                  - transaction_id: cb49a806-c8f1-47e6-9c1d-5172defe97eb
                    date_time: '2022-10-11T23:00:00Z'
                  - transaction_id: e0f1c489-a4f0-4820-84d1-a86ecb4199b7
                    date_time: '2022-11-11T23:00:00Z'
              request_with_customer_idempotent_identifier:
                summary: Book transactions request (with Customer Idempotent Identifier)
                value:
                - customer_idempotent_identifier: your_internal_id
                  transactions:
                  - transaction_id: cb49a806-c8f1-47e6-9c1d-5172defe97eb
                    date_time: '2022-10-11T23:00:00Z'
                  - transaction_id: e0f1c489-a4f0-4820-84d1-a86ecb4199b7
                    date_time: '2022-11-11T23:00:00Z'
      responses:
        '202':
          description: 'A new Task has been created to book the given transactions. The generated `task_id` can be used to check the Task''s status.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionSettlementV3Response'
              example:
                operation_id: v3_ingest_transactions_book_post
                metadata:
                  task_id: 444ddd34-7d02-4b57-a55e-63b15b25d453
                  next_url: /v2/ingest/status/444ddd34-7d02-4b57-a55e-63b15b25d453
                  next_url_delay: 250
        '400':
          description: There was something invalid in the request payload. Check the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorWihoutErrRequired'
              example:
                operation_id: v3_ingest_transactions_book_post
                code_id: failed_body_decode
                message: Unable to parse request.
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        5XX:
          description: An unexpected error occurred on the server side
      callbacks:
        TransactionBookCompletedCallback:
          https://example.com/booked:
            description: 'This callback is sent to your pre-configured webhook URL for the `first_party_ingester.transactions.booked` event.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Transaction Book Completed Callback
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/TransactionSettlementV3WebookBody'
                    example:
                      data:
                        event: first_party_ingester.transactions.booked
                        operation_id: v3_ingest_transactions_book_post
                        status: Completed
                        task_id: 444ddd34-7d02-4b57-a55e-63b15b25d453
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
  /ingestion/v3/transactions/decline:
    post:
      tags:
      - Ingest First Party Data
      summary: Decline Transactions
      description: 'The Decline Transactions endpoint, allows transactions ingested with a `status` of `pending` to set their status to `declined`.


        The date_time field indicates the timestamp when the transaction declined. This is reflected in the `date_time` of __Retrieve Transactions V2__.'
      operationId: v3_ingest_transactions_decline_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionSettlementV3Request'
            examples:
              request_with_customer_id:
                summary: Decline transactions request (with Customer ID)
                value:
                - customer_id: c3339af9-2426-44d4-9c4d-ddb8fd281e23
                  transactions:
                  - transaction_id: cb49a806-c8f1-47e6-9c1d-5172defe97eb
                    date_time: '2022-10-11T23:00:00Z'
                  - transaction_id: e0f1c489-a4f0-4820-84d1-a86ecb4199b7
                    date_time: '2022-11-11T23:00:00Z'
              request_with_customer_idempotent_identifier:
                summary: Decline transactions request (with Customer Idempotent Identifier)
                value:
                - customer_idempotent_identifier: your_internal_id
                  transactions:
                  - transaction_id: cb49a806-c8f1-47e6-9c1d-5172defe97eb
                    date_time: '2022-10-11T23:00:00Z'
                  - transaction_id: e0f1c489-a4f0-4820-84d1-a86ecb4199b7
                    date_time: '2022-11-11T23:00:00Z'
      responses:
        '202':
          description: 'A new Task has been created to decline the given transactions. The generated `task_id` can be used to check the Task''s status.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionSettlementV3Response'
              example:
                operation_id: v3_ingest_transactions_decline_post
                metadata:
                  task_id: 444ddd34-7d02-4b57-a55e-63b15b25d453
                  next_url: /v2/ingest/status/444ddd34-7d02-4b57-a55e-63b15b25d453
                  next_url_delay: 250
        '400':
          description: Payload request was invalid. Check the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorWihoutErrRequired'
              example:
                operation_id: v3_ingest_transactions_decline_post
                code_id: failed_body_decode
                message: Unable to parse request.
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        5XX:
          description: An unexpected error occurred on the server side
      callbacks:
        TransactionDeclineCompletedCallback:
          https://example.com/declined:
            description: 'This callback is sent to your pre-configured webhook URL for the `first_party_ingester.transactions.declined` event.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Transaction Book Completed Callback
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/TransactionSettlementV3WebookBody'
                    example:
                      data:
                        event: first_party_ingester.transactions.declined
                        operation_id: v3_ingest_transactions_decline_post
                        status: Completed
                        task_id: 444ddd34-7d02-4b57-a55e-63b15b25d453
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
  /ingestion/v3/tasks/{task_id}:
    get:
      tags:
      - Ingest First Party Data
      summary: Retrieve Ingestion Task Status
      description: 'Check the status of an ingest request. Please note that this works for both the Ingest Transactions endpoints And Ingest Accounts endpoints.

        Reports status of the ingestion task, with details for each subtask (1 per customer).'
      operationId: v3_ingest_status_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestStatusV3Response'
              examples:
                Pending Task (with Customer ID):
                  summary: Pending Task (with Customer ID)
                  value:
                    operation_id: v3_ingest_status_get
                    data:
                    - customer_id: f89ae931-8cb3-4352-ac9e-4e4572fe5026
                      status: Pending
                    metadata:
                      task_id: 3d592efc-493a-4548-8008-f738fd0877ab
                      status: Pending
                      next_url: /ingestion/v3/tasks/3d592efc-493a-4548-8008-f738fd0877ab
                      next_url_delay: 500
                Successful Task (with Customer ID):
                  summary: Successful Task (with Customer ID)
                  value:
                    operation_id: v3_ingest_status_get
                    data:
                    - customer_id: f89ae931-8cb3-4352-ac9e-4e4572fe5026
                      status: Completed
                      result: success
                    metadata:
                      task_id: 3d592efc-493a-4548-8008-f738fd0877ab
                      status: Completed
                      result: success
                      ingest_request_id: 213be00c-60ce-9af5-95ab-d450a9ffc2ac
                      ingest_route: v2_ingest_transactions_post
                      ingest_schema: application/bud-transaction-v3+json
                Failed Task (with Customer ID):
                  summary: Failed Task (with Customer ID)
                  value:
                    operation_id: v3_ingest_status_get
                    data:
                    - customer_id: f89ae931-8cb3-4352-ac9e-4e4572fe5026
                      status: Failed
                      result: data_mapping_error
                      error:
                        accounts[0].currency: 'unexpected currency code: GlkjlkjBP, expected ISO-4217 currency code'
                    metadata:
                      task_id: 3d592efc-493a-4548-8008-f738fd0877ab
                      status: Failed
                      result: data_mapping_error
                Pending Task (with Customer Idempotent Identifier):
                  summary: Pending Task (with Customer Idempotent Identifier)
                  value:
                    operation_id: v3_ingest_status_get
                    data:
                    - customer_idempotent_identifier: your_internal_id
                      status: Pending
                    metadata:
                      task_id: 3d592efc-493a-4548-8008-f738fd0877ab
                      status: Pending
                      next_url: /ingestion/v3/tasks/3d592efc-493a-4548-8008-f738fd0877ab
                      next_url_delay: 500
                Successful Task (with Customer Idempotent Identifier):
                  summary: Successful Task (with Customer Idempotent Identifier)
                  value:
                    operation_id: v3_ingest_status_get
                    data:
                    - customer_idempotent_identifier: your_internal_id
                      status: Completed
                      result: success
                    metadata:
                      task_id: 3d592efc-493a-4548-8008-f738fd0877ab
                      status: Completed
                      result: success
                      ingest_request_id: 213be00c-60ce-9af5-95ab-d450a9ffc2ac
                      ingest_route: v2_ingest_transactions_post
                      ingest_schema: application/bud-transaction-v3+json
                Failed Task (with Customer Idempotent Identifier):
                  summary: Failed Task (with Customer Idempotent Identifier)
                  value:
                    operation_id: v3_ingest_status_get
                    data:
                    - customer_idempotent_identifier: your_internal_id
                      status: Failed
                      result: data_mapping_error
                      error:
                        accounts[0].currency: 'unexpected currency code: GlkjlkjBP, expected ISO-4217 currency code'
                    metadata:
                      task_id: 3d592efc-493a-4548-8008-f738fd0877ab
                      status: Failed
                      result: data_mapping_error
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        '404':
          description: The task couldn't be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskNotFoundError'
              example:
                operation_id: v2_ingest_status_get
                code_id: task_not_found
                message: Task ID [6c7d06a7-5b40-4556-91d4-6b6d1a7db3f1] does not exist or it has expired
        '405':
          description: The request uses an unexpected HTTP method
        5XX:
          description: An unexpected error occurred on the server side
components:
  schemas:
    Merchant:
      title: Merchant
      type: object
      description: 'Merchant enrichment associated with a Transaction, as generated using a combination of Bud''s artificial  intelligence models and database of known merchants.

        '
      properties:
        id:
          type: string
          description: UUID corresponding to the merchant, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the merchant. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the merchant.
        logo:
          type: string
          description: URL supplying merchant logo, if available.
        tokens:
          type: array
          description: 'A list of tokens calculated from the transaction model, used to identify the Merchant.  This list is often present even if the merchant details (id, slug, disply_name, logo) are not returned.

            '
          items:
            $ref: '#/components/schemas/Token'
        website:
          type: string
          description: URL supplying merchant website, if available.
        tags:
          type: array
          items:
            type: string
          description: A list of tags describing the merchant
    CustomerTransactionV3:
      title: Customer Transaction V3
      description: A schema for Bud V3 transaction format
      type: object
      required:
      - transaction_id
      - account_id
      - description
      - date_time
      - amount
      properties:
        transaction_id:
          type: string
          description: 'Unique, immutable transaction identifier. This can be of any format (not necessarily UUID), with a maximum of 255 characters.

            It''s important this ID is immutable over time and unique as we use this ID as a key to store the transaction against your customer, so if more than one transaction has the same ID for the same customer, we will store only one of them.

            '
          example: 4cef424c-1d7f-4cab-8be2-aee7e1774a00
        description:
          type: string
          description: Free text string providing details on the transaction itself
        account_id:
          type: string
          description: The account identifier that the transaction belongs to. This can be of any format (not necessarily UUID), with a maximum of 255 characters.
          example: 2f5b2055-6253-4cd0-b646-06788342a609
        date_time:
          type: string
          format: date-time
          description: The date detailing when the transaction occurred, compliant with RFC3339
          example: '2022-11-10T23:00:00Z'
        value_date_time:
          type: string
          format: date-time
          description: The date detailing when the assets assets involved in the transaction transferred compliant with RFC3339. For credits this is the date that the asset becomes available, for debits this is the date that the asset ceased to be available
          example: '2022-11-10T23:00:00Z'
        status:
          type: string
          enum:
          - pending
          - booked
          - declined
          default: booked
          description: The status of the transaction. If not provided, the default value is `booked`.
          example: booked
        amount:
          type: string
          description: 'The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency.


            A positive amount is a credit entry and a negative a debit entry.


            Example: `"10.98"` or `"-10.98"`

            '
        currency:
          $ref: '#/components/schemas/BudCurrency'
        merchant_category_code:
          type: string
          description: "A Merchant Category Code (MCC) is a four-digit number listed in ISO 18245. \nAn MCC is used to classify a business by the types of goods or services it provides.\n"
        merchant_name:
          type: string
          description: Merchant name
        provider:
          type: string
          description: 'The name of the financial institution the transaction has come from


            example: `HSBC`, `NatWest`


            Note: if this field is supplied, the value will be normalised to lowercase and `-`, and ` ` characters will be replaced with `_`.

            '
        country_code:
          type: string
          description: "The country where the transaction occurred, specified using either:\n- A 2-letter ISO 3166-1 alpha-2 code (e.g., \"US\", \"GB\")\n- A 3-letter ISO 3166-1 alpha-3 code (e.g., \"USA\", \"GBR\") \n- A UN M.49 numeric code (e.g., \"840\" for United States)\n\nThis field enhances merchant identification accuracy and enables automatic travel detection. \nWhen the country_code differs from the `region` in the customer-context, the transaction is assigned appropriate l1 and l2 travel categories.\nThe value is also used to populate the `country` field in location enrichment data. However, it is converted to a 2-letter ISO 3166-1 alpha-2 code when displayed.\n"
        transaction_type:
          $ref: '#/components/schemas/BudTransactionType'
        running_balance:
          type: string
          description: 'The balance of the account associated with the transaction after this transaction is made. The value is formatted with the number of decimal places for the respective currency.


            A positive amount is a credit balance and a negative a debit balance.


            Example: `"10.98"` or `"-10.98"`

            '
        client_attributes:
          $ref: '#/components/schemas/BudClientAttributes'
        suggested_description:
          type: string
          description: String providing details on the transaction itself as a customer would expect to see the transaction in other locations.
        counterparty:
          type: object
          description: An object containing details of the counterparty in this transaction
          properties:
            name:
              type: string
              description: The name of the counterparty involved in this transaction.
            identifier:
              type: string
              description: An identifier for the account of the other party
    IngestFirstPartyDataWithCustomerIdempotentIdentifier:
      title: With Customer Idempotent Identifier
      properties:
        customer_idempotent_identifier:
          type: string
          description: 'An internal client identifier. If specified, a Bud customer will either be automatically created, or utilised to ingest the given data.

            This identifier can then be used in place of `X-Customer-Id` across Bud''s endpoints.

            '
      required:
      - customer_idempotent_identifier
    IngestResponseV3SubTaskWithCustomerID:
      title: With Customer ID
      properties:
        customer_id:
          $ref: '#/components/schemas/CustomerID'
      required:
      - customer_id
    Location:
      title: Location
      type: object
      description: Location enrichment associated with a Transaction
      properties:
        address:
          type: object
          description: The address where the transaction occurred. The level of detail depends on the resolution with which we are able to detect the transaction location.
          properties:
            address_lines:
              type: array
              description: A list of all the address lines detected for the transaction. This could be anything from a full street address down to just the region.
              items:
                type: string
            street_address:
              type: string
              description: The street address where the transaction occurred. Typically this will consist of the street number and street name with an optional suite.
            city:
              type: string
              description: The city or town where the transaction occurred.
            region:
              type: string
              description: The county or region where the transaction occurred.
            postal_code:
              type: string
              description: The postcode where the transaction occurred.
            country:
              type: string
              description: 'The ISO 3166-1 alpha-2 country code representing the country where the transaction occurred.


                If a location could not be determined, but a `country_code` was supplied in the ingestion request; that value will be reflected here.

                '
        geolocation:
          type: object
          description: The geolocation where the transaction occurred. This is only available if we are able to narrow down the transaction location to an exact match.
          properties:
            latitude:
              type: number
              format: double
              description: The latitudinal position where the transaction occurred.
            longitude:
              type: number
              format: double
              description: The longitudinal position where the transaction occurred.
        tokens:
          type: array
          description: A list of substrings from the description identified as being relevant to the transaction location.
          items:
            type: string
    CustomerID:
      type: string
      format: uuid
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
    FirstPartyIngestionGenericError:
      type: object
      title: Content Type Error
      required:
      - operation_id
      - code_id
      - message
      - errors
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          enum:
          - failed_validation
        message:
          type: string
          description: 'High level description on what has failed '
        errors:
          type: object
          description: Error details
          properties:
            content_type:
              type: string
              description: The content type header provided in the request is unknown
            <index>.customer_id:
              type: string
              description: Missing customer ID. Index prefix is the index of the customer in the request
            <index>.customer_secret:
              type: string
              description: Missing customer secret. Index is the index of the customer in the request
            <index>.accounts:
              type: string
              description: Missing customer accounts. Index is the index of the customer in the request
      example:
        operation_id: ingest_accounts_post
        code_id: failed_validation
        message: validation failure(s) in request payload
        errors:
          0.customer_secret: The customer secret is mandatory
    Category:
      title: Category
      type: object
      description: Category associated with a Transaction
      required:
      - slug
      - confidence
      properties:
        slug:
          type: string
          description: Unique human readable identifier of the category. Not subject to version control.
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
    BudClientAttributes:
      title: Client Attributes
      type: object
      description: 'An optional map of key-value string pairs that allows clients to attach arbitrary metadata to the transaction.

        This field can be used to store any relevant information specific to the client''s needs.

        It accepts a maximum of 16 key-value pairs. With a maximum key length of 64 characters and a maximum value length of 256 characters.

        '
      properties:
        key:
          type: string
          description: An arbitrary key-value pair for the client attribute.
      example:
        fraud_score: '0.8'
        overdraft_used: 'true'
    IngestTransactionsV3Request:
      title: Bud V3 Transactions Request
      description: Ingest transaction expected request body.
      type: array
      items:
        type: object
        oneOf:
        - $ref: '#/components/schemas/IngestFirstPartyDataWithCustomerID'
        - $ref: '#/components/schemas/IngestFirstPartyDataWithCustomerIdempotentIdentifier'
        properties:
          sync_enrichments:
            $ref: '#/components/schemas/SynchronousEnrichmentsList'
          transactions:
            type: array
            description: List of transactions belonging to the customer.
            minItems: 1
            items:
              $ref: '#/components/schemas/CustomerTransactionV3'
          transaction_windows:
            $ref: '#/components/schemas/TransactionWindowArray'
    IngestV2SyncResponse:
      title: Ingest Transactions V2 Sync Response
      type: object
      allOf:
      - $ref: '#/components/schemas/IngestV2Response'
      - type: object
        required:
        - operation_id
        - metadata
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/IngestV2SyncResponseData'
          metadata:
            $ref: '#/components/schemas/IngestV2SyncMetadata'
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    TransactionWindow:
      type: object
      title: Transaction Window
      description: "The transaction window is used to describe the entire period for which you have provided full coverage for the transactions within the request. \n\nIt is used by Bud to ascertain periods of inactivity on the account(s) in question to ensure accurate data can be provided across downstream endpoints (e.g. Retrieve Balances Over Time).\n"
      required:
      - account_id
      - start
      - end
      properties:
        account_id:
          type: string
          description: The account identifier that the transaction belongs to
          example: 2f5b2055-6253-4cd0-b646-06788342a609
        start:
          type: string
          format: date-time
          description: The date detailing the start of the transaction window, compliant with RFC3339
          example: '2022-05-10T23:00:00Z'
        end:
          type: string
          format: date-time
          description: The date detailing the end of the transaction window, compliant with RFC3339
          example: '2022-10-10T23:00:00Z'
    IngestCustomerWithAccounts:
      title: Ingest Customer With Accounts
      description: A customer with a accounts data.
      type: object
      required:
      - accounts
      oneOf:
      - $ref: '#/components/schemas/IngestFirstPartyDataWithCustomerID'
      - $ref: '#/components/schemas/IngestFirstPartyDataWithCustomerIdempotentIdentifier'
      properties:
        accounts:
          type: array
          description: List of accounts that belongs to the customer.
          minItems: 1
          items:
            $ref: '#/components/schemas/IngestCustomerAccount'
    OperationId:
      title: Operation Id Field
      type: string
      description: A unique identifier/reference associated with a given endpoint/operation
    IngestV2Response:
      type: object
      required:
      - operation_id
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
          example: v2_ingest_transactions_post
    IngestTaskResult:
      title: Ingestion Task Result
      type: string
      description: 'Indicates the outcome of the ingest task. Either success or various error codes:


        | code | description |

        | ---- | ----------- |

        | success | Ingestion completed successfully. Data is now available. |

        | validation_error | The request format is invalid. Please review the endpoint documentation for correct parameters and headers. |

        | data_mapping_error | The data payload does not match the expected schema. Ensure your data aligns with the defined structure. |

        | internal_error | Something went wrong on our side. Please retry your request later. |

        | timed_out | The task did not complete in due time. |

        '
    IngestFirstPartyDataWithCustomerID:
      title: With Customer ID
      properties:
        customer_id:
          $ref: '#/components/schemas/CustomerID'
        customer_secret:
          $ref: '#/components/schemas/CustomerSecret'
      required:
      - customer_id
    IngestAccountBalance:
      title: Ingest Account Balance
      type: object
      description: Information surrounding a Customer's Account Balance
      required:
      - amount
      - date_time
      - type
      - credit_debit_indicator
      properties:
        amount:
          $ref: '#/components/schemas/InpAmount'
        credit_debit_indicator:
          type: string
          description: To describe whether the account balance is in debit or credit
          enum:
          - incoming_credit
          - outgoing_debit
        credit_line:
          items:
            $ref: '#/components/schemas/IngestCreditLine'
        date:
          type: string
          format: YYYY-MM-DD
          deprecated: true
          description: The date associated with the balance of the given account
        time:
          type: string
          format: hh:mm:ss
          deprecated: true
          description: The time associated with the balance of the given account
        date_time:
          type: string
          format: date-time
          description: RFC 3339 format string of the date time of the balance
        type:
          type: string
          description: 'Describes the state of the balance


            | Value                     | Description                                               |

            |:--------------------------|:----------------------------------------------------------|

            | `ClosingAvailable`        | Closing balance of amount of money that is at the disposal of the account owner on the date specified.               |

            | `ClosingBooked`           | Balance of the account at the end of the pre-agreed account reporting period. It is the sum of the opening booked balance at the beginning of the period and all entries booked to the account during the pre-agreed account reporting period.      |

            | `ClosingCleared`          | Closing balance of amount of money that is cleared on the date specified.                     |

            | `Expected`                | Balance, composed of booked entries and pending items known at the time of calculation, which projects the end of day balance if everything is booked on the account and no other entry is posted.  |

            | `ForwardAvailable`        | Forward available balance of money that is at the disposal of the account owner on the date specified.               |

            | `Information`             | Balance for informational purposes.      |

            | `InterimAvailable`        | Available balance calculated in the course of the account servicer''s business day, at the time specified, and subject to further changes during the business day. The interim balance is calculated on the basis of booked credit and debit items during the calculation time/period specified.       |

            | `InterimBooked`           | Balance calculated in the course of the account servicer''s business day, at the time specified, and subject to further changes during the business day. The interim balance is calculated on the basis of booked credit and debit items during the calculation time/period specified.       |

            | `InterimCleared`          | Cleared balance calculated in the course of the account servicer''s business day, at the time specified, and subject to further changes during the business day.        |

            | `OpeningAvailable`        | Opening balance of amount of money that is at the disposal of the account owner on the date specified.        |

            | `OpeningBooked`           | Book balance of the account at the beginning of the account reporting period. It always equals the closing book balance from the previous report.        |

            | `OpeningCleared`          | Opening balance of amount of money that is cleared on the date specified.       |

            | `PreviouslyClosedBooked`  | Balance of the account at the previously closed account reporting period. The opening booked balance for the new period has to be equal to this balance.  |

            '
          enum:
          - ClosingAvailable
          - ClosingBooked
          - ClosingCleared
          - Expected
          - ForwardAvailable
          - Information
          - InterimAvailable
          - InterimBooked
          - InterimCleared
          - OpeningAvailable
          - OpeningBooked
          - OpeningCleared
          - PreviouslyClosedBooked
    IngestV2AsyncResponse:
      title: Ingest Transactions V2 Async Response
      type: object
      allOf:
      - $ref: '#/components/schemas/IngestV2Response'
      - type: object
        required:
        - operation_id
        - metadata
        properties:
          metadata:
            $ref: '#/components/schemas/IngestV2Metadata'
    FPIIngestSucceededWebhookBody:
      title: FPI Ingestion Succeeded Webhook Payload
      type: object
      description: 'The payload sent to the client defined webhook (via the console) when an First Party Ingestion task succeeds.

        '
      required:
      - data
      properties:
        data:
          type: object
          required:
          - event
          - task_id
          - operation_id
          properties:
            event:
              description: The event type
              type: string
              example: first_party_ingester.ingest.succeeded
            task_id:
              description: The associated task ID
              type: string
              example: 3928aca4-b73c-4f13-a540-1b3759e06d27
            operation_id:
              description: The endpoint ID the operation was related to
              type: string
              example: v2_ingest_transactions_post
            subtask_details:
              description: Details of the individual subtasks (customers) of the ingestion
              type: array
              items:
                type: object
                required:
                - customer_id
                properties:
                  customer_id:
                    type: string
                    description: A unique identifier for a Customer, as registered on Bud's platform.
                  customer_idempotent_identifier:
                    type: string
                    description: The `idempotent_identifier` provided when the customer given was created.
    IngestV2SyncMetadata:
      title: Created Task Details
      description: Metadata on the created task, including the task_id
      type: object
      required:
      - task_id
      properties:
        task_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Can be used with the transaction status endpoint to retrieve the status of the full enriched process
        next_url:
          type: string
          description: The path to call to obtain the current status of the task.
          example: /v2/ingest/status/4cef424c-1d7f-4cab-8be2-aee7e1774a00
        next_url_delay:
          type: number
          description: The time in milliseconds that the client should wait before trying to retrieve the current status of the task.
          example: 500
    IngestV2SyncResponseData:
      title: Enriched Customer Transactions
      type: object
      oneOf:
      - $ref: '#/components/schemas/IngestResponseV3SubTaskWithCustomerID'
      - $ref: '#/components/schemas/IngestResponseV3SubTaskWithCustomerIdempotentIdentifier'
      required:
      - enriched_transactions
      properties:
        enriched_transactions:
          type: array
          items:
            $ref: '#/components/schemas/schemas-TransactionForSyncIngest'
    IngestResponseV3SubTask:
      title: Customer Ingest Task
      description: A single customer ingest task status
      type: object
      oneOf:
      - $ref: '#/components/schemas/IngestResponseV3SubTaskWithCustomerID'
      - $ref: '#/components/schemas/IngestResponseV3SubTaskWithCustomerIdempotentIdentifier'
      required:
      - status
      properties:
        status:
          title: Ingest Response Status
          description: Ingest response status.
          type: string
          enum:
          - Completed
          - Failed
          - Pending
        result:
          $ref: '#/components/schemas/IngestTaskResult'
        error:
          description: Any error messages describing why a sub task has failed.
          type: object
          additionalProperties: true
    Categories:
      title: Categories
      type: object
      description: 'Categories enrichment associated with a Transaction, as generated by Bud''s artificial intelligence models.  Currently two levels of category are supported, with `l1` being a coarse-grained category level and `l2` being more refined.

        '
      properties:
        l1:
          $ref: '#/components/schemas/Category'
          description: Level 1 Category
        l2:
          $ref: '#/components/schemas/Category'
          description: Level 2 Category
    SynchronousEnrichmentsList:
      type: array
      description: 'The list of enrichments product to execute during the synchronous execution of the request. Based on this list, the transactions sent will be processed through a number of enrichment flows, and this drives the amount of additional information attached to each transactions in the synchronous process.


        The list of available enrichement products during the synchronous ingestion is the following:

        - categories

        - merchants


        The default behaviour is to execute `categories` and `merchants`.


        Note: This attribute doesn''t limit the execution of all Bud''s enrichments, we''ll still return a number of additional information (eg: tokens), but it switches on and off the two enrichments listed above.

        '
      example:
      - categories
      - merchants
      items:
        type: string
        enum:
        - categories
        - merchants
    IngestV2Metadata:
      title: Created Task Details
      description: Metadata on the created task, including the task_id
      type: object
      required:
      - task_id
      properties:
        task_id:
          type: string
          format: uuid
          description: Can be used with the transaction status endpoint to retrieve the status of the full enriched process
        next_url:
          type: string
          description: The path to call to obtain the current status of the task.
          example: /v2/ingest/status/4cef424c-1d7f-4cab-8be2-aee7e1774a00
        next_url_delay:
          type: number
          description: The time in milliseconds that the client should wait before trying to retrieve the current status of the task.
          example: 500
    ValidationInvalid:
      type: array
      title: Invalid Fields
      description: list of invalid fields for a transaction
      items:
        type: string
    IngestStatusTaskMetadata:
      title: Ingest Task Metadata
      description: Expected response structure.
      type: object
      required:
      - task_id
      - status
      properties:
        task_id:
          type: string
          format: uuid
          description: Unique task identifier.
        status:
          $ref: '#/components/schemas/OverallIngestResponseStatus'
        result:
          $ref: '#/components/schemas/IngestTaskResult'
        ingest_request_id:
          type: string
          format: uuid
          description: Unique identifier of the initial ingest request
        ingest_route:
          type: string
          description: The endpoint used for this ingest task
          enum:
          - ingest_accounts_post
          - ingest_transactions_post
          - v2_ingest_accounts_post
          - v2_ingest_transactions_post
          - v3_ingest_transactions_book_post
          - v3_ingest_transactions_decline_post
        ingest_schema:
          type: string
          description: The account/transaction schema used for the ingest
          enum:
          - application/bud-accounts+json
          - application/bud-transaction-v2+json
          - application/bud-transaction-v3+json
        next_url:
          description: The URL to call to obtain the results of the task
          type: string
        next_url_delay:
          description: Recommended delay in milliseconds before next call
          type: number
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    IngestStatusV3Response:
      title: Ingestion Task Status Response
      type: object
      description: Report on the status of an ingestion task
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: array
          items:
            $ref: '#/components/schemas/IngestResponseV3SubTask'
        metadata:
          $ref: '#/components/schemas/IngestStatusTaskMetadata'
    ValidationError:
      type: object
      title: Validation Errors
      required:
      - operation_id
      - code_id
      - message
      - errors
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          enum:
          - failed_validation
        message:
          type: string
          description: 'High level description on what has failed '
        errors:
          type: object
          title: Map_of_customer_IDs
          description: a map of customer IDs to transaction validation errors
          properties:
            missing_fields:
              type: object
              title: Map of transaction IDs
              description: 'A map of transaction IDs to missing fields array.


                If the transaction ID was missing use the request transaction array index to identify it.

                See example

                '
              additionalProperties:
                $ref: '#/components/schemas/ValidationMissing'
            invalid_fields:
              type: object
              title: Map of transaction IDs
              description: 'A map of transaction IDs to invalid fields array.


                If the transaction ID was missing use the request transaction array index to identify it.

                See example

                '
              additionalProperties:
                $ref: '#/components/schemas/ValidationInvalid'
      example:
        operation_id: enrich_transactions_post
        code_id: failed_validation
        message: validation failure(s) in request payload
        errors:
          1db8c4b5-e5ae-429e-947b-6a4616ffc717:
            missing_fields:
              8b13ac45-9fe6-4c17-8c6d-b60ab2b4edad:
              - description
              - customer_id
              ba466961-d623-4173-9001-2f6487a9a41e:
              - customer_id
              tx-1:
              - transaction_id
              578f24f2-5046-463a-bca6-239e0dfac7fa:
              - amount
            invalid_fields:
              8b13ac45-9fe6-4c17-8c6d-b60ab2b4edad:
              - date
              ba466961-d623-4173-9001-2f6487a9a41e:
              - date
    CloseAccountsRequest:
      title: Close Accounts Request
      type: array
      items:
        type: object
        oneOf:
        - $ref: '#/components/schemas/IngestFirstPartyDataWithCustomerID'
        - $ref: '#/components/schemas/IngestFirstPartyDataWithCustomerIdempotentIdentifier'
        properties:
          account_ids:
            type: array
            items:
              type: string
          metadata:
            type: object
            properties:
              as_of:
                type: string
                example: '2025-09-24T14:55:09Z'
                description: The datetime that the accounts closed in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339). If not provided, the current datetime will be used.
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    CustomerSecret:
      type: string
      description: The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud.
    TransactionWindowArray:
      type: array
      description: 'If not provided, the transaction window is inferred from the date of the first and last transactions.

        Only a single window per customer account is supported.

        '
      items:
        $ref: '#/components/schemas/TransactionWindow'
    IngestCreditLine:
      title: Ingest Credit Line
      type: object
      description: A set of elements used to provide details on the credit line
      required:
      - amount
      - type
      properties:
        included:
          type: boolean
          description: Indicates whether or not the credit line is included in the balance of the account, if not present, credit line is not included in the balance amount of the account
        amount:
          $ref: '#/components/schemas/InpAmount'
        type:
          type: string
          description: Limit type, in a coded form
          enum:
          - Available
          - Credit
          - Emergency
          - Pre-Agreed
          - Temporary
    TransactionSettlementV3WebookBody:
      title: Transaction Settlement Webhook Payload
      type: object
      description: 'The payload send to the client defined webhook (via the console) when a Book or Decline settlement task is Completed.

        '
      required:
      - data
      properties:
        data:
          type: object
          required:
          - event
          - operation_id
          - status
          - task_id
          properties:
            event:
              description: The type of settlement task that completed.
              type: string
              enum:
              - first_party_ingester.transactions.booked
              - first_party_ingester.transactions.declined
            operation_id:
              description: The operation ID of settlement task that completed.
              type: string
              enum:
              - v3_ingest_transactions_book_post
              - v3_ingest_transactions_decline_post
            status:
              description: The status of the settlement task that completed.
              type: string
              enum:
              - Completed
              - PartialCompleted
              - Failed
            task_id:
              description: "The task_id of the settlement task that completed.\n\nThis can be used to check full status and errors of the task using the __Retrieve Ingestion Task Status V3__ endpoint. \n"
              type: string
    Processor:
      title: Processor
      type: object
      description: 'Processor enrichment associated with a Transaction, as generated using a combination of Bud''s artificial  intelligence models and database of known payment processors.

        '
      properties:
        id:
          type: string
          description: UUID corresponding to the processor, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the processor. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the processor.
        logo:
          type: string
          description: URL supplying processor logo, if available.
        tokens:
          type: array
          description: 'A list of tokens calculated from the transaction model, used to identify the Merchant.  This list is often present even if the merchant details (id, slug, disply_name, logo) are not returned.

            '
          items:
            $ref: '#/components/schemas/Token'
        website:
          type: string
          description: URL supplying merchant website, if available.
    IngestAccountsRequest:
      title: Bud Accounts Request
      description: Ingest accounts expected request body.
      type: array
      items:
        $ref: '#/components/schemas/IngestCustomerWithAccounts'
    BodyDecodeError:
      type: object
      title: JSON Decoding Error
      required:
      - operation_id
      - code_id
      - message
      - errors
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          enum:
          - failed_body_decode
        message:
          type: string
          description: 'High level description on what has failed '
        errors:
          type: object
          description: Contains more details on the decoding error
          required:
[...]
