openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Transaction Search API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Transaction Search
  x-displayName: Transaction Search
  description: Allows customers to search & ask questions about their financial transactions.
paths:
  /search/beta/transactions:
    get:
      tags:
      - Transaction Search
      summary: Search customer transactions
      description: 'Finds the most relevant transactions matching the `user_input` text.


        An initial free text search will then suggest `suggested_searches` which use structured data e.g. `category_l1` or `merchant_name`.


        At most one of the following query parameters can be used per request, if multiple are set the endpoint will return a `Bad Request` response (if none are set, transactions will be returned with no filtering to facilitate showing an initial transaction list to the user):

        - `user_input`

        - `merchant_name`

        - `category_l1`

        - `category_l2`

        - `description`

        - `tag`


        This endpoint also provides a link to view an AI-generated insight about the current search. Please wait for the allotted `insight.url_delay` before following this link to avoid unnecessary polling before the insight has been generated.'
      operationId: search_beta_transactions_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/HeaderTimezone'
      - $ref: '#/components/parameters/HeaderSearchTransactionsAccept'
      - $ref: '#/components/parameters/QueryUserInput'
      - $ref: '#/components/parameters/QueryMerchantName'
      - $ref: '#/components/parameters/QueryCategoryL1'
      - $ref: '#/components/parameters/QueryCategoryL2'
      - $ref: '#/components/parameters/QueryDescription'
      - $ref: '#/components/parameters/QueryTag'
      - $ref: '#/components/parameters/QueryAccountId'
      - $ref: '#/components/parameters/QueryCreditDebitIndicator'
      - $ref: '#/components/parameters/QueryAmountMin'
      - $ref: '#/components/parameters/QueryAmountMax'
      - $ref: '#/components/parameters/QueryFromBudDate'
      - $ref: '#/components/parameters/QueryToBudDate'
      - $ref: '#/components/parameters/QueryBudPageToken'
      - $ref: '#/components/parameters/QueryBudPageSize'
      responses:
        '200':
          $ref: '#/components/responses/SearchTransactionsResponse'
        '400':
          description: Bad Request
  /search/beta/transactions/{search_id}:
    get:
      tags:
      - Transaction Search
      summary: Get transaction search by ID
      description: 'Retrieves an existing transaction search by its search ID.


        **📘 Note: Searches are transient. After the search expires (see `metadata.expires_in`), this endpoint will return a `Not Found` response. The recommended behaviour in this case is to resubmit the desired search using the `Search customer transactions` endpoint.**'
      operationId: search_beta_transactions_search_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/PathSearchId'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/HeaderTimezone'
      - $ref: '#/components/parameters/HeaderSearchTransactionsAccept'
      - $ref: '#/components/parameters/QueryBudPageToken'
      - $ref: '#/components/parameters/QueryBudPageSize'
      responses:
        '200':
          $ref: '#/components/responses/SearchTransactionsResponse'
        '404':
          description: Not Found
  /search/beta/transactions/{search_id}/insight:
    get:
      tags:
      - Transaction Search
      summary: Get transaction search insight
      description: 'Retrieves an AI-generated insight to enrich the output, or answer the question asked in the input to the transaction search. There is no multi-currency support in insights, so the default currency for the customer''s region will be assumed.


        This insight can take some time to generate, so the `status` property can be used in combination with the `Retry-After` response header to poll until the insight is generated (at which point the status will be `success`).


        **📘 Note: Searches are transient. After the search expires (see `metadata.expires_in`), this endpoint will return a `Not Found` response. The recommended behaviour in this case is to resubmit the desired search using the `Search customer transactions` endpoint.**'
      operationId: search_beta_transactions_insight_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/PathSearchId'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/HeaderTimezone'
      responses:
        '200':
          $ref: '#/components/responses/SearchTransactionsInsightResponse'
        '404':
          description: Not Found
  /search/beta/transactions/{search_id}/insight/transactions:
    get:
      tags:
      - Transaction Search
      summary: Get transactions used by the search insight
      description: 'Retrieves transactions used to calculate the AI-generated transaction search insight, to provide explainability for the insight.


        This insight can take some time to generate, so until the insight is generated (use the insight endpoint to check status), this endpoint will return a `Not Found` response.


        **📘 Note: Searches are transient. After the search expires (see `metadata.expires_in`), this endpoint will return a `Not Found` response. The recommended behaviour in this case is to resubmit the desired search using the `Search customer transactions` endpoint.**'
      operationId: search_beta_transactions_insight_transactions_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/PathSearchId'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/HeaderTimezone'
      - $ref: '#/components/parameters/HeaderSearchTransactionsAccept'
      - $ref: '#/components/parameters/QueryBudPageToken'
      - $ref: '#/components/parameters/QueryBudPageSize'
      responses:
        '200':
          $ref: '#/components/responses/SearchInsightTransactionsResponse'
        '404':
          description: Not Found
components:
  schemas:
    SearchTransactionsResponseBody:
      title: Search Transactions Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - search_beta_transactions_get
        data:
          type: object
          required:
          - id
          - results
          - suggested_searches
          properties:
            id:
              title: Search ID
              type: string
              format: uuid
            results:
              type: array
              items:
                $ref: '#/components/schemas/TransactionSearchResult'
            suggested_searches:
              type: array
              items:
                $ref: '#/components/schemas/SuggestedTransactionSearch'
            insight:
              type: object
              required:
              - url
              - url_delay
              properties:
                url:
                  type: string
                  description: The URL (relative path) to fetch the insight linked to this search
                url_delay:
                  type: integer
                  format: milliseconds
                  description: The recomended time (in milliseconds) to wait before trying to fetch the insight.
        metadata:
          $ref: '#/components/schemas/TransactionSearchMetadata'
    TransactionSearchResult:
      title: Transaction Search Result
      type: object
      required:
      - matches
      - transaction
      properties:
        matches:
          title: Matches
          type: array
          items:
            $ref: '#/components/schemas/TransactionSearchResultMatches'
        transaction:
          $ref: '#/components/schemas/Transaction'
    Regularity:
      title: Regularity
      type: object
      description: 'Regularity enrichment associated with a Transaction, as generated by Bud''s artificial intelligence models.  Transactions that are similar and have a known frequency will all have the same regularity enrichment.

        '
      properties:
        frequency:
          type: string
          description: Detected frequency of the Transaction.
          enum:
          - unknown
          - daily
          - weekly
          - biweekly
          - monthly
          - quarterly
        predicted_date_times:
          type: array
          description: Expected date times for the Transaction to repeat.
          items:
            type: string
        group_label:
          type: string
          description: Unique label applied to multiple transactions in the same group.
    TransactionIdSearchResult:
      title: Transaction ID Search Result
      type: object
      required:
      - matches
      - transaction_id
      properties:
        matches:
          title: Matches
          type: array
          items:
            $ref: '#/components/schemas/TransactionSearchResultMatches'
        transaction_id:
          type: string
          description: Unique identifier for the transaction. May be mutable depending on original ingestion source.
    BudTransactionType:
      title: transaction_type
      type: object
      description: 'The code and a description of the transaction type. Providing these fields may help improve enrichment accuracy.

        '
      properties:
        bud_code:
          type: string
          description: 'The code representing the type of the given transaction. This typically comes in the form of a proprietary code respective to the __provider__.


            Current list of valid accepted codes:


            | Code  | Meaning

            |:------|:-------------------------------------------------------------------|

            | DEB   | [Debit / Credit] Card                                              |

            | CSQ   | Cash / Cheque(s)                                                   |

            | CHG   | Charge                                                             |

            | COR   | Correction                                                         |

            | CPT   | Cashpoint / ATM                                                    |

            | INT   | Interest                                                           |

            | OTH   | Other                                                              |

            | BAT   | Bank Transfer (e.g. FP/MP/IB/BACS/CHAPS/SWIFT)                     |

            | DD    | Direct Debit                                                       |

            | SO    | Standing Order                                                     |

            '
        description:
          type: string
          description: 'A human-readable description of the given __bud_code__.

            example: `Contactless POS`

            '
    TransactionFilterType:
      title: Transaction Filter Type
      type: string
      description: 'Transaction field used to match the search query to transactions.


        Current list of valid values:


        - `merchant_name`

        - `category_l1`

        - `category_l2`

        - `description`

        - `tag`

        '
    Categories:
      title: Categories
      type: object
      description: 'Categories enrichment associated with a Transaction, as generated by Bud''s artificial intelligence models.  Currently two levels of category are supported, with `l1` being a coarse-grained category level and `l2` being more refined.

        '
      properties:
        l1:
          $ref: '#/components/schemas/Category'
          description: Level 1 Category
        l2:
          $ref: '#/components/schemas/Category'
          description: Level 2 Category
    SearchTransactionsResponseBodyTransactionId:
      title: Search Transactions Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - search_beta_transactions_get
        data:
          type: object
          required:
          - id
          - results
          - suggested_searches
          properties:
            id:
              title: Search ID
              type: string
              format: uuid
            results:
              type: array
              items:
                $ref: '#/components/schemas/TransactionIdSearchResult'
            suggested_searches:
              type: array
              items:
                $ref: '#/components/schemas/SuggestedTransactionSearch'
            insight:
              type: object
              required:
              - url
              - url_delay
              properties:
                url:
                  type: string
                  description: The URL (relative path) to fetch the insight linked to this search
                url_delay:
                  type: integer
                  format: milliseconds
                  description: The recomended time (in milliseconds) to wait before trying to fetch the insight.
        metadata:
          $ref: '#/components/schemas/TransactionSearchMetadata'
    Token:
      title: Token
      type: object
      description: The token item.
      required:
      - value
      - confidence
      properties:
        value:
          type: string
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    TransactionSearchMetadata:
      title: Transaction Search Metadata
      type: object
      required:
      - query
      - expires_in
      properties:
        query:
          $ref: '#/components/schemas/TransactionSearchQuery'
        next_page_token:
          $ref: '#/components/schemas/NextPageToken'
        results:
          $ref: '#/components/schemas/Results'
        expires_in:
          $ref: '#/components/schemas/TransactionSearchExpirySeconds'
    TransactionsContentType:
      title: Transactions Content Type
      type: string
      enum:
      - application/bud-transaction-v3+json
      - application/bud-transaction-id+json
      default: application/bud-transaction-v3+json
      description: 'Defines the transactions'' format for the response.


        | MIME type                           | Description                                                                                                   |

        |:-----------------------------------:|:-------------------------------------------------------------------------------------------------------------:|

        | application/bud-transaction-v3+json | The full transactcion model, including all of Bud''s enrichments                                               |

        | application/bud-transaction-id+json | Just the IDs of each transaction, useful if your transactions are stored / cached outside of the Bud platform |'
    ClientAttributes:
      title: Client Attributes
      type: object
      description: 'An optional map of key-value string pairs that allows clients to attach arbitrary metadata to the transaction.

        This field can be used to store any relevant information specific to the client''s needs, such as:

        These attributes can be added using the [Ingest Transactions](#operation/v2_ingest_transactions_post) endpoint.

        '
      properties:
        key:
          type: string
          description: An arbitrary key-value pair for the client attribute.
    TransactionSearchInsightMetadata:
      title: Transaction Search Insight Metadata
      type: object
      required:
      - query
      - expires_in
      properties:
        query:
          $ref: '#/components/schemas/TransactionSearchQuery'
        expires_in:
          $ref: '#/components/schemas/TransactionSearchExpirySeconds'
    SearchInsightTransactionsResponseBody:
      title: Search Insight Transactions Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - search_beta_transactions_insight_transactions_get
        data:
          type: object
          required:
          - id
          - results
          properties:
            id:
              title: Search ID
              type: string
              format: uuid
            results:
              type: array
              items:
                $ref: '#/components/schemas/TransactionSearchResult'
        metadata:
          $ref: '#/components/schemas/TransactionSearchMetadata'
    TransactionSearchResultMatches:
      type: object
      required:
      - type
      - content
      properties:
        type:
          $ref: '#/components/schemas/TransactionFilterType'
        content:
          type: string
          description: the content which matched in the transaction field, to facilitate highlighting to the user
    Enrichments:
      title: Enrichments
      type: object
      description: Contextual enrichments associated with a Transaction
      properties:
        categories:
          $ref: '#/components/schemas/Categories'
        merchant:
          $ref: '#/components/schemas/Merchant'
        processor:
          $ref: '#/components/schemas/Processor'
        regularity:
          $ref: '#/components/schemas/Regularity'
        location:
          $ref: '#/components/schemas/Location'
        transaction_types:
          type: array
          description: Transaction types associated with the transaction
          items:
            type: string
        names:
          type: array
          description: Names that were detected in the transaction description
          items:
            type: string
    SuggestedTransactionSearch:
      title: Suggested Transaction Search
      type: object
      required:
      - filter
      - url
      properties:
        filter:
          $ref: '#/components/schemas/TransactionFilter'
        url:
          type: string
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    Transaction:
      title: Transaction
      type: object
      description: A financial transaction
      required:
      - transaction_id
      - account_id
      - description
      - amount
      - credit_debit_indicator
      - status
      - date_time
      - suggested_description
      properties:
        transaction_id:
          type: string
          description: Unique identifier for the transaction. May be mutable depending on original ingestion source.
        account_id:
          type: string
          description: Identifier for the account associated with the transaction.
        provider:
          type: string
          description: Name of the transaction source provider. Optional as it may not have been supplied when using first party data.
        description:
          type: string
          description: Description of the transaction.
        credit_debit_indicator:
          type: string
          description: Credit/Debit Indicator
          enum:
          - credit
          - debit
        status:
          type: string
          description: 'Status of the transaction. Defaults to booked.


            Note: declined transactions are only available for transactions ingested by First Party Ingestion endpoints.

            '
          enum:
          - booked
          - pending
          - declined
        suggested_description:
          type: string
          description: The description Bud suggests client apps show for a given transaction.
        suggested_logo:
          type: string
          description: The logo Bud suggests client apps show for a given transaction.
        transaction_type:
          $ref: '#/components/schemas/BudTransactionType'
        amount:
          $ref: '#/components/schemas/BudAmount'
        date_time:
          type: string
          description: Date that the transaction occured compliant with RFC3339.
        posted_date_time:
          deprecated: true
          type: string
          description: Date the assets involved in the transaction transferred compliant with RFC3339. For credits this is the date that the asset becomes available, for debits this is the date that the asset ceased to be available
        value_date_time:
          type: string
          description: Date the assets involved in the transaction transferred compliant with RFC3339. For credits this is the date that the asset becomes available, for debits this is the date that the asset ceased to be available
        enrichments:
          $ref: '#/components/schemas/Enrichments'
        merchant_category_code:
          type: string
          description: Merchant category code conforming to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
        running_balance:
          description: The running balance for the account that the transaction takes place against
          title: Standard Bud Amount
          type: object
          required:
          - value
          - currency
          properties:
            value:
              $ref: '#/components/schemas/BudMonetaryValue'
            currency:
              $ref: '#/components/schemas/BudCurrency'
        counterparty:
          type: object
          description: An object containing details of the counterparty in this transaction
          properties:
            name:
              type: string
              description: The name of the counterparty involved in this transaction.
            identifier:
              type: string
              description: An identifier for the account of the other party
        tags:
          type: array
          description: 'A list of potential tags associated with the transaction after contextual enrichment, which can be used for filtering.


            Region and client specific.


            | Value                   | Description                                               |

            |:------------------------|:----------------------------------------------------------|

            | `benefit`               | A government/non-profit benefit transaction               |

            | `debt-collection`       | A transaction associated with a known debt-collector      |

            | `loan`                  | A transaction associated with a loan                      |

            | `hcst`                  | A transaction associated with a high cost short term loan |

            | `income`                | A transaction associated with income                      |

            | `pending`               | A transaction which has not been booked                   |

            | `regular-transaction`   | A transaction predicted to occur with a regular frequency |

            | `subscription`          | A transaction associated with a subscription service      |

            | `online`                | A transaction associated with an online merchant          |

            | `bill`                  | A transaction associated with an bill payment             |

            | `internal-transfer`     | A transaction between a customers accounts                |

            '
          items:
            type: string
        client_attributes:
          $ref: '#/components/schemas/ClientAttributes'
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    Location:
      title: Location
      type: object
      description: Location enrichment associated with a Transaction
      properties:
        address:
          type: object
          description: The address where the transaction occurred. The level of detail depends on the resolution with which we are able to detect the transaction location.
          properties:
            address_lines:
              type: array
              description: A list of all the address lines detected for the transaction. This could be anything from a full street address down to just the region.
              items:
                type: string
            street_address:
              type: string
              description: The street address where the transaction occurred. Typically this will consist of the street number and street name with an optional suite.
            city:
              type: string
              description: The city or town where the transaction occurred.
            region:
              type: string
              description: The county or region where the transaction occurred.
            postal_code:
              type: string
              description: The postcode where the transaction occurred.
            country:
              type: string
              description: 'The ISO 3166-1 alpha-2 country code representing the country where the transaction occurred.


                If a location could not be determined, but a `country_code` was supplied in the ingestion request; that value will be reflected here.

                '
        geolocation:
          type: object
          description: The geolocation where the transaction occurred. This is only available if we are able to narrow down the transaction location to an exact match.
          properties:
            latitude:
              type: number
              format: double
              description: The latitudinal position where the transaction occurred.
            longitude:
              type: number
              format: double
              description: The longitudinal position where the transaction occurred.
        tokens:
          type: array
          description: A list of substrings from the description identified as being relevant to the transaction location.
          items:
            type: string
    Merchant:
      title: Merchant
      type: object
      description: 'Merchant enrichment associated with a Transaction, as generated using a combination of Bud''s artificial  intelligence models and database of known merchants.

        '
      properties:
        id:
          type: string
          description: UUID corresponding to the merchant, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the merchant. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the merchant.
        logo:
          type: string
          description: URL supplying merchant logo, if available.
        tokens:
          type: array
          description: 'A list of tokens calculated from the transaction model, used to identify the Merchant.  This list is often present even if the merchant details (id, slug, disply_name, logo) are not returned.

            '
          items:
            $ref: '#/components/schemas/Token'
        website:
          type: string
          description: URL supplying merchant website, if available.
        tags:
          type: array
          items:
            type: string
          description: A list of tags describing the merchant
    SearchInsightTransactionsResponseBodyTransactionId:
      title: Search Insight Transactions Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - search_beta_transactions_insight_transactions_get
        data:
          type: object
          required:
          - id
          - results
          properties:
            id:
              title: Search ID
              type: string
              format: uuid
            results:
              type: array
              items:
                $ref: '#/components/schemas/TransactionIdSearchResult'
        metadata:
          $ref: '#/components/schemas/TransactionSearchMetadata'
    TransactionFilter:
      title: Transaction Filter
      type: object
      required:
      - type
      - value
      - logo
      properties:
        type:
          $ref: '#/components/schemas/TransactionFilterType'
        value:
          type: string
        logo:
          type: string
          description: An icon to allow the user to distinguish between different types of filter, possibly with the same value e.g. searching for a tag of 'bills' vs 'bills' contained in the description search.
          format: url
    TransactionSearchExpirySeconds:
      type: integer
      format: seconds
      description: The number of seconds the search is stored. After this duration elapses, the search will expire and all requestes using it's ID will return `Not Found` errors.
    Results:
      type: integer
      description: The number of results included in this page.
    SearchTransactionsInsightResponseBody:
      title: Search Transactions Insight Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - search_beta_transactions_insight_get
        data:
          type: object
          required:
          - id
          - status
          properties:
            id:
              title: Search ID
              type: string
              format: uuid
            status:
              title: Insight Generation Status
              description: Status of the insight generation. Once this moves from `pending` to `completed`, `content` & `transactions` will be returned.
              type: string
              enum:
              - pending
              - completed
              - error
            content:
              type: object
              required:
              - text
              - matched_searches
              properties:
                text:
                  title: Insight text
                  type: string
                matched_searches:
                  type: array
                  items:
                    $ref: '#/components/schemas/InsightMatchedTransactionSearch'
            transactions:
              description: Information relating to the transactions used in calculating the insight.
              type: object
              required:
              - url
              - results
              - merchants
              properties:
                url:
                  description: A path to the transactions used in calculating the insight.
                  type: string
                results:
                  description: The number of transactions used in calculating the insight
                  type: integer
                merchants:
                  description: The set of merchants found in the transactions,
                  type: array
                  items:
                    type: object
                    properties:
                      display_name:
                        type: string
                        description: UI friendly display name for the merchant.
                      logo:
                        type: string
                        description: URL supplying merchant logo, if available.
        metadata:
          $ref: '#/components/schemas/TransactionSearchInsightMetadata'
    InsightMatchedTransactionSearch:
      title: Insight Search Term
      description: A search term which has been detected in the insight text. This can be exposed as an interaction for the customer using the links & text positions provided.
      type: object
      required:
      - filter
      - url
      - text_positions
      properties:
        filter:
          $ref: '#/components/schemas/TransactionFilter'
        url:
          type: string
        text_positions:
          type: array
          description: All byte positions of the search term in the insight text (assuming utf-16 string encoding).
          items:
            type: object
            description: 'The start and end position of the search term in the text. The end position is exclusive.

              E.g. "hello" in "hello world" would have start: 0, end: 5.'
            required:
            - start
            - end
            properties:
              start:
                type: integer
              end:
                type: integer
    Processor:
      title: Processor
      type: object
      description: 'Processor enrichment associated with a Transaction, as generated using a combination of Bud''s artificial  intelligence models and database of known payment processors.

        '
      properties:
        id:
          type: string
          description: UUID corresponding to the processor, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the processor. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the processor.
        logo:
          type: string
          description: URL supplying processor logo, if available.
        tokens:
          type: array
          description: 'A list of tokens calculated from the transaction model, used to identify the Merchant.  This list is often present even if the merchant details (id, slug, disply_name, logo) are not returned.

            '
          items:
            $ref: '#/components/schemas/Token'
        website:
          type: string
          description: URL supplying merchant website, if available.
    Category:
      title: Category
      type: object
      description: Category associated with a Transaction
      required:
      - slug
      - confidence
      properties:
        slug:
          type: string
          description: Unique human readable identifier of the category. Not subject to version control.
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
    NextPageToken:
      type: string
      description: 'The token to use to fetch the next page of results. This is only set if there are more results to fetch.

        '
    TransactionSearchQuery:
      title: Transaction Search Query
      type: object
      required:
      - from
      - to
      properties:
        user_input:
          type: string
        merchant_name:
          type: string
        category_l1:
          type: string
        category_l2:
          type: string
        description:
          type: string
        tag:
          type: string
        from:
          type: string
          description: "The date from when results were retrieved in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\nThis is either populated with the default value used when retrieving the results, or the user specified parameter.\n\nExamples:\n  - `2023-01-17T17:29:51Z`\n  - `2023-01-17T17:29:51-08:00`\n"
        to:
          type: string
          description: "The date up to when results were retrieved in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\nThis is either populated with the default value used when retrieving the results, or the user specified parameter.\n\nExamples:\n  - `2023-03-17T17:29:51Z`\n  - `2023-03-17T17:29:51-08:00`\n"
        account_ids:
          type: array
          items:
            type: string
          description: 'Account ids used to filter results. Account ids are ORd when supplied as query parameters

            '
        credit_debit_indicator:
          type: string
          enum:
          - credit
          - debit
        amount_min:
          type: string
        amount_max:
          type: string
  parameters:
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    QueryToBudDate:
      in: query
      name: to
      schema:
        type: string
      example: '2019-02-29T12:23:00Z'
      description: "The date up to when results are to be retrieved in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-03-17T17:29:51Z`\n  - `2023-03-17T17:29:51-08:00`\n"
    QueryCreditDebitIndicator:
      name: credit_debit_indicator
      in: query
      schema:
        type: string
        enum:
        - credit
        - debit
      required: false
    QueryAmountMax:
      name: amount_max
      in: query
      schema:
        type: number
      required: false
      description: 'Include transactions with an amount value less than or equal to the specified value. Must be greater than 0.

        '
    QueryCategoryL1:
      name: category_l1
      in: query
      schema:
        type: string
        maxLength: 512
      required: false
    QueryTag:
      name: tag
      in: query
      schema:
        type: string
        maxLength: 512
      required: false
    QueryAmountMin:
      name: amount_min
      in: query
      schema:
        type: number
        minimum: 0
      required: false
      description: 'Include transactions with an amount value greater than or equal to the specified value

        '
    QueryAccountId:
      name: account_id
      in: query
      schema:
        type: string
        maxLength: 512
      example: RxsYshVGded4JeilkXgWKdXA
      required: false
      description: 'Account id used to filter results. If multiple account ids are supplied, transactions from all of the supplied accounts will be included in results.

        '
    PathSearchId:
      in: path
      name: search_id
      schema:
        type: string
        format: uuid
      example: 2f6c8ebe-b408-43f8-9152-80e2275deec5
      required: true
    QueryCategoryL2:
      name: category_l2
      in: query
      schema:
        type: string
        maxLength: 512
      required: false
    QueryUserInput:
      name: user_input
      in: query
      schema:
        type: string
        maxLength: 512
      required: false
    QueryFromBudDate:
      in: query
      name: from
      schema:
        type: string
      example: '2019-02-29T12:23:00Z'
      description: "The date from when results are to be retrieved in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-01-17T17:29:51Z`\n  - `2023-01-17T17:29:51-08:00`\n"
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
    QueryBudPageToken:
      in: query
      name: page_token
      schema:
        type: string
      example: eyJoZWxsbyI6ICJ3b3JsZCJ9Cg==
      description: Use this parameter to fetch a specific page of results. Provided by the next_page_token field in the previous request.
    QueryMerchantName:
      name: merchant_name
      in: query
      schema:
        type: string
        maxLength: 512
      required: false
    HeaderSearchTransactionsAccept:
      in: header
      name: Accept
      schema:
        $ref: '#/components/schemas/TransactionsContentType'
      required: false
      description: The requested transaction format (e.g. full transaction model vs only IDs)
    QueryDescription:
      name: description
      in: query
      schema:
        type: string
        maxLength: 512
      required: false
    HeaderTimezone:
      in: header
      name: X-Timezone
      schema:
        type: string
        format: tz database identifier
      required: true
      description: The [tz database identifier](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List) for the user's timezone.
      examples:
        Los Angeles, CA, USA:
          value: US/Pacific
        UK:
          value: Europe/London
    QueryBudPageSize:
      in: query
      name: page_size
      schema:
        type: integer
      example: 25
      description: Use this parameter to set the maximum number of results to be returned. This defaults to 25, and has a maximum of 100.
  responses:
    SearchTransactionsResponse:
      description: OK
      headers:
        Content-Type:
          description: Defines the transactions' format for the response.
          schema:
            $ref: '#/components/schemas/TransactionsContentType'
      content:
        application/bud-transaction-v3+json:
          schema:
            $ref: '#/components/schemas/SearchTransactionsResponseBody'
          example:
            operation_id: search_beta_transactions_get
            data:
              id: 8a567b41-1b61-4f8f-a1ea-8fcb10d08d9f
              results:
              - matches:
                - type: merchant_name
                  content: Dunkin'
                - type: category_l2
                  content: coffee
                transaction:
                  transaction_id: '378'
                  account_id: 5ce0749e-551c-4693-87f8-400d2551fdd1
                  provider: Chase
                  description: DUNKIN DONUTS COFFEE BROOKLYN NEW YORK
                  credit_debit_indicator: debit
                  amount:
                    value: '8.87'
                    currency: USD
                  date_time: '2025-03-02T00:00:00Z'
                  posted_date_time: '2025-03-02T00:00:00Z'
                  value_date_time: '2025-03-02T00:00:00Z'
                  status: booked
                  suggested_description: Dunkin'
                  suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/ba8ef908-b624-4116-8b26-571e48d1bf4c/v3/dunkin.jpeg
                  enrichments:
                    merchant:
                      id: ba8ef908-b624-4116-8b26-571e48d1bf4c
                      slug: dunkin
                      display_name: Dunkin'
                      logo: https://assets.thisisbud.com/datasci-images/merchant_logos/ba8ef908-b624-4116-8b26-571e48d1bf4c/v3/dunkin.jpeg
                      website: https://www.dunkindonuts.com
                      tokens:
                      - confidence: '1.00'
                        value: DUNKIN DONUTS COFFEE
                    categories:
                      l1:
                        slug: food_and_drink
                        confidence: '0.98'
                      l2:
                        slug: coffee
                        confidence: '0.96'
                    regularity:
                      frequency: biweekly
                      predicted_date_times:
                      - '2025-03-17T00:00:00Z'
                      - '2025-03-31T00:00:00Z'
                      - '2025-04-14T00:00:00Z'
                      - '2025-04-28T00:00:00Z'
                      - '2025-05-12T00:00:00Z'
                      - '2025-05-27T00:00:00Z'
                      - '2025-06-09T00:00:00Z'
                      - '2025-06-23T00:00:00Z'
                      group_label: 3e1b2ea4df1579fe9dcda6cf6b032492d8551e78404d023ca3d57ca8b1ae2159-4
                    location:
                      address:
                        city: New York
                        region: NY
                        country: US
                      geolocation:
                        longitude: -73.9872777778
                        latitude: 40.6919444444
                  tags:
                  - regular-transaction
              - matches:
                - type: merchant_name
                  content: Dunkin'
                - type: category_l2
                  content: coffee
                transaction:
                  transaction_id: '377'
                  account_id: 5ce0749e-551c-4693-87f8-400d2551fdd1
                  provider: Chase
                  description: DUNKIN DONUTS COFFEE BROOKLYN NEW YORK
                  credit_debit_indicator: debit
                  amount:
                    value: '6.54'
                    currency: USD
                  date_time: '2025-02-28T00:00:00Z'
                  posted_date_time: '2025-02-28T00:00:00Z'
                  value_date_time: '2025-02-28T00:00:00Z'
                  status: booked
                  suggested_description: Dunkin'
                  suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/ba8ef908-b624-4116-8b26-571e48d1bf4c/v3/dunkin.jpeg
                  enrichments:
                    merchant:
                      id: ba8ef908-b624-4116-8b26-571e48d1bf4c
                      slug: dunkin
                      display_name: Dunkin'
                      logo: https://assets.thisisbud.com/datasci-images/merchant_logos/ba8ef908-b624-4116-8b26-571e48d1bf4c/v3/dunkin.jpeg
                      website: https://www.dunkindonuts.com
                      tokens:
                      - confidence: '1.00'
                        value: DUNKIN DONUTS COFFEE
                    categories:
                      l1:
                        slug: food_and_drink
                        confidence: '0.98'
                      l2:
                        slug: coffee
                        confidence: '0.97'
                    regularity:
                      frequency: biweekly
                      predicted_date_times:
                      - '2025-03-14T00:00:00Z'
                      - '2025-03-28T00:00:00Z'
                      - '2025-04-11T00:00:00Z'
                      - '2025-04-25T00:00:00Z'
                      - '2025-05-09T00:00:00Z'
                      - '2025-05-23T00:00:00Z'
                      - '2025-06-06T00:00:00Z'
                      - '2025-06-20T00:00:00Z'
                      group_label: 3e1b2ea4df1579fe9dcda6cf6b032492d8551e78404d023ca3d57ca8b1ae2159-3
                    location:
                      address:
                        city: New York
                        region: NY
                        country: US
                      geolocation:
                        longitude: -73.9872777778
                        latitude: 40.6919444444
                  tags:
                  - regular-transaction
              suggested_searches:
              - filter:
                  type: merchant_name
                  value: Dunkin'
                  logo: https://assets.thisibud.com/5c97ffcf-9604-4fd9-bef1-1496ccce2d12.png
                url: /search/beta/transactions?merchant_name=Dunkin'
              - filter:
                  type: category_l2
                  value: coffee
                  logo: https://assets.thisibud.com/5c97ffcf-9604-4fd9-bef1-1496ccce2d12.png
                url: /search/beta/transactions?category_l2=coffee
              insight:
                url: /search/beta/transactions/8a567b41-1b61-4f8f-a1ea-8fcb10d08d9f/insight
                url_delay: 1500
            metadata:
              query:
                user_input: Dunki
                from: '2025-01-01T00:00:00Z'
                to: '2025-02-01T00:00:00Z'
              next_page_token: eyJoZWxsbyI6ICJ3b3JsZCJ9Cg==
              results: 2
              expires_in: 60
        application/bud-transaction-id+json:
          schema:
            $ref: '#/components/schemas/SearchTransactionsResponseBodyTransactionId'
          example:
            operation_id: search_beta_transactions_get
            data:
              id: 8a567b41-1b61-4f8f-a1ea-8fcb10d08d9f
              results:
              - transaction_id: '378'
                matches:
                - type: merchant_name
                  content: Dunkin'
                - type: category_l2
                  content: coffee
              - transaction_id: '377'
                matches:
                - type: merchant_name
                  content: Dunkin'
                - type: category_l2
                  content: coffee
              suggested_searches:
              - filter:
                  type: merchant_name
                  value: Dunkin'
                  logo: https://assets.thisibud.com/5c97ffcf-9604-4fd9-bef1-1496ccce2d12.png
                url: /search/beta/transactions?merchant_name=Dunkin'
              - filter:
                  type: category_l2
                  value: coffee
                  logo: https://assets.thisibud.com/5c97ffcf-9604-4fd9-bef1-1496ccce2d12.png
                url: /search/beta/transactions?category_l2=coffee
              insight:
                url: /search/beta/transactions/8a567b41-1b61-4f8f-a1ea-8fcb10d08d9f/insight
                url_delay: 1500
            metadata:
              query:
                user_input: Dunki
                from: '2025-01-01T00:00:00Z'
                to: '2025-02-01T00:00:00Z'
              next_page_token: eyJoZWxsbyI6ICJ3b3JsZCJ9Cg==
              results: 2
              expires_in: 60
    SearchInsightTransactionsResponse:
      description: OK
      headers:
        Content-Type:
          description: Defines the transactions' format for the response.
          schema:
            $ref: '#/components/schemas/TransactionsContentType'
      content:
        application/bud-transaction-v3+json:
          schema:
            $ref: '#/components/schemas/SearchInsightTransactionsResponseBody'
          example:
            operation_id: search_beta_transactions_insight_transactions_get
            data:
              id: 8a567b41-1b61-4f8f-a1ea-8fcb10d08d9f
              results:
              - matches:
                - type: merchant_name
                  content: Dunkin'
                - type: category_l2
                  content: coffee
                transaction:
                  transaction_id: '378'
                  account_id: 5ce0749e-551c-4693-87f8-400d2551fdd1
                  provider: Chase
                  description: DUNKIN DONUTS COFFEE BROOKLYN NEW YORK
                  credit_debit_indicator: debit
                  amount:
                    value: '8.87'
                    currency: USD
                  date_time: '2025-03-02T00:00:00Z'
                  posted_date_time: '2025-03-02T00:00:00Z'
                  value_date_time: '2025-03-02T00:00:00Z'
                  status: booked
                  suggested_description: Dunkin'
                  suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/ba8ef908-b624-4116-8b26-571e48d1bf4c/v3/dunkin.jpeg
                  enrichments:
                    merchant:
                      id: ba8ef908-b624-4116-8b26-571e48d1bf4c
                      slug: dunkin
                      display_name: Dunkin'
                      logo: https://assets.thisisbud.com/datasci-images/merchant_logos/ba8ef908-b624-4116-8b26-571e48d1bf4c/v3/dunkin.jpeg
                      website: https://www.dunkindonuts.com
                      tokens:
                      - confidence: '1.00'
                        value: DUNKIN DONUTS COFFEE
                    categories:
                      l1:
                        slug: food_and_drink
                        confidence: '0.98'
                      l2:
                        slug: coffee
                        confidence: '0.96'
                    regularity:
                      frequency: biweekly
                      predicted_date_times:
                      - '2025-03-17T00:00:00Z'
                      - '2025-03-31T00:00:00Z'
                      - '2025-04-14T00:00:00Z'
                      - '2025-04-28T00:00:00Z'
                      - '2025-05-12T00:00:00Z'
                      - '2025-05-27T00:00:00Z'
                      - '2025-06-09T00:00:00Z'
                      - '2025-06-23T00:00:00Z'
                      group_label: 3e1b2ea4df1579fe9dcda6cf6b032492d8551e78404d023ca3d57ca8b1ae2159-4
                    location:
                      address:
                        city: New York
                        region: NY
                        country: US
                      geolocation:
                        longitude: -73.9872777778
                        latitude: 40.6919444444
                  tags:
                  - regular-transaction
              - matches:
                - type: merchant_name
                  content: Dunkin'
                - type: category_l2
                  content: coffee
                transaction:
                  transaction_id: '377'
                  account_id: 5ce0749e-551c-4693-87f8-400d2551fdd1
                  provider: Chase
                  description: DUNKIN DONUTS COFFEE BROOKLYN NEW YORK
                  credit_debit_indicator: debit
                  amount:
                    value: '6.54'
                    currency: USD
                  date_time: '2025-02-28T00:00:00Z'
                  posted_date_time: '2025-02-28T00:00:00Z'
                  value_date_time: '2025-02-28T00:00:00Z'
                  status: booked
                  suggested_description: Dunkin'
                  suggested_logo: https://assets.thisisbud.com/datasci-images/merchant_logos/ba8ef908-b624-4116-8b26-571e48d1bf4c/v3/dunkin.jpeg
                  enrichments:
                    merchant:
                      id: ba8ef908-b624-4116-8b26-571e48d1bf4c
                      slug: dunkin
                      display_name: Dunkin'
                      logo: https://assets.thisisbud.com/datasci-images/merchant_logos/ba8ef908-b624-4116-8b26-571e48d1bf4c/v3/dunkin.jpeg
                      website: https://www.dunkindonuts.com
                      tokens:
                      - confidence: '1.00'
                        value: DUNKIN DONUTS COFFEE
                    categories:
                      l1:
                        slug: food_and_drink
                        confidence: '0.98'
                      l2:
                        slug: coffee
                        confidence: '0.97'
                    regularity:
                      frequency: biweekly
                      predicted_date_times:
                      - '2025-03-14T00:00:00Z'
                      - '2025-03-28T00:00:00Z'
                      - '2025-04-11T00:00:00Z'
                      - '2025-04-25T00:00:00Z'
                      - '2025-05-09T00:00:00Z'
                      - '2025-05-23T00:00:00Z'
                      - '2025-06-06T00:00:00Z'
                      - '2025-06-20T00:00:00Z'
                      group_label: 3e1b2ea4df1579fe9dcda6cf6b032492d8551e78404d023ca3d57ca8b1ae2159-3
                    location:
                      address:
                        city: New York
                        region: NY
                        country: US
                      geolocation:
                        longitude: -73.9872777778
                        latitude: 40.6919444444
                  tags:
                  - regular-transaction
            metadata:
              query:
                user_input: Dunki
                from: '2025-01-01T00:00:00Z'
                to: '2025-02-01T00:00:00Z'
              next_page_token: eyJoZWxsbyI6ICJ3b3JsZCJ9Cg==
              expires_in: 60
        application/bud-transaction-id+json:
          schema:
            $ref: '#/components/schemas/SearchInsightTransactionsResponseBodyTransactionId'
          example:
            operation_id: search_beta_transactions_insight_transactions_get
            data:
              id: 8a567b41-1b61-4f8f-a1ea-8fcb10d08d9f
              results:
              - transaction_id: '378'
                matches:
                - type: merchant_name
                  content: Dunkin'
                - type: category_l2
                  content: coffee
              - transaction_id: '377'
                matches:
                - type: merchant_name
                  content: Dunkin'
                - type: category_l2
                  content: coffee
            metadata:
              query:
                user_input: Dunki
                from: '2025-01-01T00:00:00Z'
                to: '2025-02-01T00:00:00Z'
              next_page_token: eyJoZWxsbyI6ICJ3b3JsZCJ9Cg==
              expires_in: 60
    SearchTransactionsInsightResponse:
      description: OK
      headers:
        Retry-After:
          schema:
            type: integer
          description: Time in milliseconds to wait before retrying.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SearchTransactionsInsightResponseBody'
          examples:
            pending:
              value:
                operation_id: search_beta_transactions_insight_get
                data:
                  id: 234029b1-37ee-4942-b56d-5588f293f571
                  status: pending
                metadata:
                  query:
                    user_input: Dunki
                    from: '2025-01-01T00:00:00Z'
                    to: '2025-02-01T00:00:00Z'
                  expires_in: 60
            completed:
              value:
                operation_id: search_beta_transactions_insight_get
                data:
                  id: 234029b1-37ee-4942-b56d-5588f293f571
                  status: completed
                  content:
                    text: You have spent $20 at Dunkin', this is up 50% of your coffee spend....
                    matched_searches:
                    - filter:
                        type: merchant
                        value: Dunkin'
                        logo: https://assets.thisibud.com/5c97ffcf-9604-4fd9-bef1-1496ccce2d12.png
                      url: /search/beta/transactions?merchant=Dunkin'
                      text_positions:
                      - start: 22
                        end: 59
                    - filter:
                        type: category_l2
                        value: coffee
                        logo: https://assets.thisibud.com/5c97ffcf-9604-4fd9-bef1-1496ccce2d12.png
                      url: /search/beta/transactions?category_l2=coffee
                      text_positions:
                      - start: 64
                        end: 70
                  transactions:
                    url: /search/beta/transactions/234029b1-37ee-4942-b56d-5588f293f571/insight/transactions
                    results: 10
                    merchants:
                    - display_name: Dunkin'
                      logo: https://assets.thisibud.com/5c97ffcf-9604-4fd9-bef1-1496ccce2d12.png
                metadata:
                  query:
                    user_input: Dunki
                    from: '2025-01-01T00:00:00Z'
                    to: '2025-02-01T00:00:00Z'
                  expires_in: 60
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
