openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Customer Applications API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Customer Applications
  x-displayName: Customer Applications
  description: 'Create, retrieve and manage financial applications for customers using the

    Assess product. Applications created on this platform can be viewed using

    the Assess Dashboard to observe application statuses.'
paths:
  /assess/v1/customer-applications:
    post:
      tags:
      - Customer Applications
      summary: Create Customer Application
      description: 'Create a new customer application.


        Applications can hold more data than just the standard Bud Customer

        information, such as:


        - Applicant First Name

        - Applicant Last Name

        - Names for Secondary Applicants (if this is a joint application)

        - Key-value pairs for additional metadata you may want to associate to

        this application (e.g. if the customer is applying for finance, your

        system may have a product code for the relevant finance product).'
      operationId: v1_customer_applications_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCustomerApplicationsRequest'
            example:
              primary_applicant:
                first_name: John
                last_name: Doe
              secondary_applicants:
              - first_name: Jane
                last_name: Doe
              financial_data_consent: one_time
              metadata:
                loan_product_code: credit_card_1234
      responses:
        '201':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCustomerApplicationsResponse'
              example:
                operation_id: v1_customer_applications_post
                data:
                  application_id: 48ac72d0-a829-4896-a067-dcb1c2b0f30c
                  customer_id: 160c0c4b-9966-4dc1-a916-8407eb10d74e
                  expires_at: '2023-05-11T15:30:39Z'
        '401':
          description: An unauthenticated request was received.
        '405':
          description: The request uses an unexpected HTTP method.
        5XX:
          description: An unexpected error occurred on the server side.
    get:
      tags:
      - Customer Applications
      summary: Retrieve Customer Applications
      description: Retrieve a list of all your customer applications.
      operationId: v1_customer_applications_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/MetadataFieldName'
      - $ref: '#/components/parameters/PageToken'
      responses:
        '200':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerApplicationsResponse'
              example:
                operation_id: v1_customer_applications_get
                data:
                - application_id: 48ac72d0-a829-4896-a067-dcb1c2b0f30c
                  creation_date: '2023-04-11T15:30:39Z'
                  deletion_date: '2023-05-11T15:30:39Z'
                  customer_id: 160c0c4b-9966-4dc1-a916-8407eb10d74e
                  initiator_id: 06588898-9a84-4b35-ba8f-f9cbd64946f3
                  primary_applicant:
                    first_name: John
                    last_name: Doe
                  secondary_applicants:
                  - first_name: Jane
                    last_name: Doe
                  accounts_connected: 0
                  customer_link:
                    created_at: '2023-04-11T15:31:39Z'
                    url: https://path-to-customer-link/b5daa5f7-b993-42e9-a232-76057151bacf
                    finished_connecting_accounts: false
                    expired: false
                    status: requested
                  review_status: ''
                  review_date: '2023-05-11T15:30:39Z'
                  financial_data_consent: one_time
                  metadata:
                    loan_product_code: credit_card_1234
                metadata:
                  results: 1
                  next_page_token: 4jmBrvVn9r
        '401':
          description: An unauthenticated request was received.
        '405':
          description: The request uses an unexpected HTTP method.
        5XX:
          description: An unexpected error occurred on the server side.
  /assess/v1/customer-applications/{application_id}:
    get:
      tags:
      - Customer Applications
      summary: Retrieve Customer Application
      description: Retrieve an individual customer's application.
      operationId: v1_customer_application_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerApplicationID'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/DateRangeEnd'
      - $ref: '#/components/parameters/DateRangeDurations'
      responses:
        '200':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerApplicationResponse'
              example:
                operation_id: v1_customer_application_get
                data:
                  application_id: 48ac72d0-a829-4896-a067-dcb1c2b0f30c
                  organisation_id: 9ec26450-a51e-40b1-a49f-e04045480fd5
                  creation_date: '2023-04-11T15:30:39Z'
                  deletion_date: '2023-05-11T15:30:39Z'
                  customer_id: 160c0c4b-9966-4dc1-a916-8407eb10d74e
                  initiator_id: 06588898-9a84-4b35-ba8f-f9cbd64946f3
                  primary_applicant:
                    first_name: John
                    last_name: Doe
                  secondary_applicants:
                  - first_name: Jane
                    last_name: Doe
                  accounts_connected: 0
                  customer_link:
                    created_at: '2023-04-11T15:31:39Z'
                    url: https://path-to-customer-link/b5daa5f7-b993-42e9-a232-76057151bacf
                    finished_connecting_accounts: false
                    expired: false
                    status: requested
                  review_status: ''
                  review_date: '2023-05-11T15:30:39Z'
                  metadata:
                    loan_product_code: credit_card_1234
                  financial_data_consent: one_time
                metadata:
                  timezone: Europe/London
                  date_range_end: latest_calendar_month
                  date_ranges:
                  - from: '2023-04-01T00:00:00+01:00'
                    to: '2023-04-31T23:59:59+01:00'
                    duration: P1M
                  - from: '2023-02-01T00:00:00Z'
                    to: '2023-04-31T23:59:59+01:00'
                    duration: P3M
                  - from: '2022-11-01T00:00:00Z'
                    to: '2023-04-31T23:59:59+01:00'
                    duration: P6M
                  - from: '2022-05-01T00:00:00+01:00'
                    to: '2023-04-31T23:59:59+01:00'
                    duration: P12M
        '401':
          description: An unauthenticated request was received.
        '405':
          description: The request uses an unexpected HTTP method.
        5XX:
          description: An unexpected error occurred on the server side.
    delete:
      tags:
      - Customer Applications
      summary: Delete Customer Application
      description: 'Delete an individual customer''s application, and all financial data

        associated with it.'
      operationId: v1_customer_application_delete
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerApplicationID'
      responses:
        '204':
          description: The request was successfully processed. No Content returned
        '401':
          description: An unauthenticated request was received.
        '405':
          description: The request uses an unexpected HTTP method.
        5XX:
          description: An unexpected error occurred on the server side.
components:
  schemas:
    CustomerLink:
      title: Customer Link
      type:
      - object
      - 'null'
      description: 'Contains a URL that can be provided to a customer in order for them to connect

        up their accounts (and have their data associated to the application).


        Also contains information about the status of the link''s usage (e.g. when it was

        issued/created, whether it has been accessed, whether it has expired).

        '
      required:
      - created_at
      - url
      - finished_connecting_accounts
      - expired
      - status
      properties:
        created_at:
          allOf:
          - description: Date/time that the customer application link was created.
          - $ref: '#/components/schemas/DateTimeISO8601'
        url:
          type: string
          description: 'Full URL for the customer to connect their accounts.

            '
        finished_connecting_accounts:
          type: boolean
          description: 'Indicates if the customer has finished connecting all of their

            accounts (i.e. they''ve reached the end of the flow).

            '
        expired:
          type: boolean
          description: 'Indicates whether the link is no longer usable by the customer

            (i.e. the customer has taken too long to complete the flow).

            '
        status:
          type: string
          enum:
          - requested
          - in_progress
          - completed
          - expired
          description: 'Indicates the status of the connection.


            - `requested`: URL has been generated, but customer hasn''t started the journey.

            - `in_progress`: Customer has followed the URL and is connecting accounts.

            - `completed`: Customer successfully connected all their accounts.

            - `expired`: Customer failed to connect all their accounts before the URL became inactive.

            '
    FinancialDataConsentType:
      anyOf:
      - $ref: '#/components/schemas/OneTimeFinancialDataConsentType'
      description: 'Monitoring type for an application refers to the strategy for ingesting data via a customers financial provider.

        If no monitoring type is provided, the setting will default to the clients configured type.

        '
    TimezoneIdentifier:
      type: string
      description: 'Timezone identifier (e.g. `Europe/London`) to make dates relativised to the target location.


        In the case of daylight savings in a location, this ensures that the overall start/end date accounts for those shifts.


        See [here](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) for list of valid timezone identifiers under `TZ identifier`.'
      default: Etc/UTC
    schemas-DateTimeISO8601:
      title: Date/Time (ISO 8601)
      type: string
      description: ISO Date Format
      example: '2022-03-05T13:34:33Z'
    OneTimeFinancialDataConsentType:
      type: string
      enum:
      - one_time
      description: "Indicates that data ingestion connections with external providers will be a one-time use only. \nAfter authentication and ingestion, the consent will be automatically revoked. \n\nIf additional data is required, a new connection will need to be established.\n"
    SecondaryApplicants:
      title: Secondary Applicants
      type: array
      description: First and last names of the secondary applicants.
      items:
        $ref: '#/components/schemas/Applicant'
    DateRange:
      required:
      - from
      - to
      - duration
      properties:
        from:
          $ref: '#/components/schemas/schemas-DateTimeISO8601'
        to:
          $ref: '#/components/schemas/schemas-DateTimeISO8601'
        duration:
          $ref: '#/components/schemas/DayOrMonth'
    OperationId:
      title: Operation Id Field
      type: string
      description: A unique identifier/reference associated with a given endpoint/operation
    CustomerApplication:
      title: Customer Application
      type: object
      description: Details relating to a customer's application
      required:
      - accounts_connected
      - application_id
      - creation_date
      - customer_id
      - deletion_date
      - financial_data_consent
      - initiator_id
      - metadata
      - primary_applicant
      - review_status
      - secondary_applicants
      properties:
        application_id:
          $ref: '#/components/schemas/CustomerApplicationID'
        creation_date:
          allOf:
          - description: Date that the application was created on.
          - $ref: '#/components/schemas/DateTimeISO8601'
        deletion_date:
          allOf:
          - description: Date that the application (and customer data) will be deleted from the platform. May be empty if no date is set.
          - $ref: '#/components/schemas/DateTimeISO8601'
        customer_id:
          type: string
          format: uuid
          description: Bud Customer ID (used for fetching associated financial data)
        initiator_id:
          type:
          - string
          - 'null'
          format: uuid
          description: ID of the user who initiated the application (if it was created via the dashboard).
        primary_applicant:
          allOf:
          - description: First and last name of the primary applicant.
          - $ref: '#/components/schemas/Applicant'
        secondary_applicants:
          type: array
          description: First and last names of the secondary applicants.
          items:
            $ref: '#/components/schemas/Applicant'
        accounts_connected:
          type: integer
          description: 'Total number of accounts the customer has connected.

            '
        customer_link:
          $ref: '#/components/schemas/CustomerLink'
        review_status:
          $ref: '#/components/schemas/ReviewStatus'
        review_date:
          $ref: '#/components/schemas/DateTimeISO8601'
        metadata:
          $ref: '#/components/schemas/Metadata'
        financial_data_consent:
          $ref: '#/components/schemas/FinancialDataConsentType'
    CustomerID:
      type: string
      format: uuid
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
    ReviewStatus:
      title: Review Status
      type: string
      description: 'Indicates whether an application has been reviewed or not.


        - Empty string indicates it has not been reviewed

        - `reviewed` indicates that it has been reviewed.


        Note: this is subject to potentially have more statuses in the future.

        '
      enum:
      - ''
      - reviewed
    GetCustomerApplicationResponse:
      title: Get Customer Applications Response
      type: object
      description: Details provided back to the client when requesting information relating to a customer's application
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/CustomerApplication'
        metadata:
          required:
          - timezone
          - date_range_end
          - date_ranges
          properties:
            timezone:
              $ref: '#/components/schemas/TimezoneIdentifier'
            date_range_end:
              $ref: '#/components/schemas/DateRangeEnd'
            date_ranges:
              type: array
              items:
                $ref: '#/components/schemas/DateRange'
              description: 'Date ranges corresponding to the choice of `date_range_end`, `timezone` and `date_period` parameters

                in the URL query.


                These from/to dates can be used for querying other financial data endpoints to within

                specific periods of time (e.g. 1 month, 5 months, etc...), with timezones accounted for.

                '
    Metadata:
      title: Metadata
      type: object
      description: 'These fields add additional context to a customer''s application.

        Their visibility and relevance depends on the configuration of the

        dashboard.

        '
      properties:
        application_id:
          type: string
          description: 'An optional ID to associate with this customer''s application

            with (e.g. if the application is related to another system

            with a different identifier, use that one here).

            '
        customer_id:
          type: string
          description: 'An optional ID to associate with this customer with (e.g. if

            the customer exists on another system with a different

            identifier, use that one here).

            '
        advisor_name:
          type: string
          description: 'Name of the advisor in charge of assessing the customer''s

            application.

            '
        account_connection_initiator:
          type: string
          enum:
          - customer
          - advisor
          description: 'Determines whether the customer''s application requires the

            advisor to upload financial data, or the customer (via a

            generated link).

            '
      additionalProperties:
        type: string
        description: 'Any other additional data you wish to associate to a customer''s

          application. This will not be visible within the dashboard.

          '
    CustomerApplicationID:
      title: Customer Application ID
      type: string
      format: uuid
      description: 'The unique identifier for a customer application.

        '
    PostCustomerApplicationsRequest:
      title: Post Customer Application Request
      type: object
      description: Details required in order to create a new customer application
      required:
      - primary_applicant
      properties:
        primary_applicant:
          $ref: '#/components/schemas/PrimaryApplicant'
        secondary_applicants:
          $ref: '#/components/schemas/SecondaryApplicants'
        financial_data_consent:
          $ref: '#/components/schemas/FinancialDataConsentType'
        metadata:
          $ref: '#/components/schemas/Metadata'
    DayOrMonth:
      type: string
      pattern: ^P[0-9]+M|D$
      description: 'ISO 8601 date period string representing `n` months or days (e.g. 3 months = `P3M`, 4 days = `P4D`).

        '
    PostCustomerApplicationsResponse:
      title: Post Customer Applications Response Object
      type: object
      description: Details provided back to the client when a new customer application has been created
      required:
      - operation_id
      - data
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          required:
          - application_id
          - customer_id
          - expires_at
          properties:
            application_id:
              $ref: '#/components/schemas/CustomerApplicationID'
            customer_id:
              $ref: '#/components/schemas/CustomerID'
            expires_at:
              $ref: '#/components/schemas/DateTimeISO8601'
    GetCustomerApplicationsResponse:
      title: Get Customer Application Response
      type: object
      description: Response to the retrieve customer application endpoint
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomerApplication'
        metadata:
          type: object
          required:
          - results
          - next_page_token
          properties:
            results:
              type: integer
              description: 'Total number of applications returned.

                '
            next_page_token:
              type: string
              description: 'Token to pass to the endpoint (with query parameter `page_token`)

                to get the next page of applications in the collection.


                This value is empty if this is the last page.

                '
    DateRangeEnd:
      type: string
      enum:
      - latest_calendar_month
      - latest_date
      description: 'Determines whether the date range corresponds to a full calendar month or months to the date of the most

        recent account connection.


        **Example**: if the customer connects their accounts on `13th July`, then under `latest_calendar_month`, the end date

        taken will be `30th June`, and the months back from there will be full calendar months (e.g. 1 month would be

        `1st June` to `30th June`). Under `latest_date`, the dates would be `14th June` to `13th July`.

        '
    DateTimeISO8601:
      title: Date/Time (ISO 8601) - YYYY-MM-DDTHH:MM:SSTZ
      type: string
      description: 'A date (and time) in ISO 8601 format.

        '
      example: '2022-05-11T15:30:39Z'
    PrimaryApplicant:
      title: Primary Applicant
      allOf:
      - description: First and last name of the primary applicant.
      - $ref: '#/components/schemas/Applicant'
    Applicant:
      title: Applicant
      type: object
      description: 'Applicant associated to a financial application.

        '
      required:
      - first_name
      - last_name
      properties:
        first_name:
          type: string
          description: First (or "given") name.
        last_name:
          type: string
          description: Last (or "family") name.
  parameters:
    DateRangeDurations:
      in: query
      name: date_range_durations
      style: form
      explode: false
      description: 'Used with `timezone` and `date_range_end` to determine the list of `date_ranges` that appear in the

        metadata of the response. Use this to configure the specific periods of time that you wish to assess

        a customer''s application data over.

        '
      schema:
        type: array
        default:
        - P1M
        - P3M
        - P6M
        - P12M
        items:
          $ref: '#/components/schemas/DayOrMonth'
    PageToken:
      in: query
      name: page_token
      schema:
        type: string
      description: "Token provided in the `metadata` blob of a response, in order to find\nthe next page in a collection, e.g.\n\n```json\n{\n  \"metadata\": {\n    \"next_page_token\": \"4jmBrvVn9r\"\n  }\n}\n```\n"
    MetadataFieldName:
      in: query
      name: metadata.{field_name}
      schema:
        type: string
      description: "Search by exact-match on the `field_name` of `metadata` properties.\nExample: `metadata.loan_product_code=credit_card_1234` will limit results to all\ncustomer applications that have the following metadata contained:\n\n```json\n{\n  \"metadata\": {\n    \"loan_product_code\": \"credit_card_1234\"\n  }\n}\n```\n"
    DateRangeEnd:
      in: query
      name: date_range_end
      schema:
        allOf:
        - $ref: '#/components/schemas/DateRangeEnd'
        - default: latest_calendar_month
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    CustomerApplicationID:
      in: path
      name: application_id
      required: true
      schema:
        $ref: '#/components/schemas/CustomerApplicationID'
    Timezone:
      in: query
      name: timezone
      schema:
        $ref: '#/components/schemas/TimezoneIdentifier'
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
