openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Income Finder API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Income Finder
  x-displayName: Income Finder
  description: Find information regarding your customer's income.
paths:
  /v2/income:
    get:
      tags:
      - Income Finder
      summary: Retrieve Income Transactions V2
      description: 'Provides a list of a customer''s income based transactions found within their connected accounts, and predicts whether each income transaction is related to a customer''s `salary_or_wages`. Any income which is not salary or wages is given the type `other_incoming`, which can include other income sources such as investments or pension income.


        When `X-From` is omitted from the request, a default value of 9 months from before today''s date will be used.

        When `X-To` is omitted from the request, a default value of today''s date will be used.


        **Notes:**

        - Transactions with multiple currencies are supported, but the statistics are currently only calculated for one currency. The endpoint takes the currency of the first transaction and ignores non-matching currencies in its calculations.

        - In contrast to the V1 endpoint, Income Finder V2 no longer filters income transactions to only return the latest per reference.'
      operationId: v2_income_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/SmartFinderFrom'
      - $ref: '#/components/parameters/SmartFinderTo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeResponseV2'
              example:
                operation_id: v2_income_get
                data:
                  transactions:
                  - transaction_id: fdcc55c6-f347-4abc-8c66-61ff290d8bd4
                    account_id: fdcc55c6-f347-4abc-8c66-61ff290d8bd4
                    transaction_description: PayPal* Bud
                    provider: Barclays
                    date: 2021-01-11T01:00:00+0100
                    amount:
                      value: '1234.56'
                      currency: GBP
                    credit_debit_indicator: Credit
                    enrichment:
                      categories:
                        l1:
                        - name: finances
                          confidence: '0.8057'
                          label: Finances
                        l2:
                        - name: transfers_in
                          confidence: '0.7811'
                          label: Transfers In
                        l3:
                        - name: salary
                          confidence: '0.6805'
                          label: Salary
                      merchant:
                        id: bud
                        name: Bud
                        logo: https://thisisbud.com/merchants/bud.png
                        confidence: '0.9501'
                      processor:
                        id: paypal
                        name: PayPal
                        logo: https://thisisbud.com/processors/paypal.png
                        confidence: '0.9702'
                      income:
                        type: salary_or_wages
                        confidence: '0.9408'
                  statistics:
                    average:
                      monthly:
                        income:
                          value: '1234.56'
                          currency: GBP
                        regular_income:
                          value: '1234.56'
                          currency: GBP
                metadata:
                  from: '2021-01-01'
                  to: '2021-01-31'
                  results: 1
        '204':
          description: No transactions
        '400':
          description: Bad request
        '401':
          description: Unauthorised request
        '404':
          description: No transactions found
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
  /v1/benefits:
    get:
      tags:
      - Income Finder
      summary: Retrieve Benefits Transactions
      description: 'Provides a list of a customer''s benefits based transactions found within their connected accounts.


        When `X-From` is omitted from the request, a default value of 30 days from before today''s date will be used.

        When `X-To` is omitted from the request, a default value of today''s date will be used.'
      operationId: v1_benefits_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/SmartFinderFrom'
      - $ref: '#/components/parameters/SmartFinderTo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitsResponseV1'
              example:
                operation_id: v1_benefits_get
                data:
                - transaction_id: fdcc55c6-f347-4abc-8c66-61ff290d8bd4
                  account_id: fdcc55c6-f347-4abc-8c66-61ff290d8bd4
                  transaction_description: NATWEST DWP DLA GBR
                  provider: Natwest
                  date: 2022-03-21T01:00:00+0100
                  amount:
                    amount: '333.28'
                    currency: GBP
                  credit_debit_indicator: Credit
                  benefit:
                    type: disability_living_allowance
                    display_name: Disability Living Allowance
                metadata:
                  from: '2022-03-19'
                  to: '2022-04-19'
                  results: 1
        '204':
          description: No transactions
        '400':
          description: Bad request
        '401':
          description: Unauthorised request
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
  /v1/benefits/totals:
    get:
      tags:
      - Income Finder
      summary: Retrieve Benefits Totals
      description: 'Provides a customers'' total income under each detected benefit type.


        When `X-From` is omitted from the request, a default value of 30 days from before today''s date will be used.

        When `X-To` is omitted from the request, a default value of today''s date will be used.'
      operationId: v1_benefits_totals_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/SmartFinderFrom'
      - $ref: '#/components/parameters/SmartFinderTo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitsTotalsResponseV1'
              example:
                operation_id: v1_benefits_get_totals
                data:
                - benefit:
                    type: disability_living_allowance
                    display_name: Disability Living Allowance
                  total_credit:
                    value: '333.28'
                    currency: GBP
                metadata:
                  from: '2022-03-19'
                  to: '2022-04-19'
                  results: 1
        '204':
          description: No transactions found
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: merchants_totals_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  client_id: This value should not be blank
        '401':
          description: Unauthorised request
        '405':
          description: An unexpected HTTP method was used
        5XX:
          description: An unexpected error occurred on the server side
components:
  schemas:
    IncomeResponseV2:
      type: object
      title: Income Finder Response V2
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: object
          title: Income_Finder_Response_Data
          required:
          - transactions
          - statistics
          properties:
            transactions:
              type: array
              title: Income Transactions
              items:
                $ref: '#/components/schemas/IncomeTransactionV2'
            statistics:
              $ref: '#/components/schemas/IncomeStatistics'
        metadata:
          $ref: '#/components/schemas/TransactionsResultsMetadata'
    Error:
      title: Error Object
      type:
      - object
      - 'null'
      description: Contains a field specific error message
      additionalProperties:
        type: string
    BasicTransaction:
      title: Basic Transaction Schema
      type: object
      description: Basic transaction schema
      required:
      - transaction_id
      - account_id
      - transaction_description
      - provider
      - date
      - amount
      - credit_debit_indicator
      properties:
        transaction_id:
          type: string
          description: A unique identifier for the transaction
        account_id:
          type: string
          description: A unique identifier for the Customer bank account
        transaction_description:
          type: string
          description: Any Customer defined input, e.g. a bank transfer reference
        provider:
          type: string
          description: The name of the relevant provider relevant to the source of the original transaction data
        date:
          type: string
          description: "The date of the transaction in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-03-17T17:29:51Z`\n  - `2023-03-17T17:29:51-08:00`\n"
        amount:
          $ref: '#/components/schemas/LegacyBudAmount'
        credit_debit_indicator:
          type: string
          description: Indication as to whether the transaction was a credit or debit
          enum:
          - Credit
          - Debit
    BenefitsResponseV1:
      title: Benefits Finder Response
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: array
          description: Array of Benefits related transactions
          items:
            $ref: '#/components/schemas/BenefitsTransactionV1'
        metadata:
          $ref: '#/components/schemas/TransactionsResultsMetadata'
    CategoriserCategory:
      title: Categoriser Category
      type: object
      description: The details in relation to a specific category level, as taken from the output of Bud's categorsiation service.
      required:
      - name
      - confidence
      - label
      properties:
        name:
          type: string
          description: Internal name (identifier) of the category
        confidence:
          type: string
          description: The level of certainty that the model has predicted the category
        label:
          type: string
          description: Humanised category name
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    LegacyBudAmount:
      title: Legacy Bud Amount
      type: object
      description: The monetary amount.
      required:
      - amount
      - currency
      properties:
        amount:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    BadRequestResponse:
      title: Bad Request Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - code_id
      - message
      - errors
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          description: A descriptive enough string that is linked to the reason for the error.
        message:
          type: string
        errors:
          anyOf:
          - $ref: '#/components/schemas/Error'
          - $ref: '#/components/schemas/Errors'
    BenefitsTotalsResponseV1:
      title: Benefit Totals
      type: object
      description: Benefits Total income structure
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: array
          items:
            type: object
            required:
            - benefit
            - total_credit
            properties:
              benefit:
                $ref: '#/components/schemas/Benefit'
              total_credit:
                $ref: '#/components/schemas/BudAmount'
        metadata:
          $ref: '#/components/schemas/TransactionsResultsMetadata'
    IncomeEnrichmentsV2:
      type: object
      title: Income Transaction Enrichments
      description: Results from required enrichment services for successful marking of income transactions
      properties:
        categories:
          type:
          - object
          - 'null'
          title: Categoriser_Enrichment
          description: Results from Bud's Categorisation Service
          required:
          - l1
          - l2
          - l3
          properties:
            l1:
              type: array
              description: Details on the Level One category associated with the transaction
              items:
                $ref: '#/components/schemas/CategoriserCategory'
            l2:
              type: array
              description: Details on the Level Two category associated with the transaction
              items:
                $ref: '#/components/schemas/CategoriserCategory'
            l3:
              type: array
              description: Details on the Level Three category associated with the transaction
              items:
                $ref: '#/components/schemas/CategoriserCategory'
        merchant:
          allOf:
          - type:
            - object
            - 'null'
          - $ref: '#/components/schemas/MerchantIdV2'
        processor:
          allOf:
          - type:
            - object
            - 'null'
          - $ref: '#/components/schemas/ProcessorIdV2'
        income:
          allOf:
          - type:
            - object
            - 'null'
          - $ref: '#/components/schemas/IncomeEnrichmentV2'
    ProcessorIdV2:
      title: Processor ID Object
      type: object
      description: Details surrounding the identified processor of the transaction
      required:
      - id
      - name
      - logo
      - confidence
      properties:
        id:
          type: string
          description: A unique ID for the identified processor
        name:
          type: string
          description: The clean name of the identified processor
        logo:
          type: string
          description: The processor's logo image URL location
        confidence:
          type: string
          description: The level of certainty that the model has predicted the processor
    IncomeEnrichmentV2:
      title: Income Enrichment
      type: object
      description: Results from Bud's Income Finder Service
      required:
      - type
      - confidence
      properties:
        type:
          type: string
          description: The type of identified income type, either `salary_or_wages` or `other_incoming`
        confidence:
          type: string
          description: The level of certainty that the model has predicted an income related transaction.
    TransactionsResultsMetadata:
      title: Metadata
      description: Metadata associated with the response schema
      allOf:
      - $ref: '#/components/schemas/LegacyBudDateRangeMetadata'
      - type: object
        required:
        - results
        properties:
          results:
            type: number
            description: Number of results returned
    Benefit:
      title: Benefit
      type: object
      required:
      - type
      - display_name
      properties:
        type:
          type: string
          description: The type of benefit
          example: attendance_allowance
        display_name:
          type: string
          example: Attendance Allowance
          description: The display name of the benefit type
    IncomeAverageOverPeriod:
      title: Average income statistics over time period
      type: object
      required:
      - income
      - regular_income
      properties:
        income:
          allOf:
          - description: average of all income transactions
          - $ref: '#/components/schemas/BudAmount'
        regular_income:
          allOf:
          - description: average income transactions that we have also detected as regular
          - $ref: '#/components/schemas/BudAmount'
    IncomeAverage:
      title: Average income statistics
      type: object
      description: 'Averages of income amounts. These averages are calculated using the filters supplied in the `X-From` & `X-To` headers.

        For instance, with 6 months of £1000/month and a date range of 6 months, the monthly average will be £1000.

        However, if the supplied date range is 12 months and there is no data for more than those 6 months, the average will be £500/month.


        Note that the number of months are calculated inclusively e.g. `months(2022-01-01, 2022-02-28) = 2` and `months(2022-01-01, 2022-03-01) = 3`.'
      required:
      - monthly
      properties:
        monthly:
          allOf:
          - description: average income per month
          - $ref: '#/components/schemas/IncomeAverageOverPeriod'
    LegacyBudDateRangeMetadata:
      title: Metadata
      type: object
      required:
      - from
      - to
      properties:
        from:
          type: string
          description: 'The date from when results were retrieved in the format [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html).

            This is either populated with the default value used when retrieving the results, or the user specified parameter.


            Example: `2023-01-17`

            '
        to:
          type: string
          description: 'The date up to when results were retrieved in the format [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html).

            This is either populated with the default value used when retrieving the results, or the user specified parameter.


            Example: `2023-03-17`

            '
    Errors:
      title: Array of Error Object
      description: Contains a list of error messages
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    IncomeStatistics:
      type: object
      title: Income statistics
      required:
      - average
      properties:
        average:
          $ref: '#/components/schemas/IncomeAverage'
    IncomeTransactionV2:
      allOf:
      - $ref: '#/components/schemas/BasicTransactionV2'
      - title: Income Transaction
        required:
        - enrichment
        properties:
          enrichment:
            $ref: '#/components/schemas/IncomeEnrichmentsV2'
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    BenefitsTransactionV1:
      title: Benefit Transactions
      allOf:
      - $ref: '#/components/schemas/BasicTransaction'
      - type: object
        required:
        - benefit
        properties:
          benefit:
            $ref: '#/components/schemas/Benefit'
    BasicTransactionV2:
      title: Basic Transaction Schema
      type: object
      description: Basic transaction schema
      required:
      - transaction_id
      - account_id
      - transaction_description
      - provider
      - date
      - amount
      - credit_debit_indicator
      properties:
        transaction_id:
          type: string
          description: A unique identifier for the transaction
        account_id:
          type: string
          description: A unique identifier for the Customer bank account
        transaction_description:
          type: string
          description: A description of the transaction, similar to the transaction information in Open Banking. e.g. a bank transfer reference"
        provider:
          type: string
          description: The name of the relevant provider relevant to the source of the original transaction data
        date:
          type: string
          description: "The date of the transaction in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-03-17T17:29:51Z`\n  - `2023-03-17T17:29:51-08:00`\n"
        amount:
          $ref: '#/components/schemas/BudAmount'
        credit_debit_indicator:
          type: string
          description: Indication as to whether the transaction was a credit or debit
          enum:
          - Credit
          - Debit
    OperationId:
      title: Operation Id Field
      type: string
      description: A unique identifier/reference associated with a given endpoint/operation
    MerchantIdV2:
      title: Merchant ID Object
      type: object
      description: Details surrounding the identified merchant of the transaction
      required:
      - id
      - name
      - logo
      - confidence
      properties:
        id:
          type: string
          description: A unique ID for the identified merchant
        name:
          type: string
          description: The clean name of the identified merchant
        logo:
          type: string
          description: The merchant's logo image URL location
        confidence:
          type: string
          description: The level of certainty that the model has predicted the merchant
  parameters:
    SmartFinderTo:
      in: header
      name: X-To
      required: false
      schema:
        type: string
      examples:
        date_only:
          value: '2022-03-30'
        RFC3339:
          value: '2019-03-30T07:20:50.52Z'
      description: Transaction to date, this works in pair with the 'X-From' parameter
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
    SmartFinderFrom:
      in: header
      name: X-From
      required: false
      schema:
        type: string
      examples:
        date_only:
          value: '2022-02-28'
        RFC3339:
          value: '2019-02-28T07:20:50.52Z'
      description: Transaction from date, this works in pair with the 'X-To' parameter
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    CustomerSecret:
      in: header
      name: X-Customer-Secret
      schema:
        type: string
      required: false
      description: The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud.
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
