openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Retrieve Affordability Risk…'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Retrieve Affordability Risk Insights
  x-displayName: Retrieve Affordability Risk Insights
  description: 'Retrieve a customer''s report insights generated from their financial data. In contrast to the alert style actionable insights,

    these insights should be used more as a summary.'
paths:
  /insights/beta/report/income-expenditure:
    get:
      tags:
      - Retrieve Affordability Risk Insights
      summary: Retrieve income/expenditure break down reports
      security:
      - OAuth2: []
      description: 'Retrieve income/expenditure break down reports. Each report is presented as a total expenditure vs income break

        down to give a high level overview of a customers spending''s in comparison to income.


        For transactional analysis of particular aggregate, please refer to the transactions reference found within the

        `_links` properties.'
      operationId: insights_beta_report_income_expenditure_get
      parameters:
      - $ref: '#/components/parameters/EnabledInsightsIncomeExpenditure'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Currency'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeExpenditureReportResponse'
              example:
                operation_id: insights_beta_report_income_expenditure_get
                data:
                  insights:
                  - type: income-loan
                    currency: GBP
                    expenditure:
                      credit_debit_indicator: debit
                      count: 10
                      total:
                        value: '1000.00'
                        currency: GBP
                      monthly_average:
                        value: '250.00'
                        currency: GBP
                      breakdown:
                      - from: '2024-01-17T00:00:00+08:00'
                        to: '2024-02-16T23:59:59+08:00'
                        total:
                          value: '250.00'
                          currency: GBP
                        count: 1
                        transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                        _links:
                          transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions?category_l1=bills&category_l2=tv_and_broadband&date_from=2022-01-01T00%3A00%3A00Z&date_to=2022-03-31T00%3A00%3A00Z
                      - from: '2024-02-17T00:00:00+08:00'
                        to: '2024-03-16T23:59:59+08:00'
                        total:
                          value: '250.00'
                          currency: GBP
                        count: 1
                        transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                        _links:
                          transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions?category_l1=bills&category_l2=tv_and_broadband&date_from=2022-01-01T00%3A00%3A00Z&date_to=2022-03-31T00%3A00%3A00Z
                      - from: '2024-04-17T00:00:00+08:00'
                        to: '2024-05-16T23:59:59+08:00'
                        total:
                          value: '250.00'
                          currency: GBP
                        average:
                          value: '250.00'
                          currency: GBP
                        count: 1
                        transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                        _links:
                          transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions?category_l1=bills&category_l2=tv_and_broadband&date_from=2022-01-01T00%3A00%3A00Z&date_to=2022-03-31T00%3A00%3A00Z
                      relative_to_income: '1'
                      transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                      _links:
                        transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions?category_l1=bills&category_l2=tv_and_broadband&date_from=2022-01-01T00%3A00%3A00Z&date_to=2022-03-31T00%3A00%3A00Z
                    income:
                      credit_debit_indicator: credit
                      count: 4
                      total:
                        value: '1000.00'
                        currency: GBP
                      monthly_average:
                        value: '250.00'
                        currency: GBP
                      breakdown:
                      - from: '2024-01-17T00:00:00+08:00'
                        to: '2024-02-16T23:59:59+08:00'
                        total:
                          value: '250.00'
                          currency: GBP
                        count: 1
                        transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                        _links:
                          transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions?category_l1=bills&category_l2=tv_and_broadband&date_from=2022-01-01T00%3A00%3A00Z&date_to=2022-03-31T00%3A00%3A00Z
                      - from: '2024-02-17T00:00:00+08:00'
                        to: '2024-03-16T23:59:59+08:00'
                        total:
                          value: '250.00'
                          currency: GBP
                        count: 1
                        transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                        _links:
                          transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions?category_l1=bills&category_l2=tv_and_broadband&date_from=2022-01-01T00%3A00%3A00Z&date_to=2022-03-31T00%3A00%3A00Z
                      - from: '2024-03-17T00:00:00+08:00'
                        to: '2024-04-16T23:59:59+08:00'
                        total:
                          value: '250.00'
                          currency: GBP
                        average:
                          value: '250.00'
                          currency: GBP
                        count: 1
                        transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                        _links:
                          transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions?category_l1=bills&category_l2=tv_and_broadband&date_from=2022-01-01T00%3A00%3A00Z&date_to=2022-03-31T00%3A00%3A00Z
                      transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                      _links:
                        transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions?category_l1=bills&category_l2=tv_and_broadband&date_from=2022-01-01T00%3A00%3A00Z&date_to=2022-03-31T00%3A00%3A00Z
                    transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                    _links:
                      transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions?category_l1=bills&category_l2=tv_and_broadband&date_from=2022-01-01T00%3A00%3A00Z&date_to=2022-03-31T00%3A00%3A00Z
                metadata:
                  from: '2022-01-01T00:00:00Z'
                  to: '2022-03-31T00:00:00Z'
                  currencies:
                  - GBP
                  options:
                  - insight_type: late_income
                    option: minimum_days_late_threshold
                    value: '3'
                  - insight_type: late_income
                    option: minimum_value_threshold
                    value: '100.00'
  /insights/beta/report/income-expenditure/transactions/{reference}:
    get:
      tags:
      - Retrieve Affordability Risk Insights
      summary: Retrieve transactions relating to a specific insight report section
      security:
      - OAuth2: []
      description: 'Each report, where appropriate will have a unique reference for that specific aggregated section of the report.

        using the same parameters used in the call to `insights_beta_report_income_expenditure_get`,

        in combination with the unique reference, will return the raw transactions

        list used to produce that aggregation. This is useful if requiring further investigation or analysis.

        The reference can be found in the `_links` section of the insight reports.


        NOTE:

        Alterations to the `to`/`from` query properties will result in an alternative dataset being returned.'
      operationId: insights_beta_report_income_expenditure_transactions_get
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Currency'
      - $ref: '#/components/parameters/TransactionReference'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportInsightsTransactionResponse'
              example:
                operation_id: insights_beta_report_income_expenditure_transactions_get
                data:
                - transaction_id: a_transaction_id
                  account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                  provider: a_bank_account_provider
                  description: SALARY
                  credit_debit_indicator: credit
                  status: booked
                  suggested_description: salary
                  amount:
                    value: '3000.00'
                    currency: GBP
                  date_time: '2023-04-10T10:00:00Z'
                  enrichments:
                    categories:
                      l1:
                        slug: income
                        confidence: '0.99'
                      l2:
                        slug: employment_income
                        confidence: '0.98'
                    regularity:
                      slug: monthly
                      confidence: '0.99'
                      predicted_date_times:
                      - '2023-05-10T10:00:00Z'
                metadata:
                  transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                  from: '2020-01-01T00:00:00Z'
                  to: '2020-01-31T00:00:00Z'
                  currencies:
                  - GBP
                  options:
                  - insight_type: late_income
                    option: minimum_days_late_threshold
                    value: '3'
                  - insight_type: late_income
                    option: minimum_value_threshold
                    value: '100.00'
  /insights/beta/report/merchants:
    get:
      tags:
      - Retrieve Affordability Risk Insights
      summary: Retrieve merchant-specific breakdown reports
      security:
      - OAuth2: []
      description: 'Endpoint is responsible for returning merchant based aggregated transaction breakdowns. The reports are presented in

        a way that allows for a high level overview of a customers spending habits with specific merchants.


        For transactional analysis of particular aggregate, please refer to the transactions reference found within the

        `_links` properties.'
      operationId: insights_beta_report_merchants_get
      parameters:
      - $ref: '#/components/parameters/EnabledInsightsMerchants'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Currency'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantsReportResponse'
              example:
                operation_id: insights_beta_report_merchants_get
                data:
                  insights:
                    hcst_credit:
                    - type: hcst-credit
                      currency: GBP
                      transactions_count: 2
                      merchants_count: 2
                      transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                      _links:
                        transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions?category_l1=bills&category_l2=tv_and_broadband&date_from=2022-01-01T00%3A00%3A00Z&date_to=2022-03-31T00%3A00%3A00Z
                metadata:
                  from: '2022-01-01T00:00:00Z'
                  to: '2022-03-31T00:00:00Z'
                  currencies:
                  - GBP
                  options: []
  /insights/beta/report/merchants/transactions/{reference}:
    get:
      tags:
      - Retrieve Affordability Risk Insights
      security:
      - OAuth2: []
      summary: Retrieve transactions relating to a specific insight report section
      description: 'Each report, where appropriate will have a unique reference for that specific aggregated section of the report.

        using the same parameters used in the call to `insights_beta_report_merchants_get`,

        in combination with the unique reference, will return the raw transactions

        list used to produce that aggregation. This is useful if requiring further investigation or analysis.

        The reference can be found in the `_links` section of the insight reports.


        NOTE:

        Alterations to the `to`/`from` query properties will result in an alternative dataset being returned.'
      operationId: insights_beta_report_merchants_transactions_get
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Currency'
      - $ref: '#/components/parameters/TransactionReference'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportInsightsTransactionResponse'
              example:
                operation_id: insights_beta_report_merchants_transactions_get
                data:
                - transaction_id: a_transaction_id
                  account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                  provider: a_bank_account_provider
                  description: SALARY
                  credit_debit_indicator: credit
                  status: booked
                  suggested_description: salary
                  amount:
                    value: '3000.00'
                    currency: GBP
                  date_time: '2023-04-10T10:00:00Z'
                  enrichments:
                    categories:
                      l1:
                        slug: income
                        confidence: '0.99'
                      l2:
                        slug: employment_income
                        confidence: '0.98'
                    regularity:
                      slug: monthly
                      confidence: '0.99'
                      predicted_date_times:
                      - '2023-05-10T10:00:00Z'
                metadata:
                  transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                  from: '2020-01-01T00:00:00Z'
                  to: '2020-01-31T00:00:00Z'
                  options: []
  /insights/beta/report/balance/unauthorised-overdraft:
    get:
      tags:
      - Retrieve Affordability Risk Insights
      security:
      - OAuth2: []
      summary: Retrieve a report on a customers unauthorised overdraft
      description: 'Endpoint is responsible for returning balance based aggregated transaction breakdowns and insights.

        The reports are presented in a way that allows for a high level overview of a customers balances.

        This particular route focuses on customer accounts with unauthorised overdrafts.


        For transactional analysis of particular aggregate, please refer to the transactions reference found within the

        `_links` properties.'
      operationId: insights_beta_report_balance_unauthorised_overdraft_get
      parameters:
      - $ref: '#/components/parameters/EnabledInsightsBalanceOverdraft'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Currency'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorisedOverdraftResponse'
              examples:
                unauthorised_overdraft_detected:
                  summary: Unauthorised overdraft detected
                  description: 'a simple example where a customers account has been noted to have been in an unauthorised overdraft

                    '
                  value:
                    operation_id: insights_beta_report_balance_unauthorised_overdraft_get
                    data:
                      insights:
                      - type: unauthorised-overdraft
                        currency: GBP
                        days_in_unauthorised_overdraft:
                          count: 3
                          ratio: '0.06'
                        accounts:
                        - account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                          provider: test provider
                          account_name: current account
                          days_in_unauthorised_overdraft:
                            count: 3
                            ratio: '0.06'
                          unauthorised_overdraft_occurrences:
                          - date: '2023-03-20T00:00:00Z'
                            amount:
                              value: '1200.00'
                              currency: GBP
                            credit_debit_indicator: debit
                          - date: '2023-03-21T00:00:00Z'
                            amount:
                              value: '1200.00'
                              currency: GBP
                            credit_debit_indicator: debit
                          - date: '2023-03-22T00:00:00Z'
                            amount:
                              value: '1200.00'
                              currency: GBP
                            credit_debit_indicator: debit
                          balances:
                          - date: '2023-01-12T00:00:00Z'
                            amount:
                              value: '100.00'
                              currency: GBP
                            type: closing_available
                            credit_debit_indicator: debit
                          credit_lines:
                          - date: '2023-01-12T00:00:00Z'
                            type: available
                            amount:
                              value: '850.00'
                              currency: GBP
                          transactions_reference: 123419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                          _links:
                            transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions
                    metadata:
                      from: '2020-01-01T00:00:00Z'
                      to: '2020-01-31T00:00:00Z'
                      currencies:
                      - GBP
                      options: []
                no_unauthorised_overdrafts_detected_in_accounts:
                  summary: No unauthorised access to overdraft detected
                  description: 'for a given to/from period, no days have been detected as being in overdraft for accounts currently ingested.

                    An insight will be returned per currency detected from ingested accounts.

                    '
                  value:
                    operation_id: insights_beta_report_balance_unauthorised_overdraft_get
                    data:
                      insights:
                      - type: unauthorised-overdraft
                        currency: GBP
                        days_in_unauthorised_overdraft:
                          count: 0
                          ratio: '0.00'
                        accounts: []
                    metadata:
                      from: '2020-01-01T00:00:00Z'
                      to: '2020-01-31T00:00:00Z'
                      currencies:
                      - GBP
                      options: []
                no_ingested_data_response:
                  summary: No data ingested
                  description: "In the event a client requests a report for a customer that has no ingested data, \na response will be returned with no insights available. We do this because we cannot guarantee the\ncurrency of the customers accounts, and therefore cannot return a report with no currency.\n"
                  value:
                    operation_id: insights_beta_report_balance_unauthorised_overdraft_get
                    data:
                      insights: []
                    metadata:
                      from: '2020-01-01T00:00:00Z'
                      to: '2020-01-31T00:00:00Z'
                      currencies: []
                      options: []
  /insights/beta/report/balance/unauthorised-overdraft/transactions/{reference}:
    get:
      tags:
      - Retrieve Affordability Risk Insights
      security:
      - OAuth2: []
      summary: Retrieve transactions relating to a specific insight report section
      description: 'Each report, where appropriate will have a unique reference for that specific aggregated section of the report.

        using the same parameters used in the call to `insights_beta_report_balance_unauthorised_overdraft_get`,

        in combination with the unique reference, will return the raw transactions

        list used to produce that aggregation. This is useful if requiring further investigation or analysis.

        The reference can be found in the `_links` section of the insight reports.


        NOTE:

        Alterations to the `to`/`from` query properties will result in an alternative dataset being returned.'
      operationId: insights_beta_report_unauthorised_overdraft_transactions_get
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Currency'
      - $ref: '#/components/parameters/TransactionReference'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportInsightsTransactionResponse'
              example:
                operation_id: insights_beta_report_unauthorised_overdraft_transactions_get
                data:
                - transaction_id: a_transaction_id
                  account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                  provider: a_bank_account_provider
                  description: SALARY
                  credit_debit_indicator: credit
                  status: booked
                  suggested_description: salary
                  amount:
                    value: '3000.00'
                    currency: GBP
                  date_time: '2023-04-10T10:00:00Z'
                  enrichments:
                    categories:
                      l1:
                        slug: income
                        confidence: '0.99'
                      l2:
                        slug: employment_income
                        confidence: '0.98'
                    regularity:
                      slug: monthly
                      confidence: '0.99'
                      predicted_date_times:
                      - '2023-05-10T10:00:00Z'
                metadata:
                  transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                  from: '2020-01-01T00:00:00Z'
                  to: '2020-01-31T00:00:00Z'
                  options:
                  - insight_type: late_income
                    option: minimum_days_late_threshold
                    value: '3'
                  - insight_type: late_income
                    option: minimum_value_threshold
                    value: '100.00'
  /insights/beta/report/income-health:
    get:
      tags:
      - Retrieve Affordability Risk Insights
      security:
      - OAuth2: []
      summary: Retrieve a health report on a customers financial profile
      description: 'Retrieve a list of insights that reflect various health reports based on a customers ingested data.

        Reports found within this grouping reflect aggregations against a customers income sources.

        Where feasible, deep aggregate analysis is provided to allow for further insight.


        For transactional analysis of particular aggregate, please refer to the transactions reference found within the

        `_links` properties.'
      operationId: insights_beta_report_income_health_get
      parameters:
      - $ref: '#/components/parameters/EnabledInsightsIncomeHealth'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Currency'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeHealthReportResponse'
              example:
                operation_id: insights_beta_report_income_health_get
                data:
                  insights:
                  - type: income-health
                    currency: GBP
                    total:
                      value: '1500'
                      currency: GBP
                    monthly_average:
                      value: '1500'
                      currency: GBP
                    stability:
                      value: '0.8'
                      currency: GBP
                    regular_income:
                      stability:
                        value: '0.8'
                        currency: GBP
                      total:
                        value: '1500'
                        currency: GBP
                      monthly_average:
                        value: '1500'
                        currency: GBP
                      sources:
                      - source_name: customer employer salary
                        category_l1: income
                        category_l2: salary
                        group_id: F30F99BC-3532-44E8-B276-A55B2B026684
                        frequency: monthly
                        transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                        _links:
                          transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions
                        monthly_average:
                          value: '1500'
                          currency: GBP
                        total:
                          value: '1500'
                          currency: GBP
                        stability:
                          value: '0.8'
                          currency: GBP
                      transactions_reference: 123419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                      _links:
                        transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions
                    irregular_income:
                      total:
                        value: '1500'
                        currency: GBP
                      monthly_average:
                        value: '1500'
                        currency: GBP
                      _links:
                        transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions
                      transactions_reference: 456419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                    _links:
                      transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions
                    transactions_reference: 789419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                  - type: income-health
                    currency: EUR
                    total:
                      value: '1730.06'
                      currency: EUR
                    monthly_average:
                      value: '1730.06'
                      currency: EUR
                    stability:
                      value: '0.8'
                      currency: EUR
                    regular_income:
                      stability:
                        value: '0.81'
                        currency: EUR
                      total:
                        value: '1730.06'
                        currency: EUR
                      monthly_average:
                        value: '1730.06'
                        currency: EUR
                      sources:
                      - source_name: customer employer salary
                        category_l1: income
                        category_l2: salary
                        group_id: F30F99BC-3532-44E8-B276-A55B2B026684
                        frequency: monthly
                        transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                        _links:
                          transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions
                        monthly_average:
                          value: '1500'
                          currency: GBP
                        total:
                          value: '1500'
                          currency: GBP
                        stability:
                          value: '0.8'
                          currency: GBP
                      - source_name: Bank Interest
                        category_l1: income
                        category_l2: interest_or_investments
                        group_id: F30F99BC-3532-44E8-B276-A55B2B026684
                        frequency: monthly
                        transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                        _links:
                          transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions
                        monthly_average:
                          value: '10'
                          currency: GBP
                        total:
                          value: '10'
                          currency: GBP
                        stability:
                          value: '1'
                          currency: GBP
                      transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                      _links:
                        transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions
                    irregular_income:
                      total:
                        value: '1500'
                        currency: EUR
                      monthly_average:
                        value: '1500'
                        currency: EUR
                      transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                      _links:
                        transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions
                    transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                    _links:
                      transactions: https://api-sandbox.thisisbud.com/financial/v2/transactions
                metadata:
                  from: '2020-01-01T00:00:00Z'
                  to: '2020-01-31T00:00:00Z'
                  currencies:
                  - GBP
                  options:
                  - insight_type: late_income
                    option: minimum_days_late_threshold
                    value: '3'
                  - insight_type: late_income
                    option: minimum_value_threshold
                    value: '100.00'
  /insights/beta/report/income-health/transactions/{reference}:
    get:
      tags:
      - Retrieve Affordability Risk Insights
      security:
      - OAuth2: []
      summary: Retrieve transactions relating to a specific insight report section
      description: 'Each report, where appropriate will have a unique reference for that specific aggregated section of the report.

        using the same parameters used in the call to `insights_beta_report_balance_unauthorised_overdraft_get`,

        in combination with the unique reference, will return the raw transactions

        list used to produce that aggregation. This is useful if requiring further investigation or analysis.

        The reference can be found in the `_links` section of the insight reports.


        NOTE:

        Alterations to the `to`/`from` query properties will result in an alternative dataset being returned.'
      operationId: insights_beta_report_income_health_transactions_get
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Currency'
      - $ref: '#/components/parameters/TransactionReference'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportInsightsTransactionResponse'
              example:
                operation_id: insights_beta_report_income_health_transactions_get
                data:
                - transaction_id: a_transaction_id
                  account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                  provider: a_bank_account_provider
                  description: SALARY
                  credit_debit_indicator: credit
                  status: booked
                  suggested_description: salary
                  amount:
                    value: '3000.00'
                    currency: GBP
                  date_time: '2023-04-10T10:00:00Z'
                  enrichments:
                    categories:
                      l1:
                        slug: income
                        confidence: '0.99'
                      l2:
                        slug: employment_income
                        confidence: '0.98'
                    regularity:
                      slug: monthly
                      confidence: '0.99'
                      predicted_date_times:
                      - '2023-05-10T10:00:00Z'
                metadata:
                  transactions_reference: 402419e92096bd4ab499de51bffcdcacb13eeb4b6452b327a334799ffd9f4df5
                  from: '2020-01-01T00:00:00Z'
                  to: '2020-01-31T00:00:00Z'
                  options:
                  - insight_type: late_income
                    option: minimum_days_late_threshold
                    value: '3'
                  - insight_type: late_income
                    option: minimum_value_threshold
                    value: '100.00'
components:
  parameters:
    From:
      in: query
      name: from
      required: false
      description: A start time to check financial data for insights from. Configures the earliest financial data which may be used to generate insights. If omitted, defaults to the start of the sixth complete month prior to the latest ingested financial data. Note that some insights will only be checked for complete months entirely between the `from` and `to` dates.
      schema:
        $ref: '#/components/schemas/schemas-DateTimeISO8601'
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    TransactionReference:
      in: path
      required: true
      name: reference
      schema:
        description: A unique reference used to identify a group of transactions in report for aggregation analysis
        type: string
    EnabledInsightsIncomeHealth:
      in: query
      name: enabled_insights
      required: false
      schema:
        type: string
        description: A comma-separated list of insight types to check for. If not specified, a default list will be used, which may be added to over time.
        enum:
        - income-health
    Currency:
      in: query
      name: currency
      required: false
      description: 'Used to limit the insight reports returned, to only those in the specified currency. The value should represent

        a valid ISO currency code. an example would be "GBP" or "EUR".


        Please refer to https://www.iso.org/iso-4217-currency-codes.html for more details.

        '
      schema:
        type: string
    EnabledInsightsIncomeExpenditure:
      in: query
      name: enabled_insights
      required: false
      schema:
        type: string
        description: A comma-separated list of insight types to check for. If not specified, a default list will be used, which may be added to over time.
        enum:
        - income-cash-withdrawal
        - income-loan
        - income-gambling
        - income-debt
        - income-essential-expenditure
        - income-all-expenditure
    CustomerSecret:
      in: header
      name: X-Customer-Secret
      schema:
        type: string
      required: false
      description: The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud.
    To:
      in: query
      name: to
      required: false
      description: An end time to check financial data for insights up to. Configures the latest financial data which may be used to generate insights. If omitted, defaults to the date of the latest ingested financial data. Note that some insights will only be checked for complete months entirely between the `from` and `to` dates. Insights relating to potential future events, such as cannot_cover_bills, may forecast them up to a month after this point.
      schema:
        $ref: '#/components/schemas/schemas-DateTimeISO8601'
    EnabledInsightsMerchants:
      in: query
      name: enabled_insights
      required: false
      schema:
        type: string
        description: A comma-separated list of insight types to check for. If not specified, a default list will be used, which may be added to over time.
        enum:
        - hcst-credit
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    EnabledInsightsBalanceOverdraft:
      in: query
      name: enabled_insights
      required: false
      schema:
        type: string
        description: A comma-separated list of insight types to check for. If not specified, a default list will be used, which may be added to over time.
        enum:
        - unauthorised-overdraft
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
  schemas:
    RegularTransactionIncomeGroup:
      type: object
      required:
      - source_name
      - group_id
      - category_l1
      - category_l2
      - frequency
      - total
      - monthly_average
      - stability
      - transactions_reference
      - _links
      properties:
        source_name:
          type: string
          description: A human readable to represent a regular transactional group
        group_id:
          type: string
          format: uuid
          description: a unique identifier to identify a regular transaction group
        category_l1:
          type: string
        category_l2:
          type: string
        frequency:
          $ref: '#/components/schemas/Frequency'
        total:
          $ref: '#/components/schemas/BudAmount'
        monthly_average:
          $ref: '#/components/schemas/BudAmount'
        stability:
          $ref: '#/components/schemas/IncomeStability'
        transactions_reference:
          $ref: '#/components/schemas/TransactionsReference'
        _links:
          $ref: '#/components/schemas/schemas-TransactionsLinks'
    Frequency:
      type: string
      enum:
      - daily
      - weekly
      - biweekly
      - monthly
      - quarterly
      - six_monthly
      - annually
      - unknown
    UnauthorisedOverdraftDate:
      type: object
      required:
      - date
      - amount
      - credit_debit_indicator
      properties:
        date:
          $ref: '#/components/schemas/schemas-DateTimeISO8601'
        amount:
          $ref: '#/components/schemas/BudAmount'
        credit_debit_indicator:
          $ref: '#/components/schemas/CreditDebitIndicator'
    schemas-TransactionsLinks:
      description: URLs for resources related to this report insight
      type: object
      required:
      - transactions
      properties:
        transactions:
          type: string
          description: 'An endpoint, including options, to make a GET request to in order to retrieve transactions

            related to the report in question.

            '
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    DaysInUnauthorisedOverdraft:
      description: "Object represents the number of days a customer has been in an unauthorised overdraft. Should be noted that\nthis is a percentage of the total number of days in the report period OR the total number of days ingested for \na given account. The report period is defined by the `from` and `to` parameters.\n"
      type: object
      required:
      - count
      - ratio
      properties:
        count:
          type: integer
          description: 'The total number of days a customer has been in an unauthorised overdraft.

            '
        ratio:
          type: string
          description: 'A percentage of the numbers of unauthorised overdraft/total number of days in the report period.

            '
    Location:
      title: Location
      type: object
      description: Location enrichment associated with a Transaction
      properties:
        address:
          type: object
          description: The address where the transaction occurred. The level of detail depends on the resolution with which we are able to detect the transaction location.
          properties:
            address_lines:
              type: array
              description: A list of all the address lines detected for the transaction. This could be anything from a full street address down to just the region.
              items:
                type: string
            street_address:
              type: string
              description: The street address where the transaction occurred. Typically this will consist of the street number and street name with an optional suite.
            city:
              type: string
              description: The city or town where the transaction occurred.
            region:
              type: string
              description: The county or region where the transaction occurred.
            postal_code:
              type: string
              description: The postcode where the transaction occurred.
            country:
              type: string
              description: 'The ISO 3166-1 alpha-2 country code representing the country where the transaction occurred.


                If a location could not be determined, but a `country_code` was supplied in the ingestion request; that value will be reflected here.

                '
        geolocation:
          type: object
          description: The geolocation where the transaction occurred. This is only available if we are able to narrow down the transaction location to an exact match.
          properties:
            latitude:
              type: number
              format: double
              description: The latitudinal position where the transaction occurred.
            longitude:
              type: number
              format: double
              description: The longitudinal position where the transaction occurred.
        tokens:
          type: array
          description: A list of substrings from the description identified as being relevant to the transaction location.
          items:
            type: string
    UnauthorisedOverdraftInsight:
      type: object
      required:
      - type
      - currency
      - days_in_unauthorised_overdraft
      - accounts
      properties:
        type:
          type: string
          enum:
          - unauthorised-overdraft
          description: 'A unique human readable string used to identify a unauthorised overdraft report.


            Note, these are subject to change and should not be used to identify a report. These are not unique within

            a result list and are used to identify the type of report.

            '
        currency:
          $ref: '#/components/schemas/BudCurrency'
        days_in_unauthorised_overdraft:
          $ref: '#/components/schemas/DaysInUnauthorisedOverdraft'
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/UnauthorisedOverdraftAccount'
    balance:
      type: object
      required:
      - date
      - type
      - amount
      - credit_debit_indicator
      properties:
        date:
          $ref: '#/components/schemas/schemas-DateTimeISO8601'
        type:
          description: 'Type is a string used to represent the type of balance returned, the full descriptions of each can be

            found below:

            https://docs.thisisbud.com/docs/accounts#balances-and-credit-lines

            '
          type: string
          enum:
          - closing_available
          - closing_booked
          - closing_cleared
          - expected
          - forward_available
          - information
          - interim_available
          - interim_booked
          - interim_cleared
          - opening_available
          - opening_booked
          - opening_cleared
          - previously_closed_booked
        amount:
          $ref: '#/components/schemas/BudAmount'
        credit_debit_indicator:
          $ref: '#/components/schemas/CreditDebitIndicator'
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    Category:
      title: Category
      type: object
      description: Category associated with a Transaction
      required:
      - slug
      - confidence
      properties:
        slug:
          type: string
          description: Unique human readable identifier of the category. Not subject to version control.
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
    schemas-DateTimeISO8601:
      title: Date/Time (ISO 8601)
      type: string
      description: ISO Date Format
      example: '2022-03-05T13:34:33Z'
    MerchantsReportResponse:
      description: "Object represents a set of merchant-related insights generated for the customer inspecting\ntransactions over a given period of time. The insights include:\n  - hcst_credit: Identifies interactions with high-cost short-term credit providers.\n"
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_beta_report_merchants_get
        data:
          type: object
          required:
          - insights
          properties:
            insights:
              type: object
              required:
              - hcst_credit
              properties:
                hcst_credit:
                  type: array
                  items:
                    $ref: '#/components/schemas/HCSTCreditAnalysis'
        metadata:
          type: object
          required:
          - from
          - to
          - options
          properties:
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            options:
              type: array
              items:
                $ref: '#/components/schemas/InsightOption'
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    Enrichments:
      title: Enrichments
      type: object
      description: Contextual enrichments associated with a Transaction
      properties:
        categories:
          $ref: '#/components/schemas/Categories'
        merchant:
          $ref: '#/components/schemas/Merchant'
        processor:
          $ref: '#/components/schemas/Processor'
        regularity:
          $ref: '#/components/schemas/Regularity'
        location:
          $ref: '#/components/schemas/Location'
        transaction_types:
          type: array
          description: Transaction types associated with the transaction
          items:
            type: string
        names:
          type: array
          description: Names that were detected in the transaction description
          items:
            type: string
    InsightsTransaction:
      title: Transaction
      type: object
      description: A financial transaction
      required:
      - transaction_id
      - account_id
      - description
      - amount
      - credit_debit_indicator
      - status
      - date_time
      - suggested_description
      properties:
        transaction_id:
          type: string
          description: Unique identifier for the transaction. May be mutable depending on original ingestion source.
        account_id:
          type: string
          description: Identifier for the account associated with the transaction.
        provider:
          type: string
          description: Name of the transaction source provider. Optional as it may not have been supplied when using first party data.
        description:
          type: string
          description: Description of the transaction.
        credit_debit_indicator:
          type: string
          description: Credit/Debit Indicator
          enum:
          - credit
          - debit
        status:
          type: string
          description: 'Status of the transaction. Defaults to booked.


            Note: declined transactions are only available for transactions ingested by First Party Ingestion endpoints.

            '
          enum:
          - booked
          - pending
          - declined
        amount:
          $ref: '#/components/schemas/BudAmount'
        date_time:
          type: string
          description: Date that the transaction occured compliant with RFC3339.
        posted_date_time:
          type: string
          deprecated: true
          description: Date the assets involved in the transaction transferred compliant with RFC3339. For credits this is the date that the asset becomes available, for debits this is the date that the asset ceased to be available
        value_date_time:
          type:
          - string
          - 'null'
          description: Date and time at which assets become available to the account owner in case of a credit entry, or cease to be available to the account owner in case of a debit transaction entry. ISODateTime. Null if this field is not applicable.
        suggested_description:
          type: string
          description: The description Bud suggests client apps show for a given transaction.
        suggested_logo:
          type: string
          description: The logo Bud suggests client apps show for a given transaction.
        enrichments:
          $ref: '#/components/schemas/Enrichments'
        merchant_category_code:
          type: string
          description: Merchant category code conforming to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
        tags:
          type: array
          description: 'A list of potential tags associated with the transaction after contextual enrichment, which can be used for filtering.


            Region and client specific.


            | Value                   | Description                                               |

            |:------------------------|:----------------------------------------------------------|

            | `benefit`               | A government/non-profit benefit transaction               |

            | `debt-collection`       | A transaction associated with a known debt-collector      |

            | `loan`                  | A transaction associated with a loan                      |

            | `hcst`                  | A transaction associated with a high cost short term loan |

            | `income`                | A transaction associated with income                      |

            | `pending`               | A transaction which has not been booked                   |

            | `regular-transaction`   | A transaction predicted to occur with a regular frequency |

            | `subscription`          | A transaction associated with a subscription service      |

            | `online`                | A transaction associated with an online merchant          |

            '
          items:
            type: string
    RegularTransactions:
      type: object
      required:
      - stability
      - total
      - monthly_average
      - transactions_reference
      - _links
      - sources
      properties:
        stability:
          $ref: '#/components/schemas/IncomeStability'
        total:
          $ref: '#/components/schemas/BudAmount'
        monthly_average:
          $ref: '#/components/schemas/BudAmount'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/RegularTransactionIncomeGroup'
        transactions_reference:
          $ref: '#/components/schemas/TransactionsReference'
        _links:
          $ref: '#/components/schemas/schemas-TransactionsLinks'
    IrregularTransactions:
      type: object
      required:
      - total
      - monthly_average
      - transactions_reference
      - _links
      properties:
        total:
          $ref: '#/components/schemas/BudAmount'
        monthly_average:
          $ref: '#/components/schemas/BudAmount'
        transactions_reference:
          $ref: '#/components/schemas/TransactionsReference'
        _links:
          $ref: '#/components/schemas/schemas-TransactionsLinks'
    UnauthorisedOverdraftAccount:
      type: object
      required:
      - account_id
      - provider
      - account_name
      - days_in_unauthorised_overdraft
      - unauthorised_overdraft_occurrences
      - balances
      - credit_lines
      - transactions_reference
      - _links
      properties:
        account_id:
          type: string
          description: 'A unique identifier for a specific account. The account_id can be found in the _links section of the insight report.

            '
        provider:
          type: string
          description: 'The name of the provider of the account.

            '
        account_name:
          type: string
          description: 'The name of the account.

            '
        days_in_unauthorised_overdraft:
          $ref: '#/components/schemas/DaysInUnauthorisedOverdraft'
        unauthorised_overdraft_occurrences:
          description: "This field contains an array of balances for the given account when its suspected the account entered an \nunauthorised overdraft. The items of the array are the account balance at points in time when the customer\nexceeded their credit allowance on the account.\n"
          type: array
          items:
            $ref: '#/components/schemas/UnauthorisedOverdraftDate'
        balances:
          type: array
          description: 'A list of balances for the account. The balances returned here will represent the latest up to date

            ingested balances for the account.

            '
          items:
            $ref: '#/components/schemas/balance'
        credit_lines:
          type: array
          description: 'A list of credit lines for the account. The credit lines returned here will represent the latest up to date

            ingested balances for the account. It is possible that an account does not have any registered credit lines.

            '
          items:
            $ref: '#/components/schemas/CreditLine'
        transactions_reference:
          $ref: '#/components/schemas/TransactionsReference'
        _links:
          $ref: '#/components/schemas/schemas-TransactionsLinks'
    CreditDebitIndicator:
      type: string
      enum:
      - credit
      - debit
    Token:
      title: Token
      type: object
      description: The token item.
      required:
      - value
      - confidence
      properties:
        value:
          type: string
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
    Processor:
      title: Processor
      type: object
      description: 'Processor enrichment associated with a Transaction, as generated using a combination of Bud''s artificial  intelligence models and database of known payment processors.

        '
      properties:
        id:
          type: string
          description: UUID corresponding to the processor, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the processor. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the processor.
        logo:
          type: string
          description: URL supplying processor logo, if available.
        tokens:
          type: array
          description: 'A list of tokens calculated from the transaction model, used to identify the Merchant.  This list is often present even if the merchant details (id, slug, disply_name, logo) are not returned.

            '
          items:
            $ref: '#/components/schemas/Token'
        website:
          type: string
          description: URL supplying merchant website, if available.
    Merchant:
      title: Merchant
      type: object
      description: 'Merchant enrichment associated with a Transaction, as generated using a combination of Bud''s artificial  intelligence models and database of known merchants.

        '
      properties:
        id:
          type: string
          description: UUID corresponding to the merchant, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the merchant. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the merchant.
        logo:
          type: string
          description: URL supplying merchant logo, if available.
        tokens:
          type: array
          description: 'A list of tokens calculated from the transaction model, used to identify the Merchant.  This list is often present even if the merchant details (id, slug, disply_name, logo) are not returned.

            '
          items:
            $ref: '#/components/schemas/Token'
        website:
          type: string
          description: URL supplying merchant website, if available.
        tags:
          type: array
          items:
            type: string
          description: A list of tags describing the merchant
    IncomeExpenditureReportResponse:
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_beta_report_income_expenditure_get
        data:
          type: object
          required:
          - insights
          properties:
            insights:
              type: array
              items:
                $ref: '#/components/schemas/IncomeExpenditureAnalysis'
              description: 'An array of income/expenditure analysis reports (insights). Each object in the list

                represents a single insight.

                '
        metadata:
          type: object
          required:
          - from
          - to
          - options
          properties:
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            options:
              type: array
              items:
                $ref: '#/components/schemas/InsightOption'
    Categories:
      title: Categories
      type: object
      description: 'Categories enrichment associated with a Transaction, as generated by Bud''s artificial intelligence models.  Currently two levels of category are supported, with `l1` being a coarse-grained category level and `l2` being more refined.

        '
      properties:
        l1:
          $ref: '#/components/schemas/Category'
          description: Level 1 Category
        l2:
          $ref: '#/components/schemas/Category'
          description: Level 2 Category
    TransactionsReference:
      type: string
      description: 'A unique identifier to reference a specific transaction subset used within a section of a report.

        '
    IncomeStability:
      type: object
      required:
      - value
      - currency
      properties:
        value:
          type: string
          description: 'A number between 0 to 1 representing how stable a customers income is. The closer the number is

            to 1 represents a higher stability.

            '
        currency:
          $ref: '#/components/schemas/BudCurrency'
    HCSTCreditAnalysis:
      type: object
      description: 'Object represents analysis indicating interactions with high-cost short-term credit providers.

        '
      required:
      - type
      - currency
      - transactions_count
      - merchants_count
      - transactions_reference
      - _links
      properties:
        type:
          type: string
          enum:
          - hcst-credit
          description: 'A unique human readable string used to identify the report type.

            '
        currency:
          $ref: '#/components/schemas/BudCurrency'
        transactions_count:
          type: integer
          description: 'The number of transactions related to this insight.

            '
        merchants_count:
          type: integer
          description: 'The number of unique merchants related to this insight.

            '
        transactions_reference:
          $ref: '#/components/schemas/TransactionsReference'
        _links:
          $ref: '#/components/schemas/schemas-TransactionsLinks'
    IncomeExpenditureAnalysis:
      type: object
      description: "Object presents a single expenditure group income analysis report. The focus of this object is to present a \nview of a single expenditure and its impact on a customers income. The report is broken down into financial months\nto help identify spikes in income consumed by the expenditure group.\n\nThe type of report is identified by the `type` field. There are several types of analyses:\n  - income-cash-withdrawal: Identifies the total amount of cash withdrawn from a customers account.\n  - income-debt: Identifies debt payments in the customer's expenses.\n  - income-gambling: Identifies gambling related transactions in the customer's report.\n  - income-loan: Identifies loan related transactions.\n  - income-essential-expenditure: Identifies essential expenditure and compares it against income for the time period\n  - income-all-expenditure: Total debits vs income for a specified time period\n"
      required:
      - type
      - currency
      - expenditure
      - income
      - _links
      properties:
        type:
          type: string
          enum:
          - income-cash-withdrawal
          - income-loan
          - income-gambling
          - income-debt
          - income-essential-expenditure
          - income-all-expenditure
          description: 'A unique human readable string used to identify a expenditure group income analysis report.


            Note, these are subject to change and should not be used to identify a report. These are not unique within

            a result list and are used to identify the type of report.

            '
        currency:
          $ref: '#/components/schemas/BudCurrency'
        income:
          type: object
          required:
          - credit_debit_indicator
          - count
          - total
          - monthly_average
          - transactions_reference
          - _links
          properties:
            credit_debit_indicator:
              $ref: '#/components/schemas/CreditDebitIndicator'
            count:
              type: integer
              description: 'The number of transactions related to this insight.

                '
            total:
              $ref: '#/components/schemas/BudAmount'
              description: 'The total amount of income for the period of the report for a predefined currency.

                '
            monthly_average:
              $ref: '#/components/schemas/BudAmount'
              description: 'The average amount of income for the period of the report for a predefined currency.

                '
            breakdown:
              type: array
              items:
                type: object
                description: "A breakdown of the specific transactional group for the period of the report. \nThe breakdown of data is defined by the granularity of the report, defaulting to monthly. \nThe `to`/`from` properties within the object refer to the datetime boundaries of subsection.\n"
                required:
                - from
                - to
                - total
                - count
                - transactions_reference
                - _links
                properties:
                  from:
                    $ref: '#/components/schemas/schemas-DateTimeISO8601'
                  to:
                    $ref: '#/components/schemas/schemas-DateTimeISO8601'
                  total:
                    $ref: '#/components/schemas/BudAmount'
                    description: 'The total amount of expenditure for the period of the report for a predefined currency.

                      '
                  count:
                    type: integer
                    description: 'The number of transactions related to this insight.

                      '
                  transactions_reference:
                    $ref: '#/components/schemas/TransactionsReference'
                  _links:
                    $ref: '#/components/schemas/schemas-TransactionsLinks'
            transactions_reference:
              $ref: '#/components/schemas/TransactionsReference'
            _links:
              $ref: '#/components/schemas/schemas-TransactionsLinks'
        expenditure:
          type: object
          required:
          - credit_debit_indicator
          - count
          - total
          - monthly_average
          - relative_to_income
          - transactions_reference
          - _links
          properties:
            credit_debit_indicator:
              $ref: '#/components/schemas/CreditDebitIndicator'
            count:
              type: integer
              description: 'The number of transactions related to this insight.

                '
            total:
              $ref: '#/components/schemas/BudAmount'
              description: 'The total amount of expenditure for the period of the report for a predefined currency.

                '
            monthly_average:
              $ref: '#/components/schemas/BudAmount'
              description: 'The average amount of income for the period of the report for a predefined currency.

                '
            relative_to_income:
              type: string
              description: 'A percentage value to represent the scale another value is in relation to a customers income.

                '
            transactions_reference:
              $ref: '#/components/schemas/TransactionsReference'
            _links:
              $ref: '#/components/schemas/schemas-TransactionsLinks'
        transactions_reference:
          $ref: '#/components/schemas/TransactionsReference'
        _links:
          $ref: '#/components/schemas/schemas-TransactionsLinks'
    CreditLine:
      type: object
      required:
      - date
      - type
      - amount
      properties:
        date:
          $ref: '#/components/schemas/schemas-DateTimeISO8601'
        type:
          type: string
          description: 'Type is a string used to represent the type of creditline returned, the full descriptions of each can be

            found below:

            https://docs.thisisbud.com/docs/accounts#balances-and-credit-lines

            '
          enum:
          - available
          - credit
          - emergency
          - pre_agreed
          - temporary
        amount:
          $ref: '#/components/schemas/BudAmount'
    Regularity:
      title: Regularity
      type: object
      description: 'Regularity enrichment associated with a Transaction, as generated by Bud''s artificial intelligence models.  Transactions that are similar and have a known frequency will all have the same regularity enrichment.

        '
      properties:
        frequency:
          type: string
          description: Detected frequency of the Transaction.
          enum:
          - unknown
          - daily
          - weekly
          - biweekly
          - monthly
          - quarterly
        predicted_date_times:
          type: array
          description: Expected date times for the Transaction to repeat.
          items:
            type: string
        group_label:
          type: string
          description: Unique label applied to multiple transactions in the same group.
    UnauthorisedOverdraftResponse:
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_beta_report_balance_unauthorised_overdraft_get
        data:
          type: object
          required:
          - insights
          properties:
            insights:
              type: array
              items:
                $ref: '#/components/schemas/UnauthorisedOverdraftInsight'
        metadata:
          type: object
          required:
          - from
          - to
          - options
          - currencies
          properties:
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            currencies:
              type: array
              description: A list of currencies returned in the results. If the currency query parameter is used, this will only contain the specified currency.
              items:
                $ref: '#/components/schemas/BudCurrency'
            options:
              type: array
              items:
                $ref: '#/components/schemas/InsightOption'
    IncomeHealthReportResponse:
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_beta_report_income_health_get
        data:
          required:
          - insights
          properties:
            insights:
              type: array
              items:
                description: "An analytical report on the overall health of a customers income sources. The report presents an \noverall stability, regularity, and longevity insight. In addition to this we present a drilled down insight\ninto the individual regular income sources for a customer. This enables a client to identify \nmajor sources of income and their impact on the overall health of a customers income.\n"
                type: object
                required:
                - type
                - currency
                - total
                - stability
                - monthly_average
                - regular_income
                - irregular_income
                - transactions_reference
                - _links
                properties:
                  type:
                    type: string
                    enum:
                    - income-health
                  currency:
                    $ref: '#/components/schemas/BudCurrency'
                  stability:
                    $ref: '#/components/schemas/IncomeStability'
                  total:
                    $ref: '#/components/schemas/BudAmount'
                  monthly_average:
                    $ref: '#/components/schemas/BudAmount'
                  regular_income:
                    $ref: '#/components/schemas/RegularTransactions'
                  irregular_income:
                    $ref: '#/components/schemas/IrregularTransactions'
                  transactions_reference:
                    $ref: '#/components/schemas/TransactionsReference'
                  _links:
                    $ref: '#/components/schemas/schemas-TransactionsLinks'
        metadata:
          type: object
          required:
          - from
          - to
          - currencies
          - options
          properties:
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            currencies:
              type: array
              description: A list of currencies returned in the results. If the currency query parameter is used, this will only contain the specified currency.
              items:
                $ref: '#/components/schemas/BudCurrency'
            options:
              type: array
              items:
                $ref: '#/components/schemas/InsightOption'
    InsightOption:
      title: Insight Option
      type: object
      description: An option used to configure the returned insights.
      required:
      - insight_type
      - option
      - value
      properties:
        insight_type:
          type: string
          description: The insight this option is applied to
        option:
          type: string
          description: The name of the option
        value:
          type: string
          description: The value of the option
    ReportInsightsTransactionResponse:
      type: object
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_beta_report_income_expenditure_transactions_get
          - insights_beta_report_income_health_transactions_get
          - insights_beta_report_merchants_transactions_get
          - insights_beta_report_unauthorised_overdraft_transactions_get
        data:
          type: array
          description: 'Transactions in the Bud Transactions V2 format that triggered the insight, for insights based on transaction data. If there are no specific relevant transactions, this will be an empty list.

            For clients making use of the deprecated client taxonomy support, the categories in this response will be set to the client categories.'
          items:
            $ref: '#/components/schemas/InsightsTransaction'
        metadata:
          type: object
          required:
          - from
          - to
          - transactions_reference
          - options
          properties:
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            transactions_reference:
              $ref: '#/components/schemas/TransactionsReference'
            options:
              type: array
              items:
                $ref: '#/components/schemas/InsightOption'
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
