openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Retrieve Actionable…'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Retrieve Actionable Insights
  x-displayName: Retrieve Actionable Insights
  description: Retrieve a customer's actionable insights generated from their financial data.
paths:
  /insights/v1/actionable/balances:
    get:
      tags:
      - Retrieve Actionable Insights
      summary: Retrieve Balances Actionable Insights
      description: 'Generate balances actionable insights.


        > 📘 Note:

        >

        > For more information about Actionable Insights, please refer to our guide.'
      operationId: insights_v1_actionable_balances_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/BalancesEnabledInsights'
      - $ref: '#/components/parameters/CloseToCreditLimitPercentageUtilisationThreshold'
      - $ref: '#/components/parameters/LowBalanceBalanceThreshold'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesInsightsResponse'
              example:
                operation_id: insights_v1_actionable_balances_get
                data:
                  insights:
                  - id: in_overdraft_8789764a-df2f-4589-b550-00bcd0e9cb2c
                    type: in_overdraft
                    account_id: 8789764a-df2f-4589-b550-00bcd0e9cb2c
                    balance:
                      value: '100.00'
                      currency: GBP
                      credit_debit_indicator: debit
                    threshold:
                      value: '0.00'
                      currency: GBP
                      credit_debit_indicator: debit
                    _links:
                      details: https://domain/insights/v1/actionable/balances/in_overdraft/in_overdraft_8789764a-df2f-4589-b550-00bcd0e9cb2c/details
                metadata:
                  results: 1
                  from: '2022-11-01T00:00:00Z'
                  to: '2023-05-16T17:30:00Z'
                  options: []
  /insights/v1/actionable/balances/{type}/{id}/details:
    get:
      tags:
      - Retrieve Actionable Insights
      summary: Retrieve Balances Actionable Insight Details
      description: 'Retrieve insight-specific details and transaction and account data responsible for the triggered balances insight of the given type and ID.


        > 📘 Note:

        >

        > For more information about Actionable Insights, please refer to our guide.'
      operationId: insights_v1_actionable_balances_details_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/BalancesInsightType'
      - $ref: '#/components/parameters/InsightID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesInsightsDataResponse'
              example:
                operation_id: insights_v1_actionable_balances_details_get
                data:
                  id: in_overdraft_ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                  type: in_overdraft
                  caused_by:
                    accounts:
                    - account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                      currency: GBP
                      holder:
                        name: David Smith
                        relationship: unknown
                      account_name: My Current Account
                      account_type: current_account
                      usage_type: personal
                      provider: BankOfBud
                      identifiers:
                        uk_sort_code: '126432'
                        uk_account_number: '31510604'
                      balances:
                      - date: '2023-05-12T00:00:00Z'
                        amount:
                          value: '100.00'
                          currency: GBP
                        type: interim_booked
                        credit_debit_indicator: debit
                      - date: '2023-05-12T00:00:00Z'
                        amount:
                          value: '100.00'
                          currency: GBP
                        type: expected
                        credit_debit_indicator: debit
                      credit_lines:
                      - date: '2023-05-12T00:00:00Z'
                        type: credit
                        amount:
                          value: '1000.00'
                          currency: GBP
                    transactions: []
                  details: {}
                metadata:
                  from: '2022-11-01T00:00:00Z'
                  to: '2023-05-16T17:30:00Z'
                  options: []
        '404':
          description: Insight not found. This can occur if the returned insight was invalidated by an account refresh or other change to customer data.
  /insights/v1/actionable/income:
    get:
      tags:
      - Retrieve Actionable Insights
      summary: Retrieve Income Actionable Insights
      description: 'Generate income actionable insights.


        > 📘 Note:

        >

        > For more information about Actionable Insights, please refer to our guide.'
      operationId: insights_v1_actionable_income_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/IncomeEnabledInsights'
      - $ref: '#/components/parameters/GamblingIncomeMinimumMonthlyThreshold'
      - $ref: '#/components/parameters/GamblingIncomeMinimumPercentageTotalThreshold'
      - $ref: '#/components/parameters/LateIncomeMinimumValueThreshold'
      - $ref: '#/components/parameters/LateIncomeMinimumDaysLateThreshold'
      - $ref: '#/components/parameters/PensionIncomeMinimumMonthlyThreshold'
      - $ref: '#/components/parameters/PensionIncomeMinimumPercentageTotalThreshold'
      - $ref: '#/components/parameters/RegularIncomeChangedMinimumAbsoluteChangeThreshold'
      - $ref: '#/components/parameters/RegularIncomeChangedMinimumPercentageChangeThreshold'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeInsightsResponse'
              example:
                operation_id: insights_v1_actionable_income_get
                data:
                  insights:
                  - id: late_income_8789764a-df2f-4589-b550-00bcd0e9cb2c
                    type: late_income
                    transactions:
                    - transaction_id: a_transaction_id
                      account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                      provider: a_bank_account_provider
                      description: SALARY
                      credit_debit_indicator: credit
                      status: booked
                      suggested_description: salary
                      amount:
                        value: '3000.00'
                        currency: GBP
                      date_time: '2023-04-10T10:00:00Z'
                      enrichments:
                        categories:
                          l1:
                            slug: income
                            confidence: '0.99'
                          l2:
                            slug: employment_income
                            confidence: '0.98'
                        regularity:
                          frequency: monthly
                          predicted_date_times:
                          - '2023-05-10T10:00:00Z'
                    _links:
                      details: https://domain/insights/v1/actionable/income/late_income/late_income_8789764a-df2f-4589-b550-00bcd0e9cb2c/details
                  totals:
                    income:
                    - value: '12000.00'
                      currency: GBP
                    expenditure:
                    - value: '14000.00'
                      currency: GBP
                metadata:
                  results: 1
                  from: '2022-11-01T00:00:00Z'
                  to: '2023-05-16T17:30:00Z'
                  options:
                  - insight_type: late_income
                    option: minimum_days_late_threshold
                    value: '3'
                  - insight_type: late_income
                    option: minimum_value_threshold
                    value: '100.00'
  /insights/v1/actionable/income/{type}/{id}/details:
    get:
      tags:
      - Retrieve Actionable Insights
      summary: Retrieve Income Actionable Insight Details
      description: 'Retrieve insight-specific details and transaction and account data responsible for the triggered income insight of the given type and ID.


        > 📘 Note:

        >

        > For more information about Actionable Insights, please refer to our guide.'
      operationId: insights_v1_actionable_income_details_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/IncomeInsightType'
      - $ref: '#/components/parameters/InsightID'
      - $ref: '#/components/parameters/GamblingIncomeMinimumMonthlyThreshold'
      - $ref: '#/components/parameters/GamblingIncomeMinimumPercentageTotalThreshold'
      - $ref: '#/components/parameters/LateIncomeMinimumValueThreshold'
      - $ref: '#/components/parameters/LateIncomeMinimumDaysLateThreshold'
      - $ref: '#/components/parameters/PensionIncomeMinimumMonthlyThreshold'
      - $ref: '#/components/parameters/PensionIncomeMinimumPercentageTotalThreshold'
      - $ref: '#/components/parameters/RegularIncomeChangedMinimumAbsoluteChangeThreshold'
      - $ref: '#/components/parameters/RegularIncomeChangedMinimumPercentageChangeThreshold'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeInsightsDataResponse'
              example:
                operation_id: insights_v1_actionable_income_details_get
                data:
                  id: late_income_8789764a-df2f-4589-b550-00bcd0e9cb2c
                  type: late_income
                  caused_by:
                    accounts:
                    - account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                      currency: GBP
                      holder:
                        name: David Smith
                        relationship: unknown
                      account_name: My Current Account
                      account_type: current_account
                      usage_type: personal
                      provider: BankOfBud
                      identifiers:
                        uk_sort_code: '126432'
                        uk_account_number: '31510604'
                      balances:
                      - date: '2023-05-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: interim_booked
                        credit_debit_indicator: credit
                      - date: '2023-05-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: expected
                        credit_debit_indicator: credit
                      credit_lines:
                      - date: '2023-05-12T00:00:00Z'
                        type: credit
                        amount:
                          value: '1000.00'
                          currency: GBP
                    transactions:
                    - transaction_id: a_transaction_id
                      account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                      provider: a_bank_account_provider
                      description: SALARY
                      credit_debit_indicator: credit
                      status: booked
                      suggested_description: salary
                      amount:
                        value: '2400.00'
                        currency: GBP
                      date_time: '2023-05-05T10:00:00Z'
                      enrichments:
                        categories:
                          l1:
                            slug: income
                            confidence: '0.99'
                          l2:
                            slug: employment_income
                            confidence: '0.98'
                        regularity:
                          frequency: monthly
                          confidence:
                            predicted_date_times:
                            - '2023-05-10T10:00:00Z'
                  details:
                    days_late: 6
                    expected_date_time: '2023-05-10T10:00:00Z'
                metadata:
                  from: '2022-11-01T00:00:00Z'
                  to: '2023-05-16T17:30:00Z'
                  options:
                  - insight_type: late_income
                    option: minimum_days_late_threshold
                    value: '3'
                  - insight_type: late_income
                    option: minimum_value_threshold
                    value: '100.00'
        '404':
          description: Insight not found. This can occur if the returned insight was invalidated by an account refresh or other change to customer data.
  /insights/v1/actionable/spending:
    get:
      tags:
      - Retrieve Actionable Insights
      summary: Retrieve Spending Actionable Insights
      description: 'Generate spending actionable insights.


        > 📘 Note:

        >

        > For more information about Actionable Insights, please refer to our guide.'
      operationId: insights_v1_actionable_spending_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/SpendingEnabledInsights'
      - $ref: '#/components/parameters/LatePaymentMinimumValueThreshold'
      - $ref: '#/components/parameters/LatePaymentMinimumDaysLateThreshold'
      - $ref: '#/components/parameters/RegularPaymentChangedMinimumAbsoluteChangeThreshold'
      - $ref: '#/components/parameters/RegularPaymentChangedMinimumPercentageChangeThreshold'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingInsightsResponse'
              example:
                operation_id: insights_v1_actionable_spending_get
                data:
                  insights:
                  - id: late_payment_8789764a-df2f-4589-b550-00bcd0e9cb2c
                    type: late_payment
                    transactions:
                    - transaction_id: a_transaction_id
                      account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                      provider: a_bank_account_provider
                      description: MORTGAGE
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: mortgage
                      amount:
                        value: '1400.00'
                        currency: GBP
                      date_time: '2023-04-10T10:00:00Z'
                      enrichments:
                        categories:
                          l1:
                            slug: mortgage_and_rent
                            confidence: '0.99'
                          l2:
                            slug: mortgage
                            confidence: '0.98'
                        regularity:
                          frequency: monthly
                          predicted_date_times:
                          - '2023-05-10T10:00:00Z'
                    _links:
                      details: https://domain/insights/v1/actionable/spending/late_income/late_income_8789764a-df2f-4589-b550-00bcd0e9cb2c/details
                  totals:
                    income:
                    - value: '12000.00'
                      currency: GBP
                    expenditure:
                    - value: '14000.00'
                      currency: GBP
                metadata:
                  results: 1
                  from: '2022-11-01T00:00:00Z'
                  to: '2023-05-16T17:30:00Z'
                  options:
                  - insight_type: late_payment
                    option: minimum_days_late_threshold
                    value: '3'
                  - insight_type: late_payment
                    option: minimum_value_threshold
                    value: '100.00'
  /insights/v1/actionable/spending/{type}/{id}/details:
    get:
      tags:
      - Retrieve Actionable Insights
      summary: Retrieve Spending Actionable Insight Details
      description: 'Retrieve insight-specific details and transaction and account data responsible for the triggered income insight of the given type and ID.


        > 📘 Note:

        >

        > For more information about Actionable Insights, please refer to our guide.'
      operationId: insights_v1_actionable_spending_details_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/SpendingInsightType'
      - $ref: '#/components/parameters/InsightID'
      - $ref: '#/components/parameters/LatePaymentMinimumValueThreshold'
      - $ref: '#/components/parameters/LatePaymentMinimumDaysLateThreshold'
      - $ref: '#/components/parameters/RegularPaymentChangedMinimumAbsoluteChangeThreshold'
      - $ref: '#/components/parameters/RegularPaymentChangedMinimumPercentageChangeThreshold'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingInsightsDataResponse'
              example:
                operation_id: insights_v1_actionable_spending_details_get
                data:
                  id: late_payment_8789764a-df2f-4589-b550-00bcd0e9cb2c
                  type: late_payment
                  caused_by:
                    accounts:
                    - account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                      currency: GBP
                      holder:
                        name: David Smith
                        relationship: unknown
                      account_name: My Current Account
                      account_type: current_account
                      usage_type: personal
                      provider: BankOfBud
                      identifiers:
                        uk_sort_code: '126432'
                        uk_account_number: '31510604'
                      balances:
                      - date: '2023-05-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: interim_booked
                        credit_debit_indicator: credit
                      - date: '2023-05-12T00:00:00Z'
                        amount:
                          value: '3552.61'
                          currency: GBP
                        type: expected
                        credit_debit_indicator: credit
                      credit_lines:
                      - date: '2023-05-12T00:00:00Z'
                        type: credit
                        amount:
                          value: '1000.00'
                          currency: GBP
                    transactions:
                    - transaction_id: a_transaction_id
                      account_id: ee7a2d6a-2baa-461a-aca2-844e88a3f3e7
                      provider: a_bank_account_provider
                      description: MORTGAGE
                      credit_debit_indicator: debit
                      status: booked
                      suggested_description: mortgage
                      amount:
                        value: '1400.00'
                        currency: GBP
                      date_time: '2023-05-05T10:00:00Z'
                      enrichments:
                        categories:
                          l1:
                            slug: mortgage_and_rent
                            confidence: '0.99'
                          l2:
                            slug: mortgage
                            confidence: '0.98'
                        regularity:
                          frequency: monthly
                          confidence: '0.99'
                          predicted_date_times:
                          - '2023-05-10T10:00:00Z'
                  details:
                    days_late: 6
                    expected_date_time: '2023-05-10T10:00:00Z'
                metadata:
                  from: '2022-11-01T00:00:00Z'
                  to: '2023-05-16T17:30:00Z'
                  options:
                  - insight_type: late_payment
                    option: minimum_days_late_threshold
                    value: '3'
                  - insight_type: late_payment
                    option: minimum_value_threshold
                    value: '10.00'
        '404':
          description: Insight not found. This can occur if the returned insight was invalidated by an account refresh or other change to customer data.
components:
  parameters:
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    LateIncomeMinimumValueThreshold:
      in: query
      name: late_income.minimum_value_threshold
      required: false
      schema:
        type: number
        description: A minimum value of a late transaction in that transaction's currency for the insight to trigger. Both `late_income.minimum_value_threshold` and `late_income.minimum_days_late_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    CustomerSecret:
      in: header
      name: X-Customer-Secret
      schema:
        type: string
      required: false
      description: The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud.
    RegularIncomeChangedMinimumAbsoluteChangeThreshold:
      in: query
      name: regular_income_changed.minimum_absolute_change_threshold
      required: false
      schema:
        type: number
        description: A minimum absolute change between the previous and latest amounts of a regular payment for the insight to trigger. Both `regular_income_changed.minimum_absolute_change_threshold` and `regular_income_changed.minimum_percentage_change_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    GamblingIncomeMinimumMonthlyThreshold:
      in: query
      name: gambling_income.minimum_monthly_threshold
      required: false
      schema:
        type: number
        description: A minimum absolute total of gambling income for the insight to trigger. Both `gambling_income.minimum_monthly_threshold` and `gambling_income.minimum_percentage_total_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    PensionIncomeMinimumPercentageTotalThreshold:
      in: query
      name: pension_income.minimum_percentage_total_threshold
      required: false
      schema:
        type: number
        description: A minimum percentage of all income that must be pension income for the insight to trigger.. Both `pension_income.minimum_monthly_threshold` and `pension_income.minimum_percentage_total_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    RegularIncomeChangedMinimumPercentageChangeThreshold:
      in: query
      name: regular_income_changed.minimum_percentage_change_threshold
      required: false
      schema:
        type: number
        description: A minimum percentage change between the previous and latest amounts of a regular payment for the insight to trigger. Both `regular_income_changed.minimum_absolute_change_threshold` and `regular_income_changed.minimum_percentage_change_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    To:
      in: query
      name: to
      required: false
      description: An end time to check financial data for insights up to. Configures the latest financial data which may be used to generate insights. If omitted, defaults to the date of the latest ingested financial data. Note that some insights will only be checked for complete months entirely between the `from` and `to` dates. Insights relating to potential future events, such as cannot_cover_bills, may forecast them up to a month after this point.
      schema:
        $ref: '#/components/schemas/schemas-DateTimeISO8601'
    LateIncomeMinimumDaysLateThreshold:
      in: query
      name: late_income.minimum_days_late_threshold
      required: false
      schema:
        type: number
        description: A minimum number of days late for a transaction to be for the insight to trigger. Both `late_income.minimum_value_threshold` and `late_income.minimum_days_late_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    PensionIncomeMinimumMonthlyThreshold:
      in: query
      name: pension_income.minimum_monthly_threshold
      required: false
      schema:
        type: number
        description: A minimum absolute total of pension income for the insight to trigger. Both `pension_income.minimum_monthly_threshold` and `pension_income.minimum_percentage_total_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    LatePaymentMinimumDaysLateThreshold:
      in: query
      name: late_payment.minimum_days_late_threshold
      required: false
      schema:
        type: number
        description: A minimum number of days late for a transaction to be for the insight to trigger. Both `late_payment.minimum_value_threshold` and `late_payment.minimum_days_late_threshold` must be met to trigger. If not specified, a configured value will be used.
    IncomeEnabledInsights:
      in: query
      name: enabled_insights
      required: false
      schema:
        type: string
        description: A comma-separated list of insight types to check for. If not specified, a default list will be used, which may be added to over time.
        example: late_income
        enum:
        - late_income
        - regular_income_changed
        - gambling_income
        - pension_income
    IncomeInsightType:
      in: path
      name: type
      required: true
      schema:
        type: string
        description: A type of income insight available on the platform.
        example: late_income
        enum:
        - late_income
        - regular_income_changed
        - gambling_income
        - pension_income
    CloseToCreditLimitPercentageUtilisationThreshold:
      in: query
      name: close_to_credit_limit.percentage_utilisation_threshold
      required: false
      schema:
        type: number
        description: A minimum percentage utilisation of the credit limit for this insight to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    From:
      in: query
      name: from
      required: false
      description: A start time to check financial data for insights from. Configures the earliest financial data which may be used to generate insights. If omitted, defaults to the start of the sixth complete month prior to the latest ingested financial data. Note that some insights will only be checked for complete months entirely between the `from` and `to` dates.
      schema:
        $ref: '#/components/schemas/schemas-DateTimeISO8601'
    GamblingIncomeMinimumPercentageTotalThreshold:
      in: query
      name: gambling_income.minimum_percentage_total_threshold
      required: false
      schema:
        type: number
        description: A minimum percentage of all income that must be gambling income for the insight to trigger. Both `gambling_income.minimum_monthly_threshold` and `gambling_income.minimum_percentage_total_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    RegularPaymentChangedMinimumPercentageChangeThreshold:
      in: query
      name: regular_payment_changed.minimum_percentage_change_threshold
      required: false
      schema:
        type: number
        description: A minimum percentage change between the previous and latest amounts of a regular payment for the insight to trigger. Both `regular_payment_changed.minimum_absolute_change_threshold` and `regular_payment_changed.minimum_percentage_change_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    BalancesInsightType:
      in: path
      name: type
      required: true
      schema:
        type: string
        description: A type of balances insight available on the platform.
        example: in_overdraft
        enum:
        - cannot_cover_bills
        - in_overdraft
        - close_to_credit_limit
        - low_balance
    LatePaymentMinimumValueThreshold:
      in: query
      name: late_payment.minimum_value_threshold
      required: false
      schema:
        type: number
        description: A minimum value of a late transaction in that transaction's currency for the insight to trigger. Both `late_payment.minimum_value_threshold` and `late_payment.minimum_days_late_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    SpendingInsightType:
      in: path
      name: type
      required: true
      schema:
        type: string
        description: A type of spending insight available on the platform.
        example: late_payment
        enum:
        - late_payment
        - suspected_duplicate_charge
        - regular_payment_changed
        - new_insurance_expense
    BalancesEnabledInsights:
      in: query
      name: enabled_insights
      required: false
      schema:
        type: string
        description: A comma-separated list of insight types to check for. If not specified, a default list will be used, which may be added to over time.
        example: in_overdraft
        enum:
        - cannot_cover_bills
        - in_overdraft
        - close_to_credit_limit
        - low_balance
    LowBalanceBalanceThreshold:
      in: query
      name: low_balance.balance_threshold
      required: false
      schema:
        type: number
        description: A balance threshold such that balances lower than this will trigger the low balance insight. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    RegularPaymentChangedMinimumAbsoluteChangeThreshold:
      in: query
      name: regular_payment_changed.minimum_absolute_change_threshold
      required: false
      schema:
        type: number
        description: A minimum absolute change between the previous and latest amounts of a regular payment for the insight to trigger. Both `regular_payment_changed.minimum_absolute_change_threshold` and `regular_payment_changed.minimum_percentage_change_threshold` must be met to trigger. If not specified, a configured value will be used. Please note that including this request on a customer level will increase latency of this endpoint. Instead, we recommend to update the thresholds for your organisation by raising a support request.
    SpendingEnabledInsights:
      in: query
      name: enabled_insights
      required: false
      schema:
        type: string
        description: A comma-separated list of insight types to check for. If not specified, a default list will be used, which may be added to over time.
        example: late_payment
        enum:
        - late_payment
        - suspected_duplicate_charge
        - regular_payment_changed
        - new_insurance_expense
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
    InsightID:
      in: path
      name: id
      required: true
      schema:
        type: string
        description: The insight ID to provide data for,
        example: late_income_8789764a-df2f-4589-b550-00bcd0e9cb2c
  schemas:
    IncomeInsightsResponse:
      title: Income Insights Response
      description: Income insights response, providing identified income insights for this customer.
      type: object
      required:
      - data
      - operation_id
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_v1_actionable_income_get
        data:
          type: object
          required:
          - insights
          - totals
          properties:
            insights:
              type: array
              items:
                $ref: '#/components/schemas/IncomeInsightResponse'
            totals:
              $ref: '#/components/schemas/TransactionTotals'
        metadata:
          type: object
          required:
          - results
          - from
          - to
          - options
          properties:
            results:
              type: integer
              description: Number of insights returned in the response.
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            options:
              type: array
              items:
                $ref: '#/components/schemas/IncomeInsightOption'
    AccountV2:
      title: Account
      type: object
      required:
      - account_id
      - currency
      properties:
        account_id:
          type: string
          description: 'A unique id associated with the account.


            Example: `sdb4eRMaad8XVEvdIoISOQ`

            '
        currency:
          $ref: '#/components/schemas/BudCurrency'
        holder:
          title: Account_Holder
          description: 'The account holder. This field is only present if parties data **is not** available.


            Parties data will only be present if you are a Check customer, and the provider is support by Check.

            Providers that support Check can be found in the Connect coverage table in Guides, under Connect.

            '
          type: object
          properties:
            name:
              type: string
              description: 'The name of the given account holder.


                Example: `John Smith`

                '
            relationship:
              type: string
              description: "The relationship that the individual holder has with the account. If parties data is not present, this will always be `unknown`.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `sole`\n  - `joint`\n  - `delegate`\n  - `unknown`\n"
        holders:
          type: array
          description: 'The account holders. This field is only present if parties data **is** available.


            Parties data will only be present if you are a Check customer, and the provider is supported by Check.

            Providers that support Check can be found in the Connect coverage table in Guides, under Connect.

            '
          items:
            title: Account_Holder
            type: object
            properties:
              name:
                type: string
                description: 'The name of the given account holder.


                  Example: `John Smith`

                  '
              relationship:
                type: string
                description: "The relationship that the individual holder has with the account. If parties data is not present, this will always be `unknown`.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `sole`\n  - `joint`\n  - `delegate`\n  - `unknown`\n"
        account_name:
          type: string
          description: 'The name associated with the account, this is often a friendly name assigned to the account to make it easier to refer to.


            Example: `Household Savings Account`

            '
        account_type:
          type: string
          description: "The type of account.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `charge_card`\n  - `credit_card`\n  - `current_account`\n  - `e_money`\n  - `investment`\n  - `loan`\n  - `mortgage`\n  - `other`\n  - `pre_paid_card`\n  - `savings`\n"
        usage_type:
          type: string
          description: "The intended usage of the account.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `personal`\n  - `business`\n"
        status:
          type: string
          description: "The status of the account. If this field is not present, then the account is considered open.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `closed`\n"
        closed_at:
          type: string
          description: 'The datetime the account was closed in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).


            If the account is not closed, this field will not be present.

            '
        provider:
          type: string
          description: 'The account''s provider, this is usually the bank or building society the account is held with.


            Example: `Nationwide`

            '
        identifiers:
          type: object
          description: These are wellknown fields which uniquely identify the account.
          properties:
            uk_sort_code:
              type: string
              description: 'A six digit number identifying the UK bank or building society the account is held with. This is usually supplied alongside a `uk_account_number` to uniquely identify the account.


                Example: `601613`

                '
            uk_account_number:
              type: string
              description: 'An eight digit number uniquely identifying the account for the UK bank or building society the account is held with. This is usually supplied alongside a `uk_sort_code` to uniquely identify the account from accounts with other UK banks or building societies.


                Example: `31926819`

                '
            nz_account_number:
              type: string
              description: 'A sixteen digit number uniquely identifying the account and New Zealand bank the account is held with.


                Example: `1212341234567123`

                '
            iban:
              type: string
              description: 'A thirty-four character alphanumerical code (ISO 13616), internationally and uniquely identifying the account.


                Example: `GB29NWBK60161331926819`

                '
            pan:
              type: string
              description: 'A number between 14 and 19 digits that uniquely identifies the account, this is usually the number printed on the card assigned to the account.


                Example: `4444333322221111`

                '
        balances:
          type: array
          title: Balances
          description: The latest balances for the account.
          items:
            type: object
            title: Balance
            required:
            - date
            - type
            - amount
            - credit_debit_indicator
            properties:
              date:
                type: string
                description: "The date when the balance was last updated in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-01-17T17:29:51Z`\n  - `2023-01-17T17:29:51-08:00`\n"
              type:
                type: string
                description: "The type for the given balance\n\nCurrently supported values include (but are not necessarily limited to):\n  - `closing_available`\n  - `closing_booked`\n  - `closing_cleared`\n  - `expected`\n  - `forward_available`\n  - `information`\n  - `interim_available`\n  - `interim_booked`\n  - `interim_cleared`\n  - `opening_available`\n  - `opening_booked`\n  - `opening_cleared`\n  - `previously_closed_booked`\n"
              amount:
                $ref: '#/components/schemas/BudAmount'
              credit_debit_indicator:
                type: string
                description: The credit or debit state of the given balance
                enum:
                - credit
                - debit
        transaction_windows:
          type: array
          title: Transaction Windows
          description: 'The transaction windows indicate for which periods we have full coverage of transactions ingested for the account.

            '
          items:
            type: object
            title: Transaction Window
            required:
            - from
            - to
            properties:
              from:
                type: string
                description: A [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339) datetime recording the start of the window
              to:
                type: string
                description: A [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339) datetime recording the end of the window
        credit_lines:
          type: array
          title: Credit Lines
          description: The latest lines of credit available to the account. This is typically a representation of the overdraft or credit limits.
          items:
            type: object
            title: Credit_Line
            required:
            - date
            - type
            - amount
            properties:
              date:
                type: string
                description: "The date when the credit line was last updated in the format [RFC 3339](https://www.rfc-editor.org/rfc/rfc3339).\n\nExamples:\n  - `2023-01-17T17:29:51Z`\n  - `2023-01-17T17:29:51-08:00`\n"
              type:
                type: string
                description: "The type of the given credit line.\n\nCurrently supported values include (but are not necessarily limited to):\n  - `available`\n  - `credit`\n  - `emergency`\n  - `pre_agreed`\n  - `temporary`\n"
              amount:
                $ref: '#/components/schemas/BudAmount'
    CloseToCreditLimitInsightDataResponse:
      title: Close To Credit Limit Insight Details Response
      description: Details response for a 'close to credit limit' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - close_to_credit_limit
          details:
            $ref: '#/components/schemas/CloseToCreditLimitInsightDetails'
    BalancesInsightsResponse:
      title: Balances Insights Response
      description: Balances insights response, providing identified balances insights for this customer.
      type: object
      required:
      - data
      - operation_id
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_v1_actionable_balances_get
        data:
          type: object
          required:
          - insights
          properties:
            insights:
              type: array
              items:
                $ref: '#/components/schemas/BalancesInsightResponse'
        metadata:
          type: object
          required:
          - results
          - from
          - to
          - options
          properties:
            results:
              type: integer
              description: Number of insights returned in the response.
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            options:
              type: array
              items:
                $ref: '#/components/schemas/InsightOption'
    Categories:
      title: Categories
      type: object
      description: 'Categories enrichment associated with a Transaction, as generated by Bud''s artificial intelligence models.  Currently two levels of category are supported, with `l1` being a coarse-grained category level and `l2` being more refined.

        '
      properties:
        l1:
          $ref: '#/components/schemas/Category'
          description: Level 1 Category
        l2:
          $ref: '#/components/schemas/Category'
          description: Level 2 Category
    GamblingIncomeInsightDetails:
      title: Gambling Income Insight Details
      description: Details for a 'gambling income' insight
      type: object
      properties:
        total:
          $ref: '#/components/schemas/BudAmount'
    RegularIncomeChangedInsightDetails:
      title: Regular Income Changed Insight Details
      description: Details for a 'regular income changed' insight
      type: object
      properties:
        new_amount:
          $ref: '#/components/schemas/BudAmount'
        absolute_change:
          $ref: '#/components/schemas/BudMonetaryValue'
        percentage_change:
          $ref: '#/components/schemas/BudMonetaryValue'
    BalancesInsightsDataResponse:
      title: Balances Insight Details Response
      description: Details response for a balances insight
      type: object
      required:
      - data
      - operation_id
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_v1_actionable_balances_details_get
        data:
          oneOf:
          - $ref: '#/components/schemas/CannotCoverBillsInsightDataResponse'
          - $ref: '#/components/schemas/CloseToCreditLimitInsightDataResponse'
          - $ref: '#/components/schemas/InOverdraftInsightDataResponse'
          - $ref: '#/components/schemas/LowBalanceInsightDataResponse'
        metadata:
          type: object
          required:
          - from
          - to
          - options
          properties:
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            options:
              type: array
              items:
                $ref: '#/components/schemas/InsightOption'
    IncomeInsightsDataResponse:
      title: Income Insight Details Response
      description: Details response for an income insight
      type: object
      required:
      - data
      - operation_id
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_v1_actionable_income_details_get
        data:
          oneOf:
          - $ref: '#/components/schemas/GamblingIncomeInsightDataResponse'
          - $ref: '#/components/schemas/LateIncomeInsightDataResponse'
          - $ref: '#/components/schemas/PensionIncomeInsightDataResponse'
          - $ref: '#/components/schemas/RegularIncomeChangedInsightDataResponse'
        metadata:
          type: object
          required:
          - from
          - to
          - options
          properties:
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            options:
              type: array
              items:
                $ref: '#/components/schemas/InsightOption'
    CannotCoverBillsInsightDetails:
      title: Cannot Cover Bills Insight Details
      description: Details for a 'cannot cover bills' insight
      type: object
      properties:
        expected_debit:
          $ref: '#/components/schemas/BudAmount'
        expected_credit:
          $ref: '#/components/schemas/BudAmount'
        date_time:
          $ref: '#/components/schemas/schemas-DateTimeISO8601'
        current_balance:
          $ref: '#/components/schemas/BudAmount'
    IncomeInsightResponse:
      title: Income Insight Response
      description: Income insight identified from the customer's financial data
      allOf:
      - $ref: '#/components/schemas/CommonInsightResponse'
      - type: object
        required:
        - transactions
        properties:
          transactions:
            type: array
            description: The transaction or transactions that most immediately triggered the insight, in our Transactions V2 format.
            items:
              $ref: '#/components/schemas/InsightsTransaction'
    InsightCausedBy:
      title: Caused By
      description: The financial data that resulted in this insight being triggered, to which it can be attributed.
      type: object
      required:
      - transactions
      - accounts
      properties:
        accounts:
          type: array
          description: Accounts in the Bud Accounts V2 format that triggered the insight, for insights based on account and balance data. If there are no specific relevant accounts, this will be an empty list.
          items:
            $ref: '#/components/schemas/AccountV2'
        transactions:
          type: array
          description: 'Transactions in the Bud Transactions V2 format that triggered the insight, for insights based on transaction data. If there are no specific relevant transactions, this will be an empty list.

            For clients making use of the deprecated client taxonomy support, the categories in this response will be set to the client categories.'
          items:
            $ref: '#/components/schemas/InsightsTransaction'
    BalancesInsightResponse:
      title: Balances Insight Response
      description: Balances insight identified from the customer's financial data
      allOf:
      - $ref: '#/components/schemas/CommonInsightResponse'
      - type: object
        required:
        - account_id
        - balance
        - threshold
        properties:
          account_id:
            type: string
            description: The account ID whose current, projected, or past balance information this insight relates to.
          balance:
            $ref: '#/components/schemas/AmountWithCDI'
          threshold:
            $ref: '#/components/schemas/AmountWithCDI'
    CloseToCreditLimitInsightDetails:
      title: Close To Credit Limit Insight Details
      description: Details for a 'close to credit limit' insight
      type: object
      properties:
        percentage_utilisation:
          type: string
          description: Percentage (to 2 decimal places) of the credit limit that is currently being used.
    InsightsTransaction:
      title: Transaction
      type: object
      description: A financial transaction
      required:
      - transaction_id
      - account_id
      - description
      - amount
      - credit_debit_indicator
      - status
      - date_time
      - suggested_description
      properties:
        transaction_id:
          type: string
          description: Unique identifier for the transaction. May be mutable depending on original ingestion source.
        account_id:
          type: string
          description: Identifier for the account associated with the transaction.
        provider:
          type: string
          description: Name of the transaction source provider. Optional as it may not have been supplied when using first party data.
        description:
          type: string
          description: Description of the transaction.
        credit_debit_indicator:
          type: string
          description: Credit/Debit Indicator
          enum:
          - credit
          - debit
        status:
          type: string
          description: 'Status of the transaction. Defaults to booked.


            Note: declined transactions are only available for transactions ingested by First Party Ingestion endpoints.

            '
          enum:
          - booked
          - pending
          - declined
        amount:
          $ref: '#/components/schemas/BudAmount'
        date_time:
          type: string
          description: Date that the transaction occured compliant with RFC3339.
        posted_date_time:
          type: string
          deprecated: true
          description: Date the assets involved in the transaction transferred compliant with RFC3339. For credits this is the date that the asset becomes available, for debits this is the date that the asset ceased to be available
        value_date_time:
          type:
          - string
          - 'null'
          description: Date and time at which assets become available to the account owner in case of a credit entry, or cease to be available to the account owner in case of a debit transaction entry. ISODateTime. Null if this field is not applicable.
        suggested_description:
          type: string
          description: The description Bud suggests client apps show for a given transaction.
        suggested_logo:
          type: string
          description: The logo Bud suggests client apps show for a given transaction.
        enrichments:
          $ref: '#/components/schemas/Enrichments'
        merchant_category_code:
          type: string
          description: Merchant category code conforming to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
        tags:
          type: array
          description: 'A list of potential tags associated with the transaction after contextual enrichment, which can be used for filtering.


            Region and client specific.


            | Value                   | Description                                               |

            |:------------------------|:----------------------------------------------------------|

            | `benefit`               | A government/non-profit benefit transaction               |

            | `debt-collection`       | A transaction associated with a known debt-collector      |

            | `loan`                  | A transaction associated with a loan                      |

            | `hcst`                  | A transaction associated with a high cost short term loan |

            | `income`                | A transaction associated with income                      |

            | `pending`               | A transaction which has not been booked                   |

            | `regular-transaction`   | A transaction predicted to occur with a regular frequency |

            | `subscription`          | A transaction associated with a subscription service      |

            | `online`                | A transaction associated with an online merchant          |

            '
          items:
            type: string
    InsightLinks:
      title: Links
      description: URLs for resources related to this insight
      type: object
      required:
      - details
      properties:
        details:
          type: string
          description: An endpoint, including options, to make a GET request to in order to retrieve insight-specific details for this insight, and the transaction and account data that caused it to trigger.
    LowBalanceInsightDataResponse:
      title: Low Balance Insight Details Response
      description: Details response for a low balance insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - low_balance
          details:
            type: object
            additionalProperties: false
            description: Always empty for this insight type.
    SuspectedDuplicateChargeInsightDataResponse:
      title: Suspected Duplicate Charge Insight Details Response
      description: Details response for a 'suspected duplicate charge' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - suspected_duplicate_charge
          details:
            type: object
            additionalProperties: false
            description: Always empty for this insight type.
    RegularIncomeChangedInsightDataResponse:
      title: Regular Income Changed Insight Details Response
      description: Details response for a 'regular income changed' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        properties:
          type:
            type: string
            enum:
            - regular_income_changed
          details:
            $ref: '#/components/schemas/RegularIncomeChangedInsightDetails'
    GamblingIncomeInsightDataResponse:
      title: Gambling Income Insight Details Response
      description: Details response for a 'gambling income' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - gambling_income
          details:
            $ref: '#/components/schemas/GamblingIncomeInsightDetails'
    RegularPaymentChangedInsightDataResponse:
      title: Regular Payment Changed Insight Details Response
      description: Details response for a 'regular payment changed' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - regular_payment_changed
          details:
            $ref: '#/components/schemas/RegularPaymentChangedInsightDetails'
    InsightOption:
      title: Insight Option
      type: object
      description: An option used to configure the returned insights.
      required:
      - insight_type
      - option
      - value
      properties:
        insight_type:
          type: string
          description: The insight this option is applied to
        option:
          type: string
          description: The name of the option
        value:
          type: string
          description: The value of the option
    LateIncomeInsightDataResponse:
      title: Late Income Insight Details Response
      description: Details response for a 'late income' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - late_income
          details:
            $ref: '#/components/schemas/LateIncomeInsightDetails'
    NewInsuranceExpenseInsightDataResponse:
      title: New Insurance Expense Insight Details Response
      description: Details response for a 'new insurance expense' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - new_insurance_expense
          details:
            type: object
            additionalProperties: false
            description: Always empty for this insight type.
    BudAmount:
      title: Standard Bud Amount
      type: object
      description: The monetary amount.
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        currency:
          $ref: '#/components/schemas/BudCurrency'
    Location:
      title: Location
      type: object
      description: Location enrichment associated with a Transaction
      properties:
        address:
          type: object
          description: The address where the transaction occurred. The level of detail depends on the resolution with which we are able to detect the transaction location.
          properties:
            address_lines:
              type: array
              description: A list of all the address lines detected for the transaction. This could be anything from a full street address down to just the region.
              items:
                type: string
            street_address:
              type: string
              description: The street address where the transaction occurred. Typically this will consist of the street number and street name with an optional suite.
            city:
              type: string
              description: The city or town where the transaction occurred.
            region:
              type: string
              description: The county or region where the transaction occurred.
            postal_code:
              type: string
              description: The postcode where the transaction occurred.
            country:
              type: string
              description: 'The ISO 3166-1 alpha-2 country code representing the country where the transaction occurred.


                If a location could not be determined, but a `country_code` was supplied in the ingestion request; that value will be reflected here.

                '
        geolocation:
          type: object
          description: The geolocation where the transaction occurred. This is only available if we are able to narrow down the transaction location to an exact match.
          properties:
            latitude:
              type: number
              format: double
              description: The latitudinal position where the transaction occurred.
            longitude:
              type: number
              format: double
              description: The longitudinal position where the transaction occurred.
        tokens:
          type: array
          description: A list of substrings from the description identified as being relevant to the transaction location.
          items:
            type: string
    SpendingInsightsResponse:
      title: Spending Insights Response
      description: Spending insights response, providing identified balances insights for this customer.
      type: object
      required:
      - data
      - operation_id
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_v1_actionable_spending_get
        data:
          type: object
          required:
          - insights
          - totals
          properties:
            insights:
              type: array
              items:
                $ref: '#/components/schemas/SpendingInsightResponse'
            totals:
              $ref: '#/components/schemas/TransactionTotals'
        metadata:
          type: object
          required:
          - results
          - from
          - to
          - options
          properties:
            results:
              type: integer
              description: Number of insights returned in the response.
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            options:
              type: array
              items:
                $ref: '#/components/schemas/InsightOption'
    AmountWithCDI:
      title: Credit Debit Indicator
      type: object
      description: An amount of money, in a specific currency with a credit/debit indicator.
      required:
      - currency
      - value
      - credit_debit_indicator
      properties:
        currency:
          $ref: '#/components/schemas/BudCurrency'
        value:
          $ref: '#/components/schemas/BudMonetaryValue'
        credit_debit_indicator:
          $ref: '#/components/schemas/CreditDebitIndicator'
    CreditDebitIndicator:
      type: string
      enum:
      - credit
      - debit
    PensionIncomeInsightDataResponse:
      title: Pension Income Insight Details Response
      description: Details response for a 'pension income' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - pension_income
          details:
            $ref: '#/components/schemas/PensionIncomeInsightDetails'
    SpendingInsightsDataResponse:
      title: Spending Insight Details Response
      description: Details response for a spending insight
      type: object
      required:
      - data
      - operation_id
      - metadata
      properties:
        operation_id:
          type: string
          enum:
          - insights_v1_actionable_spending_details_get
        data:
          oneOf:
          - $ref: '#/components/schemas/LatePaymentInsightDataResponse'
          - $ref: '#/components/schemas/NewInsuranceExpenseInsightDataResponse'
          - $ref: '#/components/schemas/RegularPaymentChangedInsightDataResponse'
          - $ref: '#/components/schemas/SuspectedDuplicateChargeInsightDataResponse'
        metadata:
          type: object
          required:
          - from
          - to
          - options
          properties:
            from:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            to:
              $ref: '#/components/schemas/schemas-DateTimeISO8601'
            options:
              type: array
              items:
                $ref: '#/components/schemas/InsightOption'
    IncomeInsightOption:
      title: Insight Option
      type: object
      description: An option used to configure the returned insights.
      required:
      - insight_type
      - option
      - value
      properties:
        insight_type:
          type: string
          description: The insight this option is applied to
        option:
          type: string
          description: The name of the option
        value:
          description: The value of the option
    InOverdraftInsightDataResponse:
      title: In Overdraft Insight Details Response
      description: Details response for an 'in overdraft' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - in_overdraft
          details:
            type: object
            additionalProperties: false
            description: Always empty for this insight type.
    Regularity:
      title: Regularity
      type: object
      description: 'Regularity enrichment associated with a Transaction, as generated by Bud''s artificial intelligence models.  Transactions that are similar and have a known frequency will all have the same regularity enrichment.

        '
      properties:
        frequency:
          type: string
          description: Detected frequency of the Transaction.
          enum:
          - unknown
          - daily
          - weekly
          - biweekly
          - monthly
          - quarterly
        predicted_date_times:
          type: array
          description: Expected date times for the Transaction to repeat.
          items:
            type: string
        group_label:
          type: string
          description: Unique label applied to multiple transactions in the same group.
    TransactionTotals:
      title: Transaction Totals
      description: Total income and expenses for the customer across the period checked for insights
      type: object
      required:
      - income
      - expenditure
      properties:
        income:
          type: array
          description: The total income for the period, in every currency that had an insight trigger within the period.
          items:
            $ref: '#/components/schemas/BudAmount'
        expenditure:
          type: array
          description: The total expenses for the period, in every currency that had an insight trigger within the period.
          items:
            $ref: '#/components/schemas/BudAmount'
    CommonInsightResponse:
      title: Common Insight Response
      description: Common parts of an identified insight, shared across all identified insights
      type: object
      required:
      - id
      - type
      - _links
      properties:
        id:
          type: string
          description: An ID for this returned insight. Will be unique within the response, and consistent until financial data is refreshed. For a customised insights request, this will only be consistent across requests specifying the same configuration.
        type:
          type: string
          description: The type of insight triggered. Specifies the meaning of the insight, and the format of the additional_info object.
          example: gambling_threshold
        _links:
          $ref: '#/components/schemas/InsightLinks'
    CommonInsightDataResponseNoDetails:
      title: Common Insight Details Response
      description: Common parts of the insight details response, shared by all insight types
      type: object
      required:
      - id
      - type
      - caused_by
      properties:
        id:
          type: string
          description: An ID for this returned insight. Will be unique within the response, and consistent until financial data is refreshed. For a customised insights request, this will only be consistent across requests specifying the same configuration.
        type:
          type: string
          description: The type of insight triggered. Specifies the meaning of the insight, and the format of the additional_info object.
          example: late_income
        caused_by:
          $ref: '#/components/schemas/InsightCausedBy'
    Category:
      title: Category
      type: object
      description: Category associated with a Transaction
      required:
      - slug
      - confidence
      properties:
        slug:
          type: string
          description: Unique human readable identifier of the category. Not subject to version control.
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
    LatePaymentInsightDataResponse:
      title: Late Payment Insight Details Response
      description: Details response for a 'late payment' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - late_payment
          details:
            $ref: '#/components/schemas/LatePaymentInsightDetails'
    CannotCoverBillsInsightDataResponse:
      title: Cannot Cover Bills Insight Details Response
      description: Details response for a 'cannot cover bills' insight
      allOf:
      - $ref: '#/components/schemas/CommonInsightDataResponseNoDetails'
      - type: object
        required:
        - details
        properties:
          type:
            type: string
            enum:
            - cannot_cover_bills
          details:
            $ref: '#/components/schemas/CannotCoverBillsInsightDetails'
    LatePaymentInsightDetails:
      title: Late Payment Insight Details
      description: Details for a 'late payment' insight
      type: object
      properties:
        days_late:
          type: number
          description: Number of days since the predicted transaction was expected to occur.
        expected_date_time:
          $ref: '#/components/schemas/schemas-DateTimeISO8601'
    schemas-DateTimeISO8601:
      title: Date/Time (ISO 8601)
      type: string
      description: ISO Date Format
      example: '2022-03-05T13:34:33Z'
    PensionIncomeInsightDetails:
      title: Pension Income Insight Details
      description: Details for a 'pension income' insight
      type: object
      properties:
        total:
          $ref: '#/components/schemas/BudAmount'
    Token:
      title: Token
      type: object
      description: The token item.
      required:
      - value
      - confidence
      properties:
        value:
          type: string
        confidence:
          type: string
          description: Degree of belief of correct assignment, expressed as a probability.
    BudCurrency:
      title: Currency
      description: 'The three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) of the monetary amount.


        Example: `GBP`

        '
      type: string
    RegularPaymentChangedInsightDetails:
      title: Regular Payment Changed Insight Details
      description: Details for a 'regular payment changed' insight
      type: object
      properties:
        new_amount:
          $ref: '#/components/schemas/BudAmount'
        absolute_change:
          $ref: '#/components/schemas/BudMonetaryValue'
        percentage_change:
          $ref: '#/components/schemas/BudMonetaryValue'
    SpendingInsightResponse:
      title: Spending Insight Response
      description: Spending insight identified from the customer's financial data
      allOf:
      - $ref: '#/components/schemas/CommonInsightResponse'
      - type: object
        required:
        - transactions
        properties:
          transactions:
            type: array
            description: The transaction or transactions that most immediately triggered the insight, in our Transactions V2 format.
            items:
              $ref: '#/components/schemas/InsightsTransaction'
    Enrichments:
      title: Enrichments
      type: object
      description: Contextual enrichments associated with a Transaction
      properties:
        categories:
          $ref: '#/components/schemas/Categories'
        merchant:
          $ref: '#/components/schemas/Merchant'
        processor:
          $ref: '#/components/schemas/Processor'
        regularity:
          $ref: '#/components/schemas/Regularity'
        location:
          $ref: '#/components/schemas/Location'
        transaction_types:
          type: array
          description: Transaction types associated with the transaction
          items:
            type: string
        names:
          type: array
          description: Names that were detected in the transaction description
          items:
            type: string
    BudMonetaryValue:
      title: Monetary Value
      description: "The value of the monetary amount. The value is formatted with the number of decimal places for the respective currency. \n\nExample: `10.98`\n"
      type: string
    LateIncomeInsightDetails:
      title: Late Income Insight Details
      description: Details for a 'late income' insight
      type: object
      properties:
        days_late:
          type: number
          description: Number of days since the predicted transaction was expected to occur.
        expected_date_time:
          $ref: '#/components/schemas/schemas-DateTimeISO8601'
    Merchant:
      title: Merchant
      type: object
      description: 'Merchant enrichment associated with a Transaction, as generated using a combination of Bud''s artificial  intelligence models and database of known merchants.

        '
      properties:
        id:
          type: string
          description: UUID corresponding to the merchant, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the merchant. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the merchant.
        logo:
          type: string
          description: URL supplying merchant logo, if available.
        tokens:
          type: array
          description: 'A list of tokens calculated from the transaction model, used to identify the Merchant.  This list is often present even if the merchant details (id, slug, disply_name, logo) are not returned.

            '
          items:
            $ref: '#/components/schemas/Token'
        website:
          type: string
          description: URL supplying merchant website, if available.
        tags:
          type: array
          items:
            type: string
          description: A list of tags describing the merchant
    Processor:
      title: Processor
      type: object
      description: 'Processor enrichment associated with a Transaction, as generated using a combination of Bud''s artificial  intelligence models and database of known payment processors.

        '
      properties:
        id:
          type: string
          description: UUID corresponding to the processor, if available. Subject to version control.
        slug:
          type: string
          description: Unique human readable identifier of the processor. Not subject to version control.
        display_name:
          type: string
          description: UI friendly display name for the processor.
        logo:
          type: string
          description: URL supplying processor logo, if available.
        tokens:
          type: array
          description: 'A list of tokens calculated from the transaction model, used to identify the Merchant.  This list is often present even if the merchant details (id, slug, disply_name, logo) are not returned.

            '
          items:
            $ref: '#/components/schemas/Token'
        website:
          type: string
          description: URL supplying merchant website, if available.
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
