openapi: 3.2.0
info:
  title: 'Bud API Services: Documentation Create a Connection API'
  version: 2.10.10
  description: '# Overview


    ## Introduction

    Welcome to Bud''s API Platform documentation.'
  contact:
    name: Bud Support
    email: help@thisisbud.com
    url: https://www.thisisbud.com/
  x-logo:
    url: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATAAAABuCAQAAAAKAYdLAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wQDDggcbXcx7wAABeJJREFUeNrt3W2IFVUcx/HvXRW1VdQedy1bZVfoYX0osVQyfSGElKbRA5oFIaIlhAkWUYm6gvqqDMHMoBeKlhayCCZC2AMRPay7aJrSZmauZhQqaj7t7u1Fi965987s7D1n7pk7/j73zX2Y85//mXt2Zu45Z2ZBREREREREREREREREREREREREREREREREREREREREREREREREROIiZSFGH+YxgsOs5U/X1bFiPDPpQT3bu1DmcaZyg+vErWpjD+s47zoN6Mte0qRJc4Iq18lYMJv2jvosD11mRUeJpD32UO7664BFGQl94DoZY704fbU2rQwKVWYwbc6bQlSPBaYbtMz4K7nP53lpGkK/q8+7MTxUmeEWtmJcGX+j5psmM0I3l9vCirKAV36OuE46QsbfaHL/9opnL9tcpxBf3V0nkAgzWMRj9HadhrH+3Gk7pBqYDZdY3oXfnHE2gc1U2gyoQ6Rk+pKZdgOqgYnXF7TYDGe3gcWgW85QH9cJxMAVm8HsNrBqhhV1U9g33XUCzo1gsM1wdhtYio8ZWsytYdksFrpOwbGhbLYb0PavyLs5wA+c9v28lRa+Zzt/+y5RwwKqaOCdgCjZRvEit/A1a7jou8xwJjOMAb7D+ylqqCmw1imeZ0oCBrv7Mzp+/QofFTDCdZG13Jw3Wi1nOpbZT9+QGUziUkeZ3T49z+P4pqCRuCkhM1jjfMwwqsdG182rsAaWJs0JxuWJ9knGEq+EzODHjDLTcj5NsbjgwehwDazm6vyL5D2MG5i7booKdjE25917M57XhoxUG1hmJUsjrmWtlVl18ZQ2DeCyH6ycT7kpIJ+wuQWVeZJXI69HcpsXHDQN4LajtZIlkcbvzWqn9St1R3nPNIT93wzt/MSZPO+nqKA65699Nos5FdHmgZkMzHnvIj9zLm9+Q7jd0nqP8VtkdSqWNppYxT+u08g+yW8OnKRXw4ac08hnPUscyvjkw5AZXM4os9jzyY6sdZ3h5YC++jLm0lrASf50T5krzEn0QbOLbB8in2FvwKfNPJczCXd0hLV7wPPqL8bybt691//aWWfhkPo2681PjZPDbgP7lYZOl1nNJs9rW4elXD2zfkK8wIFOy2w1XuuWyOpTkuw2sHOhlqrzvIqu59gbuYEdIcqcjSyb65SLX5EHOepgrbuKtJ6nHNQtxtx0U5xM8DoXMkez7K5xM7Tp4iS4WOvszvss5feSP9Fvo5EVnDDfHGJfpd157Y48xFRGmfaEaWcu/qqYZxpCDcxcqR8Mg9xlGkANzNz+BDcx4zEJNTBzv5gPCSeXTvJtmM+3PJqIKdNj6GE3pJsG5mIwOMp1ptnABgd1sq+G7ebnXZncHCKjG3+M1zpLTzMz7AZ00cBG5pmlFb3JmkQTSpPd21HZbWD9Qy21zPPK/zricNH6+B7mvZFreTpEtAFWt0dpsnoWZreBVTG+kyVS1GVN4/vDd9lJVIRY5yzfPdPlrPHHdTwYItr1bkLcTia8M1qPM9F3yRRjcuaYprNmHxzyfNbQyQlnGTM47ynhndFan7WuCywLODz35I2sC9DCXheZHBNpsXvZmu1fkZXs5rjPnPzb8hyAzrIzINr9HOBIwNXat+ZcleS1hame1714izc55jNvbVDBtz7pyWuJuI15P/tnx1F0UwzsQpprO5nil2KIQSZbqcspnwp57+iu2MQT1mMmhNue/MMR3xfwMi8VYRhnmJqXP/MG1lZwyVNMy9l/FR4tf/mdvB553Uz2sXFn+n1YaGCNBZZr5mH25by7xzCb3PKrmM+lgmK1BV4hdc0+2g2zjq8m1wlAOY1dvqXGKep87oZYzUmDW3Vs8+myuIf6Am6AsiT0Nljp/CYl0Twaze9ZaaN3u5w5jAy5L2ylhe/4nAu+S1Qwl+oCsrjCV2wM2KXfwSPUcmPIGv9LPZ91Ye1TEnEb80ztNLE+Dv8MS0RERERERERERERERERERERERERERERERERERERERERERERERERs+Q/rhi5WauEgfQAAAABJRU5ErkJggg==
servers:
- url: https://api-sandbox.thisisbud.com
tags:
- name: Create a Connection
  x-displayName: Create a Connection
  description: 'Create a new connection to an Open Banking provider by using either: (i) Bud''s configurable frontend UI (__Bud Connect__), built to maximise conversion; or (ii) Bud''s individual API endpoints to help you build your own connect flow.'
paths:
  /v1/open-banking/providers:
    get:
      tags:
      - Create a Connection
      summary: Retrieve OB Providers
      description: List the available account providers with their name, icon and maintenance status.
      operationId: open_banking_providers_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/OBProvidersQueryTypeFilter'
      - $ref: '#/components/parameters/OBProvidersQueryRegionFilter'
      - $ref: '#/components/parameters/OBProvidersQueryScopesFilter'
      responses:
        '200':
          description: List of providers available via Bud's Open Banking Aggregation APIs
          content:
            application/json:
              schema:
                required:
                - operation_id
                - data
                properties:
                  operation_id:
                    $ref: '#/components/schemas/OperationId'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OBProvider'
                  metadata:
                    oneOf:
                    - $ref: '#/components/schemas/ResultsMetadata'
                    - type:
                      - object
                      - 'null'
                example:
                  operation_id: open_banking_providers_get
                  data:
                  - provider: barclays
                    display_name: Barclays
                    maintenance_window:
                      start: 2019-08-07T11:48:00+0000
                      end: 2019-08-07T11:00:00+0000
                    maintenance_status: active
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  - provider: fd
                    display_name: first direct
                    maintenance_window:
                      start: 2019-08-07T11:48:00+0000
                      end: null
                    maintenance_status: active
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  - provider: halifax
                    display_name: Halifax
                    maintenance_window: null
                    maintenance_status: inactive
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  - provider: hbos
                    display_name: Bank of Scotland
                    maintenance_window: null
                    maintenance_status: inactive
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  - provider: hsbc
                    display_name: HSBC
                    maintenance_window: null
                    maintenance_status: inactive
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  - provider: lloyds
                    display_name: Lloyds
                    maintenance_window: null
                    maintenance_status: inactive
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  - provider: mns
                    display_name: Marks & Spencer
                    maintenance_window: null
                    maintenance_status: inactive
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  - provider: nationwide
                    display_name: Nationwide
                    maintenance_window: null
                    maintenance_status: inactive
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  - provider: natwest
                    display_name: Natwest
                    maintenance_window: null
                    maintenance_status: inactive
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  - provider: rbs
                    display_name: Royal Bank of Scotland
                    maintenance_window: null
                    maintenance_status: inactive
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  - provider: santander
                    display_name: Santander
                    maintenance_window: null
                    maintenance_status: inactive
                    icon: https://assets.thisisbud.com/example-icon
                    regions:
                    - GBR
                    mobile_only: false
                  metadata: null
        '400':
          description: Bad Request that fails validations on headers & payload
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        5XX:
          description: An unexpected error occurred on the server side
  /v2/open-banking/authorisation-gateway-url:
    post:
      tags:
      - Create a Connection
      summary: Retrieve Authorisation Gateway URL (v2)
      description: 'Allow customers to authorise with, and connect to, a provider, using Bud’s __Bud Connect__. Bud Connect is a UI component hosted by Bud that can be integrated into any mobile or web experience, and

        allows your customers to connect to and authorise with their chosen provider, allowing Bud to pull their account information using Bud''s AISP license.


        Using the different configuration options that can be set through the request body you can personalize the experience for your Customer. Please, refer to the documentation below for more information about the available configurations.


        Use Bud’s Authorisation Gateway (__Bud Connect__) if you are not regulated as an AISP in order to connect your customers to their banks to share account information. You may still choose to use __Bud Connect__ in order to give the customer a slick account connection experience or to speed up your technical build and integration, even if you are a regulated AISP yourself.


        The status of the authorisation step will be provided to you as a path parameter within the `redirect_url` specified within the request payload.

        This `redirect_url` is where your customer will be redirected to once they have either failed, or successfully completed, the authorisation process with their provider.


        The URL generated with this endpoint is valid for up to 30 minutes. We suggest to generate the URL right before redirecting your Customer to it.


        Please note that in order to recieve status updates on a given account connection task, you will need to configure your Callback URL within the developer console.

        Once the entire connection process has been completed and the customer''s account information is ready to be collected, Bud will send a request to your callback URL.'
      operationId: v2_ob_authorisation_gateway_url_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthGatewayURLRequestv2'
            examples:
              All providers:
                value:
                  redirect_url: https://my-agent-webapp.com/connected?my-parameter=xyz
              Filter providers list:
                value:
                  redirect_url: https://my-agent-webapp.com/connected?my-parameter=xyz
                  provider_types:
                  - retail
              Specify provider(s):
                value:
                  redirect_url: https://my-agent-webapp.com/connected?my-parameter=xyz
                  providers:
                  - Barclays
                  - Lloyds
                  - Natwest
              Show the "connect more accounts" button:
                value:
                  redirect_url: https://my-agent-webapp.com/connected?my-parameter=xyz
                  connect_more_accounts_button: true
              Show the account connection summary screen:
                value:
                  redirect_url: https://my-agent-webapp.com/connected?my-parameter=xyz
                  accounts_summary: true
              Show the initial screen as the account summary screen:
                value:
                  redirect_url: https://my-agent-webapp.com/connected?my-parameter=xyz
                  initial_screen: accounts_summary
              Enable an asynchronous connection:
                value:
                  redirect_url: https://my-agent-webapp.com/connected?my-parameter=xyz
                  enable_async_connect: true
              Send consent management email to customer:
                value:
                  redirect_url: https://my-agent-webapp.com/connected?my-parameter=xyz
                  customer_email: john.doe@email.com
      responses:
        '201':
          description: The resource has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthGatewayURLResponse'
              example:
                operation_id: v2_ob_authorisation_gateway_url_post
                data:
                  url: https://auth.gateway.thisisbud.com/connect?nonce=nu9ysswxk3hnrepo&token=b361e184038e25077cab277ede9362289941da928cd0d9c7ea52107aa2ad0d909d87993a532af47d9794cd5f29ba66128b3dc7f705ce9b044c636c28e31e1bb3ff8e17145a49f42f525bff51945c3a2484c89a05c1b1e484f9b84ee0cfee4640453fd599e71b5111bd880a63cc924fca8c6ce831396e2f4f8b3e5ac994c5c9
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: v2_ob_authorisation_gateway_url_post
                code_id: failed_validation
                message: Failed validation.
                errors:
                  redirect_url: This value should not be blank.
        '401':
          description: An unauthorised request was received.
        '405':
          description: The request uses an unexpected HTTP method.
        '422':
          description: Unprocessable request (e.g. requested providers are in maintenance)
        5XX:
          description: An unexpected error occurred on the server side.
      callbacks:
        EventSubscriptionCallBack:
          '{$request.body#/redirect_url}':
            description: 'This callback is sent to your configured Open Banking Sync Complete webhook URL on the completion of a relevant OB synchronisation task.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Aggregation Sync Notification Callback
              deprecated: true
              requestBody:
                required: true
                description: 'This callback is sent to your configured Open Banking Sync Complete webhook URL on the completion of a relevant OB synchronisation task.


                  __Note__ Deprecated, please use the dedicated `Connect Completed Notification Callback`

                  '
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OBSyncWebhookBody'
                    example:
                      data:
                        task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                        status: Completed
                        task_type: connect
                        customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                        consent_id: f43c4fc9-26f6-4107-a631-4f323f06e5c9
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
        ConnectCompletedCallBack:
          '{$request.body#/redirect_url}':
            description: 'This callback is sent to your configured Open banking connection completed webhook URL on the completion of a connect task.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Connect Completed Notification Callback
              requestBody:
                required: true
                description: This callback is sent to your configured 'Open banking connection completed' webhook URL on the completion of a connect task.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OBConnectWebhookBody'
                    examples:
                      Success:
                        description: Successful connection
                        value:
                          data:
                            task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                            status: Completed
                            result: success
                            task_type: connect
                            customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                            consent_id: f43c4fc9-26f6-4107-a631-4f323f06e5c9
                      Failure:
                        description: Failed connect due to a provider failure
                        value:
                          data:
                            task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                            status: Failed
                            result: provider_failure
                            task_type: connect
                            customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                            consent_id: f43c4fc9-26f6-4107-a631-4f323f06e5c9
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
  /v1/open-banking/authorisation-url:
    post:
      tags:
      - Create a Connection
      summary: Initiate Provider Authorisation
      description: 'Request a new Open Banking authorisation url for a specific Customer and provider. This endpoint should be used when using Bud as a Technical Service Provider(TSP). This means that Bud will be using your license (as a registered Account Information Service Provider (AISP)). This will allow you to use your own interface to connect new account(s).


        A generated consent has a 90 day expiry, to allow for re-authentication to extend this expiry the id of the customers previous consent can be included as the `consent_id` property. This re-authenciation if the customer grants consent would extend the consent by another 90 days.


        > 📘 Note:

        >

        > For more information about Consents, please refer to our guide.'
      operationId: open_banking_authorisation_url_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/CustomerSecret'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenBankingAuthoriseRequest'
            examples:
              Provider:
                value:
                  provider: Barclays
                  redirect_url: https://myclientredirecturl.com
      responses:
        '202':
          description: A new Task has been created to obtain the bank's authorisation URL. The generated `task_id` can be used to check the Task's status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCreatedResponseOB'
              example:
                operation_id: open_banking_authorisation_url_post
                data:
                  task_id: 360e5821-4f18-4077-83f4-c9a7c1768bea
                  provider: Barclays
                metadata:
                  next_url: /v1/open-banking/authorisation-url/360e5821-4f18-4077-83f4-c9a7c1768bea
                  next_url_delay: 50
                  status: Pending
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Parameter missing:
                  value:
                    operation_id: open_banking_authorisation_url_post
                    code_id: failed_validation
                    message: Failed validation
                    errors:
                      customer_id: This value should not be blank
                Resource not found:
                  value:
                    operation_id: open_banking_authorisation_url_post
                    code_id: resource_not_found
                    message: Consent ID could not be found.
                    errors:
                      domain_error: Consent ID could not be found.
                Provider in Maintenance:
                  value:
                    operation_id: open_banking_authorisation_url_post
                    code_id: provider_maintenance
                    message: The provider is in maintenance.
                    errors:
                      provider: The provider is currently disabled due to planned maintenance or known issues.
        '401':
          description: Unauthorized (BearerToken in 'Authorization' header fails the authentication)
        '405':
          description: The request uses an unexpected HTTP method
        5XX:
          description: An unexpected error occurred on the server side
  /v1/open-banking/authorisation-url/{task_id}:
    get:
      tags:
      - Create a Connection
      summary: Retrieve Authorisation URL
      description: 'Check the status and get the result of an Initiate Provider Authorisation URL task. If the task is not yet completed, the data element will be null.


        Once the customer has successfully authorised with the ASPSP, Bud will create a task to fetch the relevant data from the ASPSP. The task id created will be passed back within the supplied re-direct url. Please refer to the Check Connection Status endpoint for updates on this fetching process using the task id provided in the redirect URL.'
      operationId: open_banking_authorisation_url_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAuthoriseResponse'
              examples:
                complete:
                  summary: Completed
                  value:
                    operation_id: open_banking_authorisation_url_get
                    data:
                      provider: example_provider
                      result: success
                      status: Completed
                      task_id: 16fa0748-8a6b-455b-9be9-30ae257965d8
                      url: https://oauth.example.provider.com/authorization.oauth2?
                    metadata:
                      next_url: /v1/open-banking/authorisation-url/16fa0748-8a6b-455b-9be9-30ae257965d8
                      next_url_delay: 50
                      status: Completed
                pending:
                  summary: Pending
                  value:
                    operation_id: open_banking_authorisation_url_get
                    data:
                      provider: example_provider
                      status: Pending
                      task_id: 16fa0748-8a6b-455b-9be9-30ae257965d8
                    metadata:
                      status: Pending
                      next_url: /v1/open-banking/authorisation-url/16fa0748-8a6b-455b-9be9-30ae257965d8
                      next_url_delay: 50
                failed:
                  summary: Failed
                  value:
                    operation_id: open_banking_authorisation_url_get
                    data:
                      provider: example_provider
                      result: internal_error
                      status: Failed
                      task_id: 16fa0748-8a6b-455b-9be9-30ae257965d8
                    metadata:
                      status: Failed
                      next_url: /v1/open-banking/authorisation-url/16fa0748-8a6b-455b-9be9-30ae257965d8
                      next_url_delay: 50
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: open_banking_authorisation_url_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  customer_id: This value should not be blank
        '404':
          description: Task not found
        '405':
          description: The request uses an unexpected HTTP method
        5XX:
          description: An unexpected error occurred on the server side
  /v1/open-banking/authorisation-codes:
    post:
      deprecated: true
      tags:
      - Create a Connection
      summary: Submit Authorisation Codes
      description: 'When using Bud as a TSP (Technical Service Provider) and doing full app-to-app authorisation, the customer is returned from the provider directly back to your app. Your app will then need to send all the query and hash fragment parameters to Bud so that we can complete the connection.


        Query and fragment parameters should be merged with query taking precedence. If you receive a request `/path?a=1#a=2&b=3` then you should perform this request with `{"a":"1","b":"3"}`. Given the nature of the fragment queries most server side languages will not process these so javascript may be required to correctly gather both parameters.


        Regardless of what parameters are present, all of them should be sent to Bud so that we can choose to either continue the connection or to map and record the error.


        Code and error are shown here only because they are the most common parameters you will see, but this object could contain any number of unspecified properties. Currently state is a common property among all authorisation flows and is the current task ID. The state property is not guaranteed for the future of this API contract and will not be treated as backwards incompatible if a new authentication flow does not use it.'
      operationId: v1_open_banking_authorisation_codes_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorisationCodesRequest'
            examples:
              success:
                summary: Authorisation has been successful
                value:
                  state: b55f5f00-8e40-4e9e-8c9e-a292a86eb40c
                  code: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
              error:
                summary: Authorisation has failed
                value:
                  state: b55f5f00-8e40-4e9e-8c9e-a292a86eb40c
                  error: access_denied
      responses:
        '202':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorisationCodesResponse'
              examples:
                Success:
                  description: success
                  value:
                    operation_id: v1_open_banking_authorisation_codes_post
                    data:
                      task_id: b55f5f00-8e40-4e9e-8c9e-a292a86eb40c
                      provider: Barclays
                      status: Completed
                      result: success
                Error:
                  description: error
                  value:
                    operation_id: v1_open_banking_authorisation_codes_post
                    data:
                      task_id: b55f5f00-8e40-4e9e-8c9e-a292a86eb40c
                      provider: Barclays
                      status: Failed
                      result: auth_denied
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Invalid Body:
                  description: Invalid Body
                  value:
                    operation_id: v1_open_banking_authorisation_codes_post
                    code_id: failed_body_decode
                    message: invalid request body
                    errors:
                      customer_id: This value should not be blank
                Validation Failure:
                  description: Validation Error
                  value:
                    operation_id: v1_open_banking_authorisation_codes_post
                    code_id: failed_validation
                    message: invalid request
                    errors:
                      state: The field is required
  /v2/open-banking/authorisation-codes:
    post:
      tags:
      - Create a Connection
      summary: Submit Authorisation Codes V2
      description: 'When using Bud as a TSP (Technical Service Provider) and doing full app-to-app authorisation, the customer is returned from the provider directly back to your app. Your app will then need to send all the query and hash fragment parameters to Bud so that we can complete the connection.


        Query and fragment parameters should be merged with query taking precedence. If you receive a request `/path?a=1#a=2&b=3` then you should perform this request with `{"a":"1","b":"3"}`. Given the nature of the fragment queries most server side languages will not process these so javascript may be required to correctly gather both parameters.


        Regardless of what parameters are present, all of them should be sent to Bud so that we can choose to either continue the connection or to map and record the error.


        Code and error are shown here only because they are the most common parameters you will see, but this object could contain any number of unspecified properties. Currently state is a common property among all authorisation flows and is the current task ID. The state property is not guaranteed for the future of this API contract and will not be treated as backwards incompatible if a new authentication flow does not use it.


        This endpoint triggers an asynchronous collection of OpenBanking data within the Bud platform. Therefore after calling this endpoint the Retrieve Connection Status endpoint should be called to retrieve the status of the collection'
      operationId: v2_open_banking_authorisation_codes_post
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorisationCodesRequest'
            examples:
              success:
                summary: Authorisation has been successful
                value:
                  state: b55f5f00-8e40-4e9e-8c9e-a292a86eb40c
                  code: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
              error:
                summary: Authorisation has failed
                value:
                  state: b55f5f00-8e40-4e9e-8c9e-a292a86eb40c
                  error: access_denied
      responses:
        '202':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorisationCodesResponse'
              examples:
                Success:
                  description: success
                  value:
                    operation_id: v2_open_banking_authorisation_codes_post
                    data:
                      task_id: b55f5f00-8e40-4e9e-8c9e-a292a86eb40c
                      provider: Barclays
                      status: Completed
                      result: success
                Error:
                  description: error
                  value:
                    operation_id: v2_open_banking_authorisation_codes_post
                    data:
                      task_id: b55f5f00-8e40-4e9e-8c9e-a292a86eb40c
                      provider: Barclays
                      status: Failed
                      result: auth_denied
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Invalid Body:
                  description: Invalid Body
                  value:
                    operation_id: v2_open_banking_authorisation_codes_post
                    code_id: failed_body_decode
                    message: invalid request body
                    errors:
                      customer_id: This value should not be blank
                Validation Failure:
                  description: Validation Error
                  value:
                    operation_id: v2_open_banking_authorisation_codes_post
                    code_id: failed_validation
                    message: invalid request
                    errors:
                      state: The field is required
        '409':
          description: The code has already been submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              examples:
                Code already submitted:
                  description: Code already submitted
                  value:
                    operation_id: v2_open_banking_authorisation_codes_post
                    code_id: auth_used
                    message: auth code has been used before
                    errors:
                      code: already used
      callbacks:
        ConnectCompletedCallBack:
          '{$request.body#/redirect_url}':
            description: 'This callback is sent to your configured Open banking connection completed webhook URL on the completion of a connect task.

              '
            post:
              security: []
              parameters:
              - $ref: '#/components/parameters/SignatureHeaderParameter'
              - $ref: '#/components/parameters/SigningIdHeaderParameter'
              summary: Connect Completed Notification Callback
              requestBody:
                required: true
                description: This callback is sent to your configured 'Open banking connection completed' webhook URL on the completion of a connect task.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OBConnectWebhookBody'
                    examples:
                      Success:
                        description: Successful connection
                        value:
                          data:
                            task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                            status: Completed
                            result: success
                            task_type: connect
                            customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                            consent_id: f43c4fc9-26f6-4107-a631-4f323f06e5c9
                      Failure:
                        description: Failed connect due to a provider failure
                        value:
                          data:
                            task_id: 03af1639-78a6-402d-809b-902a0b00a77d
                            status: Failed
                            result: provider_failure
                            task_type: connect
                            customer_id: b6f898f8-99e8-4529-8e90-64d96fe05aa4
                            consent_id: f43c4fc9-26f6-4107-a631-4f323f06e5c9
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '300':
                  description: The notification will not be retried, redirects will not be followed
                '400':
                  description: The notification will not be retried
                '500':
                  description: 'The request will be retried shortly. If it fails multiple times, we will stop attempting to deliver the notification for this single event.

                    '
  /v1/open-banking/connect/{connection_task_id}:
    get:
      tags:
      - Create a Connection
      summary: Retrieve Connection Status
      description: 'Check the status of an account connection task. If the task is not yet completed, the status will be shown as pending. If the status is completed, then the data is ready to be ingested.


        The __connection_task_id__ is provided as a parameter in the redirect url after the Customer has undergone a successful authorisation with a relevant Open Banking provider.'
      operationId: open_banking_connect_get
      security:
      - OAuth2: []
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CustomerId'
      - $ref: '#/components/parameters/CustomerIdempotentIdentifier'
      - $ref: '#/components/parameters/ConnectionTaskId'
      responses:
        '200':
          description: The request was successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenBankingConnectResponse'
              examples:
                completed:
                  summary: Completed
                  value:
                    operation_id: open_banking_connect_get
                    data:
                      bank_name: Barclays
                      provider: Barclays
                      reconnect_required: false
                      result: success
                      status: Completed
                      step: 4
                      task_id: 030c85d8-bbbe-4ef9-894e-7e56a2e02437
                      text: Completed
                    metadata:
                      status: Completed
                      next_url: /v1/open-banking/connect/360e5821-4f18-4077-83f4-c9a7c1768bea
                      next_url_delay: 50
                pending:
                  summary: Pending
                  value:
                    operation_id: open_banking_connect_get
                    data:
                      bank_name: Barclays
                      provider: Barclays
                      reconnect_required: false
                      status: Pending
                      step: 2
                      task_id: 030c85d8-bbbe-4ef9-894e-7e56a2e02437
                      text: Fetching accounts
                    metadata:
                      status: Pending
                      next_url: /v1/open-banking/connect/360e5821-4f18-4077-83f4-c9a7c1768bea
                      next_url_delay: 50
                failed:
                  summary: Failed
                  value:
                    operation_id: open_banking_connect_get
                    data:
                      bank_name: Barclays
                      provider: Barclays
                      reconnect_required: false
                      result: auth_denied
                      status: Failed
                      step: 3
                      task_id: 030c85d8-bbbe-4ef9-894e-7e56a2e02437
                      text: Fetching balances and transactions
                    metadata:
                      status: Failed
        '400':
          description: The request contains an invalid payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                operation_id: open_banking_connect_get
                code_id: failed_validation
                message: Failed validation
                errors:
                  customer_id: This value should not be blank
        '404':
          description: Task not found
        '405':
          description: The request uses an unexpected HTTP method
        5XX:
          description: An unexpected error occurred on the server side
components:
  schemas:
    AuthorisationCodesResponse:
      title: Authorisation Codes Response Payload
      type: object
      required:
      - operation_id
      - data
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: object
          description: Details regarding the response object for the authorisation codes response.
          properties:
            task_id:
              $ref: '#/components/schemas/TaskId'
            provider:
              type: string
              description: Name of the provider (banking institution)
            status:
              $ref: '#/components/schemas/IngestResponseStatus'
            result:
              type: string
              enum:
              - success
              - auth_denied
              - auth_expired
              - auth_used
              - awaiting_authorisation
              - connection_expired
              - connection_not_found
              - connection_permission
              - connection_reauthenticate
              - connection_revoked
              - connection_status
              - consent_not_found
              - extension_not_permitted
              - failed_body_decode
              - failed_validation
              - internal_auth_error
              - internal_error
              - internal_timeout
              - internal_transient_error
              - provider_unauthorised
              - provider_unavailable
              - provider_endpoint_deprecated
              - provider_endpoint_unimplemented
              - provider_endpoint_unsupported
              - provider_failure
              - provider_maintenance
              - provider_marked_account_invalid
              - provider_not_found
              - provider_request_limit
              - provider_timeout
              - resource_not_found
              - task_not_found
    TaskCreatedResponseOB:
      title: Task Created Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/TaskCreatedView'
        metadata:
          $ref: '#/components/schemas/AsyncTaskMetadata'
    TaskAuthoriseResponse:
      title: Open Banking Authorise Request Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - metadata
      - data
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/TaskAuthorise'
        metadata:
          $ref: '#/components/schemas/TaskManagerMetaData'
    ConnectResultCodes:
      type: string
      description: The result of the operation. Either success or various error codes.
      enum:
      - success
      - auth_denied
      - auth_expired
      - auth_used
      - awaiting_authorisation
      - connection_expired
      - connection_not_found
      - connection_permission
      - connection_reauthenticate
      - connection_revoked
      - connection_status
      - consent_not_found
      - extension_not_permitted
      - failed_body_decode
      - failed_validation
      - internal_auth_error
      - internal_error
      - internal_timeout
      - internal_transient_error
      - provider_unauthorised
      - provider_unavailable
      - provider_endpoint_deprecated
      - provider_endpoint_unimplemented
      - provider_endpoint_unsupported
      - provider_failure
      - provider_maintenance
      - provider_marked_account_invalid
      - provider_not_found
      - provider_request_limit
      - provider_timeout
      - resource_not_found
      - task_not_found
    OBConnectWebhookBody:
      title: OB Webhook Payload
      type: object
      description: 'The payload sent to the client defined webhook (via the console) when an Open Banking (connect or refresh) task completes.

        '
      required:
      - data
      properties:
        data:
          description: Open Banking Task Event Data
          required:
          - task_type
          - customer_id
          - task_id
          - status
          - result
          properties:
            task_id:
              description: The task identifier that the event relates to
              type: string
              example: e145c656-4a90-45db-a025-af7765482c8c
            status:
              type: string
              description: The general status of a task
              enum:
              - Completed
              - Failed
            task_type:
              type: string
              enum:
              - connect
              - refresh
              description: The type of task that completed
            customer_id:
              description: The customer the event relates to
              type: string
              example: 19677d9f-90e7-44a6-a32e-566990623da4
            result:
              $ref: '#/components/schemas/ConnectResultCodes'
            provider:
              type: string
              description: Name of the provider (banking institution) the task interacted with
            consent_id:
              type: string
              description: The consent identifier that the event relates to
    Error:
      title: Error Object
      type:
      - object
      - 'null'
      description: Contains a field specific error message
      additionalProperties:
        type: string
    OBProvider:
      title: Open Banking Providers
      type: object
      required:
      - provider
      - display_name
      - maintenance_window
      - maintenance_status
      - icon
      - regions
      - mobile_only
      properties:
        provider:
          type: string
          description: The name of the available open banking provider used as an identifier throughout Bud's API services
        display_name:
          type: string
          description: The name of the available open banking provider used for display purposes
        maintenance_window:
          anyOf:
          - $ref: '#/components/schemas/MaintenanceWindowObject'
          - type:
            - object
            - 'null'
        maintenance_status:
          type: string
          description: The status of the maintenance window associated with the provider
          enum:
          - active
          - inactive
        icon:
          type: string
          description: A URL for the icon of the corresponding provider
        regions:
          type: array
          description: A list of the different regions (i.e. country codes in ISO 3166 format) associated with the open banking provider
          items:
            type: string
        mobile_only:
          type: boolean
          description: If true, the provider is only available on mobile devices and requires a dedicated provider app to be installed on the device
    GetOBConnectData:
      title: Open Banking Synchronisation Status
      type: object
      description: Status of an Open Banking Aggregation connect or refresh task
      required:
      - provider
      - step
      - text
      - task_id
      properties:
        provider:
          type: string
          description: The name of the provider the task is trying to connect to
        step:
          type: integer
          description: At what step or stage the connection process is at
          enum:
          - 1
          - 2
          - 3
          - 4
        text:
          type: string
          description: A description of what stage the connection process is at
          enum:
          - Fetching access token
          - Fetching accounts
          - Fetching balances and transactions
          - Completed
        bank_name:
          type: string
          deprecated: true
          description: The name of the provider the task is trying to connect to. Replaced with `provider`
        reconnect_required:
          type: boolean
          description: If true, the customer must re-connect to the specified provider
        result:
          $ref: '#/components/schemas/ConnectResultCodes'
        status:
          title: The Task Status
          type: string
          description: The general status of a task
          enum:
          - Pending
          - Completed
          - Failed
        task_id:
          $ref: '#/components/schemas/TaskId'
    IngestResponseStatus:
      title: Ingest Response Status
      description: Ingest response status.
      type: string
      enum:
      - Completed
      - Pending
      - Failed
    OpenBankingAuthoriseRequest:
      title: Provider
      type: object
      description: Expected request payload structure
      required:
      - provider
      properties:
        provider:
          type: string
          description: The identifier of the ASPSP (bank) the Customer is requesting the authorisation URL for. This should be a provider value returned from a call to [Retrieve OB Providers](#tag/Create-OB-Connection-TSP/operation/open_banking_providers_get)
        redirect_url:
          type: string
          description: This is the url that your Customer will be redirected to when using the Bud Connect product. If you wish to use your own license and callback infrastructure this parameter will have no effect and the provider_redirect_url parameter should be used instead.
        provider_redirect_url:
          type: string
          description: This is the url that your Customer will be redirected to once they have authorised with the relevant provider. This should only be used when using your own license and wish to use the Submit Authorisation Codes endpoint. If you wish to use Bud's call back then the redirect_url must be provided.
        consent_id:
          type: string
          description: Uses the previous consent id of your customer to re-authenticate their consent.
    MaintenanceWindowObject:
      title: Maintenance Window Object
      type: object
      description: Details on any scheduled maintenance windows
      properties:
        start:
          type: string
          description: The start datetime (ISO8601) of the maintenance window
        end:
          type:
          - string
          - 'null'
          description: The end datetime (ISO8601) of the maintenance window. When this value is `null` it means Bud will manually remove the maintenance flag when the provider is back healthy.
    OBSyncWebhookBody:
      title: OB Synchronisation Webhook Payload
      type: object
      description: 'The payload sent to the client defined webhook (via the console) when an Open Banking Synchronisation (connect or refresh) task completes.

        '
      required:
      - data
      properties:
        operation_id:
          deprecated: true
          type: string
          enum:
          - connect
          - refresh
          description: Use data.task_type instead
        data:
          description: Data Segments being loaded
          required:
          - task_type
          - customer_id
          - task_id
          - status
          properties:
            task_id:
              description: The task identifier that the event relates to
              type: string
              example: e145c656-4a90-45db-a025-af7765482c8c
            status:
              description: The completion status of the task
              type: string
              enum:
              - Completed
              - Failed
            task_type:
              $ref: '#/components/schemas/TaskType'
            customer_id:
              description: The customer the event relates to
              type: string
              example: 19677d9f-90e7-44a6-a32e-566990623da4
            has_new_transactions:
              type: string
              enum:
              - 'true'
              - 'false'
              description: 'To describe whether new transactions have been pulled from the relevant ASPSP during the refresh. Note that if this field is set to `false` then there is no need to make a request to any other downstream endpoints to collect the data related to that customer.

                '
            reconnect_required:
              type: string
              enum:
              - 'true'
              - 'false'
              description: If true, the customer must re-connect to the specified provider
            provider:
              type: string
              description: Name of the provider (banking institution) the task interacted with
            consent_id:
              type: string
              description: The consent identifier that the event relates to
    TaskType:
      type: string
      enum:
      - connect
      - refresh
      - revoke
      - consent-refresh
      description: The type of task that completed
    AsyncTaskMetadata:
      title: Async Task Metadata
      type: object
      description: Metadata associated with an asynchronous task
      properties:
        status:
          type: string
          description: The status of the job associated with the specified task id
          enum:
          - Completed
          - Pending
          - Failed
        next_url:
          type: string
          description: The URL to call to obtain the results of the task
        next_url_delay:
          type: number
          description: The time in milliseconds that the client should wait before polling the relevant GET endpoint with the above task id
    BadRequestResponse:
      title: Bad Request Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - code_id
      - message
      - errors
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        code_id:
          type: string
          description: A descriptive enough string that is linked to the reason for the error.
        message:
          type: string
        errors:
          anyOf:
          - $ref: '#/components/schemas/Error'
          - $ref: '#/components/schemas/Errors'
    ResultsMetadata:
      title: Results Metadata Object
      type: object
      description: Metadata associated with the response schema
      properties:
        results:
          type: number
          description: The number of results returned
    TaskAuthorise:
      title: Open Banking Authorise Response
      type: object
      description: Result of GET authorise taskId
      required:
      - provider
      - status
      - task_id
      properties:
        provider:
          type: string
          description: Name of the provider (banking institution)
        result:
          $ref: '#/components/schemas/ConnectResultCodes'
        status:
          type: string
          description: The status of the job associated with the specified task id
          enum:
          - Completed
          - Pending
          - Failed
        task_id:
          $ref: '#/components/schemas/TaskId'
        url:
          type: string
          description: The authentication URL for a given bank
    AuthGatewayURLRequestv2:
      title: Authorisation Gateweay URL Request Payload
      type: object
      required:
      - redirect_url
      properties:
        redirect_url:
          type: string
          description: URL where the user will be redirected to once they have completed the TPP Connection flow. This can be a web based URL or a mobile application internal URL.
          maxLength: 2083
        providers:
          type:
          - array
          - 'null'
          description: 'Specify a list of one or more providers that will be displayed to the customer during the connection flow. If only a single provider is given, the customer will no longer be shown the select provider screen.


            Note, that these must match the `provider_id` returned by the Retrieve OB Providers endpoint.

            '
          items:
            type: string
        provider_types:
          $ref: '#/components/schemas/ProviderTypes'
        connect_more_accounts_button:
          type:
          - boolean
          - 'null'
          description: When enabled, the customer will see an additional button at the end of the connection flow that allows them to start the connection flow again in order to connect to a new provider.
        accounts_summary:
          type:
          - boolean
          - 'null'
          description: When enabled, the customer will be shown a summary screen at the endpoint of the flow that lists the names and balances of all of the accounts that the customer has active consents for (including those connected in previous sessions).
        initial_screen:
          type:
          - string
          - 'null'
          description: 'The first screen that the customer will be shown. When value is ''accounts_summary'' the customer will see a list of the names and balances of the accounts that the customer currently has active consents for.

            When value is ''connect_accounts'', the customer will see a list of providers to connect their accounts with. By default this value is ''connect_accounts''.

            When the value is ''download_data'', the customer can download their data in a JSON file.

            When the value is ''reconfirm_consent'', the customer will be taken through the reconfirmation of consent journey. If the customer only has one consent they will skip the consent selection screen.

            When the value is ''revoke_consent'', the customer can revoke consent for accounts they have previously connected.

            '
          enum:
          - accounts_summary
          - connect_accounts
          - download_data
          - reconfirm_consent
          - revoke_consent
        reconfirm_consent:
          deprecated: true
          type:
          - boolean
          - 'null'
          description: This body parameter has been deprecated. Please use the initial_screen option reconfirm_consent. When enabled, the customer will be taken through the reconfirmation of consent journey. If the customer only has one consent they will skip the consent selection screen. Once they select the option to renew their consent, Bud will either extend the consent expiry date by 90 days from today's date or (if required) send the customer to the provider to go through Strong Customer Authentication (SCA) before updating the consent expiry date.
        reconfirm_consent_redirect:
          type:
          - boolean
          - 'null'
          description: When enabled, once a customer has reconfirmed consent they will be redirected back to the client redirect_url bypassing the account summary screen. This should be used if you don’t want your customers to see the Bud account summary screen.
        enable_async_connect:
          type:
          - boolean
          - 'null'
          description: When enabled, once the consent authorisation has completed, the customer will be moved on in the flow. The data is then fetched and enriched in the background, instead of the customer waiting on a loading spinner
        skip_success_screen:
          type:
          - boolean
          - 'null'
          description: When enabled, once the customer has completed the connect flow, they will be redirected back to the client redirect_url bypassing the success screen. This should be used if you don’t want your customers to see the Bud success screen.
        customer_email:
          type: string
          format: email
          description: 'When provided, an email will be delivered to the customer with a URL for managing their consents with you.


            This allows the customer to separately view, revoke and reconfirm consents for accounts that they have agreed to share with you, as well as download the financial data for their own records.


            Use this option if your application does not already provide a means for customers to manage their financial data consents.


            **Note**: for some clients, we enforce that customers have access to this consent management feature. In this case, even if `customer_email` is not provided, the customer will be prompted at the start of the Connect flow to provide their email address, so that the URL will still be delivered to them.

            '
    ProviderTypes:
      title: Provider Types
      type: array
      description: One or more provider types that can be used to filter the list of providers that are shown to the customer during the connection flow. If no filter is applied, all types of provider are returned. Note that on Bud's sandbox environment, only sandbox providers will be returned.
      items:
        type: string
        enum:
        - business
        - retail
        - sandbox
    Errors:
      title: Array of Error Object
      description: Contains a list of error messages
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    OpenBankingConnectResponse:
      title: Open Banking Connect Response
      type: object
      description: Expected response structure
      required:
      - operation_id
      - data
      - metadata
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          $ref: '#/components/schemas/GetOBConnectData'
        metadata:
          type: object
          properties:
            status:
              $ref: '#/components/schemas/TaskStatusCaps'
            next_url:
              description: The URL to call to obtain the results of the task
              type: string
            next_url_delay:
              description: Recommended delay in milliseconds before next call
              type: number
    TaskId:
      title: Task Id
      type: string
      description: Bud Task identifier returned from an async task for the requested action
    AuthorisationCodesRequest:
      title: Authorisation Codes Request Payload
      type: object
      required:
      - state
      additionalProperties: true
      properties:
        state:
          type: string
          description: The task ID
        code:
          type: string
          description: Code parameter returned in redirect parameters
    TaskCreatedView:
      title: Task Created View
      description: Standard successful task created response.
      type: object
      required:
      - task_id
      - provider
      properties:
        task_id:
          $ref: '#/components/schemas/TaskId'
        provider:
          type: string
          description: The provider (ASPSP) associated with this task
    AuthGatewayURLResponse:
      title: Authorisation Gateweay URL Response
      type: object
      description: Expected response structure.
      required:
      - operation_id
      - data
      properties:
        operation_id:
          $ref: '#/components/schemas/OperationId'
        data:
          type: object
          description: Information related to the unique (customer specific) Authorisation Gateway URL
          required:
          - url
          properties:
            url:
              type: string
              description: An Authorisation Gateway URL, allowing Customers to connect an Open Banking provider via Bud's TPP Connection UI
              format: url
    TaskManagerMetaData:
      title: Task Status Metadata
      type: object
      description: Standard metadata response from the OB task manager
      required:
      - status
      - next_url
      - next_url_delay
      properties:
        status:
          type: string
          description: The status of the job associated with the specified task id
          enum:
          - Completed
          - Pending
          - Failed
        next_url:
          type: string
          description: The url to try next if the `status` property returned is `Pending`
        next_url_delay:
          type: number
          description: The time in milliseconds that the client should wait before polling the relevant GET endpoint with the above task id if the `status` property returned is `Pending`
    OperationId:
      title: Operation Id Field
      type: string
      description: A unique identifier/reference associated with a given endpoint/operation
    TaskStatusCaps:
      title: The Task Status
      type: string
      description: The general status of a task
      enum:
      - Pending
      - Completed
      - Failed
  parameters:
    OBProvidersQueryRegionFilter:
      in: query
      required: false
      name: region
      description: A comma separated list of Bud regions to be shown. If no filter is applied, all the providers are returned.
      schema:
        type: string
        enum:
        - GBR
    ConnectionTaskId:
      in: path
      name: connection_task_id
      schema:
        type: string
        format: uuid
      required: true
      description: Unique identifier related to a specific connection task
    OBProvidersQueryScopesFilter:
      in: query
      required: false
      name: scopes
      description: A comma separated list of Bud ob scopes to be shown. If no filter is applied, all the providers are returned.
      schema:
        type: string
        enum:
        - accounts
        - balances
        - transactions
        - parties
        - direct-debits
    SignatureHeaderParameter:
      in: header
      name: X-Signature
      description: The signed request body JWT
      required: true
      schema:
        type: string
    CustomerIdempotentIdentifier:
      in: header
      name: X-Customer-Idempotent-Identifier
      schema:
        type: string
      description: 'Use the internal client identifier, provided in the `client_metadata` object when creating the customer in __Create Customer V3__, in place of an `X-Customer-Id` header.

        '
    OBProvidersQueryTypeFilter:
      in: query
      required: false
      name: types
      description: A comma separated list of Bud support provider types to be shown. If no filter is applied, all the providers are returned.
      schema:
        type: string
        enum:
        - sandbox
        - business
        - retail
    CustomerId:
      in: header
      name: X-Customer-Id
      schema:
        type: string
        format: uuid
      required: true
      description: A unique identifier for a Customer, as registered on Bud's platform.
      example: c3339af9-2426-44d4-9c4d-ddb8fd281e23
    SigningIdHeaderParameter:
      in: header
      name: X-Signing-ID
      description: The public key ID which should be used to verify the X-Signature header. Bud's list of public keys can be found at https://assets.thisisbud.com/bud-callback.jwks
      required: true
      schema:
        type: string
    ClientId:
      in: header
      name: X-Client-Id
      schema:
        type: string
      required: true
      description: The API Client Identifier (Service Application Identifier).
      example: 8711bbef-b357-4c2d-97ca-0d9df4206e9a
    CustomerSecret:
      in: header
      name: X-Customer-Secret
      schema:
        type: string
      required: false
      description: The Bud Customer secret used to encrypt customer data. This is required only if the customer secret is not already stored with Bud.
    TaskId:
      in: path
      name: task_id
      schema:
        type: string
        format: uuid
      required: true
      description: Bud Task identifier returned from an async task for the requested action
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v1/oauth/token
          scopes: {}
      description: "\nAuthentication flow:\n\n1. Perform OAuth2 Client Credentials authentication using API Credentials (`client_id`,`client_secret`) to obtain an `access_token` against `/v1/oauth/token` endpoint,\n2. Use `access_token` as Bearer Authorisation for every other API request,\n3. Include `X-Client-Id` (=client_id) within the header of every API request,\n4. Note that some of the requests may also require `X-Customer-Id` to be provided within the request header.\n\n### Examples\nObtain OAuth2 `access_token` and `refresh_token` using `grant_type=client_credentials` and HTTP Basic auth header\n\n```\ncurl --basic --user {{client_id}}:{{client_secret}} \\\n  -X POST https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d grant_type=client_credentials\n```\n\nSuccessful response:\n```\n{\n  \"operation_id\": \"oauth_token_post\",\n  \"data\": {\n    \"access_token\": \"dd0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff15\",\n    \"token_type\": \"bearer\",\n    \"expires_in\": 3600,\n    \"refresh_token\": \"fac32cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n  }\n}\n```\n\nRefresh `access_token` token using `refresh_token` against `/v1/oauth/token` endpoint with `grant_type=refresh_token`\n\n```\ncurl -X POST \\\n  https://api-sandbox.thisisbud.com/v1/oauth/token \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'X-Client-Id: {{client_id}}' \\\n  -d 'grant_type=refresh_token&refresh_token={{refresh_token}}'\n```\n\nSuccessful response:\n```\n{\n    \"operation_id\": \"oauth_token_post\",\n    \"data\": {\n        \"access_token\": \"cc0c17e3fd6d2ce94aa091257a3ea393b4f9b5cf3d3e998f07dc9826da86ff94\",\n        \"token_type\": \"bearer\",\n        \"expires_in\": 3600,\n        \"refresh_token\": \"ffc30cca7559d9f6e8f1dfe9a99c71fa1dcfeb482bedf287d7934d2667ae54b3\"\n    }\n}\n```\n"
x-tagGroups:
- name: ''
  tags:
  - OAuth2
  - Authentication
- name: ''
  tags:
  - Create a Connection
  - Manage a Connection
  - Ingest First Party Data
  - Connect API
- name: ''
  tags:
  - Manage Customers
  - Customers API
- name: ''
  tags:
  - Enrichment Resources
  - Enrichment Totals
  - Enrichment API
- name: ''
  tags:
  - Retrieve Financial Data
  - Manage Financial Data
  - Correct Financial Data
  - Financial Data API
- name: ''
  tags:
  - Spending Budgets
  - Savings Goals V2
  - Goals API
- name: ''
  tags:
  - Regular Payments Finder
  - Income Finder
  - Loan Finder
  - Debt Collection Finder
  - Product Finder
  - Subscription Finder
  - Smart Finders API
- name: ''
  tags:
  - Transaction Search
  - Intelligent Search API
- name: ''
  tags:
  - Customer Applications
  - Customer Application Links
  - Aggregation Buckets
  - Retrieve Affordability Report V2
  - Retrieve Affordability Report
  - Retrieve Affordability Risk Insights
  - Assess API
- name: ''
  tags:
  - Initiate Payment - Bud license
  - Initiate Payment - Client license
  - Manage Payments
  - Payments API
- name: ''
  tags:
  - Retrieve Customer Characteristics
  - Characteristics API
- name: ''
  tags:
  - Retrieve Actionable Insights
  - Custom Insights
  - Frontend Widgets
  - Insights API
